[2017-11-19 17:31] crazy-max commented on #1279
But as you can see, the API required an API key :(
I will contact VirusTotal about it and i'll keep you in touch.

[2017-11-19 21:05] #1107 closed

[2017-11-19 21:11] tooomm opened #1280 "problem with "for the badge" style and numeric values"
Is there a maximum amount of parameters that can be applied to a badge until it brakes?
Had some trouble with a badge once I appended 4 parameters. It started to show `invalid` then.

[2017-11-19 21:19] RedSparr0w commented on #1280
I haven't had any issues myself,
for example the `dynamic json` badge:
`https://img.shields.io/badge/dynamic/json.svg?uri=https://github.com/badges/shields/raw/master/package.json&query=$.version&prefix=v&suffix=%20dev&label=Shields&colorB=2ecc71&colorA=2c3e50&style=flat-square`
is using `uri`, `query`, `prefix`, `suffix`, `label`, `colorB`, `colorA`, `style` all without issue.

According to this

[2017-11-19 21:44] tooomm commented on #1280
Sure, it's this one @RedSparr0w: ![](https://img.shields.io/github/commits-since/Cockatrice/Cockatrice/latest.svg?label=changes&colorA=6d6d6d&colorB=f37f40&style=for-the-badge)
`https://img.shields.io/github/commits-since/Cockatrice/Cockatrice/latest.svg?label=changes&colorA=6d6d6d&colorB=f37f40&style=for-the-badge`
--> simplest version without any parameter is working: ![](https://img.shields.io/

[2017-11-19 22:08] RedSparr0w commented on #1280
Nice catch!,
It will be because its trying to uppercase the numbers`{{=it.escapeXml(it.text[1].toUpperCase())}}`.
Will try create a fix for it soon.

[2017-11-19 22:42] PyvesB commented on #358
@paulmelnikow : any thoughts regarding the above? 😉

[2017-11-19 22:46] RedSparr0w commented on #1279
I like the idea of this badge,
Hopefully there is some way we can work around the API key.

[2017-11-20 00:35] crazy-max commented on #1279
@RedSparr0w, yes indeed, i have found the XHR payload : https://www.virustotal.com/ui/files/cd49e54905d4820f864c58ca8736114210abb98362d94e8c215b906a2a0a7002

Then process :
* malicious : `data.attributes.last_analysis_stats.malicious`
* total : `data.attributes.last_analysis_stats.undetected + data.attributes.last_analysis_stats.malicious`

[2017-11-20 00:55] crazy-max commented on #1279
I have started with something like that for the PR :

[code]

Seems good to you @RedSparr0w ?

[2017-11-20 02:42] RedSparr0w commented on #1279
Heres the new payload from the link you posted 😆
[code]

[2017-11-20 02:54] crazy-max commented on #1279
It works in private browsing but it doesn't seem stable 😄

[2017-11-20 23:25] paulmelnikow commented on #358
I don't have exact numbers, but my impression is that Shields gets by on a tiny hosting budget, relying on optimized code, and avoiding any compute-intensive work. See [this conversation on Twitter](https://twitter.com/paulmelnikow/status/929758074755338240).

I would love to add features like this, which are relatively computationally expensive. I'd also like to have lower response times, elastic

[2017-11-21 20:22] PyvesB commented on #358
This makes sense. Nevertheless I feel that we're in a quite "opaque" situation here, as we don't really know what the numbers are. There are a lot of things changing in the project at the moment, we ought to be more aware of our underlying capacity.

I really enjoy doing performance tuning and optimisation, but unfortunately I have the feeling my skills in Javascript are too limited to do anything

[2017-11-21 20:34] felixfbecker opened #1283 "Visual Studio Marketplace version badge should be blue like all the other version badges"
A version does not have a "success" or "broken" state like builds, it is informational, like licenses. The only other state it can have is in v0.x.x or prereleases, it can be orange as a warning that it is unstable - but it will never be "broken" or "successful".

All version badges follow this pattern:

[![npm](https://img.shields.io/npm/v/npm.svg)]()
[![GitHub package version](https://img.shield

[2017-11-21 22:08] paulmelnikow commented on #358
Yea… I'm with you on that. More transparency would help a lot.

A piece of work Thaddée mentioned optimizing is the text width computation.

<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">There are low-hanging fruits still in text width computation, if we do perf debugging, which would greatly increase max req/s.</p>&mdash; Thaddee Tyl (@espadrine)

[2017-11-21 22:23] paulmelnikow commented on #1283
Agreed. These should be blue.

A bunch of the version badges were touched in #1246 which is pending deploy, though the problem is still observed in current master on the staging server. (The font width is off because we don't have the right font installed in staging.)

https://shields-staging.herokuapp.com/vscode-marketplace/v/ritwickdey.LiveServer.svg
![](https://shields-staging.herokuapp.com/vsc

[2017-11-22 18:49] aayush26 commented on #1248
Resolving it. Its working fine now.
@paulmelnikow Thanks for checking it out and confirming it wasn't working.

I would like to know what happened actually.

[2017-11-22 18:49] #1248 closed

[2017-11-22 19:51] paulmelnikow commented on #1248
Glad it's working again. A deploy was made 11 days ago, perhaps the github fixes in there resolved this issue too.

[2017-11-22 22:10] RedSparr0w commented on #1279
Seems to only show correctly when you type the link directly into the browser rather than clicking a link,
I assume any cross domain request would probably return the error also.

[2017-11-22 22:47] PyvesB commented on #358
Thanks for your encouraging words! I will at least take a look at it and see whether I can come up with some improvements.

[2017-11-23 04:35] #1280 closed

[2017-11-27 11:52] eproxus opened #1285 "Hex badges show up as "invalid""
See examples on http://shields.io or in https://github.com/eproxus/meck/blob/master/README.md

[2017-11-27 22:47] paulmelnikow commented on #1285
Confirmed, these are all showing **invalid**.

![](https://img.shields.io/hexpm/dw/plug.svg)
https://img.shields.io/hexpm/dw/plug.svg

![](https://img.shields.io/hexpm/v/plug.svg)
https://img.shields.io/hexpm/v/plug.svg

![](https://img.shields.io/hexpm/v/meck.svg)
https://img.shields.io/hexpm/v/meck.svg

![](https://img.shields.io/hexpm/v/meck.svg)
https://img.shields.io/hexpm/l/meck.svg

Probabl

[2017-11-28 09:52] PyvesB commented on #1285
I'll have a look into this issue.

[2017-11-28 16:02] platan commented on #1285
I run Shields locally and all Hex.pm badges are working correctly. Service-tests are working as well.

[2017-11-28 16:36] paulmelnikow commented on #1285
Could you try the deployed commit too? It's possible, if unlikely, that it's been fixed since the deploy.

[2017-11-28 17:00] platan commented on #1285
I works with master (4b5bf03) and gh-pages (2fd5949).

[2017-11-28 20:23] PyvesB commented on #1285
I checked the API response, and it seems to be consistent with the processing done in the code. Tests are working fine as well.

I also fired a server up with the currently deployed commit on my local machine. Hex badges are generated as expected:
![screenshot from 2017-11-28 19-55-40](https://user-images.githubusercontent.com/10694593/33341960-57c68a08-d478-11e7-8bb9-8669a3a6d394.png)

Therefore

[2017-11-28 21:26] ericmj commented on #1285
If you provide a list of IPs that your production servers use I can can check if they have hit the rate limiting on Hex.pm.

[2017-11-29 02:18] yzgyyang opened #1290 "Node 9 support"
I encountered an error when loading `http://[::]:8080/` after starting the server using `npm start`.

[code]

And the error log:

[code]
I am not sure if it's a real problem or it is just me having incorrect installations of node & npm.

[2017-11-29 14:14] yzgyyang commented on #1290
I encountered the same error on my Ubuntu machine as well. Should I try other versions of nodejs, or it is actually a bug?

[2017-11-29 15:29] paulmelnikow commented on #1290
Thanks for the report. This is a Node 9 issue in scoutcamp, the web framework created by a shields long-time maintainer, and it's been reported there: espadrine/sc#65.

I can reproduce it in unit tests:

[code]

If you feel like looking into it, that'd be helpful! I'd be happy to add Node 9 to our Travis suite once it's working.

[2017-11-29 15:35] paulmelnikow commented on #1285
Making a request to the production servers is a good idea. I don't have access yet, however.

Here are the three IPs:

[code]

[2017-11-29 15:47] paulmelnikow commented on #1290
After #1291 postinstall will fail under Node 9, printing a more helpful error message.

[2017-11-29 15:48] ericmj commented on #1285
All of these IP addresses have been blocked because they consistently exceeded 100 requests/min to the Hex.pm API. We can unblock them but my guess is that they will hit the rate limiting again.

I have suggested before that shields.io should do conditional HTTP requests and do request collapsing. As an example when I load http://shields.io/ 3 individual API requests are made for each Hex.pm plug

[2017-11-29 16:47] cummingsrob opened #1292 "Google Maps API and JSON?"
I'm trying to display travel time in a badge using the Google Maps API. The problem is coming from the JSON query, I think. It appears to be returning the proper text string using web-based JSON query tools, but it's not displaying in the SVG shield image.

Here's the link I'm using to generate the shield (use your own Google Maps API key):
https://img.shields.io/badge/dynamic/json.svg?label=Trave

[2017-11-29 16:55] yzgyyang commented on #1290
Thanks for the reply and quick commit to block node 9 for now! I would very much like to help to solve this, but since I am not really a nodejs developer, I will just start from rolling back to nodejs 8 and adding some badges to the project (which is why I encountered this at the first place). Please keep me updated!

[2017-11-29 18:27] paulmelnikow commented on #1292
It's probably a problem with your API key. Without a key I see this:

<img width="84" alt="screen shot 2017-11-29 at 1 22 15 pm" src="https://user-images.githubusercontent.com/1487036/33391915-83b5546a-d508-11e7-921f-68c85403c1e1.png">

and when I got the key correct I see this:

<img width="168" alt="screen shot 2017-11-29 at 1 22 26 pm" src="https://user-images.githubusercontent.com/1487036/3339

[2017-11-29 18:51] paulmelnikow commented on #1285
I’m happy to discuss solutions. I joined the project several months ago so I wasn't part of the previous discussion. The Shields servers serve about 10k requests per minute, and while I don’t have per-service stats, I’m not surprised that the servers could at times make more than 100 req/min to Hex.pm.

The caching in Shields is based on the request. That means subsequent requests for the same bad

[2017-11-29 18:52] paulmelnikow commented on #1285
You might also consider issuing an API key for Shields, as some other services have done.

[2017-11-29 18:54] cummingsrob commented on #1292
I was using the JSONPath page. I used that to figure out the $..duration.text query.

If I hit the Google API URL directly, it returns all the JSON information, including origin, destination, duration and distance. But when I put it in the Shields.io URL with the query, I'm getting the blank results that you're getting without the key. https://user-images.githubusercontent.com/1487036/33391915-83b

[2017-11-29 19:01] cummingsrob commented on #1292
Oh, wait! I generated a new key and it works like a charm! Don't know why the other key wouldn't work. Now to restrict it. Thanks for that tip as well.

Thanks for your help!

[2017-11-29 19:01] #1292 closed

[2017-11-29 20:15] platan commented on #1285
Shields.io webpage currently displays about 320 badges. If it's visited frequently (more frequent requests from shields.io than from other pages) all badges should be in cache.
Referer stats from requests would give us answer about sources of traffic.

Do you know how much RAM does shields servers have? I would like to compare in memory caching made by shields code with Varnish Cache https://varni

[2017-11-29 20:28] ericmj commented on #1285
I have whitelisted the shields.io IPs so they should not be blocked in the future.

Thanks for this. I will create an optimized endpoint that only returns the data that shields uses, I will let you know when it's live.

It's not super expensive, it's just that if we make a specific endpoint that ignores the rate limiting I feel like it should be optimized.

Sounds like a good idea, this way we don

[2017-11-29 20:35] platan commented on #1285
Thanks for this info! So they are not in shields cache (but we have 3 servers - 3 caches).

[2017-11-29 20:46] paulmelnikow commented on #1285
Is that still happening after the whitelisting?

As @platan aptly observes, we do have three servers, and they don't share a cache. The requests should trickle to zero, as each of the three accumulates the five badges in its cache.

There are five Hex.pm badges on the page, so if nothing were being cached I'd expect to see five.

Thank you!

[2017-11-29 23:33] paulmelnikow commented on #927
Re: https://github.com/badges/shields/pull/1286#issuecomment-347641061 ^^ @chris48s

I do think it's important that we hit the real services during PRs, and also nightly, so we can detect breaking changes in the upstream APIs. The current setup is not perfect. I don't like that the build breaks on master when there are problems upstream. And we still don't have a good solution for our GitHub servi

[2017-11-30 19:41] paulmelnikow commented on #948
@Daniel15 My empirical experience, from time spent on this project vs. other projects, is that routine coding operations take less time without semis, making this a justifiable time saver. For people who use prettier inside their editors, it's transparent. I'd like to go ahead with this if you don't strongly object.

[2017-11-30 19:52] paulmelnikow commented on #1272
I don't have much experience with either, though I'm happy to learn. I'll find an area in this project or another, to do a proof of concept. Any suggestions? The frontend perhaps?

It's really important that this project have a wide base of developers. There are lots and lots of package repositories and CI services for all sorts of different developer communities, and it's better to empower and en

[2017-11-30 19:55] Daniel15 commented on #1272
I was thinking it'd be good for the server, because there's several data structures in use (for example, the `badgeData` passed to `sendBadge`). Maybe a good starting point is to add types to a few of the smaller files in the `lib` directory, to get a taste of it.

With Flow, you opt-in per-file by adding an `@flow` annotation to a docblock at the top of the file, so you don't need to convert the

[2017-11-30 19:59] paulmelnikow commented on #1252
In the spirit of Shields' design goals, how do these look?

![](https://img.shields.io/badge/type%20definitions-TypeScript%20v2.5-blue.svg)

![](https://img.shields.io/badge/type%20definitions-Flow%20v0.59-blue.svg)

Would it make sense to infer the language / versions from `package.json` so the badge automatically stays up to date?

[2017-11-30 20:01] paulmelnikow commented on #1272
Cool, I'll take that on once #963 is merged.

[2017-11-30 20:03] paulmelnikow commented on #1210
Discussion of Flow / TypeScript is in #1272.

The server rewrite is here: https://github.com/badges/shields/projects/2

Feel free to reopen if you'd like to discuss further!

[2017-11-30 20:03] #1210 closed

[2017-11-30 20:06] paulmelnikow commented on #843
Hi @rozaxe! We have a brand new React-based frontend. Would you be interested in adding your custom badge UI? Would be happy to help you with that, if you'd like.

[2017-11-30 21:21] chris48s commented on #927
Unsurprisingly, it seems like you've already thought about this quite thoroughly :)

Having read this thread, I see that whereas you would usually want to mock out interactions with an external service the nature of this project means you do want some tests in your suite that will start failing if an external service goes away or makes a backwards-incompatible API change.

I guess the situation I

[2017-12-01 08:01] yzgyyang opened #1299 "Badge request: Keybase"
[Keybase](https://keybase.io) is a great platform for public-key cryptography, and Badges/Shields support is a long-wanted feature in the community (https://github.com/keybase/keybase-issues/issues/849). I have written some initial code and got it working, and I would hope that it will be merged and become officially-supported badges.

Examples:
![yzgyyang](https://user-images.githubusercontent.co

[2017-12-01 11:05] tooomm opened #1301 "readme: badge logo broken"
![badge_readme](https://user-images.githubusercontent.com/9874850/33480029-ae7d0ac0-d68f-11e7-8820-284335af43d1.png)

It would make sense to include the official logo in the repo and link to that location instead.

I want to mention that the "twitter" social badge is only shown on chrome to me.
On Firefox (see pic) it's just not there.

[2017-12-01 14:29] paulmelnikow commented on #1301
I fixed the logo.

I can't reproduce the Firefox issue with the Twitter badge. It does seem to load slower than the other badges. Maybe a transient issue? If you refresh, does it appear?

[2017-12-01 14:34] tooomm commented on #1301
No, reloading doesn't change anything.

`uBlock Origin` seems to block it. Even though it is no official (tracking) badge from twitter...

[2017-12-01 14:36] paulmelnikow commented on #1301
Right, nothing would be tracked unless the user clicks. Worth reporting to them?

[2017-12-01 14:42] #1254 closed

[2017-12-01 14:51] tooomm commented on #1301
Using the logger, the list `Fanboy’s Annoyance List` is triggering on `https://twitter.com/intent/follow?`.

One would have to report at their forums, which I'm not registered with: https://forums.lanik.us/

[2017-12-01 15:19] paulmelnikow opened #1304 "Frontend bugs in deployed site"
1. The badge popup works fine in dev, but doesn't work not in the built site (e.g. https://shields-staging.herokuapp.com). When you click, nothing happens. It might be caused by the Next.js static export. The app does load React on the front end, and re-render when things change, though I wonder if there is a trick that to getting it to re-render with an event handler.
2. Same goes for the dynamic

[2017-12-01 15:20] paulmelnikow commented on #1301
Okay, will close this then, since it's not a problem with Shields.

[2017-12-01 15:20] #1301 closed

[2017-12-01 18:49] paulmelnikow commented on #1304
#1306 fixes a related issue with the deployment build.

[2017-12-01 21:10] #1018 closed

[2017-12-01 21:51] paulmelnikow commented on #1304
Both seem to be fixed in #1307.

[2017-12-01 21:51] #1304 closed

[2017-12-01 23:47] tooomm opened #1309 "Stars in badges broken (staging server misses font)"
- on live page: `working`
![stars_live](https://user-images.githubusercontent.com/9874850/33507242-f81e3d84-d6f3-11e7-9302-6051c4bdcc56.png)

- on Heroku review app for these two staging links: `unreadable`
    - https://shields-staging.herokuapp.com/
    - https://shields-staging-pr-1305.herokuapp.com/
![stars_staging](https://user-images.githubusercontent.com/9874850/33507328-7041af4e-d6f4-11e7-

[2017-12-02 05:39] paulmelnikow commented on #1309
This is a problem with the staging server, which does not have the correct font installed. As a result the text width computation is off. The stars do look especially bad. If you look closely, nearly all the badges are a bit off.

Agree it would be nice to fix this.

[2017-12-02 11:38] tooomm commented on #1309
This is hard to tell since all badges on live shields.io page look a bit off on Firefox anyway. :)

[2017-12-02 14:43] tooomm opened #1311 "issues with new frontend rewrite"
Most likely introduced in https://github.com/badges/shields/pull/1273 (not live yet, but on staging):
![untitled](https://user-images.githubusercontent.com/9874850/33516646-9671a908-d776-11e7-958d-3532495ae5b5.png)

- [ ] Crazy big preview window with a lot of empty white space around
--> Make the preview box smaller in size. Like 25-30% in width and 10-15% in height
- [ ] If you put something in

[2017-12-02 16:27] paulmelnikow commented on #1311
1. is probably an easy fix (though personally I would rather work on bigger changes to this screen like #701).

2. Seems an easy fix.

If anyone would like to tackle, feel free!

[2017-12-02 17:37] tooomm commented on #1311
Actually the badges involving `GitHub` have a Documentation paragraph further down:
![untitled](https://user-images.githubusercontent.com/9874850/33518073-5b9ba40a-d78f-11e7-831c-0327787b03bf.png)
So it would be needed to adjust the size dynamically regarding its content.

By the way:
Note how I have to use Chromium to make these preview windows show up at all - with other browsers they are broken

[2017-12-02 19:29] paulmelnikow commented on #1311
Yea, we should definitely fix that. It's an issue in [this function](https://github.com/badges/shields/blob/master/frontend/lib/resolve-uri.js) which I tried to implement on top of the new [WHATWG URL API](https://developer.mozilla.org/en-US/docs/Web/API/URL) though it's proven to be more trouble than it's worth. Should replace it either with an established isomorphic library or our home-grown cod

[2017-12-03 11:42] kamontat opened #1313 "wrong last commit link in <shields.io>"
please check..

[2017-12-03 14:38] espadrine opened #1314 "Request for reversal of the addition of an HTTP server"
@paulmelnikow I am discontent by the increased strain that you put on the servers in 4b5bf03fea2fd7622140327760aa80060df95783 (#1273) and I'd like us to discuss it before I deploy a new version of the server.
Increased load means both increased costs and increased maintenance, and I disagree with the idea that we need two HTTP servers to run an SVG image service, a glorified string concatenator.

[2017-12-03 15:02] espadrine commented on #1314
Equally importantly, that change caused a significant regression that users would be bothered by:

1. Search is suddenly very slow,
2. Images get reloaded on every keystroke. Resetting the search bar reloads all images. It probably hurts the server, too.

[2017-12-03 17:59] paulmelnikow commented on #1314
Hmm, the maxAge caching should be there as long as `LONG_CACHE` is set at build time. I didn't set `LONG_CACHE` on server debug builds, since it makes for better debugging. Though that could be changed.

Completely agreed, the second HTTP server definitely should not run on the server. It's intended for dev only. There were a couple changes to environment variables on the server (badges/ServerScri

[2017-12-03 17:59] paulmelnikow commented on #1313
Hi! Sorry, I don't understand. Could you elaborate?

[2017-12-03 18:33] espadrine commented on #1314
I checked locally before testing with one server in production, and stopped there because of what I saw.

How would I go about having a production build locally? The readme suggests `npm run build:production`, but it fails with `missing script: build:production`.

That part's a good idea, and I saw it in the PR, but the focus of my screenshot was on the lost padding between badges, fields and the

[2017-12-03 19:47] paulmelnikow commented on #1314
Looks like those docs were missed. Sorry about that. It's `LONG_CACHE=true npm run build`.

Gotcha. Probably there was whitespace there before which is getting stripped out in JSX. I will look into it.

That's configurable in the environment with `GITHUB_DEBUG_ENABLED=false`. How about setting that in production? Totally understand if you don't want it running on the server, though I feel like it'

[2017-12-04 01:33] kamontat commented on #1313
last commit badge in <shield.io>, link on the back is `	https://img.shields.io/github/commits/google/skia/last.svg`
 But it’s should be `https://img.shields.io/github/last-commit/google/skia.svg`

[2017-12-04 01:51] paulmelnikow commented on #1313
Thanks for the report. This was fixed recently in #1297, which is pending deploy.

[2017-12-04 01:51] #1313 closed

[2017-12-04 04:28] paulmelnikow commented on #1314
This is puzzling. I would think they'd be pulled from the browser cache for the life of the page. Clearly that doesn't seem to be the case.

Probably this is not an issue when `LONG_CACHE=true`.

[2017-12-04 04:35] paulmelnikow commented on #1311
Popup should be fixed in #1322. Two issues mentioned in top post remain pending.

[2017-12-04 15:06] Horgix commented on #1064
It looks like there is no endpoint on CircleCI that is able to make use of this restricted scope for now 🙁
I opened a Feature Request to CircleCI here : ["CircleCI / Get branch status with status-only scoped API token "](https://discuss.circleci.com/t/get-branch-status-with-status-only-scoped-api-token/18535)

I'll follow up here when I get some news!

[2017-12-04 16:55] gipert opened #1323 "Badge request: Singularity Hub"
It would be really nice (and hopefully very similar to the Docker Hub badges implementation?).

[2017-12-04 17:35] ale5000-git opened #1324 "Badge request: Bountysource"
Hi,
is it possible to have a badge of bountysource showed the number of opened bounties and total of money?

[2017-12-04 19:50] #1042 closed

[2017-12-04 19:53] cavneb opened #1325 "Add Discourse status/stats shield"
#### What is the badge for?

The badge will indicate the current status of a discourse server

#### Which API do you want to use?

The API used by the badge would be https://__PROJECT_NAME__.discourse.org/site/statistics.json. For example, https://meta.discourse.org/site/statistics.json.

The badge would display a statistic, or the status, based on the query string.

---

The associated thread in

[2017-12-04 22:21] styfle commented on #1272
I vote for TypeScript! I could give some pointers or review a PR.

See my repo [styfle/react-server-example-tsx](https://github.com/styfle/react-server-example-tsx) for an example implementation.

[2017-12-05 05:56] Daniel15 commented on #1272
Yeah I think either one is fine. I'm more familiar with Flow (as it's what we use at Facebook) and it tends to handle React a bit better, but they're both good 😃

[2017-12-05 06:07] Daniel15 commented on #948
Sure :) I don't mind as long as it's all automated

[2017-12-05 11:53] goozler commented on #944
Hi!

ImageLayers seems useless for new Docker images and it looks like docker hub version isn't in the production version, doesn't it? So, adding the support of microbadger.com looks worth it.

Could someone tell me what can be used to get an image size of a Docker container now, for example, `_/ubuntu/latest`? If there is no way to do it, is there any ready pull requests for adding something for

[2017-12-05 13:14] jimmerioles opened #1329 "Code Climate's 100% coverage shows red"
I noticed Code Climate's coverage shows red even if i got 100% coverage, is this expected behavior? shouldn't it be green?

![image](https://user-images.githubusercontent.com/9766310/33609020-7188f532-da01-11e7-993a-c5fb3bac7d29.png)

[2017-12-05 15:03] PyvesB commented on #1329
Thanks for your report, I'll look into it. :wink:

[2017-12-05 16:44] tooomm opened #1330 "for-the-badge style not available in style dropdown (preview window)"
The new `for-the-badge` style isn't available in the preview window anymore.
In https://github.com/badges/shields/pull/1242 its display size got fixed there, but now it's not available in the selection anymore at all:
![preview](https://user-images.githubusercontent.com/9874850/33618837-ecaa4b12-d9e3-11e7-97aa-a6bf17e48e45.png)

Also something related to the big rewrite maybe? @paulmelnikow

Verif

[2017-12-05 17:19] paulmelnikow commented on #1330
Ooph, good catch. In addition to showing the wrong options, it looks like that picker has been broken since some point during the rewrite. Could you do some more testing on the review app for #1331?

[2017-12-05 20:10] PyvesB commented on #1329
The code in shields basically constructs the code coverage badge shown in your screenshot by retrieving the headers from Code Climate's own badges, in your case [this one](https://api.codeclimate.com/v1/badges/438413be3c404775866c/test_coverage).

The information displayed by Code Climate seems to have changed recently, switching from showing a **score** (`A` for instance) to a **percentage** (`10

[2017-12-05 20:41] paulmelnikow commented on #1329
Does the work in #1236 shed any light on this?

[2017-12-05 20:44] paulmelnikow commented on #594
Tagging **needs-upstream-help** based on https://github.com/badges/shields/pull/1310#discussion_r154740710.

[2017-12-05 22:08] PyvesB commented on #1329
Well the initial pull request comment is in line with my analysis above regarding the first API request and subsequent badge information retrieval, so at least we all agree on what the code was previously supposed to do. ^^

Unfortunately one of the two badges added by that pull request are no longer working as expected as a consequence of a recent Code Climate change and we have to come up with a

[2017-12-05 22:11] goozler commented on #944
@paulmelnikow According to [the last opened issues](https://github.com/microscaling/imagelayers/issues) in ImageLayers repository it looks dead. I can't even get the size of the image via the web interface or somehow else.

I'm trying to add the MicroBadger integration

[2017-12-05 22:33] goozler opened #1332 "Add MicroBadger integration for a docker image size"
Only ImageLayers is supported by `shields` for getting a docker image stats but that project looks like abandoned and it seems there is no way to retrieve information about newly created images.

MicroBadger has a clear [API](https://microbadger.com/api) and it looks like it shouldn't be hard to add it.

[2017-12-05 22:35] #1325 closed

[2017-12-05 22:58] tooomm opened #1334 "whitespace missing in footer"
Same as #1318 needs to be applied to the footer at the very bottom:

![footer](https://user-images.githubusercontent.com/9874850/33635395-195ff560-da18-11e7-9905-3df62618e955.png)

[2017-12-05 23:08] #1330 closed

[2017-12-05 23:10] paulmelnikow commented on #1332
Dup of #944

[2017-12-05 23:10] #1332 closed

[2017-12-05 23:10] paulmelnikow commented on #944
Great! We can finish the convo here, if any questions come up along the way.

[2017-12-05 23:15] RedSparr0w commented on #1334
Also as a side note in regards to the spacing,
The `social` style badge has extra white space at the end which needs to be fixed,
the `svg` element is 5px wider than it needs to be
![image](https://user-images.githubusercontent.com/7288322/33635939-e279d392-da7e-11e7-9c5a-2daaed93a1d2.png)
![image](https://user-images.githubusercontent.com/7288322/33635958-f3e7d2c8-da7e-11e7-9465-77e3b62fdb93.png)

[2017-12-06 00:00] RedSparr0w opened #1336 "Windows server symbolic links just shows path in browser"
Symbolic links do not seem to function as they should through the browser and instead just shows the path the sym link directs to:
![image](https://user-images.githubusercontent.com/7288322/33637198-7b9f9a7a-da84-11e7-8067-801e54e3c5cb.png)
Whenever i run start the server i have to copy the files over from the builds dir to the public dir to view the homepage correctly.

OS: `Windows 10`
Browsers

[2017-12-06 00:07] tooomm commented on #701
See https://github.com/badges/shields/pull/1331#issuecomment-349474676 and following:
**Request to add a `direct link to generated/shown custom image` and a `custom parameter` field.**

[2017-12-06 00:23] paulmelnikow commented on #1336
Yea, valid for sure.

Sort of an aside, have you tried the new `npm start`, which runs a separate frontend server? I imagine it will work. Maybe that is a good enough workaround for dev…

[2017-12-06 01:50] RedSparr0w commented on #1336
The new `npm start` doesn't work for me,
Think its the same problem as #1259
[code]

[2017-12-06 02:25] RedSparr0w commented on #1336
@paulmelnikow If i set `npm start` to the following it works for me on Windows 10, could you test if it still functions at it should for you?
`concurrently --names server,frontend \"(ALLOWED_ORIGIN=http://localhost:3000 || set ALLOWED_ORIGIN=http://localhost:3000 ) && npm run start:server\" \"(BASE_URL=http://[::]:8080 || set BASE_URL=http://localhost:8080) && next dev\"`

[2017-12-06 03:35] RedSparr0w commented on #1311
in regards to the 2nd problem:
do you think it would be best to change the `<input>` to a `<textarea>` or `<code>` element?
Or maybe even something else?

I think `<code>` would be the best option as it could auto resize if it needed to wrap.

[2017-12-06 05:25] NHellFire commented on #28
@rastasheep How about redirecting to shields.io (including the query string)? Then we'll have whatever customization shields.io offers. As well as they'll always match other shields badges on the same page (right now [Semaphore](https://semaphoreci.com/api/v1/renderedtext/semaphore-docs-new/branches/master/shields_badge.svg) badges are a slightly different size and text spacing to [Shields.io](htt

[2017-12-06 06:18] paulmelnikow commented on #979
This may actually be fixed in #1338.

[2017-12-06 10:23] valeth opened #1339 "Dynamic badge generator generates wrong URL"
When I tried to use the dynamic badge creator [here](http://shields.io/#your-badge) the inputted URL in the uri field generated a wrong URL containing two dashes (some--path) instead of one (some-path).

Manually correcting the URL fixes this.

The parameters used were:
[code]

Result:
![badge](https://img.shields.io/badge/dynamic/json.svg?label=UserScript&colorB=&prefix=v&suffix=&query=$.version&

[2017-12-06 12:19] tooomm commented on #1334
Thanks for fixing the pixel issue already in  #1337 @RedSparr0w

Now, the initial issue can be spotted better:
![footer](https://user-images.githubusercontent.com/9874850/33661395-ffa14c8a-da87-11e7-800f-1625fa97c3e4.png)

[2017-12-06 12:33] tooomm commented on #1339
Same problem when I try to access https://mtgjson.com/json/version-full.json (`$.version`).
It returns: https://img.shields.io/badge/dynamic/json.svg?label=&colorB=&prefix=&suffix=&query=$.version&uri=https%3A%2F%2Fmtgjson.com%2Fjson%2Fversion--full.json with `--` at the end.

[2017-12-06 16:20] paulmelnikow commented on #1339
Is this fixed in the new frontend on staging?

https://shields-staging.herokuapp.com

[2017-12-06 16:22] paulmelnikow commented on #1334
It's a matter of adding ` { }` after elements that need spaces, as in #1318.

If you want to give it a shot, @RedSparr0w or I can ship a review app which will let you test it through the browser.

[2017-12-06 16:27] tooomm commented on #1339
Well, it looks to be completely broken there (waited for full load). 😆
The `Make Badge` button won't work at all and in the `type` field at the beginning there is always "json" displayed. You also can't remove that. :)

[2017-12-06 16:32] paulmelnikow commented on #1339
Ah, yes, on staging the URL is missing `/badge` before `/dynamic`. Can you confirm it's working otherwise?

We could remove that **json** field, and change **url** to **json url**. It was done that way it is because @RedSparr0w wants to add a dynamic XML badge.

[2017-12-06 16:42] tooomm commented on #1339
Oh, I thought xml is working already. I really like additional options like `xml` or `yml/yaml`!

Looking at the code I realized that the button gets only enabled if you fill out certain information...
After clicking it and adding in `/badge` it works!

[2017-12-06 18:09] paulmelnikow commented on #1252
I could see doing something similar for the React version of a component, inferred from the `package.json` or maybe the dependency graph on npmjs.com. This would be in the spirit of the new Django version badge (#1286), which uses classifiers pulled from PyPI.

[2017-12-06 19:07] paulmelnikow commented on #1339
Proposed fix: #1344

[2017-12-06 19:18] fosskers opened #1345 "Bintray seems to have broken"
Seems to have broken since yesterday?

[![Bintray](https://img.shields.io/bintray/v/asciidoctor/maven/asciidoctorj.svg)]()

[2017-12-06 19:19] fosskers commented on #1345
Nevermind, it seems fixed just now.

[2017-12-06 19:19] #1345 closed

[2017-12-06 19:38] #1339 closed

[2017-12-06 19:50] tooomm opened #1346 "JSONPath question/help (dynamic badge)"
My example was bad. Solved it.

[2017-12-06 20:37] #1346 closed

[2017-12-06 20:53] RedSparr0w commented on #1334
No worries, ill give it a go!

[2017-12-06 21:24] RedSparr0w opened #1348 ".json badge errors"
## JSON + Style
If you try to use a `.json` badge and specify `?style=flat` or similar the server throws an error and it can occasionally crash the server.

output:
[code]
## JSON Static Badge
If you try using `.json` on a static badge `/badge/label-value-blue.json` it returns a 404 badge.
_no console errors thrown_
[code]

[2017-12-06 21:27] RedSparr0w opened #1349 ".png .jpg .gif no longer supported?"
`.png` `.jpg` `.gif` badges no longer show up.
Errors thrown in console (same error for each type):
[code]

[2017-12-06 21:28] #1334 closed

[2017-12-06 21:42] paulmelnikow commented on #1349
Hmm, still working on staging and in test. Do you have imagemagick installed?

[2017-12-06 21:57] RedSparr0w commented on #1349
I'm fairly sure i have it installed, must be a problem on my end though!
forgot to test it on the staging server.

[2017-12-06 21:57] #1349 closed

[2017-12-06 22:06] RedSparr0w commented on #1064
There was a little bit of talk about this awhile ago [here](https://github.com/badges/shields/pull/798#issuecomment-255618281), not sure if anything has changed on CircleCI's end since then though.

[2017-12-06 22:19] tooomm opened #1350 "missing discord logo"
https://discordapp.com/branding

[2017-12-06 22:41] RedSparr0w commented on #1350
I feel like it looks a little small when it's placed on a standard sized badge:
![](http://shields.redsparr0w.com/static/badge.svg?logo=discord&color=white)`@1x`
<img src="http://shields.redsparr0w.com/static/badge.svg?logo=discord&color=white" height="30px"/>`@1.5x`
<img src="http://shields.redsparr0w.com/static/badge.svg?logo=discord&color=white" height="40px"/>`@2x`
![](http://shields.redsparr0

[2017-12-06 23:09] tooomm commented on #1350
Hmm, only use the inner "ghost" instead all talk bubble?

[2017-12-06 23:23] RedSparr0w commented on #1350
Doesn't look like they provide/endorse the use of just the "ghost" as their logo in the link you provided,
May be worth sending them an [email](mailto:support@discordapp.com) to check though.

[2017-12-06 23:54] NZSmartie opened #1351 "Support consistant unicode/emoji symbols by using a dedicated True Type Font"
Based on observations with inconstancies in emoji and Unicode symbol across multiple platforms in #1321
Would it be realistic to include an additional True Type Font (next to `Verdana.ttf`) that could be used to make sure the look of Unicode symbols are constant across platforms?

[2017-12-06 23:58] NZSmartie commented on #1351
For example, here is a free-to-use licensed emoji font: https://emojisymbols.com/emojilist.php

[2017-12-07 00:01] NZSmartie commented on #1351
Or Google' Nato font (Licensed under SIL Open Font License, Version 1.1)
https://www.google.com/get/noto/#emoji-zsye

[2017-12-07 00:32] NZSmartie commented on #1351
Crap. Browsers do not support loading fonts fora SVG unless the SVG is embedded inside HTML. so there's no way to fix this...

[2017-12-07 00:32] #1351 closed

[2017-12-07 05:42] paulmelnikow commented on #1351
I think the only way to do this is to create paths from the font on the server. See #127 / #552.

[2017-12-07 09:03] Horgix commented on #1064
Thanks for the input @RedSparr0w , much appreciated 👍
I can confirm that it works with the "Build Artifacts" scope; however I still think that it would be best to be able to use only a "Status" scoped token, do you agree?

I think I'll let this open until I get some news from CircleCI about the request of a new endpoint being able to work with a status-only scoped token

[2017-12-07 12:24] tooomm commented on #552
By the way:
Font Awesome includes icons for github, twitter, telegram, bitbucket, facebook, gitlab, gratipay, slack etc. too!

[2017-12-07 18:15] paulmelnikow commented on #1064
Huh. How come doesn't the status token doesn't work for our badge?

[2017-12-07 19:50] RedSparr0w commented on #1064
The status token doesn't seem to do anything from what i can tell, always get a `permission denied` message from the API with the `status` token.
[code]
Haven't found any endpoint which accepts it.
I hope its just an oversight on CircleCI's end but not sure.

[2017-12-07 20:39] rocknjohn opened #1355 "Github releases badge rounds minor version to x.x, causing an incorrect version, when actual version is x.xx"
If a repo has a two digit minor version, the releases badge is rounding it to one digit, causing an incorrect release version to be displayed:

Example: https://img.shields.io/github/release/whispersystems/signal-ios.svg

I've seen this twice:
Actual version: 2.19
Shown version: 2.2

Actual version: 2.20
Shown version: 2.2

[2017-12-07 20:43] RedSparr0w commented on #1351
I **think** you can also include fonts in the svg when you display it via `<object>`,
But i'm also fairly certain you cant use the `<object>` tag on GitHub, Forums & most other places where badges are generally included.

[2017-12-07 20:46] paulmelnikow commented on #1355
No bueno! Thanks for the report.

Confirmed still broken in master.
https://shields-staging.herokuapp.com/github/release/whispersystems/signal-ios.svg

![](https://shields-staging.herokuapp.com/github/release/whispersystems/signal-ios.svg)

Based on https://github.com/WhisperSystems/Signal-iOS/releases this should be **2.20.0.1** but I'm seeing **2.2**.

If anyone would like to look into it, feel

[2017-12-07 20:59] chris48s commented on #1355
If I call https://api.github.com/repos/whispersystems/signal-ios/releases/latest I am getting back a response containing

[code]

[2017-12-07 21:02] paulmelnikow commented on #358
Our OpenCollective is now open, which means we can start to collect $10 donations toward this fund. If you wanted an answer to "what can you do to make this happen," it's to spread that message, far and wide.

[2017-12-07 21:39] paulmelnikow commented on #1355
Indeed… I wonder if the subsequent entries are actually releases. Maybe they are just tags.

If I go way back in the release history, some earlier ones are formatted differently:
https://github.com/WhisperSystems/Signal-iOS/releases?after=2.2

The tag badge shows the number we want:
![](https://img.shields.io/github/tag/whispersystems/signal-ios.svg)
https://img.shields.io/github/tag/whispersystem

[2017-12-07 21:41] RedSparr0w commented on #1355
Could it be they are just specifying `title` and no `tag version` is specified so it just uses the latest `tag version`.
![image](https://user-images.githubusercontent.com/7288322/33740022-1629bca8-dc04-11e7-9951-d0e7979b8abb.png)

[2017-12-07 22:07] #1283 closed

[2017-12-08 04:49] paulmelnikow commented on #979
The rate limits are no longer causing problems. 🙌

Tests are still failing occasionally. However this is because of timeouts. This is worth addressing. Feel free to open new issues to discuss, as needed.

[2017-12-08 04:49] #979 closed

[2017-12-08 05:10] paulmelnikow opened #1358 "The Great Service Rewrite 🏆"
Now that #963 is merged it’s time to start thinking about 🏆 **The Great Service Rewrite**! 🏆

The rewrite has three goals:

- Fill in remaining service-test coverage
- Move services from `server.js` and `lib/all-badge-examples.js` into separate modules
- Rewrite service implementations at high quality and with consistent coding style (automatically checked)

The service rewrite necessitates upgrad

[2017-12-08 05:14] paulmelnikow commented on #1272
I'm working on a PR for [Danger](http://danger.systems/js/), which uses TypeScript. So I'm getting some exposure!

[2017-12-08 16:40] paulmelnikow opened #1359 "Keep service tests green 💚"
We want our service tests to hit the real services. This makes some of them unreliable – out of necessity, not sloppiness. There's a long discussion of the test strategy in #927.

I’d like to use this issue as a place to identify and fix flaky service tests.

IcedFrisby/IcedFrisby#71 will allow us to set a per-test `timeout()` and per-test `retry()`, which should allow us to keep flaky tests green

[2017-12-08 16:48] paulmelnikow commented on #1359
This is a list of failures from a recent test run on master:

- [ ] bower
- [ ] codeclimate: let's track in #1329
- [ ] suggest (This is not even a service! Maybe it broke in #1282?)

[code]

[2017-12-08 20:26] chris48s commented on #1358
re: point 1, this is my rough assessment of where you are right now:

| service | has tests |
| ------- | --------- |
| amo | :heavy_check_mark: |
| ansible | :heavy_check_mark: |
| apm |  |
| appveyor | :heavy_check_mark: |
| aur |  |
| beerpay |  |
| bintray |  |
| bitbucket | :heavy_check_mark: |
| bithound |  |
| bitrise | :heavy_check_mark: |
| bountysource | :heavy_check_mark: |
| bower | :h

[2017-12-08 21:35] paulmelnikow commented on #1358
Thanks for the awesome list!

Right, this is a good point. It's worth noting is that the new service handlers will use `async`/`await` and promises, which compared to continuation-passing, delivers more reliable erroring. Since we can enforce 100% code coverage on the new services, we’ll also be able to refactor at will across the services. That should let us extract and generalize the error handl

[2017-12-08 22:03] chris48s commented on #1358
Yeah a google doc might be the right place to track this given the volume of services. It will be easier for a group of contributors to collaborate on the list there. People can also put their username next to a service to indicate they are working on it rather than having to raise an issue for each one.

Given you don't have the stats to quantify which badges get the highest usage, I'm sure if a

[2017-12-08 23:40] paulmelnikow commented on #1358
Yea, agreed the doc is a nice way to keep track of who is working on what.

Though, I think it'd be fun to automate this. Why don't I see if I can do that real quick, and if that doesn't pan out, then let's do the google doc?

[2017-12-10 08:42] capslocky commented on #1075
By the way, SonarCloud itself has badge [plugin](https://github.com/QualInsight/qualinsight-plugins-sonarqube-badges/wiki/Quality-Gate-status-badges):
[https://sonarcloud.io/api/badges/gate?key=WcfSoapLogger](https://sonarcloud.io/api/badges/gate?key=WcfSoapLogger)

[2017-12-10 17:24] tooomm opened #1363 "several official badges provided by their vendors have style problems"
It looks like `AppVeyor` and `Gitter` changed their official badges to be *flat-squared* and no longer in the flat design with rounded edges, our default design.
The official `Greenkeeper` badge is also squared (but the design is off!).

Does anyone knows why? Should we adopt if there is a movement starting...?

Examples:
- ![](https://ci.appveyor.com/api/projects/status/github/gruntjs/grunt?branc

[2017-12-10 17:35] espadrine commented on #1314
Thank you for working on those issues.

I [added][] GITHUB_DEBUG_ENABLED environment variables to the setup script.
That said, I feel it should be opt-in, instead of on by default.
The default production configuration is not debugging stuff, after all.

[added]: https://github.com/badges/ServerScript/commit/38591ee6cc3c18bff0fed72ccadb2acfe4e2915d

Did you find a pleasant compromise for the perfor

[2017-12-10 18:08] paulmelnikow commented on #1314
Yea, that's certainly possible. It sounds like you feel this is a release blocker. DOM updates are part of the reason it feels frustratingly slow to start, though I think the bigger part is that the browser is loading lots of badges. Once the badges are loaded, it's slower than the current site, though not bad. It's also throttled, so the re-render fires at most once every 500 ms.

I would love to

[2017-12-10 18:19] tooomm commented on #1314
All the badges loading and displayed on the shields.io webpage are actually fresh generated "live" badges?

[2017-12-11 01:51] gucong3000 commented on #1075
When I tried Sonarcloud.io, I decided to drop the plan about this issue.

[2017-12-13 04:13] RedSparr0w commented on #1363
The examples you posted are still showing as flat style for me, I personally prefer the flat-square style myself but I feel the flat style should probably stay as the default for now.

[2017-12-13 06:38] kamontat opened #1370 "Are you have any example of Dynamic badge?"
I have found that <shield.io> has dynamic badge, but I don't know how to use it.

[2017-12-13 09:25] espadrine commented on #1363
We created the flat and flat squared styles roughly at the same time. Back then (2014 IIRC), I ran a month-long popularity contest to determine which to use by default, and the flat style won. I kept the squared style because there was still significant use.

I don't recommend changing the default style, since it would change the way badges look for a large number of users, which may dissatisfy th

[2017-12-13 09:28] espadrine commented on #1348
I feel like the static badge issue is not too important. I cannot think of a use-case, since it would give the data that is fed untouched.

Nice find for the json+style error!

[2017-12-13 09:30] espadrine commented on #1309
The right font is from the Mac's Verdana TTF. Unfortunately, for licensing issues, we cannot transmit it.

[2017-12-13 09:59] tooomm commented on #1363
For me they don't anymore (on Windows 10 with Firefox 57):
![untitled](https://user-images.githubusercontent.com/9874850/33932515-69c25670-dff3-11e7-86f7-edf803f5fd5d.png)
Funny, they display normal on Chromium... all other badges I see around didn't change though.
Another "broken" example is the official codecov badge: ![](https://codecov.io/gh/Unidata/MetPy/branch/master/graph/badge.svg)
<br>

S

[2017-12-13 16:22] elect86 commented on #939
sorry for the ot

but how am I supposed to use the npm badge?
`[![npm](https://img.shields.io/npm/dm/localeval.svg)]()`

I tried
`https://img.shields.io/npm/dm/kotlin-graphics/kotlin-unsigned.svg`

but returns 0..

[2017-12-13 16:45] MartinGonzalez commented on #1370
I would like to know it too.
I'm trying to add a version badge, and the version is inside a .json.

[2017-12-13 16:51] elect86 opened #1371 "How to get the monthly download badge in markdown"
Sorry for the dummy question, but I'm out of ideas..

but how am I supposed to use the npm badge?
[![npm](https://img.shields.io/npm/dm/localeval.svg)]()

I tried
`[![npm](https://img.shields.io/npm/dm/kotlin-graphics/kotlin-unsigned.svg)]()` [![npm](https://img.shields.io/npm/dm/kotlin-graphics/kotlin-unsigned.svg)]()

but returns 0.. (which cannot be because I saw the github statistics)

[2017-12-13 17:17] tooomm commented on #1370
I highly advice you to read the PR implementing this feature (https://github.com/badges/shields/pull/820), it helped me to understand it.

I really think there should be a explanation and link to that *JSONpath expression evaluator*!

[2017-12-13 18:02] MartinGonzalez commented on #1370
@tooomm

Just to understand how badges work.
When we call for example a build pipeline using travis: `https://img.shields.io/travis/USER/REPO.svg`.
If i put my user and repo, how does it know which badge show?

A dynamic badge, when i put $.version, generates a new .svg or update someone?

Sorry about being a beginner but i would really like to learn to make my readme files more descriptive.

[2017-12-13 19:01] chris48s commented on #1371
The project you're trying to get stats for doesn't appear to be an npm package. It looks like you want the github release downloads badge:

`[![Github All Releases](https://img.shields.io/github/downloads/kotlin-graphics/kotlin-unsigned/total.svg)]()`

[![Github All Releases](https://img.shields.io/github/downloads/kotlin-graphics/kotlin-unsigned/total.svg)]()

[2017-12-13 20:01] chris48s commented on #1363
Don't think its a firefox thing. Here's a screen grab from Firefox on Ubuntu:

![screenshot at 2017-12-13 19 58 52](https://user-images.githubusercontent.com/6025893/33959721-4a07bc06-e040-11e7-94d8-620653485f97.png)

[2017-12-13 20:09] RedSparr0w commented on #1363
Looks like they are using an outdated badge template, as the corners aren't rounded properly on iOS.
_Will upload an image soon._

[2017-12-13 20:23] RedSparr0w commented on #1363
Looks like they are using an outdated badge template, as the corners aren't rounded properly on iOS.
This was fixed in #352

GreenKeeper:
![image](https://user-images.githubusercontent.com/7288322/33960450-a9b20a3e-e0af-11e7-9d33-d1eaa6f509c1.png)
shields.io:
![image](https://user-images.githubusercontent.com/7288322/33960532-e869337e-e0af-11e7-81e0-37a30d2f3374.png)

[2017-12-14 11:41] tooomm commented on #1370
Because of the services name (`travis`) in the link: https://img.shields.io/travis/USER/REPO.svg. :)
Other badges look like this "https://img.shields.io/appveyor/ci/USER/REPO.svg".
The travis one is the only one with this `user/repo` declaration in the example list, all others use real data there... that might confuses you and should get changed, yes.

I don't know what you mean exactly. But a dyn

[2017-12-14 15:07] MartinGonzalez commented on #1370
@tooomm Now i understood, it takes repository metadata. I tried with a gitlab project with it private token and worked.

Thanks!

[2017-12-14 17:24] MartinGonzalez opened #1373 "Hosting own server with Docker have errors"
Hi there! Amazing this service but i have a question about running shields on docker.
 I dont know if the Dockerfile its deprecated but it throws error saying that it does not have git.
After adding git in the dockerfile the image is built successfully but when i run the server the shield.io is being seen but without the badges

What did i do to make it run?
1. [x] Change npm version in dockerfile

[2017-12-16 22:38] MartinGonzalez commented on #1373
Having this Dockerfile modified.

[code]

then run

[code]

then

[code]

i see the webpage like this

<img width="1390" alt="screen shot 2017-12-16 at 19 34 38" src="https://user-images.githubusercontent.com/4130008/34074974-a3a1f740-e298-11e7-901b-a1a93a72394f.png">

Any idea why?

[2017-12-17 19:42] pastelsky commented on #941
@espadrine We have better hosting and caching solutions for bundlephobia now, and I think we can handle traffic from sheilds. Could you please reopen this issue and let me know what's required to make a sheild for the same ?

[2017-12-18 12:43] AlexWayfer opened #1377 "Badges are unavailable (for GitHub)"
Example of repo: https://github.com/AlexWayfer/flame

![image](https://user-images.githubusercontent.com/6510020/34106643-0e8e3d9e-e40a-11e7-809c-82a5580c6e3e.png)

-----

Example of a cached badge by GitHub: https://camo.githubusercontent.com/a6493fc03433558a4434b0089c399ab02fb47c79/68747470733a2f2f696d672e736869656c64732e696f2f636f6465636c696d6174652f6d61696e7461696e6162696c6974792f416c657857617

[2017-12-18 12:45] salaros commented on #1377
Same for all my shield.io-driven badges - error 503 (timeout)

[2017-12-18 13:59] janosrusiczki commented on #1377
Just my luck, I switched to shields.io badges a few days ago...

[2017-12-18 14:46] goozler commented on #1373
Hi!

I tried to run the service on Docker and I did the same changes in `Dockerfile` like yours and everything looks fine. It's hard to guess why you see that question marks instead of badges. I suggest looking at Development console to figure out error messages.

[2017-12-18 19:07] platan commented on #1377
Problem occurs on all servers and applies to dynamic and static badges. Response times increased. https://status.shields-server.com/
![screenshot-2017-12-18 static s0 - shields io status](https://user-images.githubusercontent.com/1526000/34123137-e1a37810-e42e-11e7-80a4-fa69a07d3d6f.png)

[2017-12-18 20:33] RedSparr0w commented on #1377
Im getting `521 Web Server Is Down` status codes for badges when i visit [shields.io](https://shields.io)

Looks like the server is going down every few minutes
![image](https://user-images.githubusercontent.com/7288322/34126771-a17445d2-e49f-11e7-8799-b04a6ef4aec0.png)

[2017-12-18 20:46] GBH commented on #1377
Is no-one there to give that server a kick?

[2017-12-18 20:55] platan commented on #1377
As far as I know only @espadrine has access to servers.

[2017-12-18 20:56] RedSparr0w commented on #1377
Unfortunately not, I think @espadrine is the only person with access currently.

[2017-12-18 21:20] espadrine commented on #1377
Here's a tweet I sent: https://twitter.com/Shields_io/status/942763063270412288

I tried mitigating the issue in a few ways, including passing CloudFlare in danger mode and rate-limiting per IP. I am gathering information to see how to best mitigate the issue.

[2017-12-18 22:28] mendhak commented on #1299
Hey am I missing something, I can't see any changes in [your repo](https://github.com/badges/shields/compare/master...yzgyyang:keybase-initial-dev)?

[2017-12-18 22:51] espadrine commented on #1377
I think things are better now. The volume of requests we receive is still very high, but the rate limiting protects legitimate users.

Also, I believe the DoS has stopped.

(It is difficult to determine exactly who was the bad actor, because unsurprisingly most serious offenders are AWS servers, and some of those servers are legit. There are other smaller offenders, like the Moscow Youth Autonomou

[2017-12-19 09:15] espadrine commented on #1377
I relaxed the rate limit from 50 req/s to 100 req/s this morning, and the load shot from 200 req/s to 400 req/s. The servers can handle up to about 500 req/s, as the graph shows, so my guess is that whoever changed something on Monday did not manually turn it off, they simply respect the Retry-After header, which I indeed pushed to production about at the same time as the issues stopped.

A side-e

[2017-12-19 10:01] AlexWayfer commented on #1377
Again :scream:

![image](https://user-images.githubusercontent.com/6510020/34151505-79f6622a-e4bc-11e7-9f48-40464b3441a5.png)

[2017-12-19 17:01] espadrine commented on #1377
Yep, I saw that. It is strange, because it is such a sudden increase.

After looking at the URLs associated with the AWS IPs I flag, I feel like it does not seem related to one given IP address, which probably means it is a large website that started automatically adding badges to its pages. The additional load definitely comes from the US, however.

So, instead of flagging IPs, I decided to flag

[2017-12-19 17:09] AlexWayfer commented on #1377
@espadrine, thank you! Good luck!

Shields.io is a good service, and it's very sad that someone started to harm it.

[2017-12-19 18:01] paulmelnikow commented on #1377
Is there any useful info in the `Referer` header?

[2017-12-19 18:07] paulmelnikow commented on #1377
**To everyone:** Shields gets by with a tiny server and hosting budget. Most of the time this works okay but sometimes things like this happen! Your $10 goes a long way in helping us strengthen and toughen the service.

If you ❤️  Shields, please consider [becoming a backer with a one-time $10 donation](https://opencollective.com/shields/order/2411).

[2017-12-19 18:17] kbrandwijk commented on #1377
@espadrine I'd love to contribute, and I will. But can anyone share a rough estimate of the cost involved to keep this running? Also, did I see correctly you are using a VPS? Would something more scalable in the cloud not be a more affordable solution?

[2017-12-19 18:30] espadrine commented on #1377
@kbrandwijk The server costs are about $17/month with 3 servers ; they'd be about $23/month if I added another server.

Cloud providers are a double-edged sword; they definitely can be cheap (although it's hard to beat a VPS given our requirements), but costs are hard to assess and can explode without us noticing.

There is another venue that I try to explore: optimizing the code. Last time I opti

[2017-12-19 18:56] kbrandwijk commented on #1377
What's your current bandwidth? I've had very good experiences with the global CDN + load balancing deployment that Zeit Now offers. Also, I'll have a look at the source code later on. Do you have any detailed metrics in the tests already?

[2017-12-19 20:43] AlexWayfer commented on #1377
I would like to make $1–3 donations every month. Please, consider this possibility (via [Patreon](https://www.patreon.com/), for example).

[2017-12-19 20:46] kbrandwijk commented on #1377
@AlexWayfer It's possible via OpenCollective as well, shields just needs to define other options (Most projects have a $2/month option).

[2017-12-19 20:49] paulmelnikow commented on #1377
@kbrandwijk Thanks so much for your donation!

@AlexWayfer That would be great! You can choose monthly, and enter the amount you'd like on this page: https://opencollective.com/shields/donate

[2017-12-19 20:57] kbrandwijk opened #1379 "Performance optimization of text-width computation"
Currently, `pdfkit` is used for text width measurements. I would advise to use `fontkit` instead (it's also used internally by `pdfkit`), to cut down on the overhead and increase performance. See: https://github.com/devongovett/fontkit, method: `font.layout()`.

[2017-12-19 21:08] kbrandwijk commented on #1377
@paulmelnikow The default donate page has a minimum of $10. That's why I mentioned adding some options yourselves.

[2017-12-19 21:13] platan commented on #1377
I'm not able to set less than $10 using stepper arrows but I can type something less than $10. But I don't know if it's possible to make a donation with such amount of money.

[2017-12-19 21:15] RedSparr0w commented on #1377
Don't think it allows less than $10 even if you have typed less as it still says $10 down the bottom:
![image](https://user-images.githubusercontent.com/7288322/34179153-b437a1d0-e56e-11e7-957a-d0a2199b809a.png)

[2017-12-19 21:20] paulmelnikow commented on #1377
Ah, I gotcha. Sure! I added a $3/month option.

[2017-12-19 23:04] PyvesB commented on #1379
Hey there, I could look into this, unless you would be interested in submitting a pull request? :wink:

[2017-12-20 01:13] espadrine commented on #1377
I started rate-limiting by referrer, as suggested by @paulmelnikow. Obviously, we are not currently being hit by whatever was pressuring us, and we are very clearly in the safe zone (until tomorrow morning?), but there is one notable (albeit small) referrer that keeps getting temporarily banned.

[This Chrome extension](https://chrome.google.com/webstore/detail/webrtc-protect/bkmmlbllpjdpgcgdohbag

[2017-12-20 03:23] kbrandwijk commented on #1379
@PyvesB please do, I'm new to the project, and very limited in time.

[2017-12-20 08:48] AlexWayfer commented on #1377
@paulmelnikow, are you sure? Input has `min="10"` even for `monthly` option.

![image](https://user-images.githubusercontent.com/6510020/34198492-a40fae58-e57b-11e7-8aaf-fe8da83c3aec.png)

[2017-12-20 10:08] kbrandwijk commented on #1377
@AlexWayfer it's here: https://opencollective.com/shields/
![image](https://user-images.githubusercontent.com/852069/34201848-286ca990-e576-11e7-8b24-c30c6ab1d5e4.png)

[2017-12-20 10:50] AlexWayfer commented on #1377
Oh, sorry. Thank you!

[2017-12-20 13:06] espadrine commented on #1377
Small update: today we are seemingly not hit by the DDoS.

![image](https://user-images.githubusercontent.com/100689/34208458-b497123a-e58e-11e7-8e14-410589fc4a8d.png)

Here is the monthly look:

![image](https://user-images.githubusercontent.com/100689/34208493-dbd67e12-e58e-11e7-857e-6c84e72b08cd.png)

[2017-12-20 14:49] PyvesB commented on #1377
In terms of performance for text width computation, #1298 adds a cache layer that divides by two the number of width calculations on average for each generated badge. We should deploy it as soon as possible if we want to benefit from a small performance boost. Ill also look into #1379 in the coming days/weeks to see if things can be further improved. :wink:

[2017-12-20 14:51] kbrandwijk commented on #1377
Also, I noticed that only the text-width calculation for the left side is cached. Is that deliberate?

[2017-12-20 16:12] tooomm commented on #1280
With the deploy from yesterday this problem still persists!

[2017-12-20 16:24] paulmelnikow commented on #1371
@elect86 Hope that is helpful! Please let us know if not.

[2017-12-20 16:24] #1371 closed

[2017-12-20 16:25] paulmelnikow commented on #1370
Let us know if you have more questions!

[2017-12-20 16:25] #1370 closed

[2017-12-20 16:27] paulmelnikow commented on #1363
Ooh, good catch.

Would someone like to reach out to Greenkeeper and Gitter to let them know?

[2017-12-20 16:28] paulmelnikow commented on #1363
We still have those popularity stats! I wonder where flat-square is in relationship to flat.

[2017-12-20 16:34] tooomm commented on #1363
AppVeyor and codecov show the same style problems on firefox. Don't know about others.
Maybe they have the same style issues due to an outdated teamplate and not properly rounded corners as @RedSparr0w pointed out for greenkeaper?

[2017-12-20 16:39] suhr opened #1382 "Badge request: docs.rs"
See https://docs.rs/about

[2017-12-20 18:21] PyvesB commented on #1377
@kbrandwijk : I'm not convinced a bigger cache size would change much. The left hand-side doesn't feature that many different values when you look at shields' homepage (probably around 100 different possibilities). That leaves a big margin for custom badges with unique new left hand-side keys, which probably represent a smaller number of users anyway. ^^

[2017-12-20 18:22] kbrandwijk commented on #1377
@PyvesB I have no idea why I proposed that. Your explanation makes complete sense...

[2017-12-20 18:37] espadrine commented on #1379
Thanks for the suggestion!

Personal testing makes me feel like pdfkit's overhead (ie, its word caching mechanism) over fontkit is mostly positive; calling fontkit directly changes the time spent in `makeBadge` from 0.461492ms to 0.563666ms average for the following benchmark:

[code]

If we tweak the benchmark to call /badge/coverage"$i"-"$i"%-green.svg to break the pdfkit cache, I get 0.360752ms

[2017-12-20 18:37] espadrine commented on #1377
pdfkit has added [a word cache](https://github.com/devongovett/pdfkit/commit/6e9e58f5d2c9c0c8b9aa9cfe3076f381310d80c5) at the start of the year, which is in v0.8.2. We are currently in v0.8.3 according to the package-lock.json. I would expect those caches to overlap; did you notice a significant speedup on average across 10k requests?

[2017-12-20 18:57] PyvesB commented on #1377
@espadrine : I did not realise they had their own caching system, I was not expecting that from such a library. I did some quick testing at the time of the pull request and I did notice close to 10% when repeatedly calling `makeBadge` (averaged on way over 10k iterations). Nevertheless, this was done on an environment very different to what shields is running on (different operating system, differ

[2017-12-20 20:27] RedSparr0w commented on #1363
@tooomm Yeah from what i can see all the ones you have mentioned in this thread all have the same issue.
- AppVeyor
- Codecov
- Greenkeeper
- Gitter

Not too sure of any other services hosting shields.io style badges that may also be using the old layout.

[2017-12-20 20:33] tooomm commented on #1363
Besides `Greenkeeper` we have our own version for all of them.

The official `Travis` badge seems ok by the way.

[2017-12-20 20:51] RedSparr0w commented on #1363
The travis badge never seemed to have this problem #732
They are rounding all the corners using `rx="3"` and then fixing the left of the right hand side with an extra `<path>`
heres how the badge looks without the extra `<path>`
![image](https://user-images.githubusercontent.com/7288322/34228080-4aab48e0-e634-11e7-9761-31fa07175888.png)

[2017-12-21 08:46] espadrine commented on #1363
That sounds exactly like a trick I had on badges before.

[2017-12-21 22:18] paulmelnikow commented on #1382
Hi! Thanks for the suggestion. Is there a JSON API that returns the build status?

The red badge doesn't convey the failing doc build very clearly. I wonder if we should provide some more helpful text like **docs | build failed**.

[2017-12-21 22:37] paulmelnikow commented on #1379
Continuation of https://github.com/badges/shields/issues/1377#issuecomment-353082511:

Something else we could think about here is multiprocess parallelism: basically doing the badge-width computation in one or more separate processes that don't block. That won't help with a sequential-test metric, but might help if we simulate a production-like load.

Also, and more simply, perhaps a bigger cache

[2017-12-21 22:38] paulmelnikow commented on #1377
Let's continue the optimization discussion here!
https://github.com/badges/shields/issues/1379#issuecomment-353475495

[2017-12-21 22:41] paulmelnikow commented on #941
Hi! Glad to hear it. We have [a great tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md), and there are [some guidelines here](https://github.com/badges/shields/blob/master/CONTRIBUTING.md#badge-guidelines). Let us know in this issue if you need help, and someone knowledgeable will be happy to respond.

[2017-12-21 22:49] paulmelnikow commented on #1373
Hi! Thanks for reporting this issue. We're glad to support Docker but don't have a lot of resources to test it, so we depend on reports like this. (Also: if you want to help us set up tests for it, that would be appreciated!)

[code]

This is a message from the development server, which should not be running on a production machine. The fix is to replace `npm start` with `node server` and remove `

[2017-12-21 22:54] kbrandwijk commented on #1379
With fontkit, and `font.layout()`, you get information for every glyph, so you could basically run that once, and store those values? That way text-width calculation becomes a static sum?

[2017-12-22 04:04] paulmelnikow commented on #1355
Seems the problem is that, despite the text in the UI, these are not releases, only tags. In other words, this is the expected behavior. Feel free to re-open if I've misunderstood!

[2017-12-22 04:04] #1355 closed

[2017-12-22 04:05] paulmelnikow commented on #1359
Bower should be fixed in #1383. Thanks @RedSparr0w!

[2017-12-22 04:09] RedSparr0w commented on #1359
Also Code Climate Fixed in #1368

Although if you look at our comments after the merge we definitely still need to fix some problems,
As the tests do not have 100% coverage for all of their badges those other ones don't fail currently.

[2017-12-22 04:12] paulmelnikow commented on #1329
#1368 has been merged. Should this be closed?

[2017-12-22 04:25] RedSparr0w commented on #1329
It partially closes this,
`/c/user/repo.svg` will now show your score as `A-F`: ![](https://img.shields.io/badge/coverage-A-brightgreen.svg)
`/coverage/user/repo.svg` is still broken and shows ![](https://img.shields.io/badge/coverage-not%20found-lightgrey.svg)
But _(i think)_ expected output is ![](https://img.shields.io/badge/coverage-100%25-brightgreen.svg) for `/coverage`

Not sure if `/covera

[2017-12-22 15:18] paulmelnikow commented on #1358
I opened a PR #1386 with my subjective list of critical tests. I'm having a lot of fun making a line chart that shows our test coverage over time, so I'm going to keep at that.

If anyone would like to add their own subjective list, please do!

[2017-12-22 15:22] paulmelnikow commented on #1358
For reference, here's the list of critical untested services pulled from @chris48s's chart above:

| service | has tests |
| ------- | --------- |
| cdnjs |  |
| chocolatey |  |
| circleci |  |
| clojars |  |
| cocoapods |  |
| codeship |  |
| david |  |
| docker |  |
| dub |  |
| gem |  |
| hackage |  |
| homebrew |  |
| itunes |  |
| jira |  |
| myget |  |
| nuget |  |
| twitter |  |
| uptimerob

[2017-12-22 15:28] paulmelnikow commented on #1314
#1385 has a proposed fix. I haven't had much time the last couple of weeks. Sorry this took so long!

[2017-12-22 17:26] paulmelnikow commented on #1379
@espadrine It looks like I need to add some logging code for the snippet in https://github.com/badges/shields/issues/1379#issuecomment-353146675 to work. What would I need to change?

I made a naive implementation and it seems to be working…

[2017-12-23 02:08] felixfbecker opened #1388 "Release gh-badges to npm"
The library readme on npm looks incredibly outdated and the examples in there don't work:
[code]
throws an error because `template` is not set (which is mentioned in the README on master).

[2017-12-23 02:11] felixfbecker opened #1389 "Library error handling"
I spent almost half an hour trying to figure out why my badge generation wouldn't work. Then I noticed that the first parameter passed to the callback is not an Error as it's the convention, but the result. The error seems to be the second parameter. That is extremely counter-intuitive.

How about just returning a Promise?

[2017-12-23 21:44] espadrine commented on #1379
@paulmelnikow Here's a diff:

[code]

You can add other `console.time`'s for analysis' sake.

[2017-12-23 21:51] espadrine commented on #1379
Quick note: the OVH offer we are on, VPS SSD 1, has a single vcore.

[2017-12-24 00:09] paulmelnikow commented on #1379
Ah, gotcha… thanks.

[2017-12-24 01:49] paulmelnikow commented on #1389
I think this is a dup of #360 which was fixed in #1233.

We should definitely do a release, though. Let's track that in #1388.

[2017-12-24 01:49] #1389 closed

[2017-12-24 01:54] paulmelnikow commented on #1388
Yea, agreed, it would be a good idea to do a release. There are a few things that need doing:

- [ ] Update the documentation in the readme (and document the API in `doc/` if needed)
- [ ] Make sure the public interface has tests
- [ ] Make sure we're publishing the files we need
- [ ] Publish a 2.0 RC

[2017-12-24 02:00] paulmelnikow commented on #1379
I opened #1390 with the approach I took.

[2017-12-24 09:39] onur commented on #1382
Hi @paulmelnikow. We have a JSON API to check build status, example URL for `cargo-0.23.0`: https://docs.rs/crate/cargo/0.23.0/builds.json`. This will return a list of builds and first one in the list is always the very latest build attempt. `build_status` will tell you if build was a success or not.

Unfortunately this JSON API will always require a version to work (it is actually only designed t

[2017-12-25 19:00] paulmelnikow commented on #1382
Ah, gotcha. Hmmm, well we could parse the badges. Is a build status endpoint something you'd consider adding? Hitting a JSON API is more reliable.

[2017-12-26 05:06] RedSparr0w commented on #1359
Down to 13 errors
- [ ] Github - Seems to be consistently timing out, but looks to be [running correctly](https://shields-staging.herokuapp.com/github/issues-raw/badges/shields/service-badge.json) without issue for me.
- [ ] Suggest - Not sure what this is, haven't properly looked into it yet.
- [ ] PHP version from .travis.yml - Not sure why this is failing as it actually [shows as expected](http

[2017-12-27 04:45] paulmelnikow commented on #1359
Suggest is for a web service that provides badge suggestions to the front end. You can try it out by pasting a github URL into the search box at the top, and clicking **Suggest Badges**.

[2017-12-27 04:53] #1314 closed

[2017-12-27 04:54] paulmelnikow commented on #1314
Merged an alternate fix #1393 instead.

[2017-12-27 05:03] paulmelnikow commented on #1359
Link for reference: https://circleci.com/gh/badges/shields/643

Github **hit counter for nonexistent repo** is one that I see timing out really often. We may as well bump that one up. Possibly **hit counter** too. The others I haven't seen time out before.

PHP version - maybe it's a Travis rate limit?

[2017-12-27 05:08] paulmelnikow commented on #1359
Opened #1398 for suggest.

[2017-12-27 16:40] salaros opened #1399 "Logos from master branch aren't present in gh-pages branch"
I'm wondering when [my recent contribution](https://github.com/badges/shields/pull/1380) as well as some other logos (such as Travis CI etc) will make it to gh-pages branch, so the labels below will start working:

`[![Travis](https://img.shields.io/travis/rust-lang/rust.svg?logo=travis)]()`

[![Travis](https://img.shields.io/travis/rust-lang/rust.svg?logo=travis)]()

`[![Scrutinizer](https://img.

[2017-12-27 20:27] sinedied opened #1400 "Problem with Docker build badge: repo not found"
![](https://img.shields.io/docker/pulls/sinedied/nano-gateway.svg) => works fine
![](https://img.shields.io/docker/build/sinedied/nano-gateway.svg) => not found

Same repo. Am I missing something?

[2017-12-27 22:01] RedSparr0w commented on #1359
https://circleci.com/gh/badges/shields/728

A strange new error for `GitHub open issues by multi-word label is > zero` today:
[code]

The "PHP version from .travis.yml" only seems to fail on the daily Circle CI test, unsure where it is failing though as 'invalid' is returned several places, guess it could be a rate limit against Circle CI's servers.

[2017-12-27 22:32] Tylemagne opened #1402 "Is it possible to show the number of downloads WITHOUT having the asset name in brackets? -- downloads|34 (instead of) downloads|34 [filename.exe]"
Example here: https://img.shields.io/github/downloads/atom/atom/latest/atom-amd64.deb.svg
![](https://img.shields.io/github/downloads/atom/atom/latest/atom-amd64.deb.svg)

[2017-12-27 23:05] Tylemagne commented on #1402
Upon further inspection, it looks like the code sits at line 3862 in server.js

https://github.com/badges/shields/blob/master/server.js

[2017-12-28 00:14] RedSparr0w commented on #1400
Looks like something wrong in the build history API for the project,

sinedied/nano-gateway [pulls](https://registry.hub.docker.com/v2/repositories/sinedied/nano-gateway/) response:
[code]

sinedied/nano-gateway [buildhistory](https://registry.hub.docker.com/v2/repositories/sinedied/nano-gateway/buildhistory/) response:
[code]

correct [buildhistory]() reponse:
[code]

[2017-12-28 00:27] sinedied commented on #1400
I just created the repo on docker hub, maybe it needs some time to chew the info then?

[2017-12-28 00:37] RedSparr0w commented on #1400
:crossed_fingers:
Hopefully that is the problem,
Also likes like you have build mode set to manual. (not sure if that makes a difference)
[code]

[2017-12-28 04:34] paulmelnikow commented on #1399
Deploys usually happen every 1–3 weeks. Thaddée, who has limited time on this project, is the only sysadmin. He's working on giving me access to deploy and logs, but doing so is complicated because the hosting account (and maybe the servers too) are shared with other services he runs. This has been exacerbated recently by a release blocker (#1314). Sorry I can't give you a better estimate than tha

[2017-12-28 04:34] #1399 closed

[2017-12-28 18:23] sinedied commented on #1400
That's another error, I have setup automated builds 😄

[2017-12-28 18:45] paulmelnikow commented on #819
Closed via #1256, #1258, and #1372. Thanks so much for all your work @peter-gribanov!

[2017-12-28 18:45] #819 closed

[2017-12-28 19:24] paulmelnikow commented on #1359
That's a socket timeout presented by IcedFrisby in a strange way.

I'm going to re-run the daily tests and ssh into the build machine to see if I can diagnose further.

[2017-12-28 19:36] paulmelnikow commented on #1359
Interesting; it's this one: https://github.com/badges/shields/blob/master/server.js#L336-L341

So the problem is that the request to the GitHub API is failing. Probably that is because it's not being sent with auth information, which also explains why the request usually works, but in this case does not. I'll open a PR with a fix.

[2017-12-28 19:59] vanderlee commented on #819
Much thanks for all the brilliant work on this one!

[2017-12-29 03:21] tooomm commented on #1314
I hope we can see a fresh deploy after all this performance improvements...
The live shields.io page is way outdated. ;)

Do you feel more comfortable now @espadrine? Or do you still think there are some road blocks/issues?

[2017-12-29 03:57] RedSparr0w commented on #1350
Here it is without the 'chat bubble':
![image](https://user-images.githubusercontent.com/7288322/34429117-c74dbd12-ecb8-11e7-896d-46369cd0de5b.png)
![image](https://user-images.githubusercontent.com/7288322/34429152-141689f8-ecb9-11e7-8003-b5a10a5fcb29.png)

[2017-12-29 13:40] tooomm commented on #1350
I like the white one a lot!

[2017-12-30 06:48] kyuwoo-choi opened #1406 "bower badge shows no releases"
Hi.

I recently published a project on npm and bower.
The badges for npm, license, github works great but not for bower.
And I have no idea why. `bower info tui-editor` works fine.
[code]
![github](https://img.shields.io/github/release/nhnent/tui.editor.svg)
![bower](https://img.shields.io/bower/v/tui-editor.svg)

Happy new year!

[2017-12-30 14:03] chris48s commented on #1406
The data for the bower badge comes from libraries.io.

If you look at the page for your package on there ( https://libraries.io/bower/tui-editor ) it reports zero tags so I think that's why the badge is reporting no releases.

The badge does appear to be reporting the data from the libraries API correctly.

[2017-12-30 15:26] kyuwoo-choi commented on #1406
ok. I'll leave a issue there and close this.
thank you :)

[2017-12-30 15:26] #1406 closed

[2017-12-30 23:13] juliohm commented on #389
Hi, I see that commits were pushed, is this feature available already?

[2017-12-31 05:37] skyzyx opened #1407 "Issues with style=for-the-badge"
#### Scrutinizer

I've seen "invalid" come up a couple more times for "for-the-badge", but now that I'm sitting down to file a ticket, Scrutinizer is the only service that comes to mind because I'm actually using it.

| Style | Badge |
| ----- | ----- |
| flat (default) | ![](https://img.shields.io/scrutinizer/g/simplepie/simplepie-ng.svg) |
| flat-square | ![](https://img.shields.io/scrutinizer/g

[2018-01-01 20:24] chris48s opened #1412 "Unit test for formatDate() fails if you run it on 1st January"
[code]

I think this is because the test is written in such a way that the test is non-deterministic rather than because `formatDate()` is broken.

[2018-01-01 22:08] paulmelnikow commented on #1412
Hahaha that's a good one! Happy new year! :)

[2018-01-01 22:09] paulmelnikow commented on #1412
As written, it'll be broken until February.

[2018-01-01 22:30] paulmelnikow commented on #1407
Hi, thanks for this.

Interestingly this appears to be fixed in staging:

![](https://shields-staging.herokuapp.com/scrutinizer/g/simplepie/simplepie-ng.svg?style=for-the-badge)

https://shields-staging.herokuapp.com/scrutinizer/g/simplepie/simplepie-ng.svg?style=for-the-badge

Possibly that happened in #1405 which touched a couple lines of for-the-badge-specific code… though I'm not sure why that

[2018-01-01 22:30] #1407 closed

[2018-01-01 22:36] paulmelnikow commented on #389
I'm afraid not. Looks like that PR was abandoned: #409.

Would you like to revive it? We have a good tutorial and a test framework, and if you have questions along the way you could post here.

[2018-01-01 22:48] juliohm commented on #389
Thank you @paulmelnikow, I ended up with a simple workaround [here](https://github.com/juliohm/GeoStats.jl#contributing-and-supporting-). Not proud of it, but it works.

If I had better Javascript skills I would give it a shot and submit a PR.

[2018-01-01 23:30] RedSparr0w commented on #1407
Thanks for the issue report,
This was fixed in #1281
As stated above by @paulmelnikow these changes are just awaiting deployment to the live server.

[2018-01-01 23:41] paulmelnikow commented on #1407
Oh gosh, I had no idea that was still pending!

[2018-01-02 02:07] RedSparr0w commented on #1407
Yeah i think it just missed out on the last deploy by a few days unfortunately.

[2018-01-02 10:40] ppalaga commented on #1107
I cannot see `travis.svg` in https://github.com/badges/shields/tree/gh-pages/logo . Maybe somebody should just publish the master to gh-pages?

[2018-01-02 16:56] paulmelnikow commented on #1107
The copy of `travis.svg` needs to be on the server, so the server needs to be deployed.

[2018-01-02 20:59] skyzyx commented on #1407
Fantastic. Thanks!

[2018-01-02 21:09] #1350 closed

[2018-01-02 21:25] chris48s commented on #1406
I expect you have already noticed, but libraries is now showing all your tags: https://libraries.io/bower/tui-editor and the badge is reporting correct version: ![bower](https://img.shields.io/bower/v/tui-editor.svg)

[2018-01-03 00:06] felixfbecker commented on #1388
What are the breaking changes for 2.0?

[2018-01-03 03:08] paulmelnikow commented on #1388
1. `makeBadge` has a new interface which is synchronous.
2. There's a new text measurer that needs to be passed in (see #1390) which is also synchronous.
3. For consumers of the library, we probably should add a convenience function which memoizes the measurer and avoids boilerplate in code which consumes it.
4. The CLI should be the same.

[2018-01-03 17:02] platan opened #1415 "Greenkeeper does not update package-lock.json"
A recently example https://github.com/badges/shields/pull/1414

[2018-01-03 17:33] paulmelnikow commented on #1415
`greenkeeper-lockfile` is supposed to handle this, though I guess it's not working correctly.

[2018-01-03 17:41] techtonik commented on #1107
I thought shield.io is continuous deployment, but well.. Is there a doc about deployment process?

[2018-01-03 17:59] paulmelnikow commented on #1107
Deploys usually happen every 1–3 weeks. Thaddée, who has limited time on this project, is the only sysadmin. He's working on giving me access to deploy and logs, but doing so is complicated because the hosting account is shared with other services he runs.

[2018-01-03 18:19] tooomm commented on #1415
Shouldn't you bring that up at https://github.com/greenkeeperio/greenkeeper instead @platan?

[2018-01-03 19:33] platan commented on #1415
Either greenkeeper (`greenkeeper-lockfile`) does not work or we are using it incorrectly (bad configuration). Greenkeeper was introduced when we were using Travis CI. Now we have Circle CI.

[2018-01-03 19:58] jnm2 commented on #204
I've had several uses for this.

[2018-01-04 03:37] #1412 closed

[2018-01-04 03:42] paulmelnikow commented on #204
Hi, could you provide links?

[2018-01-04 13:11] jnm2 commented on #204
Things that would be good to group, especially for packages whose name has changed:

---

https://www.nuget.org/packages/NUnit.Runners/
https://www.nuget.org/packages/NUnit.ConsoleRunner/
https://www.nuget.org/packages/NUnit.Console/

---

https://www.nuget.org/packages/NUnitLite/
https://www.nuget.org/packages/NUnitLite.SL50/
https://www.nuget.org/packages/NUnitLiteCF/

---

Potentially all NUnit

[2018-01-05 04:44] techtonik commented on #1107
Hosting is Cloudflare. Is that some special offer?

[2018-01-05 05:04] RedSparr0w commented on #1107
I may be wrong, but i don't think Cloudflare offers hosting?
They are just the name server from what i can see.

[2018-01-05 20:29] djperrefort commented on #567
I noticed a few days ago that this problem has started again for some of the code climate badges. An example can be found by looking at [http://shields.io/](http://shields.io/).

[2018-01-05 21:35] chris48s commented on #1358
gradually making progress through the critical services..

| service | has tests |
| ------- | --------- |
| cdnjs | :heavy_check_mark: |
| chocolatey |  |
| circleci | :heavy_check_mark: |
| clojars | :heavy_check_mark: |
| cocoapods |  |
| codeship | :heavy_check_mark: |
| david |  |
| docker |  |
| dub |  |
| gem |  |
| hackage | WIP #1416 |
| homebrew |  |
| itunes |  |
| jira |  |
| myget |

[2018-01-06 02:22] techtonik commented on #1107
https://check-host.net/ip-info?host=shields.io shows that shields.io IP belongs to Cloudflare.

[2018-01-06 15:45] paulmelnikow commented on #567
Would you please open a new issue? Thanks!

[2018-01-06 15:47] paulmelnikow commented on #567
Please also review the open issues: #1329 #1196 #1387.

[2018-01-10 21:13] bkdotcom opened #1433 "SensioLabs options"
So, I'm switching from SesionLab's badge to the shields.io badge....
I kinda liked the ★'s in the sensio version...

Are the query-string params standardized across all integrations, or could the Sensio integration be tweaked to allow customization of status text : ★(U+2605) vs "platinum", "gold", "silver", & "bronze"?

`statusType=["string"] | "stars"`

Or, 1 step further and have the ability to

[2018-01-11 18:11] rozaxe commented on #843
Sorry @paulmelnikow, I did not saw the notification. If you are still considering adding a custom badge UI, I would be really happy to contribute to it !

[2018-01-11 21:41] iamstarkov opened #1435 "failed docker build due to missing git"
somewhat related to #1373

npm install failes due to one of the package has postinstall hook with git clone (couldnt find which)

Steps to reproduce:
[code]

Expected result:
[code]

Actual result:
[code]

[2018-01-11 21:50] paulmelnikow commented on #1435
Any clues in that copy of `/usr/src/app/npm-debug.log`?

[2018-01-11 21:51] iamstarkov commented on #1435
i dont know how to dig into the container fs

[2018-01-11 21:51] iamstarkov commented on #1435
i have a fix ready though

[2018-01-11 21:54] paulmelnikow commented on #1433
Currently it's not possible to override the message. However I'd be down for adding a parameter to see stars instead of the text. How do the stars map onto the status strings?

Overriding the messages works against consistency, which is one of the goals of the project. If there's a lot of community support to do that, we could consider adding it. So far only one person has asked before.

[2018-01-11 21:54] iamstarkov commented on #1435
here we go https://github.com/badges/shields/pull/1436

[2018-01-11 21:55] #1435 closed

[2018-01-11 21:55] iamstarkov commented on #1435
there is another issue with mismatched exposed port, but it is another issue and another pull-request

[2018-01-11 21:56] paulmelnikow commented on #1435
Right, the port issue is mentioned in #1373. Would be great if you could pick that up!

[2018-01-11 21:56] iamstarkov commented on #1373
@MartinGonzalez @goozler look at this https://github.com/badges/shields/pull/1436

[2018-01-11 21:58] iamstarkov commented on #1435
i will fix most docker self hosting issues shortly

[2018-01-11 22:02] iamstarkov opened #1437 "failed docker run due to mismatched nodejs installed in a container and requirements from check-node-version script"
basically in docker node version is 6.9.2, but when app tries to start it check node version to be higher than 8.0

from Dockerfile:
[code]

Expected result:
[code]

Actual result:
[code]

[2018-01-11 22:06] paulmelnikow commented on #1435
Awesome, thanks!!

While you're thinking about this, could you think about whether there's a way we can test this on CircleCI so we get a red build if/when this recurs?

[2018-01-11 22:21] iamstarkov opened #1438 "faulty docker container configuration due to wrong port exposed"
by default shields runs over 3000 port but 80 port was exposed

[2018-01-11 22:29] iamstarkov commented on #1373
and this #1439

[2018-01-11 22:50] iamstarkov commented on #1400
@sinedied can you confirm problem is solved? https://registry.hub.docker.com/v2/repositories/sinedied/nano-gateway/

[2018-01-12 03:22] bkdotcom commented on #1433
status | stars
---|:---
No&nbsp;Medal | &nbsp;
Bronze | ★
Silver | ★★
Gold |★★★  _(I've never seen a gold medal...   the most minor infraction drops my project from platinum to silver)_
Platinum | ★★★★

Roger that.. I wasn't sure if the project's goal is consistency of the restful api, or the consistency of the output (consistency of the pixel perfectness, a clear goal)

[2018-01-12 04:16] bkdotcom opened #1440 "specification / proportions image"
Nitpick

https://github.com/badges/shields/blob/master/spec/SPECIFICATION.md

the image showing the padding takes far more cognitive effort than it should

There are labels on all four sides of the image with no consistency and - in general - goes against drafting best-practices

**Current Bad**:  *Brain hurts looking at it*
[code]

re horizontal dimensions on the "y" axis:
[here's an analogy](htt

[2018-01-12 06:33] RedSparr0w commented on #1400
@iamstarkov it seems to be the build history endpoint that is missing info.
https://registry.hub.docker.com/v2/repositories/sinedied/nano-gateway/buildhistory/

[2018-01-12 09:03] sinedied commented on #1400
Yes, it's still not fixed, but it seems the issue is with the docker APIs.
Unless I am missing something on the docker cloud configuration, automated builds + builds history are not recognized through their APIs although it's there:
![image](https://user-images.githubusercontent.com/593151/34867271-c551f1aa-f77f-11e7-83b9-f35d38683bcc.png)

[2018-01-12 11:20] julmot opened #1441 "Bower Badge Not up to Date"
Yesterday I've released v8.11.1 of [mark.js](https://github.com/julmot/mark.js/). npm and bower installs are successfully installing the newest version and the npm badge shows the correct version. However, the bower badge shows an old version:

![topic](https://user-images.githubusercontent.com/8310677/34872782-a56dc446-f792-11e7-8249-4ab5c55e1a10.png)

What could be the reason?

[2018-01-12 14:05] koppor commented on #627
I like the badge of @olstenlarck. Maye also `IRC #charlike 331`? - Not much more space, but clear that it is IRC.

[2018-01-12 16:04] tooomm opened #1442 "dynamic badge don't change color if file inaccessible or key not existant"
As seen in https://github.com/Cockatrice/Magic-Spoiler/pull/193
- It only displays `label | invalid resource` in green for the json file not existing
- It only displays `label | ` in green for a non-existing $key in the linked json (no example in the linked pr)

The badge right side should change the color to highlight a problem.
For the second case it should print an error, too. It looks like it'

[2018-01-12 18:23] chris48s commented on #1441
The bower badge gets its data from the libraries.io api. If you have a look at the relevant page over there https://libraries.io/bower/mark.js it is reporting the version as 8.11.0 so that's what is used on the badge. I'm not sure on how often libraries.io synchronises data from various package managers or what the process is, but there is some delay there which is outside our control.

[2018-01-12 19:36] julmot commented on #1441
@andrew Can you help us clarify the situation? For example, I've manually triggered re-sync yesterday:

[code]

Also I've suggested the version update on libraries.io itself. However, it still seems not to fetch the right version?

[2018-01-13 17:35] espadrine commented on #1314
All swell!

I deployed master to s0 for testing, tweaked some rate limiting values, and saw no major issue. So, master is now live everywhere.

[2018-01-13 19:44] olstenlarck commented on #627
@koppor agree :)

[2018-01-13 21:24] julmot commented on #1441
@andrew I've just noticed that even the npm version isn't up to date:

![topic](https://user-images.githubusercontent.com/8310677/34910207-8213e2a4-f8b0-11e7-9b82-d06ea807d210.png)

https://libraries.io/npm/mark.js

Maybe a fetching issue of libraries.io?

[2018-01-14 12:42] julmot commented on #1441
LOL: This is what it says on the npm page of mark.js:

![topic](https://user-images.githubusercontent.com/8310677/34915977-4a1fedae-f930-11e7-8e48-435044fcd805.png)

I've now triggered the resync button and now the npm and also the bower version is correcty determined – even though I've already manually clicked the sync button on the bower page which leaded to no update. This is very confusing. Al

[2018-01-14 22:01] paulmelnikow commented on #1442
Makes sense. Should be red for a nonexistent file IMO.

A non existing key is probably not an error, but we should print something like “no result,” which looks reasonable if it’s intentional and also makes it clear what the problem is to someone setting one of these up.

[2018-01-14 22:01] paulmelnikow commented on #1442
@RedSparr0w thoughts?

[2018-01-14 22:03] paulmelnikow commented on #1441
Would you like to reach out to the folks at libraries.io and ask for some clarification? It would be great to have a definitive answer, for benefit of everyone else in the future...

[2018-01-14 22:06] paulmelnikow commented on #1440
Here’s a quorum of maintainers saying: heck yeah!

Also, if I recall correctly, there’s a bug in the image. Isn’t it mismatched to the description in some way? @RedSparr0w didn’t you mention this once?

[2018-01-14 22:08] paulmelnikow commented on #1438
Thanks for the succinct report. I think, however, we can track this in #1373 where it was also reported.

[2018-01-14 22:08] #1438 closed

[2018-01-14 22:08] tooomm commented on #1442
@paulmelnikow Should the color for the non existing key case change, too?
Yellow/orange for example? Or still green?

[2018-01-14 22:11] paulmelnikow commented on #1437
Right, we only support Node 8+ for development, including the front-end build. Updating the version makes sense. 👍

[2018-01-14 22:13] paulmelnikow commented on #1442
Agreed that green doesn’t really make sense. Maybe gray is better for a missing value. If we don’t consider it an error.

[2018-01-14 22:20] RedSparr0w commented on #1440
#1161 Should have made the `plastic`, `flat-square` and `flat` badges all fit the spec.
Although im fairly certain the `social` and `for-the-badge` styles both have a different spec.
social:
[code]
for the badge:
[code]

Definitely agree the image should be updated though.

[2018-01-14 22:20] paulmelnikow commented on #1314
Glad to hear it!

[2018-01-14 22:22] paulmelnikow commented on #627
It looks like we would need some help from Freenode on this. @koppor would you like to reach out to them?

[2018-01-15 00:50] RedSparr0w commented on #1442
They should have all been `lightgrey` for 404 or anything that isn't `200 OK` but looks like it is using the old `badgeData.colorB = 'lightgrey'` rather than `badgeData.colorscheme = 'lightgrey'`

Will create a PR to fix that soon.

I think they should probably all stay as `lightgrey`,
As that is what most of the other badges return for those same errors,
Though i feel `red` does make more sense.

[2018-01-15 00:59] RedSparr0w commented on #1379
Do you think this could be closed now that we have #1390 merged?
@paulmelnikow

[2018-01-15 01:05] RedSparr0w commented on #1402
I don't see a problem with adding an extra option which hides the filename.
Feel free to open a PR with the required changes,
Otherwise i may be able to look into it in the next few weeks.

[2018-01-15 01:20] RedSparr0w commented on #1433
Maybe it could be added as something like `?metric=stars`
or maybe using the uri like `/sensiolabs/i-stars/` or `/sensiolabs/stars/`

[2018-01-15 02:31] RedSparr0w opened #1446 "User color overrides Error color"
When `colorB` is specified this color will override any of the badges error colorscheme colors.

badge | actual | expected
:-- | :--: | :--:
`/travis/rust-lang/notarepo.svg?colorB=10ADED` | ![](https://img.shields.io/:build-unknown-10ADED.svg) | ![](https://img.shields.io/:build-unknown-9F9F9F.svg)
`/notabadge.svg?colorB=10ADED` | ![](https://img.shields.io/:404-badge%20not%20found-10ADED.svg) | !

[2018-01-15 02:47] paulmelnikow commented on #1446
Hmm, interesting. Yes, I suppose I agree this is a bug, and that the user's specified color should only  apply when a badge is presented successfully.

[2018-01-15 02:51] paulmelnikow commented on #1442
Yea, while transient errors are reasonable to present in gray since they have nothing to do with the caller / don't require anything to be fixed on the caller's side, I think a 404 or our equivalent of a 400 would reasonably be red, since it's always a problem with the request and requires a change.

I have some error-handling code drafted, though it could always be overridden on a service-by-serv

[2018-01-15 02:54] #1379 closed

[2018-01-15 13:11] olstenlarck commented on #627
@paulmelnikow why? @espadrine gives good example https://github.com/badges/shields/issues/627#issuecomment-195821298 which i believe will work.

[2018-01-15 13:14] koppor commented on #627
@paulmelnikow

I talked in `#freenode` on the Freenode IRC.

- number of users is public information, so it is OK
- [ ] no publishing of logs (joins, parts, ...)
- [ ] no publishing of who is in the channel
- [ ] in case the bots plan to join channels, they should get channel owner consent first

"basically: every piece of information that users could not gather from outside of the channel should

[2018-01-15 13:16] koppor commented on #627
@olstenlarck I think, the above JavaScript statements do a) join a channel (which may be disallowed by channel operators as this is an automated operation) b) are only OK when executed on the shield servers in a cronjob and not on every request by a user.

[2018-01-15 13:17] koppor commented on #627
@paulmelnikow There is http://irc.netsplit.de/ with some user data; maybe, that can be used? (Even though, not all channels seem to be available here)

[2018-01-15 13:49] paulmelnikow commented on #627
Is it possible that Freenode could add a separate API for this, maybe even an HTTP API?

[2018-01-15 16:48] elvinn opened #1447 "Node version badge show wrong number"
[code]

I add a node version badge to [my project](https://github.com/elvinn/git-master-merged/blob/master/README.md). Although I set engines.node value as `>= 6.0.0` in package.json, the badge shows `>= 0.4.0`.

Is my usage wrong? Will shields.io parse `engines.node` to generate the badge?

Thanks a lot!

[2018-01-15 17:55] iamstarkov commented on #1373
npm cache clean seems to be redundant:

[code]

[2018-01-15 17:56] iamstarkov commented on #1373
@paulmelnikow

[2018-01-15 18:12] paulmelnikow commented on #1359
Took a quick pass through our failing service tests at https://circleci.com/gh/badges/shields/1355 and https://circleci.com/gh/badges/shields/1411.

This one seems to be failing consistently. Is it perhaps referring to an image that has gone away?

[code]

The other failures look to be related to Github API (timeouts – not auth failures) and the Travis API.

I opened #1448 and #1449 to fix other f

[2018-01-15 18:40] Sorashi commented on #1035
@paulmelnikow I think my issue is the same/related, so I'll provide more info, instead of creating a new issue. Sorry if it's not related.

My NuGet package's version is `0.1.11-alpha+master.a50a3d1`

`img.shields.io/nuget/dt/KasiopeaApi.svg` and `img.shields.io/nuget/v/KasiopeaApi.svg` render to me like this (respectively):

![image](https://user-images.githubusercontent.com/6270283/34956847-3d5d

[2018-01-15 19:02] remkohdev commented on #664
for others: https://img.shields.io/github/issues-raw/USERNAME/REPO/LABEL-NAME.svg

e.g.: https://img.shields.io/github/issues-raw/remkohdev/node-red-contrib-cryptocompare/good-first-issue.svg

[2018-01-15 19:29] paulmelnikow opened #1452 "Logos broken on social badges"
As discussed at https://github.com/badges/shields/commit/61fa22b7e4d7986e94b826e39db95f1f6910c2a7#comments, logos are no longer showing on social badges. They should be showing by default.

It looks like this broke in #1319.

[2018-01-15 20:19] #1373 closed

[2018-01-15 20:19] #1437 closed

[2018-01-15 20:27] paulmelnikow commented on #1358
You're making amazing progress on these @chris48s!

[2018-01-15 21:35] chris48s commented on #1447
The badge URL you've used is for someone else's project. It reports the [correct value for passport](https://github.com/jaredhanson/passport/blob/master/package.json#L46) :)

The badge URL for your project is https://img.shields.io/node/v/git-master-merged.svg

At the moment it will show 'not specified' because it gets the node compatibility info from NPM, not GitHub. The version of `git-master-me

[2018-01-16 00:53] #1442 closed

[2018-01-16 02:25] elvinn commented on #1447
It works out. Thanks for your reply 😺

[2018-01-16 02:25] #1447 closed

[2018-01-16 06:50] iamstarkov commented on #1435
@paulmelnikow
`docker build` exited with code different from 0
`docker run` runs but localhost is unreachable/unpingable

[2018-01-16 09:01] AlexWayfer commented on #1377
Badges periodically and randomly don't load :(

I saw this on January 11:

![image](https://user-images.githubusercontent.com/6510020/34815824-ef02110e-f6c3-11e7-9b4f-f220b5845c47.png)

And today (January 16):

![image](https://user-images.githubusercontent.com/6510020/34980269-fe081b7c-fab4-11e7-99f8-9d062673d5ac.png)

[2018-01-16 10:08] tooomm commented on #1442
Thanks for looking into that @RedSparr0w !

[2018-01-16 19:16] paulmelnikow opened #1455 "Tests don't exit on Mac OS"
Starting in 0da212b7deb95c0239e8c24899c846a9a2d9c038 the test process doesn't exit when tests finish. This is happening on my machine, though not in CI which is curious. Maybe it's OS-related?

The cause is that something is continuing to run in the node process, like a `setTimeout`. It might be related to the camp update, though probably more likely, one of the many other libraries that got updat

[2018-01-16 19:53] RedSparr0w commented on #1442
No Worries :smile:

[2018-01-16 21:03] RedSparr0w commented on #1377
I have been noticing the same thing with a lot of badges, but no certain badges in particular,
My best guess would be something to do with the rate limiting.
I have also seen quite a few ![](https://img.shields.io/:vendor-unresponsive-red.svg) lately.

[2018-01-17 03:29] RedSparr0w commented on #1446
I don't think it's too much of a problem, but should probably be fixed in the `node-8` branch along the way.

[2018-01-17 03:48] RedSparr0w opened #1458 "Badges in footer have disappeared | Frontend not up to date"
Badges in the footer have dissapeared:
![image](https://user-images.githubusercontent.com/7288322/35024569-15127696-fba5-11e7-957c-86dc9c54db19.png)
How it should look:
![image](https://user-images.githubusercontent.com/7288322/35024542-f1494bfe-fba4-11e7-99fc-b61762aa3146.png)

Looks like they are trying to load the badges from `https://shields.io/` instead of `https://img.shields.io/`

_Sidenote

[2018-01-17 03:59] RedSparr0w commented on #1399
@salaros This should be deployed now! :tada:
[![Travis](https://img.shields.io/travis/rust-lang/rust.svg?logo=travis)]()

[2018-01-17 19:50] platan commented on #1399
@paulmelnikow shouldn't we add a FAQ section in the README with information then changes are deployed? Is pretty common question in my opinion.

[2018-01-17 21:55] CAD97 commented on #1458
How to exit vim: https://stackoverflow.com/q/11828270/3019990

[2018-01-18 12:21] espadrine opened #1460 "Let's Encrypt certificates"
We currently rely on CloudFlare [Full SSL](https://www.cloudflare.com/ssl) for the TLS certificates for shields.io and img.shields.io.

It means that the individual servers use self-signed certificates, which CloudFlare connects to, and CloudFlare produces its own certificates that apply to shields.io and \*.shields.io for inbound traffic from the rest of the Internet.

Using authentic Let's Encry

[2018-01-18 17:16] k-five opened #1461 "SyntaxError: Unexpected token < in JSON at position 6"
I coyed your own JSON file for test. I tried to test it.
https://img.shields.io/badge/dynamic/json.svg?uri=https://github.com/k-five/tmp/blob/master/package.json&query=$.name&label=Shields.io&prefix=v&suffix=-master&colorB=10ADED&style=flat-square
but either I am getting Syntax Error or Invalid resource
I used  your own JSON file: https://raw.githubusercontent.com/badges/shields/master/package.jso

[2018-01-18 18:37] chris48s commented on #1461
Try encoding the JSON URL, so it is pased like `https%3A%2F%2Fraw.githubusercontent.com%2Fbadges%2Fshields%2Fmaster%2Fpackage.json`

e.g:
https://img.shields.io/badge/dynamic/json.svg?uri=https%3A%2F%2Fraw.githubusercontent.com%2Fbadges%2Fshields%2Fmaster%2Fpackage.json&query=$.name&label=Shields.io&prefix=v&suffix=-master&colorB=10ADED&style=flat-square

You might need to tweak your query a bit t

[2018-01-18 21:01] RedSparr0w commented on #1461
the first link you provided is just linking to the file on github, you will need to link to the raw file
your uri:
`https://github.com/k-five/tmp/blob/master/package.json`
![](https://img.shields.io/badge/dynamic/json.svg?uri=https://github.com/k-five/tmp/blob/master/package.json&query=$.name&label=Shields.io&prefix=v&suffix=-master&colorB=10ADED&style=flat-square)
raw uri:
`https://raw.githubuser

[2018-01-19 07:58] k-five commented on #1461
I got it. Thanks.

[2018-01-19 07:58] #1461 closed

[2018-01-19 15:59] paulmelnikow commented on #1458
I mentioned this to @espadrine on the 13th and just sent him a follow up email.

All the maintainers have deploy access to the frontend, though I don't know exactly which commit is deployed to the servers.

[2018-01-19 16:00] paulmelnikow commented on #1458
This part is kind of puzzling. Since the old frontend is deployed, I'm wondering: did a change in the server cause these to stop working? ^^

[2018-01-19 16:05] paulmelnikow commented on #1461
@RedSparr0w I wonder if we should change the error message to something like "invalid json". It's equivalent semantically, though a little prettier.

[2018-01-19 17:22] espadrine commented on #1458
The reason for that is likely to be because this link points nowhere, perhaps because the new build process with next requires adding a new folder, the build folder, in the git project when doing `make gh-pages`?

[2018-01-19 17:29] paulmelnikow commented on #1458
Which links points nowhere?

Ah, right, if the folder doesn't exist, the build process creates it, however the deploy process doesn't ship it.

Would you like me to open a PR to fix the script, and test the (frontend) deploy in the process? If so, which commit?

[2018-01-20 11:43] tooomm opened #1462 "question: what is "Uptime Robot ratio" displaying?"
There are these badges for *Uptime Robot*:
- `Uptime Robot status`
- `Uptime Robot ratio`
- `Uptime Robot ratio (7days)`

The middle one is not exactly clear to me, which time frame is the ratio calculated on?

[2018-01-20 14:04] chris48s commented on #1462
The default is 30 days:

https://github.com/badges/shields/blob/1d8926672c6d1f4ecb3ac8a95fcb121449db5f6e/server.js#L7462-L7466

I've opened a PR to clarify this in the docs

[2018-01-20 14:15] tooomm commented on #1462
Thanks for your quick answer and UI improvement! 👍

[2018-01-20 17:37] Sorashi commented on #1035
The package now has a new version `0.2.0`, the shield works just fine.

[2018-01-21 22:57] #1452 closed

[2018-01-21 23:01] #1462 closed

[2018-01-21 23:34] espadrine commented on #1458
I tried simply adding build in `git add -f build index.html` in the Makefile in deploy-gh-pages, but it turns out that when doing `npm run build`, the index.html file is not at the root of the repository.

Without it at the root, it won't be shown as the main page of https://badges.github.io/shields, which means it won't show up as shields.io (since shields.io maps to GitHub Pages through the CNAM

[2018-01-21 23:43] paulmelnikow commented on #1458
Hmm, good question… Well, we definitely need to commit `build/`. Then to get Github to serve it from the root, perhaps the cleanest way would be to also add + commit symlinks to `build/_next`, `build/index.html`, and `build/static`. We could create + commit these symlinks at deploy time so they don't clutter up the project.

[2018-01-22 16:23] andrew commented on #1441
Sorry for the delay, we had a very backed up queue around the time, which might explain why there were some delays, sorry about that!

[2018-01-22 16:34] julmot commented on #1441
Closing and hoping it won't happen again.

[2018-01-22 16:34] #1441 closed

[2018-01-22 22:49] espadrine commented on #1458
Since there is uncertainty as to how it would behave, we should try it out first on a fork before doing it on shields.io.

[2018-01-23 00:11] burakince opened #1466 "Snap CI is no longer available"
Snap CI is no longer available, so we can remove it.

https://snap-ci.com/

[2018-01-23 03:24] paulmelnikow commented on #1466
Related: #1449

[2018-01-24 17:50] vidishashah opened #1469 "ar"

[2018-01-24 21:01] RedSparr0w commented on #1469
Closing as not enough information,
Please provide more information if you would like to reopen this issue.

[2018-01-24 21:01] #1469 closed

[2018-01-24 21:57] vidishashah commented on #1469
I am sorry I had opened an issue by mistake..

[2018-01-24 21:57] RedSparr0w commented on #1469
No worries :smile:

[2018-01-28 14:17] wlandau opened #1470 "Badges render inconsistently on mobile"
Here is a screenshot of the mobile version of https://github.com/ropensci/drake on Android 7.0.0 and Chrome 64.0.3282.123. If I request the desktop site, the problem goes away.

![screenshot_20180128-090913](https://user-images.githubusercontent.com/1580860/35483075-b7c90418-040b-11e8-9f80-6f4952eb7c28.png)

[2018-01-29 21:27] RedSparr0w commented on #1470
I am fairly sure it is a problem with the tables auto scaling the images,
A couple of test below.

### Table from the [Readme](https://github.com/ropensci/drake/blob/master/README.md):

<details>
  <summary>Markdown</summary>

[code]
</details>

| Release | Usage | Development |
|:--------|:------|:------------|
![JOSS](http://joss.theoj.org/papers/10.21105/joss.00550/status.svg) | ![Licence](http

[2018-01-29 21:43] wlandau commented on #1470
Thanks for trying. The trouble is that GitHub suppresses css in the README.md, and I have so many badges that it's worth organizing them in a grid rather than mashing them together.

[2018-01-31 12:04] tooomm opened #1475 "[GitHub] Downloads per week, month etc. missing"
Like npm, packagist, hex.pm etc. have it.

[2018-01-31 12:29] tooomm commented on #1470
@RedSparr0w All your example above look the same to me on Firefox...

On the other hand, I run into the same scaling issue within tables when editing a table containing a badge on a GitHub wiki page.
They rendered unreadable because they shrink down in a narrow table with a short caption. :(

[2018-01-31 18:23] mighty-pirate opened #1476 "Codacy is inaccesible"
Is codacy blocking requests from shields? My code quality badge was working yesterday, but isnt today. The codacy badges on the shields.io site also have the same problem.

[2018-01-31 19:57] chris48s commented on #1476
Looks like codacy have changed their endpoint. I've submitted PR #1477 to update.

[2018-01-31 20:17] RedSparr0w commented on #1470
@tooomm Yeah i was hoping the 3rd example wouldn't scale the images because of the fixed height, but could only test it by posting it :laughing: , unfortunately it wasn't the case.

The second example just shows that all the badges should be the same size on mobile when not in a table.

I've tried a few different things but everything just seems to result in the same problem with the tables.

I wo

[2018-01-31 20:24] #1476 closed

[2018-01-31 21:04] RedSparr0w commented on #1475
Unfortunately i don't think the github API provides this information, Although i may be incorrect.

Here's the API url we currently get the download info from: https://api.github.com/repos/atom/atom/releases

[2018-01-31 21:10] tooomm commented on #1475
Hmm, and calculating that would only work for certain releases. Not total downloads.

[2018-01-31 21:31] PyvesB commented on #1329
I believe this issue can be closed, as #1387 is now merged. 😉

[2018-01-31 21:33] #1329 closed

[2018-01-31 21:42] RedSparr0w commented on #1440
Here's my attempt :laughing: :
![spec attempt](https://user-images.githubusercontent.com/7288322/35648843-f2ac64fc-073b-11e8-9b4b-033300f058f8.png)

Hopefully somebody else can do it a little better!

[2018-02-01 04:55] librae8226 opened #1479 "Can't make Travis-CI build status badge to indicate specified branch?"
expected:
https://travis-ci.org/alibaba/AliOS-Things.svg?branch=master

however, shields does not work like above:
https://img.shields.io/travis/alibaba/AliOS-Things.svg?branch=master

It seems the parameter `branch=master` doesn't make any difference on `img.shields.io`.

Apologize, the `master` is now build-passing, as well as all other branches, so we may not see the actual result, but I guess

[2018-02-01 04:58] RedSparr0w commented on #1479
I believe the correct format for specifying a branch is:
`https://img.shields.io/travis/USER/REPO/BRANCH.svg`

So in your case the url would be:
`https://img.shields.io/travis/alibaba/AliOS-Things/master.svg`
![](https://img.shields.io/travis/alibaba/AliOS-Things/master.svg)

Hope that helps :smile:

[2018-02-01 05:03] RedSparr0w commented on #1475
Not even sure it would be possible for specific releases either.

[2018-02-01 05:08] librae8226 commented on #1479
quite helpful, thanks a lot @RedSparr0w

[2018-02-01 05:08] #1479 closed

[2018-02-01 06:23] wlandau commented on #1470
Very well. I submitted chjj/marked#1040, and hopefully they will repair this part of GitHub-flavored Markdown.

[2018-02-01 06:23] #1470 closed

[2018-02-01 10:35] reddog opened #1480 "Extend service to retrieve values from HTTP request by XPATH (for example) path"
Building upon https://github.com/badges/shields/issues/548, extend badge source by permitting specification by XPATH (for example) path.

This extends https://github.com/badges/shields/pull/820 where JSON from a HTTP request can be used as the button source  This issues is to allow for non-JSON sources.  In particular, XPATH path specifiers will allow for regular HTML web pages to be used as a but

[2018-02-02 18:00] edmundhei opened #1484 "can't host my own server"
I follow this guide https://github.com/badges/shields/blob/master/doc/self-hosting.md
When I run  `sudo npm install ` i ran in to this error.

[code]

debug.log
[code]

[2018-02-02 21:23] paulmelnikow commented on #1484
Try `npm cache clean`?

[2018-02-02 21:35] paulmelnikow commented on #1480
Hi there! This sounds like a really powerful features and is a great suggestion.

Unfortunately parsing HTML is pretty resource intensive and our server resources are really limited. Until they expand significantly we won't be able to enable a feature like this on the production servers. However I'd be happy to have this support in the codebase under a feature toggle.

It's easy to host your own s

[2018-02-02 21:37] paulmelnikow commented on #1480
Also, if you could help spread the word that we need to raise money, that would be helpful! We're asking for one-time donations of $10 from people who use and love Shields. https://opencollective.com/shields

[2018-02-02 21:56] tooomm commented on #1480
Let's start with xml first, as initially planned by @RedSparr0w: https://github.com/badges/shields/pull/820#issuecomment-358470475

[2018-02-02 22:12] edmundhei commented on #1484
I get this error when i execute `sudo node server 8080`

[code]

[2018-02-02 22:26] paulmelnikow commented on #1484
Either the Shields server is already running, or something else is running on that port. Use a different port, or restart.

[2018-02-02 22:57] paulmelnikow commented on #1440
Looks great to me!

[2018-02-02 23:02] edmundhei commented on #1484
Thanks that work. Just one more question, how do i make it auto start? I try using crontab -e but didnt work.

[2018-02-02 23:06] paulmelnikow commented on #1484
That would depend on your system, and I'm afraid is out of scope of the kind of stuff we can help with here. I'd suggest https://serverfault.com/

[2018-02-02 23:06] #1484 closed

[2018-02-03 15:42] reddog commented on #1480
Thanks for your reply @paulmelnikow.  A few follow up questions:

1.  if it was something I (or someone else) could would on, what's your preferred method?  A fork and pull request?

2.  I don't know too much about the workings of Shields - is there some sort of technical architecture / process document I could use to get up to speed?  eg I don't know if Shields goes off and generates a new button

[2018-02-03 16:45] Falieson commented on #1252
[code]

[2018-02-05 23:53] mwz commented on #1193
+1

[2018-02-08 07:06] Kristinita opened #1491 "[Bug][reStructuredText] Badges displayed on GitHub as block elements"
### 1. Summary

**If** my badge from shields.io:

    it displayed as block element on GitHub.

**elif** my badge from another service:

    it displayed as inline element on GitHub.

I don't think, that badges displaying as block element — it expected behavior.

### 2. Demonstration

#### 2.1. GitHub

See **<https://github.com/Kristinita/SashaShieldsIoDebugging>** repository:

![GitHub](https://i

[2018-02-08 18:16] chris48s commented on #1491
This appears to be a quirk of the way GitHub renders RST. I can't reproduce it in another RST Editor. As a workaround, if you set a link target on the badges, that will get them to render inline. I've forked your repo to demonstrate. See:

https://github.com/chris48s/SashaShieldsIoDebugging/blob/master/Readme.rst

https://github.com/chris48s/SashaShieldsIoDebugging/commit/27cd54957bdf219e0e5e4874e

[2018-02-09 04:37] Kristinita commented on #1491
Thanks! Maybe you add in README, that `target` necessary for GitHub?

[2018-02-09 04:37] #1491 closed

[2018-02-09 09:41] maelvalais commented on #1345
Seems to be broken right now, can anyone confirm?

[2018-02-09 13:18] tooomm opened #1493 "dynamic json badges broken?"
I didn't change one of my dynamic json badges in a while... but now I realized that it started to show
`Syntax Error: Unexpected token in JSON at position 1520`...

If I check the json and my query at http://jsonpath.com/ the result is still working as expected!

[2018-02-09 14:22] fosskers commented on #1345
I'm seeing "invalid" on my bintray badge here.

[2018-02-11 14:55] chris48s commented on #1493
Can you post an example of a bade with this problem?

[2018-02-11 19:27] tooomm commented on #1493
![](https://img.shields.io/badge/dynamic/json.svg?query=$.modules[:2].sources[:1].branch&uri=https%3A%2F%2Fraw.githubusercontent.com%2Fflathub%2Fio.github.Cockatrice.cockatrice%2Fmaster%2Fio.github.Cockatrice.cockatrice.json)

[code]

[2018-02-11 20:01] RedSparr0w commented on #1493
Hey @tooomm, It looks like the JSON from the link is invalid due to the newlines @ line 60.

You could fix it by removing the newlines and formatting it all on 1 line:
[`https://img.shields.io/badge/dynamic/json.svg?query=$.modules[:2].sources[:1].branch&uri=http://shields.redsparr0w.com/1493/file.json`](http://shields.redsparr0w.com/1493/file.json)
[![](https://img.shields.io/badge/dynamic/json.s

[2018-02-11 20:08] RedSparr0w commented on #1345
Seems to be working again, bintray may have been down or may be rate limiting shields.io servers.
![](https://img.shields.io/bintray/v/asciidoctor/maven/asciidoctorj.svg)
![image](https://user-images.githubusercontent.com/7288322/36077818-359c1ffa-0fd4-11e8-8dc9-7ff95b70c8e9.png)

[2018-02-11 22:03] tooomm commented on #1493
So nothing in the shields code changed or got missed in deployment etc. 👍
I'll review the changes made to the source file!

Too bad the error messages are mostly not helpful. At least to me... no clue where to look even. "position 1520"?!

[2018-02-11 22:03] #1493 closed

[2018-02-12 16:41] vineyardbovines opened #1495 "CodeClimate badges for private repos"
Thanks for the great work all.

Has anyone has been able to get shields' CodeClimate badges working for private repos? I've tried a couple different ways to config the URL, but none work. I know CC has their own badges, but I'm not a fan of them and want all the badges I have to match, style-wise.

[2018-02-12 19:30] PyvesB commented on #1495
Hello @gretzky ,

Even though I have never actually used CodeClimate, I recently rewrote all the badges relating to this service (see #1387 and #1368), so I may be able to shed some light on the issue and possibly work on a solution. The [API documentation](https://developer.codeclimate.com/#authentication) mentions that a token should be provided for authenticated calls. I'm guessing that doing s

[2018-02-12 22:50] gretzky commented on #1495
Hey @PyvesB, thanks for the response. I found the CircleCI implementation, which is what I started digging into. I'd be happy to do some more further digging-- I'll make a fork and see if I can pull anything off.

[2018-02-14 04:32] RedSparr0w commented on #1359
### [Current failing tests:](https://circleci.com/gh/badges/shields/2166)

<details>
<summary>
NPM package bundle size
</summary>

[code]
</details>
<details>
<summary>
dotnet-status
</summary>

[code]
</details>
<details>
<summary>
Github
</summary>

[code]
</details>
<details>
<summary>
Gratipay (has PR to remove)
</summary>

[code]
</details>
<details>
<summary>
Hackage
</summary>

[code]
</det

[2018-02-14 13:48] tooomm opened #1497 "Provide high resolution favicon"
Currently the `shields.io` favicon is low resolution only.

But current browsers like Firefox use big logo information in their top visites sites section.
There is also no image support for links placed on mobile homescreens (android +ios).

On basically all high resolution screens the operating system has to scale things up so it gets even worse.

[2018-02-14 14:10] jakubdaniel opened #1498 "hackage-deps: incorrect `not found` check"
`hackage-deps` claims to check existence of package (say `3d-graphics-examples`)  by looking for packages that depend on it. If there are none then `not found` badge is returned, instead of checking the dependencies of `3d-graphics-examples`.

[2018-02-14 16:42] bkdotcom opened #1499 "hhvm service"
https://shields.io/
has two HHVM badges that display "vendor: unresponsive"

https://img.shields.io/hhvm/symfony/symfony.svg?maxAge=2592000
https://img.shields.io/hhvm/symfony/symfony/master.svg?maxAge=2592000

apparently the services' url has changed
h4cc/hhvm-progress#62

The url is now
https://php-eye.com/package/symphony/symphony

json:
https://php-eye.com/api/v1/package/symphony/symphony.json

[2018-02-14 17:40] chris48s commented on #1498
Thanks for reporting this. I'm not haskell programmer but I did add this error handling.

We had to use a workaround to try and work out if a package is indexed due to https://github.com/snoyberg/packdeps/issues/35 - see https://github.com/badges/shields/pull/1416 (for discussion on adding the error handling).

My instinct is that we should change from using the  `/reverse` endpoint to the `/licen

[2018-02-14 20:12] 304NotModified opened #1500 "Badge request: Microsoft Store"
Please add a badge for Microsoft Store apps, e.g.

https://www.microsoft.com/store/p/nuget-package-explorer/9wzdncrdmdm3

9wzdncrdmdm3 is the app id

[2018-02-14 21:32] jakubdaniel commented on #1498
Is there a reason why not simply use `hackage.haskell.org/package/...`, which seems to return 404 too if the package is not known.

[2018-02-14 22:11] RedSparr0w commented on #1493
Yeah unfortunately they are just the default error messages for `JSON.parse()`,
Still trying to figure something else out that may be more helpful.

Side note: looks like [this is the commit](https://github.com/flathub/io.github.Cockatrice.cockatrice/commit/7a635c704c5f5b4dfe183eab68cd1793f750266a#diff-ccb36c9ac2b092191d5ded4e851df837) that broke it

[2018-02-15 02:10] equt opened #1503 "Specify country or region for iTunes Store"
Currently, the shields server uses `https://itunes.apple.com/lookup` to lookup for certain app in [server.js](https://github.com/badges/shields/blob/master/server.js#L2055). But this would break if the app is not submitted to the U.S store.

That would be great if a country or region code is added as a param in the request URL, say `https://img.shields.io/itunes/v/BUNDLE_ID.svg?cc=code`. Since thi

[2018-02-15 03:56] wolther47 commented on #1503
After a second thought on this issue, I choose to add an optional country or region code in the URL path instead. Current working badges also won't break, and, more importantly, this will not break the rule that parameters only change how badges look like.

[2018-02-15 18:58] chris48s commented on #1498
Yes - this was the situation we're trying to guard against, although I'm unclear whether this is a likely condition. Given Hackage [requires all packages to be published under an open source license](https://hackage.haskell.org/upload) I've submitted PR #1506 proposing to change to the `/licenses` endpoint. Hopefully this will be a good solution.

[2018-02-17 05:00] #1498 closed

[2018-02-17 07:34] pstreule opened #1509 "[Bitucket] Add support for Bitbucket Pipelines build results"
Bitbucket supports builds through Bitbucket Pipelines and showing the build status of a repository or branch is a frequently requested feature: https://bitbucket.org/site/master/issues/13522/provide-project-status-build-status-badges

The Pipelines badge would work the same way as the existing Bitbucket badges:

`/bitbucket/pipelines/<user>/<repo>.svg`
or
`/bitbucket/pipelines/<user>/<repo>/<branc

[2018-02-18 10:34] ashtonhogan opened #1511 "Delete me"

[2018-02-18 13:54] PyvesB commented on #1511
@ashtonhogan do you know if GitHub provides such information through some of their existing API endpoints?

[2018-02-18 18:04] chris48s commented on #1511
http://isitmaintained.com/ have badges for this.

Their code is probably a good starting point to see how it is done, but based on https://github.com/mnapoli/IsItMaintained#run

it may be difficult to calculate in a performant way.

[2018-02-19 13:37] ashtonhogan commented on #1511
@chris48s it appears that this repository is quite limited because it does not allow you to limit average time by issue label. It's just a generic "average time for all issues" type of deal... I contacted the author as well and asked to add this feature but he said that he does not have time to add new features...

@PyvesB it must be possible because it's already being done to some extent: https:/

[2018-02-19 16:07] bkdotcom commented on #1511
Looks like the relevant isItMaintained code is here
https://github.com/mnapoli/IsItMaintained/blob/master/src/Maintained/Statistics/StatisticsComputer.php

[2018-02-19 20:33] RedSparr0w commented on #1509
closed via #1510

[2018-02-19 20:33] #1509 closed

[2018-02-19 21:53] #1499 closed

[2018-02-20 19:31] PyvesB commented on #1511
I believe it would be straightforward to filter issues per label as the [GitHub API](https://developer.github.com/v3/issues/#list-issues) supports an optional `labels` parameter.

Nevertheless, as several of you have alluded to, I'm also concerned about performance. The API calls are paginated and return at most 30 issues, which is already quite a big blob of data (over 1600 lines of JSON returned

[2018-02-20 20:13] mnapoli commented on #1511
IsItMaintained does not have an API. What I do however is that I cache the data and recompute each badge once in a while. But yes, on big projects it takes time, avoiding reaching GitHub's API limit is also a problem.

[2018-02-20 20:33] ashtonhogan commented on #1511
maybe we can ask @github (or another appropriate handle) to improve their API for these kinds of requests?

[2018-02-21 15:40] ghost opened #1518 "Some of Code Climate badges are not working"
Hi, guys! It seems to be an issue again/still.
Badges with percentage are not working.
Any info on that?

[2018-02-21 16:39] swapagarwal opened #1519 "Status based on current month"
Is it possible to have a badge that stays green in October and red in other months?

[2018-02-21 18:29] PyvesB commented on #1518
Hello @voplex95!

I hopefully fixed all the badges in  #1387. Even though the pull request has been merged, it has not yet been pushed to production. 😉

[2018-02-21 19:45] bkdotcom commented on #1519
A badge that displays the current month?
Always displays month x, but color is based on whether x is current?

what's your use case?

[2018-02-22 00:16] swapagarwal commented on #1519
I want to add a badge here in Hacktoberfest: https://github.com/swapagarwal/swag-for-dev
The badge should show `status=active` in October and `status=inactive` in other months. 😅

[2018-02-22 02:05] RedSparr0w commented on #1519
Unfortunately we do not have a badge which does that,
Although you could setup a tiny script to return the image you were wanting:

[Example in php:
![](https://shields.redsparr0w.com/1519)](https://shields.redsparr0w.com/1519)
[code]

[2018-02-22 02:07] bkdotcom commented on #1519
ya.. at first I'd say.. just dynamically generate ...
ie https://img.shields.io/badge/Hacktoberfest-inactive-red.svg
but if you're wanting other's to easily use the badge...

*Idea* 💡
a json-url service
something like
https://img.shields.io/json/http%3A%2F%2Fmyurl.com%2Fbadge.json

where http://myurl.com/badge.json returns
[code]

[2018-02-22 02:31] RedSparr0w commented on #1519
[code]

[2018-02-22 02:32] RedSparr0w commented on #1519
Wrong button :laughing:.
Edited above comment to add example without sending a request to shields server.

[2018-02-22 02:32] swapagarwal commented on #1519
I'd propose something like this:
https://img.shields.io/month/000000000100/hacktoberfest/active-green/inactive-red.svg
where:
`month` is the template name
`000000000100` is the data to the template, denoting the months where the condition should evaluate to true or false
`hacktoberfest` is the label name
`active-green` should be rendered on the true condition
`inactive-red` should be rendered when

[2018-02-22 04:58] bkdotcom commented on #1519
I really don't see that happening...  This is an extremely niche/specific request...
the service already provides a generic/"static" method of generating a badge (@RedSparr0w 's solution(s))

I kinda like the "badges-json" format idea (aka feature request)..  anyone could create a service by providing the json that shields.io can grab..   it's super generic .   shields.io, need not add specific su

[2018-02-22 19:17] chris48s commented on #1511
:smile:  [donations welcome](https://opencollective.com/shields)

[2018-02-22 20:18] ashtonhogan commented on #1511
@chris48s no problem but I need the shield above first

[2018-02-22 23:23] DecentM opened #1521 "Add Concourse badges"
[Concourse](https://concourse.ci/) is both a self-hosted and a SaaS CI solution. Unfortunately, it only allows one style of badge style, which is `flat`.

## Pipelines

If a pipeline (Concourse term which refers to a series to tasks) is set to public, a JSON API is exposed, at `{{concourse-url}}/api/v1/teams/{{team-name}}/pipelines/{{pipeline-name}}/jobs`.

<details>
  <summary><strong>This return

[2018-02-23 15:04] ashtonhogan commented on #1511
@mnapoli why confused emoji? I need the above badge and am willing to pay for it. Simple business transaction. I can't get it anywhere else so that's why I'm asking here

[2018-02-23 17:49] chris48s commented on #1521
Hi @DecentM

This sounds like it would be a reasonable service to have a badge for. There is no reason not to support a self-hosted solution. There are others in the codebase for example JIRA, Discourse and Jenkins CI.

Example of a JIRA badge:

https://img.shields.io/jira/sprint/https/jira.spring.io/94.svg
![](https://img.shields.io/jira/sprint/https/jira.spring.io/94.svg)

It looks like you've a

[2018-02-23 18:03] chris48s commented on #1521
Thinking about it, this recent PR which adds the BitBucket pipeline build status badge:

https://github.com/badges/shields/pull/1510

would be a good example to use as a base as it matches the current conventions and adds all the necessary tests.

[2018-02-23 21:27] mnapoli commented on #1511
Who are you going to pay and how much? This is very confusing, this is an open source project, it's not a matter of saying "I'll pay for it" and voilà the job is done.

[2018-02-23 21:31] bkdotcom commented on #1511
@mnapoli
per @chris48s  :  https://opencollective.com/shields

[2018-02-24 00:12] DecentM commented on #1521
Thanks for the input!
I'm not familiar with go, but I'll look into the PR to see if I can base the changes on that.

[2018-02-24 06:18] bkdotcom opened #1522 "semantic colorschemes & color keywords"
thoughts on adding a few new colorschemes?

semantic | color
---|---
error |  red
notice | orange
success | brightgreen
info | blue
default | lightgrey

currently, setting the color is completely non-semaantic

Also: is there a reason [color keywords](https://www.w3.org/TR/SVG/types.html#ColorKeywords) don't work?

[doc/gh-badges.md](https://github.com/badges/shields/blob/master/doc/gh-badges.md#d

[2018-02-24 11:05] AlexWayfer opened #1523 "Add Depfu badges"
[Gemnasium will shut down](https://gemnasium.com/blog/gemnasium-is-acquired-by-gitlab/), so I want to switch to [Depfu](https://depfu.com/), and I didn't found their badges in your service.

[2018-02-24 12:25] chris48s commented on #1523
Thanks for raising this. We'll also want to replace the existing Gemnasium integrations with an error message (refs #1449 ) when the service goes away on May 15th

[2018-02-24 12:34] chris48s commented on #1522
Colour aliases are defined in https://github.com/badges/shields/blob/5dd58142cb7688203fad2d782abcdd0d9973271d/lib/colorscheme.json I think it would be useful to define that handful of semantic aliases you've suggested. Maybe @RedSparr0w has opinions on this?

[2018-02-24 15:28] chris48s commented on #1523
Having a quick look, depfu does not appear to have an API but they do appear to offer their own badges: https://github.com/depfu/example-ruby/blob/master/README.md

[2018-02-24 16:15] AlexWayfer commented on #1523
It looks like they added badges only 9 days ago.

I asked for API in their feedback repo.

[2018-02-24 21:43] ashtonhogan commented on #1511
@mnapoli open source != non-profit

[2018-02-25 00:13] #1458 closed

[2018-02-25 00:14] espadrine commented on #1458
@paulmelnikow Small points related to the suggested solution:

- Jekyll does not support symlinks; they return 404. I relied on `cp` instead.
- gh-pages then loads the files fine, but next.js sets a number of critical files to be downloaded from `/_next/…` (NOT `_next/…`). Since the gh-pages website is meant to be at badges.github.io/shields/, it tries to load the file from badges.github.io/_next/

[2018-02-25 21:36] astorije commented on #1278
Hey there!

I'm just seeing this for [`thelounge`](https://yarn.pm/thelounge) where [npm incorrectly says 76k total](https://api.npmjs.org/downloads/point/2014-02-07:2018-02-25/thelounge) and [npm-stat.com correctly says 102k total](https://npm-stat.com/charts.html?package=thelounge&from=2016-02-12&to=2018-02-25).

I think making a couple requests (I'm aware it will be one more request per 18 mont

[2018-02-25 22:17] RedSparr0w commented on #1522
Nice idea, Would be good to have a few more aliases.

I looked into why the css color names are not working,
And seems to be these lines:
https://github.com/badges/shields/blob/master/lib/make-badge.js#L130-L131
[code]
Not quite sure why they are there, will look into it a bit further and see if there is a reason.

[2018-02-25 22:36] RedSparr0w commented on #1522
I've been down the rabbit hole:
(the file has been renamed a few times and history only show for current name)
https://github.com/badges/shields/commits/master/lib/make-badge.js
https://github.com/badges/shields/commits/master/lib/badge.js
https://github.com/badges/shields/commits/master/badge.js

And it seems they were added in this PR:
https://github.com/badges/shields/commit/29a4803e4b3d5fe4ecd

[2018-02-27 14:40] Athari opened #1529 "Add FOSSA.io badge"
FOSSA.io provides scanning of FOSS licenses of the project and its dependencies. It supports generating shields itself, but they're limited (no options like on shields.io). Example:

`https://app.fossa.io/api/projects/git%2Bgithub.com%2FAthari%2FCsConsoleFormat.svg`
![](https://app.fossa.io/api/projects/git%2Bgithub.com%2FAthari%2FCsConsoleFormat.svg)
`https://app.fossa.io/api/projects/git%2Bgithu

[2018-02-27 14:57] Athari opened #1530 "Add Core Infrastructure Initiative (CII) Best Practices badge"
https://bestpractices.coreinfrastructure.org/ provides a "checklist" for OSS projects, guiding in project management, CI, security etc. It supports its own badge, but no options for it. Example:

`[![Linux Kernel Badge](https://bestpractices.coreinfrastructure.org/projects/34/badge)](https://bestpractices.coreinfrastructure.org/projects/34)`
[![Linux Kernel Badge](https://bestpractices.coreinfrast

[2018-02-27 19:43] Athari opened #1532 "Add Libraries.io SourceRank badge"
Libraries.io provides a ScoreRank based on existense of metainfo (readme, license), number of dependants and subscribers etc.

Documentation: https://libraries.io/api#project-sourcerank

Note that the docs are outdated, the request actualy outputs detailed JSON, not just one number, they have to be summed up:

[code]

A badge like `sourcerank : sum` would be nice.

[2018-02-27 20:10] chris48s commented on #1532
Hi @Athari . Good suggestion. I know Libraries.io are currently looking at reviewing the way that SourceRank is calculated (see https://github.com/librariesio/libraries.io/issues/1916 ). If anyone is interested in working on this, it might be sensible to put this on hold until SourceRank 2.0 is launched. It would be a shame to put time into this and then have to rewrite it in the near future becau

[2018-02-27 20:40] paulmelnikow opened #1533 "Welcome new maintainers 🍻"
I’d like to welcome three new members to the Shields maintainer team! @platan, @PyvesB, and @chris48s, you've worked consistently, cordially and effectively over the past few months. I’ve appreciated your technical chops, collegiality, dedication, and thoughtfulness. I’d like to make sure you’re not blocked or frustrated awaiting review from me or @RedSparr0w.

I’d suggest we use these review guid

[2018-02-28 04:43] AlphaDaniel opened #1534 "Actual full gem downloads number?"
Is it possible to show the full number of downloads instead of rounding. I came across [ruby-gem-downloads-badge](https://github.com/bogdanRada/ruby-gem-downloads-badge) which was built off of this repo and it displays full

![](http://ruby-gem-downloads-badge.herokuapp.com/ruby_doc?type=total)

but it seems to have caching issues where after I guess the initial request following requests do not g

[2018-02-28 06:42] RedSparr0w commented on #1534
related - #999

[2018-02-28 07:32] AlphaDaniel commented on #1534
Oh ok so that was for stars... is the request for gem the same?

Just seen it was already done here and looks perfect ![](http://ruby-gem-downloads-badge.herokuapp.com/ruby_doc?type=total) would it not be possible to add this option to gem downloads?

My original request was for a simple additional extra option for gem downloads badges not all so in theory

![11](https://user-images.githubusercont

[2018-02-28 19:17] nschloe opened #1535 "dark logos on dark backgrounds: Provide light version"
Some logos are almost invisible on dark backgronds, e.g.,

https://img.shields.io/github/stars/django/django.svg?logo=github&label=Stars

![f](https://user-images.githubusercontent.com/181628/36807826-1fe396a0-1cc4-11e8-88b2-cc725421d9d1.png)

It'd be great if there was a light version of them as well.

[2018-02-28 20:28] bkdotcom commented on #1535
It may not be necessary to have separate light/dark versions
perhaps it could be possible to specify a logoFillColor?

ie, the github.svg contains
[code]

logoFillColor could specify "\#FFF" to replace \#333333

https://stackoverflow.com/a/29919212/1371433

[2018-03-02 05:47] RedSparr0w commented on #1534
Hey, sorry about the short reply (was on mobile and haven't had much time on this project lately), Just thought i would quickly link some relevant post in case something happened in those which affected this or vice versa.

As this would be quite a big change it would have to be approved by @paulmelnikow and or @espadrine.

As per [this comment](https://github.com/badges/shields/issues/999#issueco

[2018-03-02 14:26] binhbbbb opened #1538 "Deploy status (was: What is the lifecycle of shields.io build?)"
Hi there, 3 weeks ago I have added *Vaadin-Directory* service and the request has been merged. However, I noticed that the service has not been up yet.

Can I have an estimation to when you guys would build the whole thing again and publish? We would love to have the badge as soon as possible.

The PRs: https://github.com/badges/shields/pull/1474 https://github.com/badges/shields/pull/1496

[2018-03-02 16:14] AlphaDaniel commented on #1534
Hey thanks for replying and hmm so weird didn't get an email would've replied sooner. As far as the mock up goes, I'd see it looking exactly as [bogdanRada](https://github.com/bogdanRada/ruby-gem-downloads-badge) did it. See below

![](http://ruby-gem-downloads-badge.herokuapp.com/ruby_doc?type=total)

[2018-03-02 20:23] bogdanRada commented on #1534
Hello. I believe we already discussed this when I submitted this pull request. https://github.com/badges/shields/pull/212.

If I remember correctly the decision was to keep it consistent and that code was removed in this commit  https://github.com/badges/shields/commit/d42a7162de4bb594e7618a06f9fb37636d5b909cI do like very much this idea however. If I remember correctly we had same problem with ot

[2018-03-02 21:36] PyvesB commented on #1538
Hello @binhbbui411 !

Quoting @paulmelnikow:

You're definitely right, we've been slightly on the slow side in terms of release lifecyle lately. Let's be patient! 😉

Cheers,

Pyves

[2018-03-03 09:15] PyvesB commented on #1196
We have recently rewritten the code for all Code Climate badges (see #1387 and #1368) and we're effectively supporting their new rating system. Therefore closing this issue. 😉

[2018-03-03 09:15] #1196 closed

[2018-03-03 09:22] PyvesB commented on #807
Related issue and discussions in #1511.

[2018-03-03 09:27] PyvesB commented on #708
As Gemnasium will soon be shutting down (see #1524 and #1523), this issue is no longer relevant, therefore closing it.

[2018-03-03 09:27] #708 closed

[2018-03-03 09:29] PyvesB commented on #698
@RedSparr0w I believe that support was added in #1239 and we can therefore close this issue, do you agree?

[2018-03-03 23:53] paulmelnikow commented on #1511
There are some other badges people have asked for which require caching some data that goes beyond what we have in the API. The main one that comes to mind are the total aggregate NPM download stats #1278, which is something I could totally see doing in Shields, either if we find a way to do it cheaply, or get some more resources.

"Is it maintained" isn't just a matter of caching. It's more compl

[2018-03-04 00:02] ashtonhogan commented on #1511
@paulmelnikow I agree with pretty much all of that except isitmaintained has already explicitly stated that they have no time and will not be growing any time soon so you may as well just rule that out right now...

As far as resources go, I'm all in, tell me the price, I'm ready to enter my credit card details

[2018-03-04 01:47] paulmelnikow commented on #1500
Hi there! Thanks for the suggestion. Is there a public API that provides this information?

[2018-03-04 01:53] paulmelnikow commented on #1480
Hi!

Yes, a fork and a pull request is good. If you have questions along the way, this issue is a great place to get answers.

There is not, unfortunately. It's been asked for before in #114. The short answer is – it's very, very simple. A request comes in for a badge, we make a request to an underlying service, we render it as SVG, and we return it. We use caches for the service requests, and als

[2018-03-04 01:54] paulmelnikow commented on #1529
Hi! Thanks for the suggestion. Do they have a public API?

[2018-03-04 01:54] paulmelnikow commented on #1497
Yes please!

[2018-03-04 01:56] paulmelnikow commented on #1495
Passing secrets to the shields server is not a great idea. While we try to keep things secure, we don't guarantee it, and would like not to put other people's data at risk. The circle handling is an anomaly. Is is possible we could accomplish this use case through self-hosting, as we do for github?

[2018-03-04 04:25] Athari commented on #1529
@paulmelnikow Like I said, they have:

1. Badge API which generates SVG containing all necessary data (I think it's either "passing" or "failing", haven't seen other statuses).
2. Actual API which is only available for "enterprise customers".

I emailed them asking about public API for data which is available in the form of the badge, but didn't receive a reply.

[2018-03-04 05:34] paulmelnikow commented on #1529
We do have code to parse the sbg badges.

For a user, would there be an advantage of our badge over theirs?

[2018-03-04 07:44] paulmelnikow commented on #1278
Making multiple requests for every request is not a great option. We do need the data to be cached, or prefetched, in some way.

[2018-03-04 08:58] PyvesB commented on #1533
Hey there, thanks for the warm welcome to the team! Let's bring this project to the next level! 👍

Still completely new to Discord, but I believe my profile name is the following: Pyves#4777

[2018-03-04 09:32] #1466 closed

[2018-03-04 10:50] greysteil opened #1540 "Encoding of logos has changed"
Hey team,

1) Shields.io is awesome! Thanks for all your work on it.
2) It looks like the required encoding of logos has changed. Previously, [this link](https://img.shields.io/badge/compatibility-90%25-brightgreen.svg?logo=data%3Aimage%2Fsvg%2Bxml%3Bbase64%2CPHN2ZyBoZWlnaHQ9IjE5MSIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMTkxIiB4%0AbWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5r%0APSJodHRwOi8vd3

[2018-03-04 16:48] paulmelnikow commented on #1522
I commented in #1525 about the semantic color scheme. This seems like a better place to discuss it, so I'll re-post my comment here.

I really like the way you formalized this! I think **severity** is the most descriptive name. Would be great to use this not just in `?colorA` but also in our code. It'll make it semantically clearer. I'm curious how well the colors correspond with what we're doing

[2018-03-04 16:51] paulmelnikow commented on #1503
Related: #1515

[2018-03-04 16:58] paulmelnikow commented on #1272
After working on that PR for Danger, my overall impression is that the types make working with code faster, and avoid common problems. It makes many things self-documenting, and forces you to think about how to model your data, which is awesome. It took me longer to make some changes, probably that is in part because I'm still learning the type system. The tooling is different and was initially un

[2018-03-04 17:02] paulmelnikow commented on #948
We really should get Prettier turned on. (#1167) That work got started, so I think eslint is already ignoring everything formatting-related.

I still feel dropping semicolons is a good idea, and the impact is small relative to the benefit we'll get as we rewrite the services. Are there any objections? Honestly there are so many other things worth debating. If anyone really doesn't think we should

[2018-03-04 17:03] paulmelnikow commented on #927
We don't have any recorded tests right now.

Think this issue is a good record, though not sure there's anything actionable right now. Let's open a new issue when there is!

[2018-03-04 17:03] #927 closed

[2018-03-04 17:06] paulmelnikow commented on #1540
Seems we should be able to support both formats. @RedSparr0w would you like to look into this?

[2018-03-04 17:07] paulmelnikow commented on #1358
Wow, are we really down to four? That is awesome! 😄

[2018-03-04 17:09] paulmelnikow commented on #1348
Fixed in #1429?

[2018-03-04 17:09] paulmelnikow commented on #1279
Closing this for now. Feel free to reopen if there is news with the upstream API!

[2018-03-04 17:09] #1279 closed

[2018-03-04 17:15] paulmelnikow commented on #728
As an LGBTQ person, I'm all for our project being welcoming and showing support for LGBTQ people, and helping other projects do the same. I think a static badge might be a better way to do that than a badge background. And I think a code of conduct is probably a better step for Shields itself to take in this direction.

🏳️‍🌈🏳️‍🌈🏳️‍🌈❤️❤️❤️

[2018-03-04 17:15] #728 closed

[2018-03-04 19:03] paulmelnikow commented on #1252
I implemented this. You can play around with it using the review app. Feedback appreciated!

Examples: https://github.com/badges/shields/pull/1541#issuecomment-370254274

[2018-03-04 19:25] chris48s commented on #1533
I am `chris48s#7718` :)

[2018-03-04 20:08] platan commented on #1533
@paulmelnikow thank you. @PyvesB and @chris48s - well done! And my Discord username is `platan#9710`.

[2018-03-04 22:18] paulmelnikow commented on #1534
| Project Name | Stars –––––––––––––– | Forks | Open Issues | Description |
| ------------ | ----- | ----- | ----------- | ----------- |
| [gin](https://github.com/gin-gonic/gin) | ![](https://img.shields.io/badge/stars-15,347-blue.svg?style=social&label=%20) | 1786 | 189 | Gin is a HTTP web framework written in Go (Golang). It features a Martini-like API with much better performance -- up to 40 t

[2018-03-05 01:23] RedSparr0w commented on #1540
Thanks for opening this issue,
I believe this is caused by the way query parameters are handled by default,
`+` signs are converted to spaces when given to a webpage,
(to test this just add `?label=test+test` which will show: ![](https://img.shields.io/:label-message-blue.svg?label=test+test))

`+` signs should no longer need to be encoded with the merge of #1527

In terms of the newline character

[2018-03-05 04:57] RedSparr0w commented on #1533
Welcome to the team!
Glad to have you all join :smile:

[2018-03-05 08:24] binhbbui411 commented on #1538
I see. Good to know things are still progressing somehow.

Thanks for the update, PyvesB!

[2018-03-05 10:12] wrzosdev commented on #1209
@M-ZubairAhmed you're working on this? Just need due time, and if you are not maybe i'll take it

[2018-03-05 12:26] Changaco opened #1545 "Caching of API responses"
In the past two weeks we've been getting many requests for <https://liberapay.com/Changaco/public.json>, which I assume are coming from shields following the deployment of #1251.

The requests often arrive in groups of 4, which is the number of Liberapay badges on the homepage. Here's a log extract:

[code]

This shows that there is very little caching of these API responses, even though they cont

[2018-03-05 12:42] M-ZubairAhmed commented on #1209
@wrzosdev sorry got caught up, please feel free to take it

[2018-03-05 19:01] #1348 closed

[2018-03-06 01:02] RedSparr0w commented on #1511
I don't know that they wouldn't be willing to add this feature, they just stated they do not have time to work on implementing the feature themselves.

[From their readme:](https://github.com/mnapoli/IsItMaintained#feature-requests)

[2018-03-06 07:06] paulmelnikow commented on #1545
Hi, thanks for raising this. We could definitely do a more thorough job of caching requests made to services and it's something I'm happy to talk about and try to improve.

I think the behavior you're seeing is expected based on the implementation, though I don't think it implies there is little caching of these requests. As @espadrine mentioned in #266:

Meaning, if we get four simultaneous respo

[2018-03-06 09:22] ashtonhogan opened #1548 "How do you add your own image to custom badges?"
For example, appveyor has it:

<img src="https://camo.githubusercontent.com/e38e1f4c608fd9b5bc64b8dca06ef7b08319770e/68747470733a2f2f63692e6170707665796f722e636f6d2f6170692f70726f6a656374732f7374617475732f6769746875622f617368746f6e686f67616e2f6f62766f796167653f6272616e63683d6d6173746572267376673d74727565" />

Instead of just choosing subject, status, color - why not also allow svg text for a glyph

[2018-03-06 09:58] ashtonhogan opened #1549 "How can I create a custom badge with the latest release?"
Something like this:

![MyRepo](https://img.shields.io/badge/MyRepo-1.0.5-brightgreen.svg)

Except when a newer tag is published, it should automatically update the version

[2018-03-06 10:26] Changaco commented on #1545
I've looked at the code and I think the first thing we should change is the underlying cache mechanism: it's currently a simple [LRU](https://en.wikipedia.org/wiki/Cache_replacement_policies#LRU) instead of a time-aware algorithm. When the cache is full the "oldest" entry is dropped, but that entry may be valid for another hour while the "newest" may already be obsolete. This caching policy explai

[2018-03-06 12:14] Alberthaff opened #1550 "GitHub dependency graph"
It would be great to have a shield displaying stats from GitHub's dependency graph (dependent repos / packages):

https://github.com/badges/shields/network/dependents

[2018-03-06 13:54] ashtonhogan commented on #1511
@bkdotcom if someone isn't willing to pay for a service, are they really worth bending over backwards for? I'd rather pay for a license once-off or subscription monthly than donate. If you ask me to donate, I'm probably not going to, just because I feel like no one else is and therefore I'd feel alone in my support for your product

[2018-03-06 16:02] chris48s commented on #1549
`https://img.shields.io/github/tag/yourusername/yourrepo.svg` should do the job for you

[2018-03-06 16:20] paulmelnikow commented on #1511
Engaging with you on this feels weird. I agree this badge is a good idea, and one I’d like to help make happen. However this project doesn’t sell licenses or subscriptions. It’s public domain and free to use, so that’s just not how it works. You’re sort of dangling a carrot, and then taking it away.

[2018-03-06 17:29] chris48s commented on #1548
You can add this to any badge by passing `?logo=appveyor` as a param - any of the logos in https://github.com/badges/shields/tree/gh-pages/logo can be referenced by name

Alternatively if you want to use your own, you can pass a base64 encoded image using something like `?logo=data:image/png;base64,...` There's a nice example of this here: https://github.com/badges/shields/pull/1516#issuecomment-3

[2018-03-06 17:36] chris48s commented on #1550
Thanks for the suggestion. Our data for the GitHub badges comes from their API. I don't think GitHub surface this information via an API endpoint yet, do they?

[2018-03-06 19:29] ashtonhogan commented on #1549
@chris48s do you know if it's possible to change the text from "tag" to something else?

[2018-03-06 19:35] RedSparr0w commented on #1549
just add `?label=mycustomlabel` to the end of the url

example for shields:
![](https://img.shields.io/github/tag/badges/shields.svg?label=shields%20tag)
`https://img.shields.io/github/tag/badges/shields.svg?label=shields%20tag`

note there are other params you can use to customise your badge:
https://shields.io/#styles (they are just below the styles section)

[2018-03-06 19:50] RedSparr0w commented on #1535
@bkdotcom
Yeah, i think that would be the best route to go,
I've played around with it previously,
The problem i ran into is that the svg's are [converted to base64](https://github.com/badges/shields/blob/master/lib/load-logos.js#L19) pretty early on.
May be better if they were handled similar to the badge style templates.

[2018-03-06 20:06] bkdotcom commented on #1535
I looked at some of the svgs more closely after my comment...  I'm wondering if we give the "primary" fill a class of "color"...  and any additional fills "colorB", "colorC", etc
ie, the bitcoin logo has two colors..

re the github logo
https://github.com/logos

yet, on the same page, they inverse the logo on their header

[2018-03-06 20:16] #1549 closed

[2018-03-06 20:49] chris48s commented on #1535
If you download the [GitHub logos](https://github-media-downloads.s3.amazonaws.com/GitHub-Mark.zip) they do provide a light and a dark version.

[2018-03-06 21:55] RedSparr0w commented on #1497
what about something like this:
<img src="https://user-images.githubusercontent.com/7288322/37060427-24325ff8-21f5-11e8-9106-4a6d688b8b7f.png" height="100px" />'
It's a little different from the original though.
![image](https://user-images.githubusercontent.com/7288322/37060687-e918e4cc-21f5-11e8-9457-944d0e00e059.png)

[2018-03-07 07:53] Daniel15 commented on #948
Prettier is great! Do it! Internally at Facebook, 100 % of our JavaScript is now formatted using Prettier. :D

[2018-03-07 09:44] nschloe commented on #1535
I think allowing arbitrary colors is a step too far. Explicitly providing a dark and light version (where applicable) fixes the issue and is consistent with upstream specs.

[2018-03-07 09:59] ashtonhogan commented on #1548
Thanks @chris48s - Could you possibly merge my PR: https://github.com/badges/shields/pull/1552

I've added the logo that I want to use. Once I've tested and confirmed the above, I will close this issue

[2018-03-07 10:26] Alberthaff commented on #1550
Yes, you are right.
Unfortunately, their API doesn't seem to have an endpoint to retrieve the dependency graph.

[2018-03-07 21:21] chris48s opened #1553 "Add more checks to dangerfile.js"
A few suggestions for additional checks we might try to add:

- [x] If PR contains tests using `assert`, suggest `expect` syntax.
- [ ] If file contains `.expectJsonTypes({ object: "literal" })`, suggest `.expectJson({ object: "literal" })` instead.
- [x] If PR modifies a file in `/logo`, remind the submitter that it should be minified (for bonus points, maybe try to work out if it has been minifi

[2018-03-08 02:09] #1540 closed

[2018-03-08 06:54] chris001 opened #1554 "Github Release Date badge is way off."
It should say "January".

But it says "may 2014".

[![Release date](https://img.shields.io/github/release-date/OfflineIMAP/offlineimap.svg)](https://github.com/OfflineIMAP/offlineimap/releases)

Bug?

[2018-03-08 09:28] RedSparr0w commented on #1554
On mobile right now so can't investigate properly, but if you visit https://github.com/OfflineIMAP/offlineimap/releases/latest it shows the latest release as May 2014. Think we had a similar issue awhile ago, not sure if it got solved though.

[2018-03-08 09:51] ashtonhogan commented on #1548
@chris48s @RedSparr0w can you please reopen this, I've applied some changes to my contribution and recreated my pull request: https://github.com/badges/shields/pull/1555

[2018-03-08 10:31] ashtonhogan opened #1556 "Delete me"

[2018-03-08 14:32] #1556 closed

[2018-03-08 14:36] #1548 closed

[2018-03-08 14:41] #1511 closed

[2018-03-08 17:30] chris48s commented on #1554
This is the relevant post: https://github.com/badges/shields/issues/1355#issuecomment-350102951

On your repo, v6.5.6 (25 May 2014) is a _release_, whereas v7.1.5 (13 Jan 2018) is a _tag_ but confusingly GitHub uses these terms slightly differently in the web front-end and the API which sometimes causes confusion.

[2018-03-08 17:46] paulmelnikow commented on #1553
These all sound great!

(2) would be huge!

For (3), logo minification, we could try running the logo through svgo and seeing if the output is the same. It's possible that would be more simply written as a unit test.

[2018-03-08 17:48] paulmelnikow commented on #1550
Is there another service that could provide this? For example, we use https://libraries.io/ for bower. Would they have a relevant endpoint?

[2018-03-08 17:54] paulmelnikow commented on #1535
For the API, my first thought is that if we have light and dark logos, we should detect which one to use in code so it just happens automagically and the user doesn't need to specify. Even if that needs to be tuned in code, that seems like a pleasant way to go about this.

If that doesn't work well enough, let's add a separate query parameter e.g. `?logoShade=light`.

That should be a little clean

[2018-03-08 19:13] chris48s commented on #1550
If the project is a package indexed by libraries.io, the [project-dependencies](https://libraries.io/api/#project-dependencies), [project-dependents](https://libraries.io/api/#project-dependents) (these are both about other _packages_ that your package depends on, or is dependent on) and the [dependent-repositories](https://libraries.io/api/#project-dependent-repositories) endpoint (which is about

[2018-03-08 19:42] #1523 closed

[2018-03-09 20:14] paulmelnikow commented on #1554
Let us know if you have other questions!

[2018-03-09 20:14] #1554 closed

[2018-03-09 20:18] chris001 commented on #1554
Is there any way to get this latest release date information from the github version tags?  For a repo which has no github "release" objects.  Or for a repo where the latest "release" object is many, many "tags" behind.  For example, this repo:   https://github.com/OfflineIMAP/offlineimap/releases/latest

[2018-03-09 20:25] paulmelnikow commented on #1554
Yes, you can use `/github/tag`:
![](https://img.shields.io/github/tag/OfflineIMAP/offlineimap.svg)
https://img.shields.io/github/tag/OfflineIMAP/offlineimap.svg

However it's not 100% reliable. See #875.

[2018-03-11 19:08] acki-m opened #1561 "Is it possible to create just a badge without the first text?"
I want to add colors to my changelog, therefore I would like to add something like that:

- [![Generic badge](https://img.shields.io/badge/-FEATURE-green.svg)](https://shields.io/) new class `XY` added

The black in the front of the button is not needed, how can I remove it?

[2018-03-11 19:50] RedSparr0w commented on #1561
unfortunately there is currently no way to remove part of the badge on anything other than `social` style badges (by not specifying right hand text), but this doesn't support custom colors:
![](https://img.shields.io/badge/LABEL--x.svg?style=social)
`https://img.shields.io/badge/LABEL--x.svg?style=social`

Though you could do something like this:
![](https://img.shields.io/:[-SOME%20LABEL%20]-x.sv

[2018-03-11 21:13] RedSparr0w commented on #1535
We could also do something like (based on current templates for styles):
`?logoColor=white`
[code]

_(probably a better way than the example above)_
This way each logo can have its own supported colors where a company only wants specific colors associated with their logo.
eg [Discord](https://discordapp.com/branding):
![Discord Colors](https://i.imgur.com/CTVsAXV.png)

Or to makes it easier for us

[2018-03-11 21:32] RedSparr0w commented on #1535
Yeah that should work quite well,
I've done something similar before in a few projects,
The main thing to note is the [perceived brightness of colors](https://www.w3.org/TR/AERT/#color-contrast):

((Red value X 299) + (Green value X 587) + (Blue value X 114)) / 1000

Also here's a pretty good post about [How to automatically choose a label color to contrast with background](https://trendct.org/201

[2018-03-11 21:56] RedSparr0w commented on #1359
SonarQube has started failing again:
[code]
I suspect the repo is no longer valid for those tests.

Also the json badge is behaving strangely for this too:
[SonarQube json badge](https://img.shields.io/sonar/4.2/http/sonarqube.com/com.github.dannil:scb-java-client/coverage.json)
![image](https://user-images.githubusercontent.com/7288322/37258907-f5d51cde-25e3-11e8-869a-17a9c1b8a729.png)

[2018-03-11 23:12] paulmelnikow commented on #1359
Another possibility, since these particular tests are about what happens when the wrong API version is configured on the badge, is that the API being out of date is manifesting in a new way. I'm curious which of those it is.

[2018-03-12 00:34] paulmelnikow commented on #1561
This is a dup of #343.

Nice workarounds!

[2018-03-12 00:34] #1561 closed

[2018-03-12 00:39] paulmelnikow commented on #1415
Just noticed this is on file upstream: greenkeeperio/greenkeeper-lockfile#58

[2018-03-12 00:58] paulmelnikow commented on #1358
I've just merged the service refactor! #1543

There's some housekeeping and testing todos which carry over:

- [ ] Update the tutorial
- [ ] Move the tests and the services alongside each other… maybe something like this:
    - `services/appveyor/appveyor.js` (exports one or more services)
    - `services/appveyor/appveyor.tester.js` (exports a ServiceTester)
    - `services/appveyor/appveyor.spec

[2018-03-12 01:00] #1252 closed

[2018-03-12 09:19] balamurugan1991 opened #1567 "npm run dev ELIFECYCLE error no 1"
i am working on windows 8.1. I want make a phaser 3 game using es6 webpack. using this link and start the game,
URL - http://codetuto.com/2018/02/getting-started-phaser-3-es6-create-boomdots-game/
I cant run using this cmd - npm run dev, the following error displayed.

**E:\xampp\htdocs\sfsconnect\node_modules\webpack\lib\webpack.js:162
                        throw new RemovedPluginError(errorMes

[2018-03-12 14:34] Undistraction opened #1568 "Badges Often Fail To Display Correctly"
I've noticed that at least 50% of the time one or more badges on the README's from my various github project fail to display the image. I'm on a very fast connection (~ 100MBS)

In the error console:

[code]

The URLS are not the URLs added to the badges in the README, but point to some kind of Github cache:

URL from badge: `https://img.shields.io/npm/v/blain.svg`
URL is error: `https://camo.gith

[2018-03-12 19:53] chris48s commented on #1535
A few more considerations:

* Storing and updating allowed colours for every logo does add some maintenance overhead to every logo accepted. Not a large overhead, but it does scale linearly with the number of logos stored.

* In some cases, it may be necessary to store combinations of allowed colours, Some organisations may define combinations of colours that are valid together. Defining a flexibl

[2018-03-12 21:12] RedSparr0w commented on #1567
Hi There,

I believe you may have the wrong project.

Closing as unrelated to shields.io

----
_If for some reason i am missing something feel free to reopen_ :smile:

[2018-03-12 21:12] #1567 closed

[2018-03-12 21:57] RedSparr0w commented on #1535
- Agreed it does add a fair amount of overhead, but hopefully their guidelines won't change too often, so _**should**_ in most cases be an update once and forget kind of deal.

- Yeah wasn't really sure on a good way to handle the multi color logos, maybe just something simple like:
[code]
  For when there is predefined combinations of colors, Not sure about cases where its just a list of colors t

[2018-03-12 21:59] chris48s commented on #1358
:champagne: :100: :boom: :rocket: :tada:

:+1:

I'm genuinely excited to start work on refactoring :sparkles: , but it is worth thinking a bit about how to fit some different types of code into the proposed structure first. One of the advantages of having a large body of existing legacy code is that we already have an example of pretty much every possible edge case we will need to accommodate. :cl

[2018-03-12 22:10] chris48s commented on #1535
:+1: Finding or making a light/dark version of each of the current supported logos would also be an opportunity to review the branding resources for each one which might inform the requirements of a more complex solution.

[2018-03-13 02:57] brainwane opened #1569 "Heads-up about the new PyPI"
Hi. I'm the project manager for the new Python Package Index (Warehouse), which is currently in pre-production at http://pypi.org/ . Your code integrates with the old PyPI API, so I wanted to make sure you knew that, on [the Warehouse roadmap](https://wiki.python.org/psf/WarehouseRoadmap), it looks like the full switch will happen sometime in April. Here's a heads-up about why we're switching, wha

[2018-03-13 03:45] iKaew opened #1570 "Support Visual Studio Team Service Release Badge"
VSTS just support release badge. It would be great if we can get it from here as same as build status.
https://docs.microsoft.com/en-us/vsts/release-notes/2018/mar-05-vsts#share-deployment-status-using-a-badge

[2018-03-13 10:46] balamurugan1991 commented on #1567
i can't get you.  why, u tell like this. Any Reason. Please give brief one..

[2018-03-13 17:46] wltjr opened #1571 "Shippable badge colors not changing"
I have both badges for Travis and Shippable set for the build text area normally gray to be purple. For some reason across all my projects. The badge for Shippable does not change color. The code is the same for Travis and Shippable badges, with regard to changing color A.

[code]
But you can see they render differently. Both plastic style, but only Travis colors update, Shippable does not, no clu

[2018-03-13 18:20] PyvesB commented on #1571
Hello @wltjr !

Thanks for reporting this, I'll have a look into the problem and see whether I can spot any issues with our implementation. 😉

Cheers,

Pyves

[2018-03-13 18:50] wltjr commented on #1571
Your welcome, and thanks for taking a look. Its a minor issue.

[2018-03-13 18:50] PyvesB commented on #1571
After looking through the code, if I'm not mistaken, this has already been fixed by @chris48s when he worked on pull request #1362.

Previously we had the following snippet in the code for the Shippable badge:
`badgeData.colorA = defaultOpts.colorA;`

This was basically overriding anything set by the user inside the URL.

Unfortunately the relevant pull request was merged just after our last relea

[2018-03-13 18:50] wltjr commented on #1571
Oh ok, so I had nice timing. Seen this for a while, finally file an issue after its been fixed. figures... No worries, no rush. Glad its been addressed already!

[2018-03-13 20:21] chris48s commented on #1569
Hi @brainwane - thanks for posting about this. As a python user I'm eagerly awaiting the removal of the red pre-prod banner.

I've tried switching the base API URL to `https://pypi.org/`, run the test suite for the pypi integrations and it all passes, so I think you are right :)

Would you advise us to switch our production server over to querying warehouse instead of legacy PyPI now while warehou

[2018-03-13 20:45] chris48s commented on #1358
Another thing that is probably worth thinking about at an early stage is error handling. I know we have https://github.com/badges/shields/blob/master/lib/error-helper.js but I think there probably scope to implement that standard logic as a method either in `BaseService` or the code that calls `handle()` such that the behaviour can overridden for services where something custom is needed. I'll try

[2018-03-13 21:20] brainwane commented on #1569
@chris48s Thank you! My take is that, now that you've checked and your test suite passes, you should wait till you get the email that says "switch now" via https://mail.python.org/mm3/mailman3/lists/pypi-announce.python.org/ which will probably be in April.

Also is there any chance you'll be at either of [the packaging sprints](https://wiki.python.org/psf/PackagingSprints) in the next few months?

[2018-03-13 21:38] chris48s commented on #1569
Sorted - cheers. I've signed up to that mailing list. I'll leave this issue open for now and close it once we switch over.

I don't currently have plans to, but thanks for the info :)

[2018-03-15 02:59] paulmelnikow commented on #1571
Meanwhile if you'd like to confirm for yourself that it's fixed, you could try the staging server: https://shields-staging.herokuapp.com

Let's track the deploy status in #1538. 😄

[2018-03-15 02:59] #1571 closed

[2018-03-15 03:00] paulmelnikow commented on #1570
Hi! Thanks for the suggestion. Would you be interested in working on this? We have [a great tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md).

[2018-03-15 03:29] paulmelnikow commented on #1568
Hi, thanks for raising this issue. I've observed this behavior too; I'm sure many people can corroborate.

If you look at https://status.shields-server.com/ and click on one server at a time, you'll see that response times sometimes spike. It's not about the speed of your connection; rather some combination of our server's capacity, and the upstream services being slow or rate limiting us. Github

[2018-03-15 04:01] paulmelnikow commented on #1358
:100: :+1:

They could also be static methods on the service class. In case of simple services with one or two domain-specific helpers, I think that could be a great pattern to follow. In that case, they are available through the exported services.

100% cool with that as well! Or perhaps instead of helpers, it could be something specifically scoped like `vscode-api.js`. (In general I think descri

[2018-03-15 11:55] benibela opened #1573 "Badge request: SourceForge open ticket count"
It would be nice if there were a badge for the number sourceforge tickets similarly to the number of github issues badge.

There is a stats page that should be easy to parse:

https://sourceforge.net/p/texstudio/bugs/stats/
https://sourceforge.net/p/texstudio/feature-requests/stats/

There is also an API, but it only seems to give the number of total tickets, while the number of open issues is far

[2018-03-15 12:45] paulmelnikow commented on #1567
This is the place to discuss issues with https://shields.io but your question is about something else.

Try Stack Overflow, perhaps?

[2018-03-15 18:38] PyvesB commented on #1573
Hello @benibela !

Thank you for your suggestion. We would definitely try to use the API if possible, as parsing the stats page directly will likely be much more resource intensive.

I'm not familiar with the SourceForge API, but I believe we can use search terms in the API queries. For instance the following encoded API URL gives me direct access to the number of open issues:
[https://sourceforge

[2018-03-16 13:35] Eun opened #1576 "Badge without Subject"
It would be helpful if we were able to create a badge without the `Subject` at all.

The closest thing that is possible now is that:
https://img.shields.io/badge/-Hello-green.svg:
![badge](https://img.shields.io/badge/-Hello-green.svg)

[2018-03-16 17:23] chris48s commented on #1576
@RedSparr0w posted a nice workaround for this a few days ago: https://github.com/badges/shields/issues/1561#issuecomment-372143528

[2018-03-16 18:09] movermeyer opened #1577 "Hitting JSON endpoint with valid "style" param causes timeout and 5xx error"
I was trying out using the `style` parameter:

`https://img.shields.io/pypi/format/pycparser.svg?style=plastic`

Which worked fine, as expected.

I then wanted to try the other output formats. I switched the URL to point at the JSON endpoint:

`https://imgshieldsio/pypi/format/pycparser.json?style=plastic` (replaced `img.shields.io` with `imgshieldsio`)

Which causes various 5xx errors. The first

[2018-03-16 19:36] platan commented on #1577
@movermeyer Thank you for reporting this. You're right and this request causes server process crash. This is a known bug https://github.com/badges/shields/issues/1348 and was fixed in https://github.com/badges/shields/pull/1429. We have to wait for deployment.
I've changed domain name from `img.shields.io` to `imgshieldsio` in URL you provided, just in case.

[2018-03-16 19:42] #1577 closed

[2018-03-17 13:38] gocarlos opened #1578 "search crashes on website if search for c++"
to reproduce:
go to https://shields.io/
type c++ in the search bar
=> error

[2018-03-17 16:21] kachkaev commented on #1518
@PyvesB thanks for the fix! Is it in production now? It could be me, but I can't make my coverage badge working.

repo: https://codeclimate.com/github/gicentre/prettier-plugin-elm
badge: ![coverage](https://img.shields.io/codeclimate/coverage/github/gicentre/prettier-plugin-elm.svg?style=flat-square)

Example badges on [shields.io](https://shields.io) are also grey.

[2018-03-17 18:07] paulmelnikow commented on #1576
Let's track this in #343.

[2018-03-17 18:07] #1576 closed

[2018-03-17 19:45] PyvesB commented on #1518
@kachkaev unfortunately not. You can check out the fixed version on our [staging environment](https://shields-staging.herokuapp.com/), but we'll still have to wait a bit before getting it pushed to production. ^^

[2018-03-17 20:01] kachkaev commented on #1518
Thanks for this info @PyvesB! When about are you planning to push the fix into production? Just curious 🙂

Meanwhile, will it be OK if use a staging badge at `https://shields-staging.herokuapp.com/codeclimate/coverage/gicentre/prettier-plugin-elm.svg?style=flat-square`?

[2018-03-17 20:14] paulmelnikow commented on #1577
We're tracking deploy status in #1538 😄

[2018-03-17 20:44] PyvesB commented on #1518
I simply help maintaining the project, I'm afraid I'm not going to able to provide a more helpful answer. Let's ping @paulmelnikow and @espadrine , they may be able to shed some light on the next deployment plans. 😉

[2018-03-17 20:44] paulmelnikow commented on #1578
Thanks for the report. Here's a fix: #1579.

[2018-03-17 20:49] paulmelnikow commented on #1518
See #1538!

I'd request that the staging server be restricted to testing. Since we're on the free plan, Heroku limits the number of hours per month the server can be used. If we exceed those with production usage, the staging server becomes unusable for testing, which is why it's there. That said, you're welcome to host your own server on Heroku!

[2018-03-17 20:51] paulmelnikow commented on #1538
@kachkaev asked at https://github.com/badges/shields/issues/1518#issuecomment-373948524:

I'd request that the staging server be restricted to testing. Since we're on the free plan, Heroku limits the number of hours per month the server can be used. If we exceed those with production usage, the staging server becomes unusable for testing, which is why it's there. That said, you're welcome to host

[2018-03-17 20:52] #1578 closed

[2018-03-19 12:26] paulmelnikow commented on #1290
Fixed in #1543!

[2018-03-19 12:26] #1290 closed

[2018-03-19 12:28] paulmelnikow commented on #1093
Addressed in #1190! Though perhaps we should leave this open until we apply these changes to the rest of the license badges.

[2018-03-19 12:31] #1377 closed

[2018-03-19 12:37] paulmelnikow commented on #1545
There is some heuristic logic that tries to reduce the frequency of refreshing data that is in the cache, `max-age` or no. So, it's possible this would cause a higher cache hit frequency overall, though it's also possible recency works well enough. Seems worth an experiment! What algorithm would you suggest instead?

Another issue is that I don't have access to the server logs, so @espadrine is in

[2018-03-19 18:38] KOLANICH commented on #1093
The rest of thingsm like icons for clauses are still not implemented.

[2018-03-19 19:21] platan opened #1584 "Code coverage service for shields"
What do you think about adding a code coverage service (like https://codecov.io/#features or https://coveralls.io/features, an example results https://codecov.io/gh/babel/babel) to this project? I know that our service tests are not 100% reliable, but in my opinion such service would be helpful in finding untested parts of the code in PR. What are your experiences with this kind of services?

[2018-03-19 19:55] paulmelnikow commented on #1584
Yes, I'd love it! I haven't used Codecov, though with IcedFrisby I've used Coveralls and it works well. A scoreboard might be a big motivator – both to get coverage up in general, and to complete the rewrite (#1358).

Once we choose, we might need to ask Thaddée to set it up for us. I don't have "owner" access to the Shields organization so there are certain apps I'm not able to set up.

[2018-03-19 20:07] RedSparr0w commented on #1584
:+1: Definitely agree it would be useful to have coverage checked on PR's

[2018-03-19 20:07] chris48s commented on #1584
I think for something like coveralls it is a problem that we don't run all of our tests each merge/PR. i.e: unless we prefix every PR with "[amo, ansible, appveyor, bitbucket....." or just run all the service tests on every PR (which would be slow among other things ), I think something like coveralls will just generate a meaningless number that goes up and down, rather than telling us anything us

[2018-03-19 22:47] Majkl578 opened #1586 "Packagist version badges not being updated"
We have some libraries using Shilds.io badges. The latest version badges are stuck and not being updated.

Package [kdyby/datetime-provider](https://packagist.org/packages/kdyby/datetime-provider):
Version stuck at 1.0.0-BETA1 while current is 1.0.0: [![Latest stable](https://img.shields.io/packagist/v/kdyby/datetime-provider.svg)](https://packagist.org/packages/kdyby/datetime-provider)

Package [

[2018-03-19 23:00] gradinkov commented on #833
So it's basically useless for scripting projects that don't have binaries. That's not too helpful.

[2018-03-19 23:32] paulmelnikow commented on #1586
Hi there! Thanks for reporting this.

![](https://img.shields.io/packagist/v/kdyby/datetime-provider.svg)
https://img.shields.io/packagist/v/kdyby/datetime-provider.svg

![](https://img.shields.io/packagist/v/kdyby/datetime-provider-bundle.svg)
https://img.shields.io/packagist/v/kdyby/datetime-provider-bundle.svg

Hmm, **beta** is supposed to be lowercase.

Is this the same issue as #885? It would

[2018-03-19 23:44] Majkl578 commented on #1586
Imho there's difference between composer version and tag name. Composer parses the tags and creates versions from those. Also upper-case BETA is used in examples directly in Composer's documentation: https://getcomposer.org/doc/articles/versions.md#vcs-tags-and-branches.
Semver also only talks about lexicographic order, not mentioning upper/lower case explicitly: https://semver.org/spec/v2.0.0.htm

[2018-03-19 23:54] Falieson commented on #1252
@paulmelnikow sorry but can you provide example? I don't see it listed on `shields.io`

[2018-03-19 23:57] paulmelnikow commented on #1252
Hi, sorry, it's waiting to be deployed. (#1538)

Meanwhile though, you could play around with it on our staging site:
https://shields-staging.herokuapp.com/

On the staging site, letter spacing will be messed up due to #1309.

[2018-03-20 00:02] paulmelnikow commented on #1584
Hmm, that's a great point!

This seems like a good way to go.

When you're writing tests for a service, it would also be good to see coverage of the service code. When I look at https://coveralls.io/github/IcedFrisby/IcedFrisby, I see it does a nice job of showing coverage across different files and/or parts of the tree. Though it wouldn't be as useful for the kind of "single number" coverage we'd

[2018-03-20 02:03] rocketspacer commented on #567
Can we reopen this? I'm encountering it now

[2018-03-20 09:56] TAGC opened #1588 "NuGet Badges fail to render most of the time"
99 times out of 100, the NuGet badges on my READMEs fail to render. For example this shield: [![NuGet](https://img.shields.io/nuget/v/AsyncEvent.svg)](https://www.nuget.org/packages/AsyncEvent) from [this README](https://github.com/TAGC/AsyncEvent/blob/master/README.md).

Often what I notice is that once it manages to render once, it will continue to successfully render on page refreshes (<kbd>Ctr

[2018-03-20 10:54] Changaco commented on #1545
I have no experience with this kind of algorithm, but it seems to me that we need to modify the data structures like this:

[code]

and when cleaning the cache drop the `earliest_expiring` slot if it has expired, otherwise fall back to dropping the `least_recently_used` entry.

[2018-03-20 17:33] paulmelnikow commented on #1588
Hi, thanks, sounds like this is #1568.

[2018-03-20 17:34] #1588 closed

[2018-03-20 22:42] chris48s opened #1591 "Update failing service tests"
I did a full run of the service test suite as part of reviewing #1563 and there are a few failures we should probably look into. I've not properly investigated any of them, but some probably require updates:

[code]

[code]

[code]

[code]

[code]

[2018-03-21 04:57] RedSparr0w commented on #567
@rocketspacer I'm on mobile right now, but i believe this has been fixed (still needs to be deployed), check issue #1518

[2018-03-21 09:03] PyvesB commented on #1591
Hey @chris48s !

Regarding dotnet-status, I had noticed a while back and opened [this issue](https://github.com/jaredcnance/dotnet-status/issues/18) in the author's repository. I was planning to let at least a month go by, and if he service is still down at that point, I would open a deprecation pull request for our badges. Does this make sense?

For MicroBadger, I had fixed the tests in #1536, bu

[2018-03-21 19:10] chris48s commented on #1591
Good work. Looks like you're already on the :briefcase:

[2018-03-22 14:48] pixelass commented on #1568
In my case it's more like

* 90% of all cases at least one badge is not loaded.
* 50% of all cases at least 2 bdges are not loded

<img width="348" alt="screen shot 2018-03-22 at 15 46 17" src="https://user-images.githubusercontent.com/1148334/37777595-3a8cdcfc-2de8-11e8-9d36-58298656a211.png">

[code]

[2018-03-22 18:06] chris48s commented on #1586
I've had a brief look at this and I think the way forward here is we should be using the `version_normalized` property rather than using the object key as the version on that badge. That should do the appropriate transformation into the published composer version scheme for us to compare to. I'll try and have a proper look at it later and submit a patch.

[2018-03-22 20:43] chris48s commented on #1586
Started digging into this and realised that the algorithm for working out the latest version from packagist has changed several times over the years. It looks like initially, this was actually being done by comparing `version_normalized` (which seems to have some strange values for stuff like versions derived from branch aliases) but this was removed and has changed several times since to solve va

[2018-03-23 05:55] ulm0 opened #1594 "Failing to fetch when endpoint doesn't end in .json"
Trying to create a custom dynamic badge fails 'cause it doesn't contain `.json` extension although is json-fomatted

https://img.shields.io/badge/dynamic/json.svg?label=stars&uri=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2Fulm0%252Fgitlab-runner&query=%24.star_count&colorB=blue results in the following badge:

![badge](https://img.shields.io/badge/dynamic/json.svg?label=stars&uri=https%3A%2F%

[2018-03-23 10:16] RedSparr0w commented on #1594
Just a quick note for anyone looking into the issue:
It is not failing because the endpoint doesn't end with a `.json` extension,
It is because the url is returning a `404` status code:
[`https://gitlab.com/api/v4/projects/ulm0%2Fgitlab-runner`](https://gitlab.com/api/v4/projects/ulm0%2Fgitlab-runner) ends up being changed to [`https://gitlab.com/api/v4/projects/ulm0/gitlab-runner`](https://gitlab

[2018-03-23 13:09] g105b opened #1598 "Broken images all the time in Github readme"
I've been in touch with Github over the time period of about 4 months regarding this issue.

In short, I can **always** successfully visit the URL to the Shields image, but when it is proxied by Github's `githubusercontent.com` domain, Shields images often appear broken.

For an example, head over to https://github.com/PhpGt/Dom and keep refreshing. For me, one in every ten requests ends up lookin

[2018-03-23 13:14] g105b commented on #1598
Another example website:

![image](https://user-images.githubusercontent.com/358014/37831048-1502d252-2e9c-11e8-8bb4-61872ad67cdd.png)

[2018-03-23 13:16] g105b commented on #1598
Response from Github staff when I complained about this issue to them:

[2018-03-23 15:57] MarkVaughn commented on #1598
also getting this from all over our projects e.g
https://github.com/paratestphp/paratest

<img width="587" alt="screen shot 2018-03-23 at 9 55 56 am" src="https://user-images.githubusercontent.com/39970/37839595-6eea2f3e-2e80-11e8-9f3b-3aa35a8a4879.png">

very common badges (travis, scrutinizer, packagist
[code]
[![Build Status](https://travis-ci.org/paratestphp/paratest.svg?branch=master)](https:

[2018-03-23 18:14] paulmelnikow commented on #1598
Hi, thanks for the report. The issue is caused by slow responses from the Shields server combined with GitHub's image proxy's timeout. (The combination causes slow images to be rendered as missing images.)

This is a duplicate of #1568. Let's discuss there.

[2018-03-23 18:14] #1598 closed

[2018-03-23 20:48] g105b commented on #1568
Is this simply a case of not having enough server capacity? If so, would you mind letting us know the specifics of what server is being used, where it is located, and any details regarding bandwidth?

[2018-03-25 16:33] platan commented on #1584
1. We could send coverage results (code + services) only if all service tests are passing in daily builds. This will provide stable coverage results.
2. I don't know how to handle PRs. For me it's important to have coverage results online for PR. But as you said running all service tests is not a good idea. And without them we cannot produce stable coverage number. Maybe we are able to configure c

[2018-03-25 18:41] chris48s commented on #1584
Agreed. The right solution for total repo coverage would be to calculate based off a daily build which runs the full service test suite.

Combining that with @paulmelnikow 's idea of using 2 services, we could use coveralls to measure the whole repo coverage based on a daily build and then use codecov on PRs. I think that would work because codecov can provide a file-level coverage report as a PR

[2018-03-25 18:54] dmtucker opened #1599 "Numeric CPAN versions show as invalid"
Some projects on CPAN have numeric versions, and they show up as invalid on the CPAN badge.

For example, https://fastapi.metacpan.org/v1/release/App-Netsync:
![license](https://img.shields.io/cpan/l/App-Netsync.svg) The license seems fine,
![version](https://img.shields.io/cpan/v/App-Netsync.svg) but the version won't show (since fixed).

Here are some more examples of projects that don't use str

[2018-03-25 20:29] PyvesB commented on #1599
Hello @dmtucker !

Thank you for spotting and reporting this. Even though it indeed seems like a bug on the CPAN end, I would be inclined to also cover this in Shields, as this may well happen with other APIs in the future. Does anyone else in the team have an opinion on this matter?

Cheers,

Pyves

[2018-03-26 20:51] RedSparr0w commented on #1568
Just a quick test of the github timeouts:

~1 second delay:
![1 second](http://shields.redsparr0w.com/1568/1second.php)
~2 second delay:
![2 seconds](http://shields.redsparr0w.com/1568/2seconds.php)
~3 second delay:
![3 seconds](http://shields.redsparr0w.com/1568/2seconds.php?delay=3)
~4 second delay:
![4 seconds](http://shields.redsparr0w.com/1568/2seconds.php?delay=4)
~5 second delay:
![5 second

[2018-03-26 21:33] paulmelnikow commented on #1568
@g105b Server capacity, yes, combined with more aggressive caching. See my comment above: https://github.com/badges/shields/issues/1568#issuecomment-373249602

There are three servers, single-core VPS's with 2 GB RAM: [VPS SSD 1 from OVH](https://www.ovh.com/world/vps/vps-ssd.xml). One is in Gravelines, France, and I believe the other two are in Quebec, Canada.

@RedSparr0w Thanks for those tests!

[2018-03-27 03:58] paulmelnikow commented on #1599
Yea, agreed, let's make the version color formatter accept numbers. I wonder if it this is a regression from the changes we made in 7039e68…

[2018-03-27 10:13] PyvesB commented on #1599
@dmtucker would you like to work on a fix in Shields and submit a pull request? I'm happy to tackle it otherwise. 😉

[2018-03-27 16:55] paulmelnikow opened #1606 "Crash in makeBadge/capitalize"
https://sentry.io/shields/imgshieldsio/issues/505140091/

[code]

[2018-03-27 16:56] paulmelnikow opened #1607 "Missing try/catch in codeclimate"
https://sentry.io/shields/imgshieldsio/issues/504528524/

[code]

[2018-03-27 16:59] paulmelnikow opened #1608 "Missing try/catch in circleci"
https://sentry.io/shields/imgshieldsio/issues/504449858/

[code]

[2018-03-27 17:02] paulmelnikow opened #1609 "Crash in addv"
https://sentry.io/shields/imgshieldsio/issues/503419670/

[code]

[2018-03-27 17:03] paulmelnikow commented on #1607
Another one for the same service:

[code]

[2018-03-27 17:04] paulmelnikow commented on #1607
[code]

[2018-03-27 17:17] paulmelnikow commented on #1607
There are several more of these, including this one:

[code]

[2018-03-27 17:18] paulmelnikow opened #1610 "Crash in sourceforge"
https://sentry.io/shields/shields/issues/503545467/

[code]

[2018-03-27 17:24] paulmelnikow opened #1611 "Spurious Travis error"
https://sentry.io/shields/shields/issues/503517592/

[code]

At this point, this error doesn't seem worth logging.

[2018-03-27 17:25] paulmelnikow opened #1612 "Spurious PHP-Eye error"
https://sentry.io/shields/shields/issues/502981581/

[code]

As in #1611, at this stage, this doesn't seem worth logging.

Please include **Resolves SHIELDS-6** in the commit message.

[2018-03-27 17:41] dmtucker commented on #1599
@PyvesB Sounds interesting! I'm a bit out of my depth here, though, and I'm not sure when I could get to it. So, please, feel free!

[2018-03-27 17:43] PyvesB commented on #1607
I'll pick this one up. 😉

[2018-03-27 18:58] PyvesB commented on #1609
This is closely related to #1599. I'll take care of it, but I would first like some opinions on #1615 as the fix may be very similar here. 😉

[2018-03-27 21:31] paulmelnikow opened #1616 "Github commit merge status in branch"
With an eye to reusability, here's a design for a new badge. This came up for our own use at https://github.com/badges/shields/pull/1605#issuecomment-376595800, though a lot of folks use branches for their deploy pipelines, so I feel like it could be handy beyond Shields.

https://img.shields.io/github/commit-status/gh-pages/ed419b0a77d89094e11466797dfae68d92a2fab9

![](https://img.shields.io/badg

[2018-03-28 09:00] caub commented on #868
maybe you should put a default maxAge too? it's not practical to put `&maxAge=86400` on all projects

by default it's `cache-control: no-cache, no-store, must-revalidate`

[2018-03-28 10:59] jacobtomlinson opened #1617 "Add yaml dynamic badge"
The json and xml dynamic badges are awesome. It would be great to add yaml to the list of supported markups.

One initial use case I can think of would be for [helm chart repos](https://github.com/kubernetes/helm/blob/master/docs/chart_repository.md#create-a-chart-repository) to show the latest version of a chart.

[2018-03-28 14:27] philipithomas opened #1618 "`docker run` fails with dependency error"
Running the docker build and docker run on master is giving me this error:

[code]

I verified on a second machine.

[2018-03-28 14:31] philipithomas commented on #1618
I believe that the issue is that glob is listed as a dev dependency

[2018-03-28 15:40] #1618 closed

[2018-03-28 15:40] paulmelnikow commented on #1618
Thanks for reporting this, and for the fix!

[2018-03-28 15:43] paulmelnikow commented on #1617
Great idea!

Would you be interested in making a pull request? We have a good tutorial, and since the JSON badge is already built, it's probably a matter of conditioning on json vs yaml in the URL, adding js-yaml to handle parsing, and adding some tests. If not, maybe someone else would like to pick this up!

[2018-03-28 16:01] paulmelnikow commented on #868
For the current discussion, see #1568!

[2018-03-29 00:43] paulmelnikow opened #1621 "Crash in librariesio"
https://sentry.io/shields/shields/issues/507009653/

[code]

[2018-03-29 07:28] BBasile opened #1622 "prerelease SemvVer tags are wrongly detected as newer than the release"
- prerelease:  v8.77.25-alpha.1
- release: v8.77.25

The shied on the readme should display the first instead of the latter.

[2018-03-29 16:27] paulmelnikow opened #1624 "Crash in ansible"
https://sentry.io/shields/shields/issues/508140062/

[code]

[2018-03-29 16:29] paulmelnikow commented on #1622
Hi! Which badge are you referring to? Is the problem still observable with that package?