[2017-04-17 22:41] paulmelnikow commented on #800
Feel free to reopen if this recurs, or if there are steps to reproduce using tor.

[2017-04-17 22:41] #800 closed

[2017-04-17 22:43] paulmelnikow commented on #869
Yup, indeed, looks like it!

Would you like to make a PR?

[2017-04-17 22:49] paulmelnikow commented on #797
I joined the project a few weeks ago and have been steadily merging PRs. Thaddée has been deploying the updates.

Would love to get this problem solved. I appreciate the investigation which has begun in this thread, though it does seem to be a duplicate of #746.

[2017-04-17 22:49] #797 closed

[2017-04-17 22:52] paulmelnikow commented on #746
I joined the project a few weeks ago and have been steadily merging PRs. Thaddée has been deploying the updates.

Some further research was done in #797. Would be great if someone could dig into this problem further.

If we can isolate the problem, maybe running some tests on Sauce Labs would help diagnose the problem thoroughly and prevent a regression.

cc @aburgd @mralexgray

[2017-04-17 22:53] paulmelnikow commented on #793
Hi, thanks for reporting this.

Would you like to open a pull request?

[2017-04-17 22:53] paulmelnikow commented on #792
Hi, thanks for suggesting this.

Would you like to open a pull request?

[2017-04-17 22:54] aburgd commented on #746
I've found that the badges are showing up properly on my laptop running WX
with Chrome.

On Apr 17, 2017 5:52 PM, "Paul Melnikow" <notifications@github.com> wrote:

[2017-04-17 22:54] paulmelnikow commented on #784
Hi, thanks for the suggestion.

Would you like to open a pull request?

[2017-04-17 22:55] onlinemantas commented on #869
Can’t, sorry, swepped with other stuff and I barely know how to code *well* since I started only a year ago.

This isn’t a huge deal for me, but I feel like at least someone would find this useful.

[2017-04-17 23:03] paulmelnikow commented on #750
Hi, thanks for reporting this.

I'm looking at the screenshot, but I don't quite understand what the problem is. Could you clarify?

[2017-04-17 23:11] paulmelnikow commented on #776
Hi, thanks for this suggestion.

I love this idea. Would enable things like #701.

At the moment I'm focused on tests of the vendor badges (#927) and then, continuing to work through the backlog of PRs. We should keep it on the roadmap, though clearly it would be a pretty big endeavor…

[2017-04-17 23:14] paulmelnikow commented on #542
Has this problem recurred?

[2017-04-17 23:19] paulmelnikow commented on #33
Hi, could you clarify what PUGX is? I'm having a difficult time understanding from the website.

[2017-04-17 23:33] paulmelnikow commented on #685
If this issue recurs, please feel free to comment or reopen.

[2017-04-17 23:33] #685 closed

[2017-04-18 01:09] aleen42 commented on #823
This should be a long string with using Grunt logo SVG.

https://img.shields.io/badge/-Grunt-FBA919.svg?logo=data%3aimage%2fsvg%2bxml%3bbase64%2cPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2bCjxzdmcgd2lkdGg9IjI1NnB4IiBoZWlnaHQ9IjM0NHB4IiB2aWV3Qm94PSIwIDAgMjU2IDM0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZ

[2017-04-18 01:32] OmgImAlexis commented on #880
That'd be a great start. 👍

[2017-04-18 01:42] paulmelnikow commented on #880
We have [a tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md). Would you like to open a PR?

[2017-04-18 01:45] paulmelnikow commented on #823
Haha, indeed, Cloudflare rejects that:

[code]

Do you have the script and svg handy?

[2017-04-18 01:50] paulmelnikow commented on #823
For a badge like that, would it be better to generate the SVG once and put it on a CDN, rather than using img.shields.io?

[2017-04-18 02:04] paulmelnikow commented on #678
In #792, @kzu posted:

[2017-04-18 02:04] paulmelnikow commented on #792
Looks like a duplicate of #678, so closing in favor of that.

[2017-04-18 02:04] #792 closed

[2017-04-18 02:05] paulmelnikow commented on #678
@Daniel15 or @kzu, would one of you like to open a pull request?

[2017-04-18 02:07] paulmelnikow commented on #641
Feel free to reopen if you'd like to discuss further.

[2017-04-18 02:07] #641 closed

[2017-04-18 02:10] paulmelnikow commented on #509
Do you have an example of a place where a badge like this would be used?

[2017-04-18 02:14] paulmelnikow commented on #512
These badges are working at present. If this issue recurs, please feel free to open a new issue.

[2017-04-18 02:14] #512 closed

[2017-04-18 02:16] paulmelnikow commented on #543
I believe this badge is working as intended. If not, please feel free to comment or reopen.

[2017-04-18 02:16] #543 closed

[2017-04-18 02:19] paulmelnikow commented on #776
Also related: #777, #466

[2017-04-18 02:20] paulmelnikow commented on #466
Related: #701, #777, #776

[2017-04-18 02:23] paulmelnikow commented on #528
If this problem recurs, feel free to open a new issue.

[2017-04-18 02:23] #528 closed

[2017-04-18 02:28] paulmelnikow commented on #503
So, it sounds like the current status is: we're waiting for a public API.

[2017-04-18 02:33] paulmelnikow commented on #479
Does this issue persist?

[2017-04-18 02:37] paulmelnikow commented on #396
This now seems to be working as intended.

[https://img.shields.io/badge/quality-%E2%98%85%E2%98%85%E2%98%85%C2%BD%E2%98%86-green.png](Example)

![quality- -green](https://cloud.githubusercontent.com/assets/1487036/25112319/62716cfe-23be-11e7-8b13-b3d516a8062b.png)

[2017-04-18 02:37] #396 closed

[2017-04-18 02:39] paulmelnikow commented on #381
PR: #382

[2017-04-18 02:47] paulmelnikow commented on #338
Feel free to reopen if you'd like to discuss further.

[2017-04-18 02:47] #338 closed

[2017-04-18 02:48] paulmelnikow commented on #324
Resolved via #333.

[2017-04-18 02:48] #324 closed

[2017-04-18 02:52] paulmelnikow commented on #146
PR was opened but closed by OP, unmerged: #147

[2017-04-18 02:54] paulmelnikow commented on #136
@IanLee1521 Would you like to open a pull request?

[2017-04-18 02:58] paulmelnikow commented on #649
Play Store store is a duplicate of #358, so closing.

[2017-04-18 02:58] #649 closed

[2017-04-18 03:02] paulmelnikow commented on #938
Related: #349 #842

[2017-04-18 03:06] paulmelnikow commented on #673
Looks like moving forward on this would require an API.

[2017-04-18 03:10] paulmelnikow commented on #349
Related: #842

[2017-04-18 03:10] paulmelnikow commented on #553
Related: #349, #547.

Feel free to reopen if you'd like to discuss further.

[2017-04-18 03:10] #553 closed

[2017-04-18 03:11] paulmelnikow commented on #688
Would someone like to dig into this and open a PR?

[2017-04-18 03:12] paulmelnikow commented on #703
Shields caches the responses for 15 minutes. Could that be the problem?

[2017-04-18 03:19] paulmelnikow commented on #829
Thanks!

We have [a tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md). Would you like to open a pull request?

[2017-04-18 03:36] paulmelnikow commented on #577
Feel free to reopen if you'd like to discuss further.

[2017-04-18 03:36] #577 closed

[2017-04-18 03:37] paulmelnikow commented on #723
Related: #925, #926, #757, #796

[2017-04-18 03:44] paulmelnikow commented on #717
If this issue recurs, please feel free to reopen.

[2017-04-18 03:44] #717 closed

[2017-04-18 03:49] paulmelnikow commented on #358
In #649, @espadrine posted:

[2017-04-18 03:58] Daniel15 commented on #678
Sure, I'll take a look!

--
Regards,
Daniel Lo Nigro
http://dan.cx/ | Twitter <http://twitter.com/Daniel15> | Facebook
<http://www.facebook.com/daaniel>

On Mon, Apr 17, 2017 at 7:05 PM, Paul Melnikow <notifications@github.com>
wrote:

[2017-04-18 04:11] aleen42 commented on #823
@paulmelnikow In such cases, I think it's a good alternative. How about adopting this tool and let me maintain it in the organization? It has been used to build some badges for NASA and Bitcoin.

[2017-04-18 04:16] aleen42 commented on #823
![patreon](https://cdn.rawgit.com/aleen42/badges/master/src/patreon.svg)

![bitcoin](https://cdn.rawgit.com/aleen42/badges/master/src/bitcoin.svg)

![NASA](https://cdn.rawgit.com/aleen42/badges/master/src/nasa.svg)

What surprises me is that [the open sourced project of Apollo-11](https://github.com/chrislgarry/Apollo-11) has also adopted my badge generated by such a tool. However, what it still c

[2017-04-18 04:24] paulmelnikow commented on #748
Hi, thanks for the suggestion.

Is there an API?

[2017-04-18 04:28] paulmelnikow commented on #574
Are we still waiting for an API?

[2017-04-18 05:23] qoomon commented on #748
https://dependencyci.com/docs -> Readme Badge

[2017-04-18 05:26] Daniel15 commented on #792
Submitted a pull request: https://github.com/badges/shields/pull/945

[2017-04-18 05:26] Daniel15 commented on #678
PR submitted: #945

[2017-04-18 05:53] larsbrinkhoff commented on #574
Supposedly, an API is being implemented:
https://discuss.bitrise.io/t/bitrise-public-api/37/39

[2017-04-18 05:55] larsbrinkhoff commented on #574
Ping @viktorbenei.

[2017-04-18 08:15] viktorbenei commented on #574
Thanks for the ping @larsbrinkhoff !

API docs and Token gen coming soon ( https://discuss.bitrise.io/t/bitrise-public-api/37/39?u=viktorbenei ), feel free to comment there, or point me to the docs what you'd need the API to return (and how).

[2017-04-18 10:57] crazy-max commented on #824
Great news from Uptime Robot staff :

[2017-04-18 12:06] guikcd commented on #944
At first glance, there is a problem with the auth when requesting informations on public user image (although it works well with the ubuntu default example):

[code]

I'll need to investigate more :)

[2017-04-18 12:28] Bob131 commented on #479
I just quickly checked the GitHub Pages site in Epiphany and all the badges look fine. It's probably safe to close this bug now.

[2017-04-18 13:00] #479 closed

[2017-04-18 13:08] paulmelnikow commented on #574
@viktorbenei Most of the services provide an HTTPS GET endpoint to obtain the project status, using the default branch. The endpoint should also allow obtaining the build status of a specific branch. Since the token becomes public, it should be read-only, and ideally be limited to build status.

Cool company! It's good to have more CI options for OS X. 👍

[2017-04-18 13:10] paulmelnikow commented on #748
I see they have SVG badges – generated by us!

Is there a way to grab the build status from an API, in a more parseable format like JSON?

[2017-04-18 13:11] paulmelnikow commented on #823
We're a little off track here. 😃

[2017-04-18 13:16] paulmelnikow commented on #823
Oops, clicked by accident!

Meant to say, it sounds like this issue doesn't need to be fixed right now, that generating and saving the SVG using the NPM package is a good alternative for badges like these.

As far as moving your project into the badges organization, I think the people to ask would be @espadrine and @olivierlacan. I'm pretty new around these parts.

It's a bit off track from the su

[2017-04-18 13:16] #823 closed

[2017-04-18 13:19] olivierlacan opened #946 "maintenance badge doesn't need a question mark"
I'd prefer if we removed this `?` at the end of the badge. It's unnecessary.

![image](https://cloud.githubusercontent.com/assets/65950/25132552/36ed9db4-244a-11e7-9c49-a1069ce6e029.png)

Looks like the fix needs to be done here: https://github.com/badges/shields/blob/a3429a316aea8e0a122be12e0bc579d1a7cc2571/server.js#L5494

I'll make a PR when I get a chance, just wanted to put this down as a rem

[2017-04-18 13:22] paulmelnikow commented on #867
@Daniel15 Do you know if your PR #945 fixes this?

[2017-04-18 14:06] kocsismate commented on #885
Thank you for insights! I would be happy if the check could be made case-insensitive:

[code]

Hopefully, this change would make the decision more foolproof.

[2017-04-18 15:53] paulmelnikow commented on #885
I just checked [the spec](https://getcomposer.org/doc/04-schema.md#version) and it looks like the RC is supposed to be capitalized. Shields could interpret it leniently, though if we do, we would introduce skew. The composer command line would interpret the values one way, Packagist another, Shields still another, making it more difficult for these tools to interoperate.

Here's a good example of

[2017-04-18 15:56] crazy-max commented on #824
I have created the PR #947

[2017-04-18 16:57] kocsismate commented on #885
OK, I completely understand your opinion. However, I think Postel's Law can also be a good guideline:

Anyway, I can just release v2.0.1 to solve my problem. :P I am closing the issue!

[2017-04-18 19:50] viktorbenei commented on #574
Thanks @paulmelnikow ;)

That's exactly what we have, but right now only for the badge image (SVG endpoint), it doesn't have a JSON response.

I can schedule a JSON response for the endpoint too - do you have a preferred JSON response/example?

[2017-04-18 20:28] paulmelnikow commented on #574
Here's [an example](https://circleci.com/api/v1/project/BrightFlair/PHP.Gt?circle-token=0a5143728784b263d9f0238b8d595522689b3af2&limit=1&filter=completed) I pulled from a link in the source code. We don't need so much, though.

A JSON response with a `status` string is sufficient, e.g. `success`, `failure`, `error`, `no tests`, `never built`. You could throw in the timestamp if you want. The statu

[2017-04-18 22:39] guikcd commented on #944
Ok i've tested the wrong routes..., `/docker/image/layers` and `/docker/image/size` works as expected:

[code]

[2017-04-19 02:42] #757 closed

[2017-04-19 02:44] paulmelnikow commented on #943
Okay, I'm fine with that.

[2017-04-19 03:16] Daniel15 commented on #867
It's possible! NuGet is a little bit inconsistent and some endpoints continue returning unlisted packages, whereas others don't. @matthiaslischka Do you have an example of a package that has an unlisted version?

[2017-04-19 03:56] paulmelnikow commented on #733
I just merged #720 (though it's not deployed yet).

Does the doc still need to be updated @RedSparr0w?

[2017-04-19 04:28] Daniel15 opened #948 "Modernization + code cleanup ideas"
I was just thinking about this while submitting a pull request for something else. This issue is mainly a braindump of ideas, and I'll likely split out ideas into separate issues to track them separately. I'm happy to work on some of these but I just wanted to kick off a discussion 😃

A relatively easy thing we could do to make the codebase a bit more modern is switch to newer ES6 syntax such as a

[2017-04-19 05:02] adjohnson916 commented on #509
@paulmelnikow A personal website or an organization site advertising their GitHub presence.

[2017-04-19 06:33] m1guelpf commented on #943
@paulmelnikow About the tokens: We currently don't offer read-only tokens, but while they're created, creating an user without any organizations should work, as the API allows to edit them but not to create them.

[2017-04-19 08:46] crazy-max commented on #948
Sounds great!

[2017-04-19 13:05] paulmelnikow commented on #943
An orgmanager user? Or, does it need to be a github user?

[2017-04-19 16:18] paulmelnikow commented on #509
Makes sense. Do you know if there's a way to get the data from the API without making a ton of requests?

[2017-04-19 16:56] paulmelnikow commented on #948
Love all these ideas!

Have been thinking about migrating to promises. It's an interesting point you make that async/await is on the horizon. To be honest I didn't realize it was coming so fast. Is it JavaScript's second golden age? We have 6k lines of service code, so refactoring it is a large undertaking, and skipping over promises is, well, promising. I love that sketch of the async/await handl

[2017-04-19 17:14] #946 closed

[2017-04-19 17:55] Daniel15 commented on #948
Node.js 8.x should be coming out this month (https://github.com/nodejs/node/issues/10117), so 7.x shouldn't be considered "bleeding edge" for too much longer :)
http://node.green/ is a good reference for features you can use once you upgrade to a newer Node.js version.

`SPECIFICATION.md` and `CONTRIBUTING.md` both use the word "service" rather than "vendor" so I wanted to keep that consistent 😄

[2017-04-19 18:00] paulmelnikow commented on #948
So useful. And, it looks like async functions are in 7.6 and 7.8! You can see in the tooltip that appears when hovering over 7.9.0.

[2017-04-19 18:06] Daniel15 commented on #948
Looks like they're even in 7.0.0 if you use the `--harmony` flag :)

[2017-04-20 13:26] #678 closed

[2017-04-20 13:28] paulmelnikow commented on #678
Merged! Will be deployed soon.

[2017-04-20 13:38] paulmelnikow opened #953 "Document the web-content features for badges"
There are some fields which can be set in try.html:

- Add search terms (`data-keywords`)
- Provide documentation (`data-doc`)
- Set the link target in the generated markdown (`data-link`)

Maybe there are more. Would be good to write these up in a help doc to make them more discoverable to contributors.

[2017-04-20 14:08] paulmelnikow commented on #936
This happened again in #949.

`index.html` does not seem to be needed for development. I'd suggest we modify the `deploy-gh-pages` target to build `index.html` and commit it, before the force-push to `gh-pages`.

[2017-04-20 14:46] paulmelnikow commented on #936
Opened a PR: #954.

[2017-04-21 07:30] fabriziocucci commented on #846
@paulmelnikow sure, today I'll give it a try! :sunglasses:

[2017-04-21 11:49] hobbyquaker commented on #111
I made a little tool to clear the camo cache, you can call that in your build process to keep your badges always up to date. https://github.com/hobbyquaker/camo-purge

[2017-04-21 17:27] mgol commented on #948
They're behind a flag for a reason, though; they leak memory. I'd advise against using the `--harmony` flag. If you want to depend on async functions, either transpile or require Node >=7.9.

[2017-04-22 01:41] kzu commented on #678
Awesome guys, thank you!!!

[2017-04-23 00:54] tunnckoCore commented on #627
this is interesting idea, yea.  And probably the url could be something like this

[code]

e.g.

![freenode irc tunnckoCore charlike channel](https://img.shields.io/badge/irc.freenode.net-%23charlike-green.svg)

[2017-04-23 01:10] andrewrk commented on #627
I want to reiterate that printing the count of users in the channel would be likely to increase engagement.

[2017-04-23 01:13] tunnckoCore commented on #627
i think that there's no so much space. most important are the network and channel name. For me it can't be without network or channel.

Don't know, probably this seems okey too

![freenode irc tunnckoCore charlike channel](https://img.shields.io/badge/%23charlike-331-blue.svg)

[2017-04-23 08:04] jerome724 commented on #882
Well, i would like to display a specific node version on the node versions badge, but i don't really get how i can set, let's say, the latest node version.

[2017-04-23 11:37] groggemans commented on #688
Had a quick look and it's no longer working as before because the API no longer returns pre-releases when requesting the latest release. (https://developer.github.com/v3/repos/releases/#get-the-latest-release)

@paulmelnikow Just tested a successful fix. My idea is to make `/github/release/user/repo.svg` work for all releases, and add a new API endpoint `/github/release/user/repo/full.svg` that on

[2017-04-23 13:17] matthiaslischka commented on #867
Seems to be fixed. Tested with https://www.nuget.org/packages/CatlightApi/
Latest not listened version is 1.0.1.18118
Actual listed version is 1.0.1

Works fine now. Think this issue can be closed.

[2017-04-23 23:02] paulmelnikow commented on #688
Returning the pre-releases by default seems reasonable (though not returning draft releases).

Do you see a need for a badge that excludes prereleases? I could see wanting "latest stable release", though a release could be non-prerelease without being stable.

[2017-04-23 23:03] paulmelnikow commented on #688
By the way, thanks for looking into this! Would be great to resolve this, one way or another.

[2017-04-24 14:20] groggemans commented on #688
Pre-releases are often not intended for regular end-users. So defaulting to full releases only seems a good idea.

Projects targeted at devs or labels for technical sites like GitHub can then use the `all` endpoint which provides pre-release support.

I'll make some time this evening to open a PR.

[2017-04-24 15:25] paulmelnikow commented on #688
Makes sense, I'm fine with that.

[2017-04-24 15:49] groggemans commented on #688
@paulmelnikow PR #959

[2017-04-25 09:16] techtonik opened #960 "Add Netlify previews"
https://www.netlify.com/ can greatly speed up website previews if integrated.

[2017-04-25 12:01] paulmelnikow commented on #960
Hi, thanks for the suggestion. I'm not sure I understand how you're suggesting this project use it. Could you elaborate?

[2017-04-25 12:12] techtonik commented on #960
@paulmelnikow see Netlify check results here - https://github.com/kubernetes/kubernetes.github.io/pull/3522

[2017-04-25 13:04] tamtamchik commented on #873
Any update?

[2017-04-25 15:44] paulmelnikow commented on #960
I see, there's a Github integration which generates a built copy of the website for a PR.

An alternative we could consider is [Heroku Review Apps](https://devcenter.heroku.com/articles/github-integration-review-apps), which puts up a live version of the app against a PR. It would let reviewers and commenters interactively test example badges without having to install and run the review branch loc

[2017-04-25 16:16] #688 closed

[2017-04-25 16:24] paulmelnikow commented on #867
Thanks. Since #945 isn't deployed yet, we should test on master too.

[2017-04-25 21:14] Daniel15 commented on #960
Netlify is a host for static websites. Their service wouldn't work for this project, as we need to serve badges dynamically.

However, something like Heroku Review Apps is a great idea! Either that or spin up a Docker container on our own VPS. I'm not sure how the shields.io site is currently hosted, but the approach that is chosen should be close to whatever is done in production so it's an accur

[2017-04-25 21:41] #936 closed

[2017-04-25 22:56] techtonik commented on #960
@Daniel15 shields is a static site. no? There is no backend logic IIRC.

[2017-04-25 23:07] Daniel15 commented on #960
@techtonik - It's not static, otherwise the badges wouldn't actually work as expected. The badges need to load data in real-time, for example:
![](https://img.shields.io/github/downloads/atom/atom/total.svg)

In order to be static, every single badge would need to be computed ahead of time rather than dynamically generated at runtime. This is impossible as there's a practically infinite number of

[2017-04-26 04:51] Daniel15 commented on #948
Started prototyping: #963

Ahh, good to know! I guess we'd need to benchmark and see how they perform.

[2017-04-26 05:00] Daniel15 commented on #529
Can this issue be closed? It sounds like everything is going well with the GitHub badges 😃

[2017-04-26 05:09] Daniel15 commented on #824
I'm going to close this issue as the pull request has been merged. It hasn't been deployed yet, but you can follow along in #947. Thanks for your contribution!

[2017-04-26 05:09] #824 closed

[2017-04-26 07:29] techtonik commented on #960
Server is needed, indeed. Heroku Review App looks neat, but from what I could see it is a paid option and I don't understand the 5 days lifespan. Netlify static copy could be available indefinitely.

[2017-04-26 15:09] brunchboy commented on #529
As far as I can tell!

[2017-04-26 17:48] paulmelnikow commented on #960
A snapshot of the index page could be useful for some PRs as a basic confidence check. Though if we have a review apps running while PRs are open, we probably wouldn't need the static copy too.

I'm not sure review apps would end up costing anything. If they did we could ask Heroku if they'd sponsor us.

Spinning up our own docker containers is an interesting idea. I wonder if there is a tool that

[2017-04-26 18:28] Daniel15 commented on #529
Great! Let's close it out and reopen if any issues come up 😄

[2017-04-26 18:28] #529 closed

[2017-04-26 18:47] paulmelnikow opened #966 "Record stats by service"
Logging stats by service would allow us to identify which badges are used the most often. This would be useful for prioritizing fixes and feature requests. It would also help with questions like [the one I raised here](https://github.com/badges/shields/pull/919#issue-218040241):

Currently we're recording stats by format. Those stats were used to drive the choice of the default format. Since that'

[2017-04-26 22:20] espadrine commented on #873
@deemru Thanks a lot! That URL https://insight.sensiolabs.com/account indeed contains all the explanation necessary.

It should be better now.

[2017-04-26 22:20] #873 closed

[2017-04-27 05:22] enumag commented on #873
@espadrine Indeed it works now. Thanks!

[2017-04-27 18:19] samayo opened #968 "Does shields.io have a gitter room or something similar?"
I am making a badge similar to those found in shields website, and I had some questions to ask. I recon github issue is not the right place. So, it would be nice to add have a gitter page if you don't. Otherwise, great job

[2017-04-27 19:02] paulmelnikow commented on #968
Hi! Thanks for the suggestion. I've been chatting with @Daniel15 about this very thing!

We thought we would give Discord a try. Reactiflux adopted it a couple years ago when they outgrew Slack. See reactiflux/volunteers#25 for the discussion which led to that decision.

If that doesn't work out well, we can try Gitter. Gitter's advantage is Github login, though the UI is not as nice.

Stay tuned,

[2017-04-27 19:03] samayo commented on #968
Great!! I will wait for any announcements.

[2017-04-28 01:50] paulmelnikow commented on #867
Still working post-deploy. Sweet!

[2017-04-28 01:50] #867 closed

[2017-04-28 03:07] paulmelnikow commented on #966
Started by moving the code into a module and adding a test of the analytics endpoint: #970.

[2017-04-28 04:51] #939 closed

[2017-04-28 05:35] #507 closed

[2017-04-28 09:23] techtonik commented on #507
Logos above were pasted in syntax from this page https://codepen.io/tigt/post/optimizing-svgs-in-data-uris but it doesn't seem to work anymore.

[2017-04-28 16:24] paulmelnikow commented on #617
Feel free to open a new issue if this issue recurs.

[2017-04-28 16:24] #617 closed

[2017-04-28 16:28] paulmelnikow commented on #445
@espadrine Is there any action to take here?

[2017-04-28 16:57] espadrine commented on #445
@paulmelnikow I believe the performance of the servers is more suitable nowadays.

[2017-04-28 16:57] #445 closed

[2017-04-30 13:46] paulmelnikow opened #979 "Github rate limits cause transient service test failures in CI"
There are a couple problems with GIthub API auth on Travis related to the service tests (#937).

(1) The service test runner, which runs as part of every build, fails transiently about 10% of the time. It's because the runner fetches the PR title from github, to decide which tests to run, and these requests are unauthenticated, so they often fail due to rate limits. [The Github API allows 60 reque

[2017-04-30 14:11] #846 closed

[2017-04-30 15:28] paulmelnikow commented on #948
What do you think about adopting `semistandard` for new code? We could do this via [`eslint-config-semistandard`](https://github.com/Flet/eslint-config-semistandard) which would give us the ability to add overrides and enforce additional rules if we need to.

I appreciate the premise of `standard`, which is that most style choices are "just pick something," and by having a "standard" you save a lo

[2017-04-30 19:07] paulmelnikow commented on #411
This has been picked up in #948. Please join us there!

[2017-04-30 19:07] #411 closed

[2017-04-30 19:07] paulmelnikow commented on #948
Adding @ahmadnassri @kyrias @jirutka who participated in #411 👋

[2017-04-30 19:23] Daniel15 commented on #948
My team at work have started using [Prettier](https://github.com/prettier/prettier/) to format our code. It's very good. Prettier is more powerful than anything that's ESLint based, as all the fixes are based on pretty printing the AST (whereas [ESLint's fixers are restricted to string manipulation](http://eslint.org/docs/developer-guide/working-with-rules#applying-fixes)). I'm really enjoying usi

[2017-04-30 19:35] paulmelnikow commented on #968
I created a Discord room: https://discord.gg/HjJCwm5

I sense a [Discord badge](https://github.com/badges/shields/pull/977) in our future. 🔮

Let's finish setting things up and then publicize it!

[2017-04-30 21:54] Daniel15 commented on #979
Sounds like using authenticated requests is the way to go. Does Travis have some secure way of storing secrets like GitHub auth tokens? I guess it's tricky to allow pull requests to have access to the auth token in a secure way though (as someone could submit a PR with a modified build script that `echo`s the auth token).

I guess GitHub's webhook would provide all the pull request information to

[2017-04-30 21:57] Daniel15 commented on #979
Might be able to use `$TRAVIS_COMMIT_MESSAGE`:

https://docs.travis-ci.com/user/environment-variables/

[2017-05-01 12:34] iacchus opened #980 "Wercker badge doesn't work"
I can call the api when I remove the '/builds' from shields GET url though.

[2017-05-01 17:45] Daniel15 opened #981 "[Discord] Show good error message when widgets are disabled"
When widgets are disabled for a Discord server, their API sends back a HTTP 403 with this error:
[code]

We currently show "inaccessible" in this case, but we should probably show "widget disabled" or something like that.

Perhaps we should always use the `message` from the response if available, rather than simply showing "inaccessible".

[2017-05-01 18:28] #730 closed

[2017-05-01 18:33] paulmelnikow commented on #980
Hi, thanks for reporting this. Can you give more details?

1. Do you have an example of a broken badge?
2. Can you explain more clearly the fix?

[2017-05-01 18:34] paulmelnikow commented on #968
Badge added to readme in #982.

[2017-05-01 18:34] #968 closed

[2017-05-01 18:40] webcaetano commented on #979
@paulmelnikow seems the obvious fix is to authenticated these requests on `cli.js`

[2017-05-01 18:47] paulmelnikow commented on #980
Reported in #825. Please add more details there if you have them!

[2017-05-01 18:47] #980 closed

[2017-05-01 20:13] techtonik opened #983 "Support logo= to turn off the badge"
From https://github.com/badges/shields/pull/812#issuecomment-298410104:

[2017-05-01 22:44] paulmelnikow commented on #983
I was the one to merge that change, though I'm open to reconsidering it.

The social badges have logos. Apart from those, 98% of badges do not. Only three badges do: Gitter, Bithound, and since yesterday, Appveyor.

Some options we could consider:

1. Accept PRs to add logos to any badge. Shown by default. Consumer could hide it. (e.g. `?logo=false`)
2. Accept PRs to add logos to any badge. Hidden

[2017-05-01 23:01] paulmelnikow commented on #354
If you have more information, feel free to open a new issue.

[2017-05-01 23:01] #354 closed

[2017-05-01 23:02] #33 closed

[2017-05-01 23:39] billziss-gh commented on #983
Thank you both @techtonik and @paulmelnikow for considering this in such a timely manner. Thank you @paulmelnikow for the comprehensive write up.

+1 for this option.

If uniform appearance is one of the primary requirements, then it follows that logos should not be included by default, simply because not all badges have logos (i.e. option (2)).

However I think a good compromise is option (3).

[2017-05-02 19:56] v-nisidh commented on #682
Unfortunately I saw badge url shows old one for more than one day after releasing news on Maven. I saw similar problem on our last release.

https://github.com/Microsoft/mssql-jdbc

Interesting thing is on normal browser it come up with appropriate badge.
http://javadoc.io/badge/com.microsoft.sqlserver/mssql-jdbc.svg

While on GitHub, it is showing old badge but with correct link. Is it due to som

[2017-05-02 19:58] ben-manes commented on #682
Yes, the badge provider needs to set the expiry header, e.g. https://github.com/valery1707/javadoc-badge/issues/2

[2017-05-02 23:19] paulmelnikow commented on #682
Hi @v-nisidh, thanks for the report and the info. Would you mind opening a new issue and describing further the behavior you're seeing, and @ben-manes elaborating on the fix you're suggesting?

[2017-05-02 23:24] ben-manes commented on #682
The fix is to set the `Cache-Control` header's `max-age` to a shorter value, e.g. 1 hour. It sounds like you are relying on Github's default expiration time, as the headers show it is set to 24 hours.

[2017-05-03 03:24] webcaetano commented on #948
This !

We could split every service as `folder` and every bagde as new `file`
E.g.

[code]

[2017-05-03 03:25] Daniel15 commented on #948
@webcaetano That's an interesting idea! Currently I'm just playing with the idea of having one JS file per service (eg. `services/github.js`, `services/jira.js`, etc). You can see my prototype so far in #963.

[2017-05-03 05:33] Daniel15 opened #985 "Add Discord button to bottom of try.html"
Comment from https://github.com/badges/shields/pull/982 after adding the Discord button to the readme.

[2017-05-03 16:20] wopian commented on #983
Logos shouldn't be on badges by default imo. From the [spec](https://github.com/badges/shields/blob/master/spec/SPECIFICATION.md):

[2017-05-03 23:19] paulmelnikow commented on #979
They do, though you are correct. We could create an account (e.g. `shields-integration-tests`) with no repo access, and just use it for the tests. If someone snags it they could use up our quota, and maybe if they're being really malicious get that account shut down. (Annoying, though hardly the worst thing.) The whole thing would appear in the Travis logs, so it's not like someone would really "g

[2017-05-04 05:58] techtonik commented on #983
@wopian "windows" is not the default badge, so icon there feels a bit awkward, but on Appveyor badge it is logical to have this for a faster scan.

Anyway, I should open an issue to disable the logo first and then let discussion continue on whatever to implement logo hiding be default.

Anyway, this seems logical for me:
1. provide logo on default service badge (and add docs on how to ad one)
2. h

[2017-05-04 12:42] simonvpe commented on #294
I would consider providing a PR for this

[2017-05-05 00:29] crazy-max opened #988 "Go Report badge"
[Go Report](https://github.com/gojp/goreportcard) only provides rounded corners badge and i want flat-square :grinning:

But Go Report does not expose any API. Can you confirm @hermanschaaf ?

[2017-05-05 07:40] hermanschaaf commented on #988
@crazy-max It is possible to specify the style on the Go Report Card image, the same as on shields.io, e.g.

[code]

or

[code]

[2017-05-05 08:39] crazy-max commented on #988
@hermanschaaf Thanks :)

[2017-05-05 08:39] #988 closed

[2017-05-06 04:07] Daniel15 commented on #294
@simonvpe - Great to hear! The [CONTRIBUTING.md](https://github.com/badges/shields/blob/master/CONTRIBUTING.md) file should help you get started, and we have a [tutorial on how to add a new badge](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md). Feel free to reach out to us if you need any help!

[2017-05-06 10:58] DzmitryHumianiuk commented on #834
@paulmelnikow no, there is no single API method to get this info.
This should be aggregated by 2 calls.

**justification:**
more and more project use micro-services architecture and keep services in multiply repos.

[2017-05-06 13:10] paulmelnikow commented on #834
What are the two calls?

[2017-05-07 01:58] Daniel15 commented on #979
How could we do this? If the access token is readable in pull requests (as it would need to be in order for PRs to use it), someone could simply edit the build script to `echo` it and then send a pull request, which would reveal the token. 😕

The safest approach I can think of is to add an endpoint to `shields.io` that gets the metadata. For example,  `https://shields.io/github-pull-request-metada

[2017-05-07 04:42] paulmelnikow commented on #979
You're right, though that would be in the Travis records. The worst case scenario is not that bad, though. I'm not terribly concerned.

By reasonable steps, I mean let's secure it in the Travis config, so someone would have to go out of their way to see it. Let's not check it into the repository in cleartext, for example.

That is a nice idea for dealing with the metadata, though it wouldn't help

[2017-05-07 14:55] tooomm commented on #983
Very confusing if you have builds for win and linux/osx running...

![travis-without-icon](https://cloud.githubusercontent.com/assets/9874850/25780812/b94d70de-332e-11e7-9f38-2edcccb3193c.png)

Even if you try to customize them and write the os there, you don't get a uniform look because you can't disable appveyor logo then.

<br>
Please add ability to disable logos and support more logos in gener

[2017-05-09 07:14] mazipan opened #989 "Add yarn package integration"
For now in docs here https://shields.io/
I can't found any sample for getting data from yarn package (https://yarnpkg.com)
Like :
+ total download
+ version
+ etc

Thanks

[2017-05-09 21:45] viktorbenei commented on #574
We finally had the time to implement the required changes to the endpoint, and it's now in production. We actually decided to change the URL a little bit. The previous endpoint still exists, but that only supports the SVG badge response, as it did previously.

You can find the API docs here: http://devcenter.bitrise.io/api/app-status-badge/

I think it should cover everything you mentioned @paulme

[2017-05-10 04:24] Daniel15 commented on #989
Yarn uses the exact same package repository as npm, so you should just use the npm badges 😃

[2017-05-10 04:24] #989 closed

[2017-05-10 18:28] perceptron8 commented on #827
Couldn't wait any longer ;) Please, check my PR. I used Chrome Web Store support as some kind of guideline. This one should be even simpler thanks to html-soup.

[2017-05-11 04:49] stevenvachon opened #991 "Greenkeeper badge"
https://greenkeeper.io/

https://github.com/greenkeeperio/greenkeeper/issues/416

The badge could say "dependencies: monitored", similar to the [david-dm](https://david-dm.org) badge.

[2017-05-11 11:24] IRus opened #992 "Kerning problems on windows"
Hi, is it possible to fix kerning for `W` letter on windows (Reproduced on Windows 10)?

![grafik](https://cloud.githubusercontent.com/assets/493656/25946822/6dd27332-3655-11e7-9d23-022893fa5ec0.png)

On linux works without problems.

[2017-05-11 11:36] avarabyeu commented on #834
@paulmelnikow Need to obtain [names of organization's repos](https://developer.github.com/v3/repos/#list-organization-repositories) and [then retrieve contributors of each repo](https://developer.github.com/v3/repos/#list-contributors). Actually, it's n+1 calls. Are there any way to make some custom badge and just point it to endpoint which returns already aggregated info?

[2017-05-11 12:40] tooomm opened #993 "extend github "commits since" badge --> count from latest release"
Right now you need to provide a fixed tag to count from.
Can we have "latest" there as well, so it automatically counts from that and resets on release?

For example: `https://img.shields.io/github/commits-since/SubtitleEdit/subtitleedit/latest.svg`
instead having to updated the badge tag every time since it's hard linked:
`https://img.shields.io/github/commits-since/SubtitleEdit/subtitleedit/3.4.

[2017-05-11 21:41] paulmelnikow commented on #834
Yes, that is possible. There is a PR open #820 to provide a custom badge from a JSON URL.

Another possibility, perhaps simpler, is for the endpoint doing the aggregation to issue a redirect to img.shields.io with the data in the URL, e.g.:

https://img.shields.io/badge/organization-10%20contributors-blue.svg

[2017-05-12 05:19] avarabyeu commented on #834
@paulmelnikow #820 is good option for us. Since we want this badge to be used in MDs, there is no possibility to use JS to obtain aggregated data for building URL from option 2. When PR could me merged? Thanks for the help!

[2017-05-13 04:03] JHart9 commented on #985
It appears it's been added now.
https://github.com/badges/shields/blob/master/try.html#L976

[2017-05-13 04:08] Daniel15 commented on #985
Sorry, I should clarify. This task means that a Discord badge for Shields' Discord server should be added to the very bottom of the page, where the other social stuff is: https://github.com/badges/shields/blob/master/try.html#L1175

[2017-05-13 08:42] martincostello commented on #507
I intentionally used this badge so there was a consistent appearance in my repository README files between Travis CI and AppVeyor.

Could this not have been done as an opt-in with query string parmaeter so that the existing appearance could have been retained?

[2017-05-13 12:04] csoltenborn opened #994 "Allow to configure color range for code coverage badges"
Thanks for this awesome badge service! Here's one suggestion for further improvement:

CodeCov allows to configure a range for code coverage. For instance, our [codecov configuration](https://github.com/csoltenborn/GoogleTestAdapter/blob/master/codecov.yml) contains the line `range: "50...90"`, resulting in code coverage below 50% to be displayed in deep red, and code coverage above 90% in deep gr

[2017-05-14 04:49] techtonik commented on #507
@martincostello https://github.com/badges/shields/issues/983

[2017-05-14 06:39] martincostello commented on #983
+1 for option 2.

[2017-05-14 19:45] joernhees commented on #716
just a suggestion: instead of "downloads: 0" maybe write "downloads: -1" or "downloads: defunct"?

[2017-05-16 18:11] levithomason commented on #354
I just got pinged from this issue, but not sure why the notification came just now.  At any rate, the issues seems to have been resolved.  At the time of writing, the icon was missing.

[2017-05-17 01:15] #882 closed

[2017-05-18 09:19] peter-gribanov commented on #819
I do not think that the maximum version is needed. The minimum is enough.

It might look like this:

![Minimum PHP Version](https://img.shields.io/badge/php-%3E%3D_5.5.9-8892BF.svg)

Markdown:

[code]

You can get this info from [composer.json](https://github.com/symfony/symfony/blob/d8594de9c64d3f84fd4c27053a9f7b06d3cb47e0/composer.json#L19) or from [.travis.yml](https://github.com/symfony/symfon

[2017-05-18 09:36] peter-gribanov opened #995 "Feature request: get HHVM status from Travis config"
You can verify that the project potentially supports HHVM on [.travis.yml](https://docs.travis-ci.com/user/languages/php/#HHVM-versions)

Example for [Symfony](https://github.com/symfony/symfony/blob/a84f59e644232e9909db0acfb9c6292f2b597ffd/.travis.yml#L23) and for [Doctrine](https://github.com/doctrine/doctrine2/blob/d6049f8631883d6ceb62b8220cb8b82d9f8cb364/.travis.yml#L8).

You can do this by an

[2017-05-18 10:14] vanderlee commented on #819
Maximum version is useful to indicate libraries that may be incompatible with newer versions of PHP (i.e. 7.x). It helps with transitioning existing applications from 5.x to 7.x, as 7.x introduced some significant backwards incompatibilities.

[![Compatible PHP Version](https://img.shields.io/badge/php-5.3%20--%207.0,%20HHVM-8892BF.svg)](https://github.com/symfony/symfony)

[2017-05-18 10:27] peter-gribanov commented on #819
@vanderlee  Okay. I agree.
If the library is not tested on the PHP 7.1, then it probably does not support this version.

Most likely the library will work, because the developers of PHP do not like to break BC. But there are no guarantees for this. Guarantee can only be a running test and the running tests are determined by Travis CI.

[2017-05-18 11:32] peter-gribanov commented on #819
I agree.

Just in case, i will explain to others.
If we take data only from `.travis.yml`, then we can say on which versions of the PHP the library was tested.
If tested on `5.4`, `5.5`, `5.6` then we can write `5.4 - 5.6`.
If tested on `5.6`, `7.0` then we can write `5.6 - 7.0`.
If tested on `5.6`, `7.0`, `7.1` and PHP last version is `7.1` then we can write `>= 5.6`.
If tested only on `5.4` and

[2017-05-18 11:48] peter-gribanov commented on #995
This issue must be solved of this #819.

[2017-05-18 11:48] #995 closed

[2017-05-18 12:43] peter-gribanov commented on #819
I found solution for this. Is a [PHP-Eye](https://php-eye.com/) service.

https://php-eye.com/package/symfony/symfony
https://php-eye.com/api/v1/package/symfony/symfony.json

[2017-05-21 06:11] hudson6666 opened #996 "Mozilla Add-ons badge cannot override label"
![](https://img.shields.io/amo/users/dustman.svg?label=mozilla%20add-on)
![](https://img.shields.io/amo/rating/dustman.svg?label=mozilla%20add-on)
![](https://img.shields.io/amo/stars/dustman.svg?label=mozilla%20add-on)

[2017-05-23 18:34] espadrine commented on #983
Here's a bit of a historical perspective.

I agree with @wopian; accepting having a logo by default for non-social badges was a weakness on my part during the review of certain badges.

However, even for social badges, I wanted to have a way to block a default logo. Adding `?logo` would do that, and I would welcome a patch that removes a logo that way.

Furthermore, we do have a few logos in `/log

[2017-05-23 22:18] dtolnay opened #997 "Eliminate padding on social badges if rhs is empty"
[code]

# 🡺<img src="https://img.shields.io/badge/GitHub--x.svg?style=social" width=300>🡸

---

There is a big empty area on the right that should be collapsed if there is no right-hand side.

---

Screenshot for posterity:

![selection_049](https://cloud.githubusercontent.com/assets/1940490/26379603/f030fc36-3fce-11e7-8d2d-56398b388f62.png)

[2017-05-24 10:26] mxstbr opened #999 "Show full star count"
It'd be awesome to have an option to show the full star count rather than the abbreviated version, i.e. rather than showing "Stars 7k" I want to see "Stars 7,278". :blush:

![screen shot 2017-05-24 at 12 24 41](https://cloud.githubusercontent.com/assets/7525670/26399110/fd3842f6-407b-11e7-833d-9e935954257f.png)

Love this service, thanks so much for making this a thing!

[2017-05-26 00:01] epruesse opened #1000 "Conda badges"
It would be neat to have badges (version, downloads, platforms) for packages available through the [conda](https://conda.io) channels, e.g. [bioconda](https://github.com/bioconda) or [conda-forge](https://github.com/conda-forge).

[2017-05-27 04:20] fcpauldiaz commented on #593
What's the progress on this issue?

[2017-05-31 10:01] nschloe opened #1003 "GitHub "star" -> "stars""
The current Github badge indicating the number of stars says `star`. This can be misunderstood since it could indicate that the badge is really another button to star the repository in question while it really is a link to the Github repo. I've seen users avoid the link.

To prevent this, I would suggest changing "star" to "stars".

[2017-06-01 09:08] nemesisdesign opened #1004 "Ansible Galaxy download count badge"
Hi!

I would like to add a download count badge for ansible-galaxy, what do you think?

[2017-06-01 21:35] #997 closed

[2017-06-04 16:16] danShumway opened #1005 "Gratipay badge shows "anonymous" if no one is donating"
If a project on Gratipay is not receiving any money, the badge will incorrectly list their total as anonymous.

For example, ``https://img.shields.io/gratipay/Distilled.svg`` shows up as:
![gratipay-anonymous](https://cloud.githubusercontent.com/assets/3317194/26763110/f84f83f6-491a-11e7-96cc-545770aad786.png)

[2017-06-06 08:01] jhermsmeier opened #1008 "Waffle.io badges missing background color"
Badges where it displays `0` look fine, but where the count is non-zero, the background color is missing. Examples:

![](https://img.shields.io/waffle/label/resin-io/etcher/does%20not%20extist.svg?style=flat-square)
– https://img.shields.io/waffle/label/resin-io/etcher/does%20not%20extist.svg

![](https://img.shields.io/waffle/label/resin-io/etcher/in%20progress.svg?style=flat-square)
– https://im

[2017-06-06 16:03] MetalArend commented on #577
The image as mentioned by [techtonik](#issuecomment-254946485) is not working, neither in chrome nor in safari. It shows an error `error on line 1 at column 652: Unescaped '<' not allowed in attributes values`. Is this a known issue, or was it introduced by a certain change?

[2017-06-10 17:03] tedmiston opened #1010 "GitHub contributors NaN"
I'm currently seeing the contributors badge on [requests](https://github.com/requests/requests) displaying NaN instead of a number.

<img width="1041" alt="screen shot 2017-06-10 at 1 01 20 pm" src="https://user-images.githubusercontent.com/366688/27004747-ee5ed524-4ddc-11e7-96f2-7f77ce08d98f.png">

[2017-06-12 15:06] justbill2020 opened #1011 "Open/Closed State badge for github issues."
I just forked the repo to add open/closed issue state badges, i'll send a PR when its complete...

this will be useful for our Readme file's known issue section.

https://github.com/evancohen/smart-mirror/blob/master/README.md

[2017-06-12 20:56] erasche commented on #1010
I am too, and going to https://img.shields.io/github-auth to try and use the OAuth to increase rate-limit returns an error.

[2017-06-13 10:44] techtonik commented on #577
@MetalArend yes, it became broken after some Chrome version (or maybe GitHub?). See https://github.com/badges/shields/issues/507#issuecomment-254944913 for fixed examples.

[2017-06-13 17:53] MetalArend commented on #577
Cool, thanks! :)

[2017-06-13 17:54] StatusCakeDaniel commented on #864
We'd be more than happy to make a call that suits - what would be the ideal response / call?

~Dan @ StatusCake

[2017-06-13 21:52] crazy-max commented on #864
Hi @StatusCakeDaniel,

You can read the issue #824 i opened for UptimeRobot Shield and read my modification on the PR #947.
The blocking issue is that StatusCake does not provide a public (read-only) API key. If you have more info, i can develop a similar badge as UptimeRobot.

[2017-06-14 22:57] ebekker opened #1013 "PowerShell Gallery"
Any chance to add support for PowerShell Gallery?  It's nuget based like many other services here.

[2017-06-20 06:57] cfmagnum opened #1015 "Facing issues while restoring Bosh using shield"
hello team,

I was testing a scenario where bosh gets deleted & redeploy bosh with same IP & configurations trying to restore it on new bosh using shield.
below steps were used:
1)  ssh onto bosh vm
2)  stopped all the running processes
    $ monit stop all
3)  restart postgres and shield agent
    $ monit start postgres
    $ monit start shield-agent
4) $ shield restore archive uuid  (for bosh db

[2017-06-20 08:00] ghybs commented on #529
Hi,

Thank you for having pro-actively revoked our tokens.

Just to let you know that the page to (re-)authorize GitHub Shields App no longer works:
https://img.shields.io/github-auth

I assume you currently have enough tokens for the rate limit?
Please let us know should you need more tokens.

[2017-06-20 10:52] rahiel opened #1016 "chrome web store "downloads" badge actually shows total active users"
The badge says it's the number of downloads, but it's actually the number of (active) users.

For example, on [my extension's page](https://chrome.google.com/webstore/detail/archiveror/cpjdnekhgjdecpmjglkcegchhiijadpb), it shows "483 users", this is parsed by shields but shown as number of downloads: ![](https://img.shields.io/chrome-web-store/d/cpjdnekhgjdecpmjglkcegchhiijadpb.svg).

The confusio

[2017-06-21 12:06] peter-gribanov commented on #819
You can take information from composer.json with Packagist API

Example for [Symfony](https://github.com/symfony/symfony):
https://packagist.org/p/symfony/symfony.json

![image](https://user-images.githubusercontent.com/1954436/27383298-0be40c54-5693-11e7-82c6-94bd8f8856ef.png)

Docs
https://packagist.org/apidoc#get-package-by-name

[2017-06-21 14:20] andrerom commented on #885
Think this should be re-opened.

It's not really the _spec_ on versions, the one composer follows _(but extends actually, with among others a 4th micro version number and probably more)_ is: http://semver.org/

And there you'll see `rc`, my guess is it's just uppercase in Composer documentation since it is a abbreviation for Release Candidate, and might be a preference of author, but I don't think

[2017-06-21 14:54] kocsismate commented on #885
@andrerom Yeah, you are right.

Since closing the issue I thought a little bit about what @paulmelnikow had said about strict vs lenient interpretation and came to the conclusion that if you really interpreted the versions strictly, you would display an error if the format isn't acceptable.

So in my opinion it makes sense to either display an error or interpret versions case-insensitively.

[2017-06-23 17:16] paulmelnikow commented on #885
AFAICT Packagist assigns special meaning to packages with `RC` and not with `rc`. Why would we do any different?

Since the problem in in the revision numbers of uploaded packages, it's Packagist that would need to issue a better error message, not Shields.

[2017-06-24 08:24] gluons commented on #541
@LestaD But I still prefer Shields badge style. 😅

[2017-06-25 11:08] ad-m opened #1018 "Badge of supported django versions from python classifiers"
Hello,

There is PyPI badge for published python package version: [![PyPI](https://img.shields.io/pypi/v/nine.svg)]()

I suggest add badge for Django versions support based on PyPI classifiers. Each Python packages defines classifiers. Some classifiers define supported Django versions (see https://github.com/YourAcclaim/Acclaim-Badges-for-EDX/blob/master/setup.py#L59 , https://pypi.org/project/acc

[2017-06-26 08:10] andrerom commented on #885
I think it might be normalizing version numbers first, that's what composer does and as packagist depends on composer I would assume it reuses logic like this.

[2017-06-27 04:15] Daniel15 commented on #294
Hey @simonvpe - Are you still interested in providing a PR for this?

[2017-06-27 04:16] Daniel15 commented on #1013
Would you like to try submitting a pull request to add it? If it's NuGet-based, it should be very easy to add (see `mapNugetFeed` and `mapNugetFeedV2` in `server.js`)

[2017-06-27 04:17] Daniel15 commented on #1010
Looks okay now - Have you seen this again recently at all?

[2017-06-27 04:18] Daniel15 commented on #1018
Would you like to submit a pull request to add this feature? We're happy to help you get started if you like :)

[2017-06-27 04:34] Daniel15 commented on #991
I assume you'd want a badge that shows something like "dependencies: up to date" like the david-dm one. Does Greenkeeper provide an API for that?

If all you want is "dependencies: monitored", you could simply use a static badge:

![](https://img.shields.io/badge/dependencies-monitored-green.svg)

https://img.shields.io/badge/dependencies-monitored-green.svg

[2017-06-27 04:35] Daniel15 commented on #1003
Seems reasonable. Would you like to submit a pull request for this?

[2017-06-27 11:13] stevenvachon commented on #991
@Daniel15 I don't think there currently is, but there's this: https://github.com/greenkeeperio/greenkeeper/issues/422

[2017-06-27 16:39] tedmiston commented on #1010
I saw it for a day or two then didn't check it regularly after that.  Do you think it's rate limiting?

[2017-06-27 16:40] Daniel15 commented on #1010
It's possible, although I thought that the badge would show "inaccessible" in that case.

[2017-06-30 19:40] ebekker commented on #1013
@Daniel15, great suggestion, thanks -- I've submitted a PR.

[2017-07-02 05:35] #1013 closed

[2017-07-02 05:43] #1005 closed

[2017-07-02 12:52] hckr opened #1026 "How to use Mozilla AMO badges?"
How to use "Mozilla Add-on", such as:
version: [![Mozilla Add-on](https://img.shields.io/amo/v/dustman.svg?style=flat-square)](https://addons.mozilla.org/en-US/firefox/addon/facebook-post-screenshot/)
rating: [![Mozilla Add-on](https://img.shields.io/amo/stars/dustman.svg?style=flat-square)](https://addons.mozilla.org/pl/firefox/addon/facebook-post-screenshot/)

SVG file probably should take add-o

[2017-07-02 19:06] perceptron8 commented on #1026
The same is true for Chrome Web Store and possibly Opera Add-ons when they arrive. As one extension may be published in several stores, I would vote for store name as a default label. This way one's able to tell which badge applies to which store. It's rather obvious that "★★★★☆" and "3.4/5" means rating, so current labels are redundant. Please, compare <ins>"mozilla add-ons | 4/5"</ins> against <

[2017-07-03 07:20] lihengming opened #1027 ":loudspeaker:"

[2017-07-03 07:20] #1027 closed

[2017-07-06 17:23] LiHRaM commented on #525
What's happening with this one?

[2017-07-08 01:54] ShivanKaul commented on #1016
+1. It should be something like `weekly active users`.

[2017-07-09 23:01] tylerl0706 opened #1030 "PowerShell Gallery support"
Hi there,

Big fan of Shields! I was wondering how we can get some support for the PowerShell Gallery - similar to that of the NuGet Gallery.

https://www.powershellgallery.com

an example package:
https://www.powershellgallery.com/packages/AzureRM.profile/3.1.0

just a typical:

PowerShell Gallery | version
![perfect](https://img.shields.io/badge/PowerShell%20Gallery-v3.1.0-blue.svg)

Let me know

[2017-07-09 23:52] tylerl0706 opened #1031 "Add To X badge"
In the age of chat bots in every chat app, it'd be nice to have something like this:

[Add To Slack](https://img.shields.io/badge/Add%20To%20Slack--green.svg?style=social&logo=data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAGcAAABnEAIAAADCsxftAAAACXBIWXMAAABIAAAASABGyWs%2BAAAACXZwQWcAAABnAAAAZwAqn3%2BLAAAABmJLR0T%2F%2F%2F%2F%2F%2F%2F8JWPfcAAAgcUlEQVR42u2deTzU2%2F%2FH%2B%2BZb3fq1KqZIZGw36pay

[2017-07-10 01:02] Daniel15 commented on #1030
Closing as duplicate of #1013. This has already been implemented, I think it's just waiting to be deployed to the live server.

[2017-07-10 01:02] #1030 closed

[2017-07-10 01:03] Daniel15 commented on #1031
You can already make your own plain-text buttons, see the very bottom of the site at https://shields.io/

[2017-07-10 05:06] tylerl0706 commented on #1031
@Daniel15: that's actually how I created the Svg in the first link but I couldn't seem to get it to embed properly in this thread.

Plus, it's a really ugly url because of the base64 encoded image of the Slack logo.

It's a similar concept to that of the "Tweet" shield:
![](https://img.shields.io/twitter/url/http/shields.io.svg?style=social)

[2017-07-11 09:08] neal-nankivell opened #1033 "Add Kiln review badge"
I would like to add support for badge that summarises the status of a [kiln review](http://help.fogcreek.com/8268/code-reviews-in-kiln).

Example badges:
![Approved example](https://img.shields.io/badge/review-approved-brightgreen.svg)
![Active example](https://img.shields.io/badge/review-active-yellowgreen.svg)
![Needs Work example](https://img.shields.io/badge/review-needs%20work-yellow.svg)
![A

[2017-07-13 13:21] peter-gribanov commented on #819
Or can get info from [Travis CI API](https://docs.travis-ci.com/api/).

Example for [Symfony 3.4](https://github.com/symfony/symfony):

[code]
![image](https://user-images.githubusercontent.com/1954436/28167934-13e0a336-67e6-11e7-8f4f-e4bafbe8d246.png)

and then get info about job by id

[code]
![image](https://user-images.githubusercontent.com/1954436/28168135-c999bdfc-67e6-11e7-8e1f-b130b2a77e58

[2017-07-13 13:30] peter-gribanov commented on #819
Example failed job

https://travis-ci.org/symfony/symfony/jobs/253198333
https://api.travis-ci.org/jobs/253198333

![image](https://user-images.githubusercontent.com/1954436/28168668-7d58f9f6-67e8-11e7-8f1a-abee7a2e26d6.png)

[2017-07-15 08:17] michaelschnyder opened #1035 "[NuGet] PreRelease tags with with SemVer2.0.0 and DotVersion don't seem to work"
With the upcoming NuGet Version 4.3 and the nuget.org Gallery (actually, the changes on NuGet Gallery are already in Production), there will be support for pre-release version numbers like
* 1.2.0-alpha.4
* 1.2.0-alpha.3
* 1.2.0-alpha.2+SomeBuildMeta
* 1.2.0-alpha.1

We're currently testing an experiencing a couple of problems as described in https://github.com/jobbrIO/jobbr-server/issues/53 and t

[2017-07-15 20:40] samdenty99 opened #1036 "Discord chat: inaccessible"
The discord badge is labelled 'inaccessible'

![](https://img.shields.io/discord/265199259291222016.png)

[2017-07-15 20:42] samdenty99 commented on #1036
You have to `Enable Server Widget` under the Widgets section on your server settings

![](https://user-images.githubusercontent.com/13242392/28242530-7ced5f7e-69a6-11e7-98e6-fe152250d886.PNG)

[2017-07-15 20:42] #1036 closed

[2017-07-17 10:44] mitchellkrogza opened #1038 "Cannot add shields.io as Github Application?"
Hi there, one of your pages suggests adding shields.io as a Github application to a repo if badges are not loading due to rate limiting. But cannot find shields.io as an application to add to a repo and visiting your link gives `GitHub OAuth authentication failed to provide a code.`how does one actually add shields.io to a repo?

[2017-07-17 10:52] mitchellkrogza commented on #529
Just ran into this issue this morning using some new badges for my repo. Tried visiting https://img.shields.io/github-auth but only get `GitHub OAuth authentication failed to provide a code.`

[2017-07-17 20:23] gabrielizalo opened #1041 "Add "Master" branch Latest commit time of a GitHub repo"
It will be cool to know when was the latest update of a repo.
You [can see in this file](https://github.com/gabrielizalo/JavaScript-Crypto-Libraries/blob/master/js-crypto-libraries.md) several badges.
I'm missing the "latest update" badge of all repos.

[2017-07-18 19:08] kgryte commented on #723
@paulmelnikow Is anything blocking this from being resolved?

[2017-07-22 13:47] danday74 commented on #308
Since no-one has covered this here the format for engines is ...

"engines": {
    "node": ">= 0.6"
 }

https://img.shields.io/node/v/<YOUR_PACKAGE>.svg

[2017-07-22 18:03] Martii commented on #308
1. `package.json` may not always be on npmjs.com ... which is a related issue. The `private` bit may be set in which case it won't be on npmjs.com
2. More dynamic detection of a specific latest version, say 6.x, showing the latest version there is what is needed as alluded to with the `engines` property in the prior reply.

It's okay if it doesn't get done as the syntax was already mentioned as no

[2017-07-23 15:22] cavneb opened #1042 "Add CodeSponsor.io badge"
CodeSponsor.io is a platform that connects sponsorship to open-source projects. Projects earn money from sponsors and this badge would indicate the amount earned per project.

The API to be hit is a simple GET request to
 https://app.codesponsor.io/shields/[token]/[username]/[repo_name]

For example: https://app.codesponsor.io/shield/YOURTOKEN/hopsoft/bg

Example Results:

[code]

[2017-07-25 18:43] DavidXochipilli commented on #1031
+1
An own graphic for [Telegram](https://telegram.org/) would be awesome!

[2017-07-26 14:33] onovotny opened #1044 "NuGet badges don't work for SemVer 2 packages"
Might be related to use of the v3 endpoint or not (or possibly just needing to add the right semverlevel=2.0.0 query parameter), but badges for SemVer 2 packages aren't currently working.

https://github.com/badges/shields/issues/655

https://img.shields.io/nuget/vpre/RSAKeyVaultProvider.svg
https://www.nuget.org/packages/RSAKeyVaultProvider

See https://github.com/NuGet/Home/wiki/Semver-2.0.0-Pro

[2017-08-01 12:10] deepsweet commented on #637
They have a slightly different green color than on our badges, I just can't live with this :) Sorry for asking, but is there any plans to implement this?

[2017-08-02 06:54] mkouba opened #1046 "Maven central badges seem to be outdated"
Hi all,
Maven central badges seem to be outdated, e.g.
[![Maven Central](http://img.shields.io/maven-central/v/org.jboss.weld.vertx/weld-vertx-core.svg)](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22weld-vertx-core%22)
shows currently version 1.0.0.CR6 (10-Apr-2017). However, there are two newer versions, 1.0.0.Final (26-Jun-2017) and 1.1.0.Final (01-Aug-2017). The same applies to other [Weld

[2017-08-02 07:12] chwebdude opened #1047 "Team Services Plugin"
Hi everyone

I just wanted to tell you, that I created a plugin for TFS and Visual Studio Team Services which will create a badge on the build process using shields.io.
You can grab it here: [https://marketplace.visualstudio.com/items?itemName=chwebdude.badge-creator](https://marketplace.visualstudio.com/items?itemName=chwebdude.badge-creator)

Thanks
Fabrice

[2017-08-03 03:27] DudeWhoCode commented on #445
This is happening right now:(

[2017-08-05 16:22] kariminf commented on #900
Hi,
I added a pull request
https://github.com/badges/shields/pull/1049

[2017-08-08 22:02] cormacpayne commented on #1013
@ebekker @Daniel15 Hey Eugene and Daniel, I saw that this functionality was added in commit https://github.com/badges/shields/commit/ce0eb7b3369b81205e56beac9461dcfd25d72deb , but it does not appear that the functionality is working (the examples added to `try.html` in the commit are both broken, as seen [here](https://img.shields.io/powershellgallery/dt/ACMESharp.svg) and [here](https://img.shiel

[2017-08-09 00:39] Daniel15 commented on #1013
It's likely the site hasn't been redeployed yet. @espadrine manages all that stuff, so I'll let him chime in here 😃

[2017-08-09 08:08] JanC commented on #343
+1

[2017-08-09 08:21] ppaulis opened #1052 "Add continuousphp.com badge"
badges/shields/pull/1051

[2017-08-11 16:14] cormacpayne commented on #1013
@Daniel15 @espadrine perfect, thanks for the update!

[2017-08-11 16:28] ebekker commented on #1013
Is there a way to see what *version* of the code base is deployed to the public site?  I was trying to find a way to match against a tag or something in GitHub but it doesn't look to be there?

Or alternatively, is there any indication in the GitHub repo when a release is deployed, like a tag, a PR or an issue?  Or maybe a tweet or announcement some other way?  I couldn't find any convention.

[2017-08-12 15:25] mattbk opened #1054 "Add 'Funding' category"
Experimented with this on https://github.com/badges/shields/pull/1053, but it should probably be pulled out for separate consideration.

There are at least a few shields (e.g., Gratipay, Beerpay, Bountysource) that relate to the amount of funding a project is getting. Considering that [OSS is dealing with funding issues right now](https://gratipay.news/open-source-captures-almost-none-of-the-value

[2017-08-16 20:53] quocvu commented on #286
@igormukhingmailcom how did you get the 3078 id for your role?

[2017-08-21 19:32] DonaldFrench opened #1056 "Trello Support"
Please add support for [Trello](https://trello.com/).

[2017-08-22 04:40] Daniel15 commented on #1013
Not sure, sorry 😢 . I haven't really handled that side of things. I'll try pinging @espadrine again as I haven't heard back.

[2017-08-22 16:58] dtolnay opened #1059 "Crates.io license badge is broken"
For example: https://img.shields.io/crates/l/clippy.svg

Currently every badge shows "undefined" as the license. It looks like shields.io is referring to `data.crate.license` in the JSON and the license is located at `data.versions[0].license`.

[2017-08-27 17:30] aashutoshrathi opened #1061 "How is issue-pr working ?"
There is no column in API containing the data for PRs, then how is it showing it.
For eg :- https://img.shields.io/github/issues-pr/iiitv/ChefLib.svg

[2017-08-30 03:00] heisejason opened #1063 "badges / shields"

[2017-08-30 14:16] Horgix opened #1064 "CircleCI : use only Status permission for the API calls"
**tl;dr : I think the CircleCI badge with token should be able to work with an API token having the "Status" scope only**

When generating an API token for CircleCI (used for private projects badges), it is possible to assign a scope to it. They currently support 3 scopes : "Status", "Build artifacts" and "all".

"Status" scope should be enough to get informations for a badge, and it is the scope

[2017-09-01 13:28] josesimoes opened #1067 "Support Visual Studio Marketplace extensions"
It would be awesome adding support for a badge showing the number of installs and, of course, a link to the extension on the [marketplace](https://marketplace.visualstudio.com/).

[2017-09-03 17:32] Horgix commented on #1064
Any opinion on that?

If you tell me that a PR fixing this would get merged I might implement it 🙂

[2017-09-04 02:58] duoduoeeee opened #1068 "Any probability of adding Chinese support?"
As the title goes.

I note that the program squeezes badges when there are Chinese characters on it.

For instance check out my example

https://badges.duoee.cn/api/badge/%E7%BD%91%E6%98%93%E4%BA%91%E9%9F%B3%E4%B9%90-GO-brightgreen.svg

In contrast, all badges in English are working properly:

https://badges.duoee.cn/api/

Is there any possibility to add a ttf or something so that the service reco

[2017-09-06 00:44] triggerman722 commented on #1054
Once #1069 is merged, I'd really like to see this issue resolved as well. Codetally deals with the cost side of funding and would ideally be in the funding category with Gratipay, Beerpay, and Bountysource.

[2017-09-07 13:37] Tethik opened #1071 "Proportions / Specification out of date?"
I'm working on my own port of this in python to generate badges offline via cli. So I'm trying to follow the [specification](https://github.com/badges/shields/blob/master/spec/SPECIFICATION.md) to generate the same badges.

I looked at the specification which has this image:
![Proportions image](https://github.com/badges/shields/blob/master/spec/proportions.png?raw=true)

However when comparing th

[2017-09-08 00:31] SamThilmany opened #1072 "website-up-down returning down, but website is up"
I've some websites running on my server and for one of them (the only WordPress installation), the `website-up-down`-badge returns `down` although the website is definitely up. For all the other websites on the same server, the badge displays `up`, which is correct.

---

### Live Demo

[![Website](https://img.shields.io/website-up-down-green-red/https/laborecke.de.svg?label=Website%20status)](htt

[2017-09-08 12:11] c33s opened #1073 "Maintainance "/no/" color"
shouldn't https://img.shields.io/maintenance/no/2017.svg be red? "/no/" should always be red, should it?

[2017-09-12 06:37] gucong3000 opened #1075 "Badge Request: sonarcloud.io"
[SonarCloud](https://sonarcloud.io) is online service base on SonarQube, Do you have any plan for support it?

[2017-09-12 06:39] gucong3000 commented on #1075
It's a little bit different from the local SonarQube, it has a parameter called "organization".

[2017-09-18 17:10] cjwhitsitt commented on #1038
Adding some extra info here.

* Link given: https://img.shields.io/github-auth
* URL that shows the above error: https://img.shields.io/github-auth/done?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdeveloper.github.com%2Fv3%2Foauth%2F%23redirect-uri-mismatch

Config issue with redirect URI?

[2017-09-20 09:17] alexanderrichards opened #1079 "link query parameter for non social styles"
Hi, I've noticed that the link query parameter `?link=` only works for the social style `?style=social`. Is this an intended feature as it would be very useful to be able to have the regular looking shields act as a link?

[2017-09-20 09:28] alexanderrichards commented on #1079
Sorry, I should have provided examples of what I tried. Please see the examples below:

So the following social badge works as expected with a link on the left hand side.
[https://img.shields.io/badge/Test-OK-green.svg?style=social&link=https://www.google.com](https://img.shields.io/badge/Test-OK-green.svg?style=social&link=https://www.google.com)

However, the default style does not.
[https://img

[2017-09-21 07:30] rstacruz commented on #1042
neat, how do you get your token? :D

[2017-09-22 02:27] joshuaavalon opened #1080 "colorB is ignored on all docker badges"
Use `alpine` as an example.

Docker Stars (Color A): ![](https://img.shields.io/docker/stars/_/alpine.svg?colorA=dfb317)
Docker Stars (Color B): ![](https://img.shields.io/docker/stars/_/alpine.svg?colorB=dfb317)

They behavior the same on all docker badges.

[2017-09-22 15:40] paulmelnikow commented on #948
Because I despise nitpicking stuff like indentation and spacing in pull request comments, I'd like to nudge forward our automated style checking, at least for new files being added.

I don't want to totally rewrite server.js just to get automated style checking… the blame tracking is just too useful. So let's it's just take care of that when we start splitting it out.

I'm open to pursuing Prettie

[2017-09-22 17:35] #900 closed

[2017-09-22 17:57] paulmelnikow commented on #1003
Addressed in #1019.

[2017-09-22 17:57] #1003 closed

[2017-09-22 19:02] paulmelnikow commented on #1075
Would you like to open a pull request?

[2017-09-22 19:02] paulmelnikow commented on #1075
Hi, thanks for your question. Would you like to open a pull request?

[2017-09-22 19:04] paulmelnikow commented on #1073
Sounds like a bug to me! Would you like to add a test and open a pull request?

[2017-09-22 19:08] paulmelnikow commented on #1072
Hi! Thanks for your question. Basically it just makes an HTTP request and checks that the status code is < 310. The code that handles is is [here](https://github.com/badges/shields/blob/master/server.js#L6155-L6194).

Note that results could be cached for a while on the production server.

Are you still seeing this problem? Can you reproduce it running a local copy of Shields?

[2017-09-22 19:09] paulmelnikow commented on #1056
Hi, thanks for the suggestion. Would the badge show counts, or just link to the board?

Would you like to make a pull request?

[2017-09-22 19:09] paulmelnikow commented on #1054
This is a fantastic idea!

[2017-09-22 19:10] paulmelnikow commented on #1064
Hi! This sounds like an excellent idea. If you can work up a pull request and add some tests I would be really happy to review and merge it.

[2017-09-22 19:12] paulmelnikow commented on #999
Hi, thanks for your suggestion. The full count makes the badges a bit messier, so I'd tend to argue for leaving them as they are.

[2017-09-22 19:13] paulmelnikow commented on #979
I'm thinking I will go ahead and address this. I'll make a github account for shields CI and configure Travis with the token. It's not a perfect solution, though the worst case – someone stealing our token – is no worse than today!

[2017-09-22 19:22] paulmelnikow commented on #1068
Hi, thanks for your question. You can put whatever font you'd like in the directory where Shields is installed. Just call it `Verdana.ttf`, even if it's some other font. Shields should load and use that. Hope that helps!

[2017-09-22 19:23] paulmelnikow commented on #1010
If this issue is still occurring, please ping the issue.

[2017-09-22 19:23] #1010 closed

[2017-09-22 19:26] paulmelnikow commented on #593
Thaddée's comment above says it all:

[2017-09-22 19:26] #593 closed

[2017-09-22 19:27] paulmelnikow commented on #834
@avarabyeu #820 needs some work. Would you like to take a look at it?

[2017-09-22 19:28] paulmelnikow commented on #716
That's a great idea @joernhees. Would you, or anyone else, like to open a pull request?

[2017-09-22 19:40] SamThilmany commented on #1072
@paulmelnikow Well my question is 15 days old now and as you see, I included a live demo which is still saying, that my website is down. I don‘t think that your cache keeps the result for two weeks, is it?

When I have time, I‘ll install a local copy and check, but I think that your IP is being blocked by WordPress. This is the only website on that server running on WP and it‘s the only website sh

[2017-09-22 19:47] paulmelnikow commented on #1072
Hmm, I have the same problem on my local machine.

The HTTP request made is a HEAD request, not a GET, and it looks like Wordpress is not responding appropriately. It should be a 200, but it's a 403.

I can reproduce the problem using curl:

[code]

[2017-09-22 19:50] paulmelnikow opened #1083 "Github token authorization page is not working"
As [reported here](https://github.com/badges/shields/issues/529#issuecomment-309675573):

[2017-09-22 19:51] paulmelnikow commented on #1083
Oops, duplicate of #1038.

[2017-09-22 19:51] #1083 closed

[2017-09-22 19:52] paulmelnikow commented on #529
Thanks, let's address at #1038.

Let's open a new issue for related Github problems, so it's not buried in here.

[2017-09-22 19:53] paulmelnikow commented on #1038
Yikes, let's get this fixed!

[2017-09-22 19:59] paulmelnikow commented on #992
Hi, thanks for the question. Is that with Verdana installed?

[2017-09-22 20:00] paulmelnikow commented on #993
Neat idea! Would you like to open a pull request?

[2017-09-22 20:03] paulmelnikow commented on #994
Hi, thanks for your suggestion. Is this information fetchable from their API? Or, would it need to be included in the badge?

It wouldn't be too hard to add a field in the Shields URI for the coverage badges, maybe comma-separated, which passes values into `floorCount`.

[2017-09-22 20:07] paulmelnikow commented on #819
Would someone like to work on a pull request?

[2017-09-22 20:18] jasonkarns commented on #815
This is rather frustrating when attempting to create a custom badge URL because it means the right-side can't be provided without some escaping.

I'm trying to generate custom badges where the right side is a semver version string, which can contain dashes. In order to account for the "normal" use of the dash as the <label>-<status>-<color> separator, that requires the dashes be escaped (with anot

[2017-09-22 20:22] jasonkarns commented on #623
#547 has been closed. this issue can be closed

(tldr: right-side bgcolor can be specified via query param `colorA`.

[2017-09-22 20:22] paulmelnikow commented on #1004
Hi, thanks for the suggestion! Is there an API? If so, please do! If you have questions, feel free to follow up here.

[2017-09-22 20:24] paulmelnikow commented on #1000
Thanks! Seems to be closed via #1001. If there's more to do, please open a new issue.

[2017-09-22 20:24] #1000 closed

[2017-09-22 20:25] paulmelnikow commented on #1008
Hi! Indeed, looks like a bug. Could you make a pull request?

[2017-09-22 20:27] paulmelnikow commented on #1011
Hi! PR #1012 has gone stale and needs work. If you'd like to pick it up, or if anyone would like to adopt it, please do!

[2017-09-22 20:28] paulmelnikow commented on #541
PR #841 has gone stale and needs work. If anyone would like to adopt it, please do!

[2017-09-22 20:29] paulmelnikow commented on #723
Seems it was fixed in #926!

[2017-09-22 20:31] #623 closed

[2017-09-22 20:35] kgryte commented on #723
@paulmelnikow That is incorrect. It was not fixed. Navigate to https://img.shields.io/node/v/@cycle/core.svg and you will see that the version is not displayed.

For another example, navigate to https://img.shields.io/node/v/@stdlib/stdlib.svg.

[2017-09-22 20:35] paulmelnikow commented on #815
It's a good idea. I like the dashes as shorthand for simple badges, though they are not useful for complex things nor programmatic generation. We should keep the current URL scheme working, for backward compatibility, though how about we add a second one `https://img.shields.io/badge.svg?…` which pulls everything from the query string?

[2017-09-22 20:37] paulmelnikow commented on #723
Gotcha. It's the **Node** version, not the package version.

Would you like to work up a PR based on the work in #926?

[2017-09-22 20:37] paulmelnikow commented on #637
Would you like to make a pull request?

[2017-09-22 20:39] kgryte commented on #723
Sure. I will take a look at it later tonight.

[2017-09-22 20:39] paulmelnikow commented on #1044
Hi! I'm seeing `nuget | v1.0.1` which matches the website, so it looks like this has been fixed. If not, feel free to reopen or comment.

[2017-09-22 20:39] #1044 closed

[2017-09-22 20:41] paulmelnikow commented on #1052
Closed via #1051.

[2017-09-22 20:41] #1052 closed

[2017-09-22 20:42] paulmelnikow commented on #343
A pull request would be welcome!

[2017-09-22 20:43] paulmelnikow commented on #1035
Hi! Could you clarify what needs to be done? A pull request would also be welcome!

[2017-09-22 20:49] paulmelnikow commented on #1046
Hi! Thanks for your question.

Hmmm, I'm not seeing 3.0.0.Final. Could this be a server-side problem?

From http://repo1.maven.org/maven2/org/jboss/weld/se/weld-se-shaded/maven-metadata.xml:

[code]

[2017-09-22 20:52] epruesse commented on #1000
@paulmelnikow Yes, it's fixed. Thanks!

Do I need to open issue for fixes/updates, or does a PR suffice? (May want to add 2-3 logos for the major channels to be displayed optionally to make platform/downloads badges more informative without becoming a mile wide)

[2017-09-22 20:53] onovotny commented on #1044
That's because I released a stable package.

[2017-09-22 20:54] onovotny commented on #1044
The key is that you have to add `semVer=2.0.0` as a query string parameter to however you're getting the version list.

[2017-09-22 21:31] joernhees commented on #716
i think it will take you about as long as it took you to write that, but it would take me a lot longer to find the right place... please fix this yourself, it's very likely commenting out whatever is there now and hard returning a string that won't embarrass a whole lot of projects.

[2017-09-22 21:42] kgryte commented on #723
@paulmelnikow PR submitted. See #1084.

[2017-09-22 21:51] joernhees commented on #716
no clue what just happened...

[2017-09-23 03:22] paulmelnikow commented on #904
Closed via #1053.

[2017-09-23 03:22] #904 closed

[2017-09-23 08:39] csoltenborn commented on #994
The information is passed to CodeCov at coverage upload time, and seems to not be available through their API.

I was thinking in the line of this: I guess you have a `shields.io` specific notion of *deep green* and *deep red*. Now, if the badge URI would allow to pass the lower and upper ends of a coverage range, the `shields.io` code could receive the coverage rate from CodeCov and compute a col

[2017-09-23 12:53] Daniel15 commented on #979
You can likely use app ID + app secret rather than token. I think that increases the request limits too, and app ID + secret leaking doesn't grant the user access to anything (since nobody will actually 'log in' to the app)

[2017-09-24 01:13] paulmelnikow commented on #1000
Sometimes it's helpful to open an issue first, since once something is implemented it can be hard to discuss unemotionally. 😁  In general though, there's no need to open an issue first.

In terms of logos, we don't have a great way to optionally display them, though I'm hoping to add a better way in addressing #983. If you want to tackle that I'd be all for it, though I'd want to do that in a way

[2017-09-24 01:47] paulmelnikow commented on #1079
Hi, thanks for those references. Seems to me that is probably a bug!

[2017-09-24 01:51] paulmelnikow commented on #1061
Hi! Here is [the code that handles that](https://github.com/badges/shields/blob/20ab540fb2967ad81b1e641e5e493dc91cb317fd/server.js#L3393-L3396).

If that doesn't answer your question, please reopen!

[2017-09-24 01:51] #1061 closed

[2017-09-24 01:55] paulmelnikow commented on #994
Yup, makes sense to me.

It would be good to do this in a way that works across all the coverage badges.

Would you like to work on a PR?

[2017-09-24 01:58] paulmelnikow commented on #1013
This has been deployed now.

For future reference, to see the version that's currently deployed, you can look at the [gh-pages branch](https://github.com/badges/shields/commits/gh-pages). The deploy process updates the servers and force-pushes a deploy commit to that branch. Github Pages hosts https://shields.io/index.html. @ebekker @Daniel15

[2017-09-24 02:07] paulmelnikow commented on #1047
👍

[2017-09-24 02:07] #1047 closed

[2017-09-24 02:08] paulmelnikow commented on #1026
Hi! When you say the values are hard-coded, does that mean you can't override using `?label=`?

[2017-09-24 02:09] paulmelnikow commented on #525
@LiHRaM Would you like to make a pull request?

[2017-09-24 02:10] paulmelnikow commented on #1016
Woo! That is worth fixing! Would someone like to open a pull request? **active users** seems like a good label.

[2017-09-24 02:13] paulmelnikow commented on #1041
Hi! See #928. Will try to get that merged soon, at least the part that shows the last commit date.

[2017-09-24 02:22] paulmelnikow commented on #1031
As part of resolving #983 I'd like to add the capability to pull in a logo by reference. So, we could have named logos like slack, etc, and then you could just say something like `?logo=slack`.

Apart from that, the only badge like this which does not hit an API is the gitter badge:

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)]()

I'm ambivalent about whether to add more API-free

[2017-09-24 03:36] #1059 closed

[2017-09-24 04:00] paulmelnikow commented on #1079
There's an old PR #598 that's addressing this.

[2017-09-24 06:56] mkouba commented on #1046
Well, I can see the latest versions when using central repo UI: http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.jboss.weld.se%22%20AND%20a%3A%22weld-se-shaded%22. But yes, it looks like the `maven-metadata.xml` file is broken. I will send a question to sonatype guys. Thanks.

[2017-09-24 08:50] gabrielizalo commented on #1041
Duplicated issue!

[2017-09-24 08:50] #1041 closed

[2017-09-24 09:18] ritwickdey commented on #1026
Hi, @paulmelnikow . Yep, It's hard-coded.

 I check that code for Mozilla AMO badges. This issue is for
https://github.com/badges/shields/blob/c1a8166af26d79ec2b966a56b0d0b55920df6b8d/server.js#L4150

This line should be
[code]
or
[code]

Same is for rating|stars|users label

[2017-09-24 09:47] ritwickdey commented on #999
Hi, @paulmelnikow
Honestly, I also want the feature. It should depends how customer wants to see it.

I prefer `5.21K` or `2.45M` (2 digit after point).

_Just a suggestion:_ As we can change the label of badge using optional parameter, it will be better if it can be customize using optional parameters (eg.`?dataFormat=`) and as there has a standard function `metric()`, if we pass the `data` objec

[2017-09-24 10:11] c33s commented on #1073
@paulmelnikow i would happily make a PR if the code would be in php and the tests would be in phpunit but as it is js i have to say "sorry, no".

[2017-09-24 12:24] ebekker commented on #1013
@paulmelnikow thank you!

[2017-09-24 13:54] joernhees commented on #716
everyone is doing this in their free-time, so let's be efficient about it... this also means that you as one of the maintainers should know about your efficiency advantage over outsiders who would first have to get to know your guidelines, code, CI setup, etc... you could easily have quick-fixed this in the time it took you to reply to me. Please do so instead of making me jump artificial hoops yo

[2017-09-24 17:20] tylerl0706 commented on #1031
@paulmelnikow I think your suggestion to pull in common logos sounds great :)

If I'm able to add a badge on my open source bots that link to opening up the bot in Messenger, Telegram, Slack, etc - but without having to embed an entire image, I'm happy.

For the named logos, I have a few suggestions:

* Slack
* Telegram
* Facebook Messenger
* Skype
* Microsoft Teams
* Amazon Alexa
* Cortana
* Kik

[2017-09-24 20:43] espadrine commented on #716
Don't worry, we're not expecting you to do it if you have no time! Given the amount of patches, maintainers tend to focus more on reviewing and helping others hop on board than on performing fixes themselves.

[2017-09-24 22:09] joernhees commented on #716
from one maintainer to another: thanks and apologies for getting grumpy

[2017-09-25 01:20] cormacpayne commented on #1013
@paulmelnikow thanks Paul!

[2017-09-25 08:34] alexanderrichards commented on #1079
Thanks for pointing me to that PR. It seems it has been open some time (it was first opened on 12 Dec 2015). Is there an ETA for this feature?

[2017-09-25 12:47] LiHRaM commented on #525
@paulmelnikow I'll get started on that. ;)

[2017-09-25 12:50] laughedelic commented on #658
Still a problem. From the example on shields.io:

<img width="733" alt="screen shot 2017-09-25 at 14 39 07" src="https://user-images.githubusercontent.com/766656/30809079-d4e33932-a200-11e7-845c-49fd583d33f7.png">

[2017-09-25 12:56] SamThilmany commented on #1072
Fixed it. A WordPress Plugin was setting `RewriteCond %{REQUEST_METHOD} ^(HEAD|TRACE|DELETE|TRACK) [NC]` and therefore the requests were forbidden. I now removed `HEAD` from the string and now it works well.

[2017-09-25 12:56] #1072 closed

[2017-09-25 17:56] paulmelnikow commented on #1031
I opened #1092 which includes support for named logos, while turning off logos by default. Reviews / +1's on that could be helpful. And, perhaps finding some optimized SVGs for these services would be helpful too!

[2017-09-25 17:57] paulmelnikow commented on #983
I opened #1092 which includes support for logos by reference a.k.a. named logos, while turning off logos by default, except for social badges, which can also be turned off if desired.

[2017-09-25 21:44] KOLANICH opened #1093 "Better license shields"
1 Open https://tldrlegal.com/license/apache-license-2.0-(apache-2.0) .
Look at the page.
You see 3 columns of different colors. Each column has clauses describing license in short, each clause has own pictogram.
2 [GitHub has an API](https://developer.github.com/v3/licenses/) returning the similar information.

So, how should the license shield look like?
 0 Background color:
  * red for proprieta

[2017-09-25 21:56] RedSparr0w commented on #979
should just be able to set the environment variable on Travis-CI:
![image](https://user-images.githubusercontent.com/7288322/30831407-d484bda0-a2a3-11e7-93e9-377c9d6090f6.png)
And **should** be able to access it from the script using something like this in [github-auth.js](https://github.com/badges/shields/blob/master/lib/github-auth.js#L24-L25):
[code]

with 'display value in build log': `off` sh

[2017-09-26 00:40] paulmelnikow commented on #1079
There are still quite a few PRs in the backlog, though we're getting much closer to clearing it.

I'm not able to review this without digging in a bit to the badge-template part of this project, an area I haven't learned too much about. Though, if you or someone would like to get it rebased and tested a bit, that would get the process started, and hopefully either @espadrine or I can take a look.

[2017-09-26 02:47] paulmelnikow commented on #979
Just seeing your comments. Indeed, the app ID + secret gives you access to extra requests. (I'm pretty sure this is how Shields works! 😄) Agreed with @RedSparr0w that it doesn't matter whether we use a token or an app ID + secret. Github lets you choose which permissions a personal access token receives, and this CI account will have no permissions anyway. There's no way we can protect the key, si

[2017-09-26 02:54] #996 closed

[2017-09-26 02:54] #1026 closed

[2017-09-26 02:55] paulmelnikow commented on #1026
Thanks @RedSparr0w for the fix!

[2017-09-26 02:55] paulmelnikow commented on #996
Fixed! Thanks @RedSparr0w.

[2017-09-26 03:01] paulmelnikow commented on #1093
I like the idea of colors! Probably I would make the unrecognized license either gray, which we usually use for unknown, or red, since some rando license is not so safe, and might even be proprietary.

[2017-09-26 03:04] RedSparr0w commented on #1016
a temp work around until a PR has been made/merged is to add `?label=users` to end of the URL
example:
![](https://img.shields.io/chrome-web-store/d/cpjdnekhgjdecpmjglkcegchhiijadpb.svg?label=users)
`https://img.shields.io/chrome-web-store/d/cpjdnekhgjdecpmjglkcegchhiijadpb.svg?label=users`

[2017-09-26 03:12] ritwickdey commented on #1067
Close #1074

[2017-09-26 08:01] #1067 closed

[2017-09-26 08:21] KOLANICH commented on #1093
unrecognized license may be proprietary, so orange

[2017-09-26 11:10] limonte opened #1098 "Bower badge shows void instead of alpha"
![](https://img.shields.io/bower/v/vaadin-checkbox.svg)

Actual result: `"void"`
Expected result: `"v1.0.0-alpha7"`

There's the `v1.0.0-alpha7` tag: https://github.com/vaadin/vaadin-checkbox/releases/tag/v1.0.0-alpha7

[2017-09-26 12:48] tooomm commented on #993
I can't help with code, sry. :(

[2017-09-26 15:00] #1080 closed

[2017-09-26 15:01] paulmelnikow commented on #1080
Thanks @ritwickdey!

[2017-09-26 17:55] ritwickdey commented on #1098
Hi, this is for your package on pre-release version. (not stable version).

I've made a PR #1099 on it.
You can access it through `/bower/vpre/vaadin-checkbox.svg`  (BTW, on Bower, it is `"v1.0.0-alpha6"`).
<br>
![image](https://user-images.githubusercontent.com/18099464/30875670-deb81eac-a311-11e7-9596-87dd7f316471.png)

<br><br><br>
![image](https://user-images.githubusercontent.com/18099464/308

[2017-09-26 19:26] rahiel commented on #1016
I think just `users` would be a better label: it's consistent with the badge showing the number of Firefox users of an add-on: ![](https://img.shields.io/amo/users/archiveror.svg). Saying it's about "active" users seems redundant.

[2017-09-26 19:38] ShivanKaul commented on #1016
"users" as a label is ambiguous: number of users who downloaded the
extension? Who currently have it downloaded and not disabled?

"active users", or even "weekly active users", represents what the number
actually is.

On Sep 26, 2017 3:26 PM, "Rahiel Kasim" <notifications@github.com> wrote:

[2017-09-26 20:17] rahiel commented on #1016
That would be misleading, the [linked stackoverflow answer](https://stackoverflow.com/questions/21248397/how-are-chrome-extensions-weekly-users-counted-is-it-the-number-of-users-who-h/21255294#21255294) says that number is:

This **includes** users who have the app/extension installed, but have it disabled: Chrome also auto-updates disabled extensions.

The Chrome Web Store itself labels that numb

[2017-09-26 20:31] RedSparr0w commented on #1016
Agree with @rahiel and because it keeps it consistent with the Mozilla addons, just makes more sense IMO.

If someone wanted it to say `active users` they could always manually change the label.

[2017-09-26 20:37] ShivanKaul commented on #1016
Interesting, didn't realize that disabled extensions also get auto-updated!

[2017-09-26 22:13] RedSparr0w opened #1101 "coverage test errors on windows"
When running `npm run coverage:test:services -- --only=whateveryourtesting`
you will get an error in console and the coverage test will not run:
[code]

This [comment](https://github.com/gotwarlost/istanbul/issues/90#issuecomment-22331096) has a fix which is to provide the relative path to the `_mocha` JS file.

which would change [these lines](https://github.com/badges/shields/blob/master/package

[2017-09-26 22:17] espadrine commented on #1079
Sadly, Google Chrome's SVG handling is still [broken](https://bugs.chromium.org/p/chromium/issues/detail?id=352912).

Shields.io started out in the pre-retina world where SVGs were not as prevalent, and we have hit dozens of bugs in various browsers, which we have carefully reported along the years.

As for SVGo, the change we made is that the SVGo transformation is performed during compilation (i

[2017-09-27 03:31] #985 closed

[2017-09-27 14:24] mkobit opened #1104 "Provide an Asciidoc copy/paste snippet in popup"
![No Asciidoc copy and paste snippet provided](https://user-images.githubusercontent.com/1447148/30918881-75e911f2-a365-11e7-8d41-700677ccb0ac.png)

Would be nice to have an Asciidoc snippet provided an addition to Markdown and reStructuredText

[2017-09-28 00:13] paulmelnikow commented on #1104
What would the asciidoc snippet look like? Also, would you be interested in making a pull request?

[2017-09-28 00:22] #1101 closed

[2017-09-28 00:29] mkobit commented on #1104
An example:

Markdown:

[code]

An Asciidoc example (not supplying `alt`, `title`, `caption` or other attributes):

[code]

I can take a quick shot at a PR

[2017-09-28 00:34] #1016 closed

[2017-09-28 00:36] paulmelnikow commented on #1104
All that stuff is in right in `try.html`. I haven't played around with it yet, so I'm really not sure about the state of the code. Let me know if you have questions and I'll do my best to help.

[2017-09-28 00:39] #895 closed

[2017-09-28 00:42] paulmelnikow commented on #1098
Seems like there is also a usability issue here. Instead of displaying **void** when there are no releases, we should display something more user-friendly, like **no releases**. @ritwickdey Maybe you could test that case in your pull request, possibly using a mocked server response, and add a fix.

[2017-09-28 00:50] paulmelnikow commented on #979
Woohoo! I am going to go re-trigger a bunch of builds and see if we can't get some of these PRs to green :)

[2017-09-28 01:19] paulmelnikow commented on #979
#1095 fixed rate limits for the server, but not where the test harness uses Github. Have addressed that in #1105.

[2017-09-28 01:30] paulmelnikow commented on #420
Believe this was resolved in #1020.

[2017-09-28 01:30] #420 closed

[2017-09-28 01:33] #1104 closed

[2017-09-28 09:31] tooomm opened #1107 "Add Travis CI logo to build badge"
Basically same as https://github.com/badges/shields/issues/507 (AppVeyor logo)

It would be very handy to have a logo on the badge for travis too.
With the upcoming `?logo=` (#1092) addition we are fully customizable then. 👍

Logo could be the travis `T` or the helmet for example. The complete travis face might have too much details for a little logo.

[2017-09-28 09:34] ritwickdey commented on #1098
Hi @paulmelnikow , I've made changes & added 9 tests (including for invalid packages). But Is it possible to test for this **'no releases'** label ? beacuse if I test it from any real package, soon or later that package may get official release. That time, it test will be failed.

[2017-09-28 14:43] paulmelnikow commented on #1098
The way to accomplish that is using the `intercept()` method in your test. It lets you intercept the request that would be made to the server, and provide a fake response. Then the test doesn't hit the server at all! It's not perfect, since the fake response can get out of skew with what the real server would return, though it helps you test that your code is working as intended. There's some comm

[2017-09-28 14:48] #983 closed

[2017-09-28 15:11] paulmelnikow commented on #979
Argh, still seeing failures.

I checked the build settings, and the `GITHUB_TOKEN` setting had been removed. Maybe done as a security measure by Travis? Have restored it. Will see what happens.

[2017-09-28 18:12] ritwickdey commented on #1098
Added 😄

[2017-09-28 20:26] RedSparr0w commented on #979
Strange, hopefully it sticks this time! 🤞

[2017-09-28 22:26] RedSparr0w commented on #979
Looks like [this is the issue](https://docs.travis-ci.com/user/pull-requests#Pull-Requests-and-Security-Restrictions),

[2017-09-28 22:31] paulmelnikow commented on #979
That's what I thought, though I'm using an environment variable set in the UI, not an encrypted variable.

[2017-09-28 22:42] RedSparr0w commented on #979
Looks like it also affects the secure variables, based on the first line, but they don't mention it again further on at all so may be wrong.

Only other work around i could think of is setup a .php page or something to handle all the test request as then the api key would be hidden.

[2017-09-29 13:42] Daniel15 commented on #979
It could be an endpoint on the shields.io service itself. That's something I suggested in my comment from May: https://github.com/badges/shields/issues/979#issuecomment-299677110

[2017-09-29 16:49] #1008 closed

[2017-09-29 16:55] paulmelnikow commented on #979
My response then:

The Github service makes arbitrary calls to Github, though we need metadata, which is predictable, for _every_ test.

It's better to have super flaky Github service tests than all our tests be super flaky. I agree, let's do this. It fixes 90% of our problems. After we do that, and merge #1111, we'll be in good shape for everything but **[Github]**.

[2017-09-29 17:41] jhermsmeier commented on #1008
@paulmelnikow oh, looks like I didn't get around to that in time – thanks a lot @ritwickdey!

[2017-09-29 19:13] tooomm opened #1113 "download count for latest pre-release"
We have a download count badge with several options for github releases, e.g. for a fixed tag or more importantly last release (since it updates automatically with your new releases):
![dl from latest-pre](https://user-images.githubusercontent.com/9874850/31031491-fc8c240c-a558-11e7-9f59-5dd4d4ce4240.png)

I request a download count for "latest pre-release" as well. Some repos use releases for sta

[2017-09-29 19:29] paulmelnikow commented on #979
Opened #1114.

[2017-09-30 16:10] #1098 closed

[2017-09-30 21:43] #1004 closed

[2017-10-02 14:47] #897 closed

[2017-10-02 17:26] #1011 closed

[2017-10-02 18:17] #993 closed

[2017-10-02 18:48] paulmelnikow opened #1119 "Github search has custom rate limits"
I ran into some unexpected behavior locally which we're also seeing in CI. The Github service tests are flaky, and they sometimes pass or fail depending on the order in which they are run.

Our token logic doesn't correctly distinguish between the standard 12,500 requests per minute, and the [30 requests per minute provided by the Search API](https://developer.github.com/v3/search/). Once a token

[2017-10-02 18:49] paulmelnikow commented on #1073
Fixed in #1089.

[2017-10-02 18:49] #1073 closed

[2017-10-02 18:51] paulmelnikow commented on #703
If the problem persists, please ping this issue or reopen.

[2017-10-02 18:52] paulmelnikow commented on #671
Fixed in `flat-square` via #677. Still a problem in `plastic`.

[2017-10-02 18:53] paulmelnikow commented on #542
Feel free to open a new issue if this problem recurs.

[2017-10-02 18:53] #542 closed

[2017-10-02 18:55] paulmelnikow commented on #716
This issue isn't a bug anymore so I removed that label.

Should we close it?

[2017-10-02 19:28] paulmelnikow commented on #979
Opened #1120 with the tooling change while #1114 is waiting to be deployed.

[2017-10-02 22:29] espadrine commented on #1038
Hi folks, I think I fixed it with 95ef1da7. Please do re-open if I am wrong.

[2017-10-02 22:29] #1038 closed

[2017-10-03 04:27] paulmelnikow commented on #1038
Thanks @espadrine!

[2017-10-03 04:33] paulmelnikow commented on #1038
My boyfriend just authorized his github account, so I can confirm this is working! 👍

[2017-10-03 09:49] mitchellkrogza commented on #1038
👍  confirmed fixed, I visited https://img.shields.io/github-auth and it authorized instantly. Well done @espadrine

[2017-10-03 13:07] tooomm opened #1124 "how to add several customizations to a badge"
For example:
How to add both, a custom label on the left and a custom color to the right of a badge

I tried `https://img.shields.io/github/commits-since/SubtitleEdit/subtitleedit/latest.svg?label=test?color=orange`
but it returns: ![](https://img.shields.io/github/commits-since/SubtitleEdit/subtitleedit/latest.svg?label=test?color=orange)

[2017-10-03 13:28] paulmelnikow commented on #1124
Hi, thanks for your question. You need to separate them with an `&`:

`https://img.shields.io/github/commits-since/SubtitleEdit/subtitleedit/latest.svg?label=test&color=orange`

[2017-10-03 13:28] #1124 closed

[2017-10-03 14:14] tooomm commented on #1124
I experimented with several separators and connectors before opening this pr, without success.
Your example isn't working either: ![](https://img.shields.io/github/commits-since/SubtitleEdit/subtitleedit/latest.svg?label=test&color=orange)

But I realized now that I copy and pasted the wrong url, I actually have to use `colorB` instead `color`.
If I use that with your customization I get this resu

[2017-10-03 16:33] StefMa opened #1125 "Add badge for gradle plugin portal"
It would be cool if we have a badge for the [gradle plugin portal](https://plugins.gradle.org/).

I image it like similar the maven central or the bintray badge.
[![Bintray](https://img.shields.io/bintray/v/asciidoctor/maven/asciidoctorj.svg)]() (If it's working of course 🙃)
[![Maven Central](https://img.shields.io/maven-central/v/org.apache.maven/apache-maven.svg)]()
plugin portal | v0.9.95

You

[2017-10-03 18:52] paulmelnikow commented on #1125
Hi, thanks for the suggestion. Do they have a public API?

[2017-10-03 18:57] StefMa commented on #1125
I can't find one :disappointed:
Even something like `_latest` doesn't work...

[2017-10-03 19:03] paulmelnikow commented on #1124
I noticed the syntax looked correct but didn't notice the color. Glad you figured it out. Agreed, it would be good if the same color parameters worked consistently everywhere.

[2017-10-03 23:51] paulmelnikow commented on #830
@RedSparr0w in addition to making the colorscheme.json colors work, wanted to let you know this feature was requested. It seems easy enough to handle.

[2017-10-03 23:54] paulmelnikow commented on #548
#820 will definitely do that. You can return JSON instead of plain text, and then pick it back out.

[2017-10-03 23:59] #362 closed

[2017-10-04 00:02] paulmelnikow commented on #349
@RedSparr0w

[2017-10-04 00:07] paulmelnikow commented on #714
This could build on the work of #1112.

[2017-10-04 06:03] xmcp opened #1130 "Text for Mozilla Addon Rating is wrong"
![](https://img.shields.io/amo/rating/adblock-plus.svg)

The `/amo/rating/` badge should display "rating x/5", but it now displays "downloads x/5".

[2017-10-04 14:02] paulmelnikow commented on #1130
Thanks. That was just fixed in #1127 which is waiting for review.

[2017-10-04 16:25] the-j0k3r commented on #746
@paulmelnikow

I just noticed this problem and came looking for a report or make my own.
Ive not tested in other OS's

The issue exists with svg badges only as far as I cant tell, with png badges the issue is gone, but of course the text is quite small in comparison.

My environment:
[code]
Issue test

[![Scrutinizer](https://img.shields.io/scrutinizer/g/filp/whoops.svg)]()
[![Scrutinizer](https:/

[2017-10-04 17:27] paulmelnikow commented on #746
Thanks for the info.

Could you include your answer to Thaddée's question in https://github.com/badges/shields/issues/746#issuecomment-236384036?

Yea, that's right, it's only with the svg badges. The png badges are rasterized on the server, so they look the same everywhere.

[2017-10-04 18:07] the-j0k3r commented on #746
@paulmelnikow request dupe-reply here

---

@paulmelnikow

I just noticed this problem and came looking for a report or make my own.
Ive not tested in other OS's

The issue exists with svg badges only as far as I can tell, with png badges the issue is gone, but of course the text is quite small in comparison.

My environment:
[code]
Issue test

[![Scrutinizer](https://img.shields.io/scrutinizer/g/

[2017-10-04 18:32] offa opened #1131 "Shield not displayed if repository contains "-""
I have a repository which contains a `-` in the path. Unfortunately this prevents shields from being displayed on Github.

### Example

Eg. following markdown from [shields.io](http://shields.io/) is not shown:

[code]

Same happens for release or Travis shield. Replacing `-` with `--` has no effect. So this wont work either:

[code]

Is there a way to get this working?

[2017-10-04 18:52] paulmelnikow commented on #746
It looks like you tried to reply but I'm not seeing it. I mean: which of those fonts do you have installed?

[2017-10-04 19:08] paulmelnikow commented on #1131
This is what I'm seeing:

https://img.shields.io/github/issues/offa/scope-guard.svg

<img width="115" alt="screen shot 2017-10-04 at 3 02 55 pm" src="https://user-images.githubusercontent.com/1487036/31194448-34626bb0-a915-11e7-86ce-989d07730930.png">

So I suspect this is an intermittent problem with the Github badge, due to Shields not having enough tokens for our API usage. Or possibly it could

[2017-10-04 19:24] offa commented on #1131
If I open the url in the Browser I can see it too. However from Markdown it's not shown. The [Readme](https://github.com/offa/scope-guard/blob/master/README.md) should show 4 Shields, but I see only 2. I checked on another system and asked someone, both times all 4 are shown. Seem related to my system. I'll clean my browser and test again.

So from a general perspective, this should work (And I do

[2017-10-04 19:33] paulmelnikow commented on #1131
Yea, this markdown is working fine.

[code]

[code]

 I'm seeing four badges in your readme too.

[2017-10-04 19:38] offa commented on #1131
Finally figured out what caused the problem: The _UBlock_ plugin filtered those two. But only on this system (others with same settings work fine) and only on this project, all other projects, links and systems aren't affected. This also explains why it stopped working suddenly.

@paulmelnikow Thanks for having the time (and giving the final hint).

[2017-10-04 19:39] #1131 closed

[2017-10-04 20:33] the-j0k3r commented on #746
Its Windows, doubtful it will have Dejavu Sans or any Dejavu or Geneva, verdana yes.

 DejaVu Sans -- No
 Verdana -- Yes
 Geneva --No

[2017-10-04 20:49] paulmelnikow commented on #746
It's rendering with Verdana on my Mac OS machine too. I'm not sure why the size is so different.

[code]

Here's what I'm seeing:

<img width="178" alt="screen shot 2017-10-04 at 4 46 51 pm" src="https://user-images.githubusercontent.com/1487036/31198849-a8ed9366-a923-11e7-86d9-596d3f4fdefd.png">

Is the problem observed in Firefox, and not in Chrome or IE?

[2017-10-04 20:54] paulmelnikow commented on #746
There's a known issue with minimum font size. Do you have that turned on? (#848)

[2017-10-05 10:09] tooomm opened #1134 "github issue count badge isn't working for label with spaces"
Label with spaces in between, like "help wanted", aren't displaying the correct value. They always display "0".

https://github.com/Cockatrice/Cockatrice/issues?q=is%3Aopen+is%3Aissue+label%3A%22Easy+Change%22
One would use this badge url in the above case I guess:
"https://img.shields.io/github/issues/Cockatrice/Cockatrice/Easy%20Change.svg"

[2017-10-05 11:30] the-j0k3r commented on #746
**You nailed it, that seems to be the problem.** 👍 🍾 🥇 disable minimum size and issue is gone. 😊

Im not sure when or why that setting changed here but its off now.

One thing though, #848 report doesnt mention which browser or version, even no OS or version either

If you have read through both tickets, https://github.com/badges/shields/issues/797#issuecomment-249511923 and https://github.com/bad

[2017-10-05 21:01] paulmelnikow commented on #746
@RedSparr0w has a brilliant fix! Could you help us test it @the-j0k3r, by turning min-font-size back on till the problem comes back, and then screenshotting this page?

http://whois.paulmelnikow.com/extra/1132.html

[2017-10-05 21:14] paulmelnikow commented on #1134
I opened #1135.

[2017-10-05 22:19] the-j0k3r commented on #746
My pleasure, to help out, least I can do :)

![capture](https://user-images.githubusercontent.com/31389848/31255145-449fa2e0-aa23-11e7-989e-df8d8215ccea.PNG)

[2017-10-06 20:41] ritwickdey commented on #1093
I like the idea too 👍 . I think we have to sort the all licence -- but is it not huge? -- I don't know.

[2017-10-07 04:32] bgun commented on #869
I'd like to take this on, for downloads and ratings at least.

[2017-10-07 08:49] KOLANICH commented on #1093
tldrlegal and github have done the work for you. You only need to get the data through API and draw a shield

[2017-10-07 11:23] platan commented on #1113
As fas as I can see [GitHub REST API](https://developer.github.com/v3/repos/releases/) does not allow to get latest prerelease or even filter all releases to get only prereleases. So we have to list all releases and find prerelease. Do we want to do in this way? We could add some limits, e.g. check only first page of results (30 by default, max 100).

[2017-10-07 13:09] platan commented on #880
According to https://developer.github.com/v3/repos/traffic/:

So we cannot get information about number of clones. Traffic data is available only for repo owner (push access), no matter how it is accessed (REST API or webpage).

[2017-10-07 13:39] paulmelnikow commented on #1113
If 2.0.0-rc2 is followed by 2.0.0, it's not helpful to see stats for 2.0.0-rc2 on a badge. So, the Shields semantics for "latest (pre-)release" is "latest release including prereleases." `downloads-pre` includes prereleases, and `downloads` excludes prereleases. It's the same idea as #1133.

[2017-10-07 13:47] paulmelnikow commented on #880
Seems like this would be difficult to do then, except perhaps for privately hosted Shields servers.

[2017-10-07 15:45] platan commented on #1113
Thanks! OK. I will do it in this way.

[2017-10-07 17:01] PyvesB opened #1139 "[GitHub] Add repository main programming language badge"
Hello,

Opening an issue beforehand before diving into any implementation, as suggested by the guidelines.

I believe that there is no badge to display the main programming language of a repository. This could be a useful addition!

A [Github API endpoint](https://developer.github.com/v3/repos/#list-languages) is available to retrieve the list of all languages used in the repository, alongside the

[2017-10-08 05:34] paulmelnikow commented on #1139
Nice idea! Though one thought I have is, is this something that is likely to change once a repository is created? We could avoid making an API call to Github by constructing the badge like this:

https://img.shields.io/badge/language-javascript-blue.svg

[2017-10-08 10:47] ritwickdey commented on #1093
from github, i can find only these -

[code]

[2017-10-08 16:11] PyvesB commented on #1139
I would say it depends on the repository. Some might be on the tipping edge between two languages, some specific repositories might drift over time (for instance [this one](https://github.com/PyvesB/hello-world) has progressively moved towards assembly). I guess it would be useful to have the choice to use a slightly more elaborate version that also includes the percentage for that top language?

[2017-10-08 18:48] platan commented on #821
I just want to make sure that we can use GitHub license badge in suggestions. There is a lot of code for license suggestions https://github.com/badges/shields/blob/master/lib/suggest.js#L93 and it will be removed.

[2017-10-09 04:47] ritwickdey commented on #1139
Hi, do you meant like that? ![](https://img.shields.io/badge/language-javascript%2035.5%25-blue.svg)

[2017-10-09 08:14] PyvesB commented on #1139
Yes, something like that. I'll attempt an implementation and see how things turn out.

[2017-10-09 18:14] paulmelnikow commented on #1107
In #1092 @tylerl0706 asked:

Good question. Definitely compressed using SVGo. Single color is a good idea, too. Level of detail should be reduced enough that it looks decent on a badge without being unnecessarily large.

[2017-10-09 18:19] paulmelnikow commented on #821
That's fine by me. Now that Github has a license endpoint we can rely on it.

[2017-10-09 18:41] paulmelnikow commented on #1130
Fixed in #1127.

[2017-10-09 18:41] #1130 closed

[2017-10-09 18:48] platan commented on #821
Thanks. I will fix this bug.

[2017-10-09 19:03] #1134 closed

[2017-10-09 19:05] techtonik commented on #983
@paulmelnikow does that mean that `logo=` turns off the logo?

[2017-10-09 19:09] paulmelnikow commented on #983
Yes, here's an example:

https://img.shields.io/github/forks/badges/shields.svg?style=social&label=Fork
https://img.shields.io/github/forks/badges/shields.svg?style=social&label=Fork&logo=

![](https://img.shields.io/github/forks/badges/shields.svg?style=social&label=Fork)
![](https://img.shields.io/github/forks/badges/shields.svg?style=social&label=Fork&logo=)

[2017-10-09 19:11] paulmelnikow commented on #1139
How about this?

![](https://img.shields.io/badge/javascript-35%25-blue.svg)

[2017-10-09 19:12] techtonik commented on #1107
If helmet could be reduced to just basic recognizable silhouette - that would be cool.

[2017-10-09 19:21] paulmelnikow commented on #1113
Done in #1140.

[2017-10-09 19:21] #1113 closed

[2017-10-09 19:25] tooomm commented on #1113
So I wait for the next deploy now. A lot of great PR's with interesting new possibilities recently! 👍

[2017-10-09 19:29] #746 closed

[2017-10-09 19:29] #848 closed

[2017-10-09 20:19] PyvesB commented on #1139
I like this new version, best we've got so far!

[2017-10-10 01:03] techtonik opened #1146 "Badge checkbox in configuration window"
Now that logos are not shown by default after #1092, there should be an easy way for people to know that there is a logo available for specified provider and opt-in for it from badge configuration interface.

[2017-10-10 01:31] #981 closed

[2017-10-10 15:03] #869 closed

[2017-10-10 16:11] #136 closed

[2017-10-10 18:21] #1068 closed

[2017-10-10 18:28] paulmelnikow commented on #742
These seem to work against the spirit of the badge design, whose goal is to provide a consistent, clean, and understandable experience across various services and projects. It makes it harder for someone looking at the readme to understand.

Related: #999.

[2017-10-10 18:38] paulmelnikow commented on #999
This request is for https://github.com/mingrammer/go-web-framework-stars. If the Shields badge designs were integrated into that page, how would it look?

The more I look at it, the more I'm not convinced that for projects with a lot of forks, **12517, 12136** is more helpful or legible than **12.5k, 12.1k**.

The project owner is a customer, but so is a visitor who is looking at the readme. Provi

[2017-10-10 18:40] paulmelnikow commented on #701
Related to #466.

[2017-10-10 18:42] paulmelnikow commented on #662
The PR for this is #890, which @jhabdas is working on.

[2017-10-10 18:49] ritwickdey commented on #999
I got your point (y)  :)

[2017-10-10 18:51] paulmelnikow commented on #650
I'm not sure I understand this idea. When would a project display a badge like this?

[2017-10-10 18:53] #634 closed

[2017-10-10 19:03] paulmelnikow commented on #364
Is this still an issue? Do we need help from versioneye?

[2017-10-10 19:10] paulmelnikow commented on #245
We could support a percentage documented badge if there were a way to get this information from an API.

The Inch badges themselves are really lovely! However I don't see a benefit from integrating them into Shields directly, nor an easy way to do it.

[2017-10-10 19:10] paulmelnikow commented on #270
@vasinov Is there any update on a public API?

[2017-10-10 19:12] paulmelnikow commented on #92
@bryanveloso If you've got these files around, hit me up!

[2017-10-10 19:12] #92 closed

[2017-10-10 19:13] #95 closed, assigned to nobody

[2017-10-10 19:14] #97 closed

[2017-10-10 19:18] #726 closed

[2017-10-10 19:21] paulmelnikow commented on #826
It appears this has been fixed. If the problem is still observed, could you ping or reopen this thread?

[2017-10-10 19:21] #826 closed

[2017-10-10 23:02] flyboarder opened #1152 "[Request] Add clojars downloads badge"
Would be awesome to get clojars downloads.

[2017-10-11 03:52] paulmelnikow commented on #1152
Hi! Thanks for the suggestion. Is there a public API for downloads?

[2017-10-11 16:44] ritwickdey commented on #1139
Would you like to submit a PR?

[2017-10-11 17:29] PyvesB commented on #1139
@ritwickdey yes, I'm making progress on this piece of work.

[2017-10-11 18:29] mikkopiu commented on #622
Added quick PR here: #1158

[2017-10-12 06:34] ice1000 opened #1162 "[Request] Version badge for JetBrains Plugin"
It would be great if we have Version badge for JetBrains Plugin.

I see there's download badge for JetBrains Plugin, and I'm looking forward to the version badge for it.

[2017-10-12 17:35] paulmelnikow commented on #1162
Hi! Is there a public API for this?

[2017-10-12 17:59] ice1000 commented on #1162
Yeah! You can get the newest version from an xml, i.e.

https://plugins.jetbrains.com/plugins/list?pluginId=9630-a8translate.json

[2017-10-12 18:04] paulmelnikow commented on #1125
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:04] #1125 closed

[2017-10-12 18:04] paulmelnikow commented on #1046
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:04] #1046 closed

[2017-10-12 18:05] paulmelnikow commented on #991
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:05] #991 closed

[2017-10-12 18:05] paulmelnikow commented on #941
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:06] paulmelnikow commented on #885
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:06] #885 closed

[2017-10-12 18:07] paulmelnikow commented on #880
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:07] #880 closed

[2017-10-12 18:07] paulmelnikow commented on #118
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:07] #118 closed

[2017-10-12 18:07] paulmelnikow commented on #245
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:07] #245 closed

[2017-10-12 18:07] paulmelnikow commented on #270
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:07] #270 closed

[2017-10-12 18:08] paulmelnikow commented on #314
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:08] #314 closed

[2017-10-12 18:09] #495 closed

[2017-10-12 18:09] paulmelnikow commented on #503
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:09] #503 closed

[2017-10-12 18:10] paulmelnikow commented on #509
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:10] #509 closed

[2017-10-12 18:11] paulmelnikow commented on #551
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:11] #551 closed

[2017-10-12 18:12] platan commented on #1162
We are already using this API for JetBrains plugin downloads badge https://github.com/badges/shields/blob/master/server.js#L6534, here you can find tests https://github.com/badges/shields/blob/master/service-tests/jetbrains.js

Would you like to submit a PR?

[2017-10-12 18:13] paulmelnikow commented on #673
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:13] #673 closed

[2017-10-12 18:13] #716 closed

[2017-10-12 18:14] paulmelnikow commented on #748
I know now that we have tools to parse SVG badges!

[2017-10-12 18:15] paulmelnikow commented on #827
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:15] #827 closed

[2017-10-12 18:15] paulmelnikow commented on #864
I'm marking all the **needs-upstream-help** issues closed.

If there's new information from the upstream service, please post in the thread. If they're actionable by Shields, a maintainer will reopen the issue.

If anyone wants to follow up with these vendors, feel free to do that! Even though the unresolved issues are closed, they are easy to find:

https://github.com/badges/shields/issues?q=labe

[2017-10-12 18:15] #864 closed

[2017-10-12 18:17] ice1000 commented on #1162
OK, after I finish this when will it be merged?

[2017-10-12 18:32] perceptron8 commented on #827
Thanks for wasting my time.

[2017-10-12 19:01] ice1000 commented on #1162
Created pr #1164

[2017-10-12 19:13] PyvesB opened #1165 "[Eclipse] Add new marketplace integration"
Hello,

Some developers open source their Eclipse plugins and solutions on GitHub (such as [myself](https://github.com/PyvesB/Notepad4e) for instance). It would be nice if we could have some badges related to the Eclipse Marketplace.

Eclipse provides a pretty good API, documented [here](https://wiki.eclipse.org/Marketplace/REST). The responses are in XML, but I'm assuming that isn't a major conce

[2017-10-12 19:16] #1139 closed

[2017-10-12 19:54] #821 closed

[2017-10-12 20:06] #723 closed

[2017-10-12 21:56] #1162 closed

[2017-10-12 22:05] paulmelnikow commented on #776
#1163 implements a rough version of this. It's not formalized, nor guaranteed to stay the same, though it's a great step in the right direction.

[2017-10-12 22:06] Bilge commented on #503
Since StyleCI actually does have (still undocumented?) flat styles there doesn't seem to be a lot of point in adding support to Shields anyway.

[2017-10-12 22:19] paulmelnikow commented on #503
If it's helpful to be in the Shields supported list, another option, is to pull the text from the SVG badge using the parsing code in Shields.

[2017-10-12 22:25] Bilge commented on #503
What do you mean? You're going to parse the image's text to rebuild a badge that looks identical to the image you parsed the text out of? How is that in any way helpful?

[2017-10-12 22:29] paulmelnikow commented on #503
Might or might not be helpful. As I suggested, it might be helpful for the service to be listed in the Shields supported list. Shields might also support more formatting options.

[2017-10-12 22:31] Bilge commented on #503
If all you want to do is make a list you may as well just link to the original implementation.

[2017-10-13 02:53] ice1000 opened #1169 "[Question] Acceptable types of badges"
I know there's some repositories have something to do with music or video. I have some implementations of badges for a video website (https://www.bilibili.com) and a music site (https://music.163.com/). I wonder if you accept such kinds of badges. If so, I'll send pull request soon.

[2017-10-13 14:05] paulmelnikow commented on #1169
It's an interesting idea!

Where would a badge like this be used?

[2017-10-13 14:25] xmcp commented on #1130
The text is still buggy on shield.io

[2017-10-13 14:28] paulmelnikow commented on #1130
Last deploy was 11 days ago. You can keep an eye on https://github.com/badges/shields/tree/gh-pages to see when the deploy happens.

[2017-10-13 14:58] paulmelnikow commented on #461
I believe this was done in #1074.

[2017-10-13 14:58] #461 closed

[2017-10-13 15:03] #750 closed

[2017-10-13 15:06] paulmelnikow commented on #308
Think this should be resolved by our existing node version support, updated in #1144, and our badge which pulls data from package.json on github, added in #739.

If there's something further we should do, would someone please open a new issue?

[2017-10-13 15:06] #308 closed

[2017-10-13 15:06] #364 closed

[2017-10-13 16:01] tooomm opened #1170 "impossible to use certain characters for badge label names"
I wanted to name a travis badge `linux & unix build`, to make crystal clear what's going on in comparison to the appveyor badge named `win build`.

While I made the spaces work with `%20` (no documentation about that!), it was not possible to display `&` or `+`. I tried different html codes like `&amp`, without success.
While any attempt to make a "&" appear resulted in the following text being cu

[2017-10-13 16:58] paulmelnikow commented on #1170
You need to URL-encode it the string. Indeed, `%20` is a space, and `%26` is an ampersand, so `linux & unix build` is `linux%20%26%20unix%20build`.

![](https://img.shields.io/badge/foo-bar-blue.svg?label=linux%20%26%20unix%20build)

A tool like https://meyerweb.com/eric/tools/dencoder/ could also help.

Want to add something to the documentation?

[2017-10-13 17:21] tooomm commented on #1170
Thank you very much. Quick and helpful, as always! :)

Will look into a PR

[2017-10-13 17:26] paulmelnikow commented on #1170
Here's a reference you could include: https://developer.mozilla.org/en-US/docs/Glossary/percent-encoding

[2017-10-13 18:31] Martii commented on #308
Examples taken from:
* https://github.com/badges/shields/pull/1144/files#diff-20b51e3176fb8c62d5ce21aee43e6cd1R512
* https://github.com/badges/shields/pull/1144/files#diff-20b51e3176fb8c62d5ce21aee43e6cd1R516
* https://github.com/badges/shields/pull/1144/files#diff-20b51e3176fb8c62d5ce21aee43e6cd1R520
* https://github.com/badges/shields/pull/1144/files#diff-20b51e3176fb8c62d5ce21aee43e6cd1R524

Re

[2017-10-13 18:40] paulmelnikow commented on #308
That PR is waiting for deploy. To see when that happens, you can keep an eye on https://github.com/badges/shields/tree/gh-pages.

I just pushed the latest to the staging server.

* ![`https://shields-staging.herokuapp.com/node/v/passport.svg`](https://shields-staging.herokuapp.com/node/v/passport.svg)
* ![`https://shields-staging.herokuapp.com/node/v/@stdlib/stdlib.svg`](https://shields-staging.he

[2017-10-13 20:32] #1170 closed

[2017-10-14 18:23] ice1000 commented on #1169
Like, someone made a music generator, and he used the generator to generate a music, and uploaded it to music.163.cim, or made an introduction video on bilibili.

[2017-10-14 22:44] #1165 closed

[2017-10-15 04:18] ice1000 commented on #1169
Or some video tutorials

[2017-10-15 04:21] ice1000 commented on #1169
And the badges will show the number of viewers or listeners, or other properties of the video/music.

[2017-10-15 07:13] yvele commented on #647
@rafaelrinaldi can you please copy/paste the npm issue url here? I would like to subscribe to it

[2017-10-15 16:20] platan commented on #754
Shields.io currently uses Github REST API (`license` fragment from `/repos/:owner/:repo` resource) to get license name.
@Jire GitHub API returns `null` as a license for https://github.com/Jire/KTON
[code]
I renamed license file to LICENSE in my fork and it returns rigth license name:
[code]
License badge (see https://github.com/platan/KTON) works as well.

[2017-10-15 16:21] platan commented on #754
@giggio It seems that it works properly for your repo now.

[2017-10-15 16:25] platan commented on #754
@KevinPlus3 I see that license badge works properly for your repos.

[2017-10-15 16:35] platan commented on #754
@alphp GitHub recognizes your license as:
curl "https://api.github.com/repos/alphp/win32service" -H "Accept: application/vnd.github.drax-preview+json" -s | jq '.license.name'
"Other"
I can see you added custom badge.

[2017-10-15 17:39] paulmelnikow commented on #754
Seems like this can be closed, then?

[2017-10-15 18:35] platan commented on #754
I think so.

[2017-10-15 19:03] platan commented on #875
GitHub tags API returns tags sorted alphabetically by name (https://stackoverflow.com/a/19615235/629762)
[code]
And we are fetching only first 30 tags. It would be hard to solve this problem without loading all tags.

[2017-10-15 19:22] Mottie commented on #875
What if you use GraphQL?

Try this command in [the explorer](https://developer.github.com/v4/explorer/)

[code]

[2017-10-15 20:00] alphp commented on #754
Issue clarified, GitHub does not have the PHP license between the list of "recognized" licenses and tag the project's license as "Other".

[2017-10-15 20:52] #818 closed

[2017-10-16 12:04] radarsh commented on #1125
In the meantime, can't we just parse the output of `https://plugins.gradle.org/plugin/<plugin-id>` and extract the output? This would be abstracted by the shields.io API so when Gradle does expose a public API for getting just the version, we could always update the shields.io implementation.

[2017-10-16 15:04] paulmelnikow commented on #875
Interesting. The sort is different for a GraphQL query? We aren't making any GraphQL queries today. What's involved? Would you be interested in opening a PR.

Related: #672

[2017-10-16 16:02] Mottie commented on #875
Sadly, my time is limited so I won't be able to tackle this right now. And, I haven't really been using GraphQL because doesn't support anonymous queries, yet...

Quote from [this ref](https://platform.github.community/t/anonymous-access/2093/3):

[2017-10-16 16:05] paulmelnikow commented on #1125
Shields has limited server resources so we avoid parsing HTML for performance reasons.

Wanted to link gradle/gradle#1477 which is the request for an API.

[2017-10-16 16:07] platan commented on #875
In my opinion sorting is identical. `last: 1` returns `v2.10.22` and `first: 10` returns
[code]
So tags without a `v` prefix are at the top of the list.

[2017-10-16 17:10] flyboarder commented on #1152
@paulmelnikow Yes! https://github.com/clojars/clojars-web/wiki/Data#download-stats

[2017-10-16 18:24] paulmelnikow commented on #1152
Excellent!

We have [a great tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md). Would you be interested in making a pull request?

[2017-10-16 18:52] flyboarder commented on #1152
@paulmelnikow I took a look through the tutorial  but couldn't figure out how to parse the statistical data, it's in edn format.

[2017-10-16 18:55] paulmelnikow commented on #1152
It looks like the artifacts endpoint provides download stats. It would also safe us fetching that entire file, which would be good.

[2017-10-17 03:30] #1079 closed

[2017-10-17 08:51] alexanderrichards commented on #1079
Thanks for all your efforts on this. Can I ask when this feature will be deployed?

[2017-10-17 17:48] PyvesB commented on #1169
Some interesting ideas around here! Rather then just tracking a unique song, would it be possible to track all the songs created with the generator, for instance using some sort of tag set by the author? Also, platforms such as SoundCloud have many more users and are available in a lot of languages, maybe it could benefit more Shields users?

[2017-10-17 19:07] ice1000 commented on #1169
Supported:

+ Video website bilibili
    + video availability
    + danmaku count
    + share count
    + coin count
    + fav count
+ Music site netease music
    - Name of single song (DEPRECATED)
    - Name of specific album (UNDER ASSESSMENT)
    - Name of specific playlist (UNDER ASSESSMENT)
    - Comment count of single song
    - Comment count of specific album
    - Comment count of specif

[2017-10-17 20:50] RedSparr0w commented on #1071
Think this can be closed now due to #1161 🤞

[2017-10-17 22:01] paulmelnikow commented on #1079
Sorry, I'm not sure. It's usually within 1–3 weeks. Thaddée is the only one with access, though we're aiming to add me sometime next month. You can monitor [the gh-pages branch](https://github.com/badges/shields/tree/gh-pages) which will update when it happens.

[2017-10-17 22:06] paulmelnikow commented on #1071
@RedSparr0w You should be able to close these now, right? If not, look for an invite like in your email. 😄

[2017-10-17 22:48] RedSparr0w commented on #1071
Yes you are right 😄
Will take some getting used to.

Closing as fixed via #1161
_If you feel this issue has not been resolved feel free to re-open._

[2017-10-17 22:48] #1071 closed

[2017-10-17 22:54] RedSparr0w commented on #671
Fixed `plastic` style badges via #1161
Closing as all badges now support logo's.

_If you feel this issue has not been resolved feel free to re-open._

[2017-10-17 22:54] #671 closed

[2017-10-17 23:46] duoduoeeee commented on #1169
SoundCloud has an official API. Here's the documentation

https://developers.soundcloud.com/docs/api/guide

[2017-10-18 03:21] paulmelnikow commented on #948
#1082 integrated Prettier and #1167 will turn it on.

Before we merge that, I want to argue for discontinuing the use of semicolons for lib/ and service-tests/ – that is, for new code – to reduce developer friction. I hate to open a can of worms, but the more I develop on projects which have updated their style, the clearer it is that I need to make this argument.

Since prettier is going to reind

[2017-10-18 04:16] Daniel15 commented on #948
oh no. haha. I'm fine either way as long as it's consistent, but I might need some convincing. 😛

Do any major JavaScript libraries use no semicolons? I'm likely biased since we're pro-semicolon at Facebook, but a number of large libraries using that style might persuade me that it's a good idea.

Prettier makes that easier. Just configure your editor to run Prettier on save. 😄

Is it? Which proje

[2017-10-18 12:48] tooomm opened #1181 "Leading "v" is forcefully added in github release badges"
Example: ![](https://img.shields.io/github/release/Cockatrice/Cockatrice.svg)
It's a badge for [this](https://github.com/cockatrice/cockatrice/releases/tag/2017-05-05-Release-2.3.17) release on GitHub.
But the release tag there is `2017-05-05-Release-2.3.17` without `v`.

I understand that if you use straight semantic versioning for tags you are mostly ok.
Though, there are different recommendatio

[2017-10-18 14:28] paulmelnikow commented on #1181
Yea, that doesn't look great.

Some options:

1. We could also add a flag to control whether the v prefix is there or not.
2. We could leave off the v all the time.
3. We could write a function which detects versions which look strange with a v prefix, e.g. which start with a date.

There was a discussion years ago about 2, and the v seemed slightly preferable; don't feel a need to change that now

[2017-10-18 15:45] tooomm commented on #1181
I like that a lot.
I understand that more options could lead to less consistency, but anybody could just start using a `v2.3.4` tag over `2.3.4` to archive the same... if you consider the v showing or hiding as inconsistency.
Or do you remove any leading `v` from tags (or check before inserting one) to prevent `release | vv2.3.4`?
As long as there is a solid default without flag it shouldn't be to

[2017-10-18 16:03] ice1000 commented on #1169
So what's your answer

If so, I'll close issue and soon send a pr

[2017-10-18 16:25] paulmelnikow commented on #1181
That's our aim.

I wouldn't want to push projects to change their tags. Since tags with and without `v`'s are both in common use, and supported by many tools, Shields' job is not to encourage one convention or another. Rather we should paper over the inconsistencies between projects.

Some folks use version schemes which are not valid semver like `1.0` or `1.1.1.1`, which look fine with a `v`. So,

[2017-10-18 16:57] paulmelnikow commented on #1169
I'm on the fence. This seems like a good service to musicians, video producers, and content creators. While that can overlap with developers, it's on the fringe, and I'm not sure it makes sense to shift our focus of Shields-as-a-service from the developer community.

That said, I'm open to making the Shields codebase more modular, so that it's easy to build a shields-like service that serves a dif

[2017-10-18 17:00] #622 closed

[2017-10-18 18:06] paulmelnikow commented on #948
These are some major projects which do not use semis:

- Bootstrap
- Vue
- Redux and react-redux
- Lodash
- npm
- Express (still lots of semis in the project, since code is brought up to standard at the time it's modified)
- request
- Karma
- Atom, Electron, and node-fetch
- Greenkeeper
- next.js
- Zepto
- fastify

I found recipes for pre-commit hooks, but ran into problems where the process would

[2017-10-18 19:53] tooomm commented on #1181
Sure, not all projects use semver. No idea what made me belive that. :D

Those two seems totally valid and catch a lot of cases.
Basically all tags not starting with numbers would look weird and don't want the `v`.
Same for special characters.
Regarding numbers it should be a version number or date. I could imagine a git hash or something as well, or some kind of build number. Both seem less likel

[2017-10-18 20:43] paulmelnikow commented on #1181
Looks like [we already have a function which does this](https://github.com/badges/shields/blob/748f80b4386f611f726160d778d8dc19645cce14/lib/color-formatters.js#L9-L21), so we'd need to tweak it and add tests. A unit test in `color-formatters.spec.js` seems sufficient.

Ideally we'd also make sure we're calling that function everywhere. I see a few places like [here](https://github.com/badges/shiel

[2017-10-18 20:53] tooomm commented on #1181
I would happily contribute lines to help with badges for this cool project, but I'm more on the non-code side of things...
Somebody else need to step in here.

But with your findings and help, I hope that somebody else likes to tackle that. 👍

[2017-10-19 09:11] josesimoes opened #1184 "Support for MyGet Vsix feed"
Was trying to use the MyGet badge for the Vsix feed but couldn't make it work.
Could you please clarify if this is supported or not?
Since VS marketplace is now, it seems that it would make sense to have this one too...

[2017-10-19 14:17] ice1000 commented on #1169
OK. Closed.

[2017-10-19 14:17] #1169 closed

[2017-10-19 16:19] paulmelnikow commented on #1184
I'm not that familiar with these services. Could you provide more context and links?

ping @maartenba @Daniel15

[2017-10-19 17:05] josesimoes commented on #1184
@paulmelnikow this a service provided by MyGet (for which you already have a few badges applicable to the Nuget feed: version, download count, etc).

You can check the details [here](http://docs.myget.org/docs/walkthrough/getting-started-with-vsix).
(not sure if this is enough....)

(pinging @maartenba @Daniel15 as requested)

[2017-10-19 17:21] maartenba commented on #1184
It's an Atom-based feed, endpoints documented here: http://docs.myget.org/docs/reference/feed-endpoints#Vsix-compatible_feed_endpoints

Sample feed: https://www.myget.org/F/credentialproviders/vsix

Where `www` is the tenant parameter (can be e.g. `somecompany` and `credentialproviders` is the feed name.

/cc @xavierdecoster

[2017-10-19 17:47] paulmelnikow commented on #1184
What would these badges show? Put another way, would they be new badges, or modifications to existing badges?

[2017-10-19 17:49] josesimoes commented on #1184
The same as their equivalents from the VS marketplace: download count or version

New badges. The current ones (for MyGet) are showing details about the Nuget packages not the VSIX packages.

[2017-10-19 18:53] platan commented on #754
@paulmelnikow We can close this issue now.

[2017-10-19 20:15] #754 closed

[2017-10-19 22:35] RedSparr0w commented on #1181
Maybe we could add a global query param `?prefix=myprefix` which is available to all badges.
The version formatting could then be updated so it adds the `v` as a `prefix` which could then be overridden via `?prefix=`.

Thoughts on this?

[2017-10-20 03:40] paulmelnikow commented on #1181
In this case, I don't see a need for this to be configurable. Since our aim is to provide consistent badges to users, the less configuration we have, the better.

[2017-10-20 05:53] Daniel15 commented on #1184
Sounds reasonable to me. I guess there's no existing badges that call VSIX APIs?

[2017-10-20 08:01] josesimoes commented on #1184
@daniel15 Yes there are! Visual Studio market place has been very recently added. :wink:

[2017-10-20 12:40] platan commented on #1093
I will implement this improvement.

[2017-10-20 12:49] piekar294 commented on #793
i would like to work on this feature

[2017-10-20 13:46] paulmelnikow commented on #793
Excellent! Feel free to post in this issue if you have any questions.

[2017-10-20 16:45] #793 closed

[2017-10-20 18:00] kathy-er opened #1191 "Support renaming badges for Jenkins private instances"
Thanks for providing such a great tool!

I'm curious how does Shields io support private Jenkins jobs. My build is private and anonymous only has ViewStatus permission. I'd like to create Markdown badge and rename the label for it.

Tried the following links and both show `my_project | unresponsive`

- https://img.shields.io/jenkins/s/https/jenkins.cchh.io/job/TestAutomation-ApiAuthorizationTests-

[2017-10-20 18:17] flyboarder commented on #1152
@paulmelnikow thanks, PR added!

[2017-10-20 19:07] nisrulz opened #1193 "Badge request: Bintray package downloads"
Consider a badge for displaying total download stats of a package from a Bintray repository.

The API call is explained at
+ https://bintray.com/docs/api/#_get_total_downloads
+ https://blog.bintray.com/tag/download-statistics/

Other possible stats
1. [Get Daily Downloads](https://bintray.com/docs/api/#_get_daily_downloads)
1. [Get Downloads by Country](https://bintray.com/docs/api/#_get_download

[2017-10-20 21:31] RedSparr0w commented on #999
IMO badges should be able to display a decimal if they are < 10 eg: `1.2k` `2.5k` `11k` `120k`,
As there is quite a big difference between `1k` and `1.4k` where as not such a big difference between `12k` and `13k` in terms of percentage.
For example I have a chrome extension which i use the badge for, and it all of a sudden jumped from 1k to 2k which looked a bit strange, I also don't get to see i

[2017-10-21 05:35] the-j0k3r commented on #746
This issue is still present, I though once PR was merged it would go away.

[2017-10-21 05:39] RedSparr0w commented on #746
Doesn't look like the change has gone live yet, it can take a few weeks after being merged to the master branch before it is pushed through.

Sent from my iPhone

On 21/10/2017, at 6:35 PM, the-j0k3r <notifications@github.com<mailto:notifications@github.com>> wrote:

This issue is still present, I though once PR was merged it would go away.

—
You are receiving this because you were mentioned.
Rep

[2017-10-21 05:48] the-j0k3r commented on #746
Ah, well lets hope thats soon.

[2017-10-21 05:49] paulmelnikow commented on #1193
For consistency, would suggest:
[code]

[2017-10-21 07:37] blooper05 opened #1196 "Support renewed Code Climate's ratings"
They have changed their measurement policy.
http://blog.codeclimate.com/blog/2017/09/21/a-new-clearer-way-to-understand-code-quality/

And official badge's designs too.
https://docs.codeclimate.com/docs/overview#section-badges

[2017-10-21 14:57] paulmelnikow commented on #1191
Hi there! This request is timing out:

https://jenkins.cchh.io/job/TestAutomation-ApiAuthorizationTests-Bizcore/api/json?tree=color

The **my_project** label seems to be overriding just fine.

[2017-10-21 17:51] paulmelnikow commented on #1119
Have started working on this.

https://github.com/paulmelnikow/shields/commits/github-token-pool

[2017-10-22 09:58] marcelstoer opened #1198 "GitHub download badge broken"
https://shields.io -> all GitHub Download counts reported as 0.

[2017-10-22 11:53] ErikBjare commented on #1198
Noticed this as well, any idea about what could have gone wrong?

[2017-10-22 11:58] tooomm commented on #1198
I can confirm broken badges for total downloads, latest release and downloads-pre as well!

[2017-10-22 14:19] paulmelnikow commented on #1198
Thanks for reporting this. That happened in #1140, and should be fixed in #1201.

[2017-10-22 14:32] paulmelnikow opened #1202 "Tests fail in Node 8"
The issue is due to a bug introduced in just-extend:

- sinonjs/sinon#1591
- angus-c/just#70

[2017-10-23 15:07] #1202 closed

[2017-10-23 16:54] ErikBjare commented on #1198
Any idea when it'll work again? I assume the change hasn't been deployed yet?

[2017-10-23 18:11] kathy-er commented on #1191
@paulmelnikow Thanks for following up! There's no problem with label overriding, but project status is not showing correctly (`unresponsive`).

If using Jenkins official badge link it won't allow re-label: https://jenkins.cchh.io/job/TestAutomation-ApiAuthorizationTests-Bizcore/badge/icon?label=my_project

What would you recommend in my case?

[2017-10-23 18:40] marcelstoer commented on #1198
@ErikBjare there are discussions about this over at the PR

[2017-10-23 21:05] paulmelnikow commented on #1191
This project has no control over what a Jenkins endpoint returns, so you could try one of these three options:

1. Make your Jenkins server publicly accessible, and load the badge from img.shields.io
2. Ask Jenkins to support relabeling in their official badge.
3. Host your own Shields server, on a machine with access to your Jenkins server.

[2017-10-25 10:42] tooomm opened #1206 "new "for the badge" style preview wrong size"
![styles](https://user-images.githubusercontent.com/9874850/31994435-eea95f94-b980-11e7-9e44-313d4b2befe4.png)

For all used instances on the shields site the "for the badge" style has the correct styling, but has the same size as all other badges.
Actually this new ones are like double the size if you use them, which is correct. But the available styles list and per-badge previews should account

[2017-10-25 15:58] paulmelnikow commented on #1206
Yup, makes sense.

How's your HTML/CSS? Are you up for trying to fix it?

[2017-10-25 17:02] kathy-er commented on #1191
Thanks for sharing the possible options.

[2017-10-25 17:02] #1191 closed

[2017-10-26 13:10] tooomm opened #1209 "Badge request: GitHub milestones"
https://developer.github.com/v3/issues/milestones/

Would be cool to use a milestone badge to show progress regarding specific targets in the repo, like
- `Next Release | 15/20` (15 issues open from 20 total)
- `Next Release | 75%` (15 issues open from 20 total)
- `Core Restructure | 3 left` (3 open)
- `UI Rewrite | 3 total` ( 3 total open+closed)
- `Modularization | 5 done` (5 closed)
- `New API

[2017-10-26 15:30] gempain opened #1210 "Repository refactoring"
Hello,

I discovered this repository today and made some local development. It's fun to use, it works well, and it's awesome.

However, I have a feeling that it is going to become unmaintainable as people keep adding badges in the `server.js` file. I feel like the directory structure would benefit a good refactoring. I haven't looked at all the code in there, so cannot really judge it's quality.

[2017-10-26 22:27] paulmelnikow commented on #1210
Hi! I'm glad you’re having fun hacking on Shields. And thanks for your suggestions! I agree there is a lot of potential to make it friendlier to contributors, and I’m really committed to that goal. Since this project tries to integrate everyone’s developer tools, it’s particularly conducive to having a wide community of contributors. That means we should aim for a high level of friendliness in the

[2017-10-27 07:53] gempain commented on #1210
Hello @paulmelnikow,

Great reading you, and I am glad my suggestions are being taken with such humbleness :) I am always afraid when making this kind of suggestions as people tend to get irritated or upset.

I have taken a look at the threads you mentioned. I would be happy to participate to the discussions. When I have time, I will try to come up with a Typescript + bundler setup, and refactor a

[2017-10-27 15:02] paulmelnikow commented on #1210
Just wanted to encourage you to talk about what you're planning before investing too much in the implementation! Also because small PRs are much easier to respond to than big PRs which move a lot of code.

My suggestions would be:

1. Document and unit test the utility functions which need to be kept, such as the formatting functions (to expedite service rewrite).
2. Write tests for services which

[2017-10-28 15:07] paulmelnikow commented on #1054
Resolved in #1212.

[2017-10-28 15:07] #1054 closed

[2017-10-28 23:59] felixfbecker commented on #415
Is there a badge that shows the lastest version like we have for npm?

[2017-10-29 16:02] PyvesB commented on #1181
I've started to draft some things for this piece of work, hope that's okay!

[2017-10-29 20:03] KOLANICH opened #1219 "License logos"
Some licenses have own logos, sometimes official, sometimes nonofficial ones. So I propose to use them. They may meed to be modified to use here. Here is the list:

* [GNU](https://www.gnu.org/graphics/license-logos.html)
* [WTFPL](http://www.wtfpl.net/download/)
* [CC](https://creativecommons.org/about/downloads/) (some other logos from that page can be useful to describe licenses traits)
* For A

[2017-10-29 21:51] espadrine opened #1220 "Add server path to serve frontend"
We lost a valuable production debugging tool with bde4d925f21fed2ddf87e9164e6c1ea7d3073d38.

Indeed, to determine if a problem was specific to a given server, or to put out a canari for a sensitive patch, I often deploy only with a single server (eg. `make deploy-s0`) and hit that server's frontend (eg. https://vps71670.vps.ovh.ca/try.html).

Because of the bde4d92 change, this is no longer possib

[2017-10-29 23:33] paulmelnikow commented on #1220
Yea, that makes a lot of sense. I'll give it some thought, and either push a fix or leave a PR open for you to test.

[2017-10-30 01:27] paulmelnikow commented on #1220
I opened #1222 which I think should fix this. It creates a dev build of the frontend, which is like the old `try.html`. The badge URIs do not have hostnames nor a `maxAge` parameter. The deploy tasks will push this to the servers. I tested the output of `make website`, `npm run build`, and `npm run build:production` and they all seemed right. However I couldn't actually run the deploy tasks.

It a

[2017-10-30 06:20] yonkornilov opened #1224 "[ReadTheDocs] Service not working"
With #1150 , RTD was functioning up until today.

For instance, the following badge is the RTD example, but doesn't appear:

https://img.shields.io/readthedocs/pip.svg

![badge](https://img.shields.io/readthedocs/pip.svg)

[2017-10-30 11:31] tooomm opened #1225 "deploy messed up"
shields page reset to some old version...

Many of the recent changes or badges are gone!

[2017-10-30 15:58] paulmelnikow commented on #1224
Sorry the badge stopped working. Thaddée tried to deploy 05402ef yesterday but ran into a blocking bug in #1186 (fix: #1223).

Rather than roll back to the previously deployed version, he went with an even older version before the bug that caused #1198. It would have been better to cherry pick the fix (#1201) but he's not that familiar with the recent changes so perhaps couldn't do that confidentl

[2017-10-30 16:00] paulmelnikow commented on #1225
I just replied in #1224.

[2017-10-30 19:51] mightyiam opened #1226 "shields-badge-data (formerly shields-badges-urls)"
So, I wrote this little thing, that is related to this project. It would be nice to get a review from the core developers. I'd love your reviews, actually. Before publishing a version to npm.

https://github.com/mightyiam/shields-badges-urls

The biggest challenge is figuring out the `link` property of the return value for each service. Have any tips on that? And while you're at it, if you could [

[2017-10-30 23:13] radarsh opened #1229 "Coveralls badge showing "coverage | unknown""
The coveralls.io badge is rendering unknown value for coverage.

## Shields.io badge
[code]
![Coveralls branch](https://img.shields.io/coveralls/github/radarsh/gradle-test-logger-plugin/develop.svg)

## Coveralls.io badge
[code]
![Coverage Status](https://coveralls.io/repos/github/radarsh/gradle-test-logger-plugin/badge.svg?branch=develop)

Attached screenshot shows what it is currently being rend

[2017-10-30 23:16] paulmelnikow commented on #1226
Neat project!

I'd be happy to help with this. People have asked for functionality like this for programmatic use (#776) and in the UI for shields.io (#466 #701).

What would be the best way to leave comments?

Also… could I ask you to relicense under CC0? It would be great to incorporate this functionality into the UI someday, and I can only incorporate public-domain code into this repo.

[2017-10-30 23:19] paulmelnikow commented on #1229
Hi! Thanks for your question. The Shields URL shouldn't have `github` in it.

```![Coveralls branch](https://img.shields.io/coveralls/radarsh/gradle-test-logger-plugin/develop.svg)```

![Coveralls branch](https://img.shields.io/coveralls/radarsh/gradle-test-logger-plugin/develop.svg)

[2017-10-30 23:24] #822 closed

[2017-10-30 23:35] paulmelnikow commented on #1031
Looks like we'll handle this using the custom badge and named logos, for now. Anyone, please feel free to open a new issue if you'd like to discuss further.

[2017-10-30 23:35] #1031 closed

[2017-10-30 23:35] radarsh commented on #1229
Oops sorry about that. I do remember seeing the badge rendering fine with the same incorrect URL though.

[2017-10-30 23:35] #1229 closed

[2017-10-30 23:36] paulmelnikow commented on #1035
Just wanted to follow up. Could you clarify what needs to be done?

[2017-10-30 23:36] #747 closed

[2017-10-31 00:20] Nickersoft commented on #1196
Was just about to post this same thing... while the CC code coverage badge still works, the regular CC badge doesn't. Would love to see this fixed as I just upgraded my Code Climate to the new format 👍

[2017-10-31 00:26] paulmelnikow commented on #1196
We have [a great tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md). Would you like to make a pull request?

[2017-10-31 02:36] paulmelnikow commented on #877
PRs #855 and #931 needed work and were closed without being merged. If anyone would like to revive them, feel free.

[2017-10-31 03:24] Nickersoft commented on #1196
@paulmelnikow I can look into it.. wasn't aware there was a tutorial. Good to see to see it's well documented! Would you happen to know if the current Code Climate badge requires an auth token of some sort? It seems the new API requires one at least.

[2017-10-31 03:31] paulmelnikow commented on #1196
No, it doesn't look like [the code for the current badges](https://github.com/badges/shields/blob/a54338afa8cfa1cf480117bf9d6b56b06f69ebec/server.js#L2490-L2614) makes use of one.

[2017-10-31 04:10] #360 closed

[2017-10-31 13:31] mightyiam commented on #1226
Thanks!

Leave comments in the project issues, please.

Yeah, sure. I'll change the license to CC0.

[2017-10-31 16:45] Nickersoft commented on #1196
@paulmelnikow How's this? https://github.com/badges/shields/pull/1236

[2017-10-31 17:23] #574 closed

[2017-10-31 19:17] paulmelnikow commented on #1226
Let's continue at mightyiam/shields-badges-urls#22!

[2017-10-31 19:21] paulmelnikow commented on #1226
Will leave this open, since others may want to take note and participate as well.

[2017-10-31 19:24] paulmelnikow commented on #776
@idleberg See #1226 and mightyiam/shields-badges-urls#22 about a project related to badge URL generation.

In that thread I suggested we kickstart this issue, our publishing a data format. It's going to be a while before we have the kind of comprehensive data I'd like for all the badges, though we could certainly start with what we have. I'm curious your thoughts on the ideal content for that data

[2017-11-01 04:02] #548 closed

[2017-11-01 12:27] gempain commented on #1210
No worries, I wouldn't go into refactoring the services, there is way too much work for myself only.

[2017-11-01 15:22] mightyiam commented on #776
I think that https://github.com/mightyiam/shields-badges-urls aims to provide what you intend to consume, @idleberg, but it is a JavaScript (TypeScript) API, rather than data. The nature of it includes string composition, so it did not occur to me to make it a data format, rather than code. But if simple rules are followed, perhaps the string compositions could be encapsulated in a data format, mu

[2017-11-01 16:27] paulmelnikow commented on #466
Closing in favor of #701.

[2017-11-01 16:27] #466 closed

[2017-11-01 16:38] paulmelnikow commented on #776
For an ideal experience in #701 we'd need name and possibly documentation and validation rules for each field, and a recipes for assembling the final string, with or without optional parameters like a branch. It would be good if some of that same code were used to define the server's route.

It would be nice to have a way of dealing with mightyiam/shields-badge-data#23 that makes it easier to quic

[2017-11-01 16:56] paulmelnikow commented on #1210
Let me know if you start on the frontend work!

[2017-11-01 19:48] #1220 closed

[2017-11-01 21:14] RedSparr0w commented on #1107
Full logo does look a bit too large for the badge, although still recognizable.
![image](https://user-images.githubusercontent.com/7288322/32297751-1270815c-bfb5-11e7-8c6c-798abf87f442.png)
![image](https://user-images.githubusercontent.com/7288322/32298044-fe1ef502-bfb5-11e7-98a0-0b8fbb0303d0.png)
The hat also looks quite small
![image](https://user-images.githubusercontent.com/7288322/32297884-8

[2017-11-01 21:31] paulmelnikow commented on #1107
Here's a link to a reduced(?) favicon. Is it any better?

https://cdn.travis-ci.org/images/favicon-c566132d45ab1a9bcae64d8d90e4378a.svg

[2017-11-01 22:32] RedSparr0w commented on #1107
Think the lines might be a little too thin on that one
![image](https://user-images.githubusercontent.com/7288322/32301121-6c8be58a-bfc1-11e7-8a3b-b99069b59872.png)

[2017-11-01 22:40] crazy-max commented on #1198
Seems fixed ?

[2017-11-01 22:54] paulmelnikow commented on #1224
Thaddée deployed latest to production. Should be back up!

[2017-11-01 22:54] #1224 closed

[2017-11-01 22:54] paulmelnikow commented on #1225
Should be back up to date!

[2017-11-01 22:54] #1225 closed

[2017-11-01 23:00] RedSparr0w commented on #1107
or maybe `style=logo`?
![image](https://user-images.githubusercontent.com/7288322/32301799-4c40e43a-bfc4-11e7-9855-d3472de99736.png)
with `label=%20`
![image](https://user-images.githubusercontent.com/7288322/32301842-8089c2ca-bfc4-11e7-9ac2-502c1321f968.png)
with a single color logo
![image](https://user-images.githubusercontent.com/7288322/32301573-62bbf39a-bfc3-11e7-92b9-77d87b9367f6.png)
_look

[2017-11-01 23:04] paulmelnikow commented on #1107
What about just using the mustache?

[2017-11-01 23:14] yonkornilov commented on #1224
Works, thanks!

[2017-11-01 23:24] tooomm commented on #1225
Jep, all good now! 👍

[2017-11-02 03:32] paulmelnikow commented on #620
Most of this has been addressed and I feel like this is resolved. Feel free to open a new issue if you'd like to discuss further.

[2017-11-02 03:32] #620 closed

[2017-11-02 03:32] paulmelnikow commented on #834
#820 is finally merged!

[2017-11-02 03:32] #834 closed

[2017-11-02 03:40] paulmelnikow commented on #999
My question is still this:

If anyone would like to mock something up (using static badges, say), I'd be happy to consider it.

[2017-11-02 03:43] #349 closed

[2017-11-02 13:49] waja commented on #1038
It actually throws a 'GitHub OAuth authentication failed to provide a code.' again.

[2017-11-02 13:59] paulmelnikow opened #1243 ""GitHub OAuth authentication failed to provide a code" when adding token"
This is a recurrence of #1038 reported [here](https://github.com/badges/shields/issues/1038#issuecomment-341426222).

[2017-11-02 14:00] paulmelnikow commented on #1038
Thanks for the heads up. I opened #1243.

[2017-11-02 14:03] paulmelnikow commented on #1243
Possible causes: #1142 #1117 #1195 #1186 #1118.

I'll see if I can do some local testing.

[2017-11-02 14:25] paulmelnikow commented on #1243
It's #1118. Basically a merge conflict.

This line went out:

[code]

And this one went in:

[code]

[2017-11-02 14:39] paulmelnikow commented on #1243
Leaving open until deployed.

[2017-11-02 14:48] paulmelnikow opened #1245 "Github badges are intermittently inaccessible"
I'm not sure whether this is due to one of the recent changes…

#1142 #1117 #1195 #1186 #1118

…or simply #1119, which is a bug that causes a token to erroneously be considered exhausted once it's used for a search request.

People can't add new tokens either (#1243), exacerbating this slightly, but that will be fixed in #1038.

The first report was roughly 16 hours after deploy.

[2017-11-02 14:48] paulmelnikow commented on #1245
cc @espadrine

[2017-11-02 15:12] paulmelnikow commented on #1245
The badges are working again, and I think our "main" rate limit just reset:

[code]

[2017-11-02 15:44] paulmelnikow commented on #1245
Now intermittently broken, though plenty of rate limit left.

[code]

Here's an example: https://img.shields.io/github/tag/expressjs/express.svg
![](https://img.shields.io/github/tag/expressjs/express.svg)

[2017-11-02 17:21] tooomm commented on #1107
Or the travis `T` with the mustache on top. The mustache overlay would need to cut in the T to make it more distinct and visible maybe. Maybe it looks really bad, just throwing one idea more.
Recognizable options are limited it looks like...

[2017-11-02 17:56] paulmelnikow commented on #1245
I sent this to @espadrine about an hour ago:

I like getting to the bottom of things, and want to fix this, however my options are limited.

[2017-11-02 18:02] tooomm commented on #1243
I hope you get deploy access sooner than later.

[2017-11-02 20:31] paulmelnikow commented on #1243
Same. Thaddée gave me push access this week. It's not working yet – the server isn't accepting my SSH key. Deploy access would have helped in this case, where the fix was obvious.

He's also working this week on building a log drain I can connect to, which will make push access a lot more useful, because I'll be able to debug crashes and add logging output.

Giving me access is complicated because

[2017-11-02 20:43] waja commented on #1243
@tooomm I hope you are not building your business process on top of this project!

[2017-11-02 20:49] tooomm commented on #1243
For sure not! @waja :D
But there were a lot of mistakes and issues lately (besides all the great improvements).
Which most of them could have been solved with a simple re-deploy since the debug and fixes were there pretty fast. But he could just not do it himself.

Since @paulmelnikow is more or less the only active member right now, it would just help a lot.
Too bad the circumstances he described

[2017-11-03 17:04] paulmelnikow commented on #1245
I set up a status page:

https://status.shields-server.com/

It runs a static badge, the Github license badge, and the npm license badge, and for each one, looks for some of the expected right text.

[2017-11-03 20:36] RedSparr0w commented on #1245
Nice page, Should help get some insight on what's going wrong,
The GitHub licence badge seems to be failing a fair amount (~20% currently)
Is s1, s2, s3 running different code or are they all the same?

[2017-11-03 20:55] paulmelnikow commented on #1245
Yea, it should help. The code on the three servers should be the same.

There are interesting patterns in the downtime:

https://status.shields-server.com/779605524
https://status.shields-server.com/779605526
https://status.shields-server.com/779605529

The three servers had correlated downtime around 15:30 (that’s NY time). One of them also had downtime an hour earlier, around 14:30. Two had down

[2017-11-03 20:58] RedSparr0w commented on #1245
Yeah it's quite strange that the down times are very similar, would setting a very low max-age help with possible caching issues?

[2017-11-03 21:03] RedSparr0w commented on #1107
Good ideas will have to give them a try when I get near a computer!
Although not sure how travis-ci would feel about us rebranding their logo for badges 😆

[2017-11-03 21:06] paulmelnikow commented on #1245
As far as I can tell, `maxAge` only affects cache headers – and potentially the behavior of the client – though not the behavior of the Shields server. I wouldn't think UptimeRobot did any caching. It wouldn't really make sense for a monitoring service. So I don't think setting `maxAge` would have any effect.

[2017-11-03 22:11] salaros commented on #873
sensiolabs badge stopped working for me, how can we fix it?

[2017-11-05 10:32] FezVrasta commented on #1210
I don't think TypeScript is a good idea, lot of people don't use it and wouldn't be comfortable in contribute to the project

[2017-11-05 17:28] paulmelnikow commented on #1245
I just wanted to clarify that the caching I think might be involved is the Shields internal vendor cache in [`lib/request-handler.js`](https://github.com/badges/shields/blob/master/lib/request-handler.js).

Interesting that we're still seeing hourly downtime, though less correlated between servers. I wonder if it is related to hours since uptime.

<img width="1003" alt="screen shot 2017-11-05 at 1

[2017-11-05 20:47] aayush26 opened #1248 "Github Contributors badge not working"
The following badge link isn't working:
https://img.shields.io/github/contributors/aayush26/pirant.svg

Actual Output:
[![GitHub contributors](https://img.shields.io/github/contributors/aayush26/pirant.svg)](https://github.com/aayush26/pirant/graphs/contributors)

Its failing in https://shields.io/ too in line:

GitHub contributors: |   | https://img.shields.io/github/contributors/cdnjs/cdnjs.svg

[2017-11-05 21:31] paulmelnikow commented on #873
This is an old issue. Could you open a new one? Thanks!

[2017-11-05 21:42] paulmelnikow commented on #1248
Confirmed. I'm seeing **vendor | unresponsive** on all three servers, while other Github badges are working.

[2017-11-05 22:14] salaros commented on #873
@paulmelnikow OK, sure

[2017-11-05 22:15] salaros opened #1249 "Sensiolabs badge stopped working"
Sensiolabs badge stopped working for me, how can we fix it?

Here are some examples of my project (the first one) and another project:
[![SensioLabs Insight](https://img.shields.io/sensiolabs/i/f5764af3-0382-444c-ada6-3c2b0f8bf39b.svg)](https://insight.sensiolabs.com/projects/f5764af3-0382-444c-ada6-3c2b0f8bf39b)
[![SensioLabs Insight](https://img.shields.io/sensiolabs/i/287d9498-12cc-4e5f-8d5d-68

[2017-11-06 16:03] paulmelnikow commented on #1245
<img width="990" alt="screen shot 2017-11-06 at 11 02 34 am" src="https://user-images.githubusercontent.com/1487036/32450371-0a73deec-c2e2-11e7-829c-f8adc9f387eb.png">
<img width="964" alt="screen shot 2017-11-06 at 11 02 40 am" src="https://user-images.githubusercontent.com/1487036/32450375-0c96515a-c2e2-11e7-84e4-a0a971affe5f.png">
<img width="980" alt="screen shot 2017-11-06 at 11 02 46 am" src

[2017-11-06 20:47] mightyiam commented on #776
Incorporating what I gathered from here, I have opened [a PR on shields-badge-data](https://github.com/mightyiam/shields-badge-data/pull/27).

[2017-11-07 00:11] paulmelnikow commented on #776
I'll take a look!

[2017-11-07 06:32] sindresorhus opened #1252 "Badge for modules that come with TypeScript type definitions"
Would be nice to have a badge to indicate that a module comes with TypeScript type definitions. This can either be a package written in TypeScript or one written in plain JavaScript with a handwritten type definition file.

I'm thinking something along the line of:

- `[TypeScript friendly]`
- `[TypeScript ready]`

For example, [this module](https://github.com/chalk/chalk/blob/master/types/index.d

[2017-11-07 06:39] SamVerschueren commented on #1252
This would be awesome!

[2017-11-07 13:28] paulmelnikow commented on #1252
Hi! It's a nice idea.

This project hasn't tackled the idea of consistent static badges. We do have a gitter badge, but that is the only one. As I wrote in #1031:

We could take it on if people think it makes sense.

[2017-11-07 21:30] tooomm opened #1254 "Appveyor tests / same link?!"
`Appveyor tests` and ` Appveyor tests branch` have the exact same links:
![av_tests](https://user-images.githubusercontent.com/9874850/32518764-dfe9dc7e-c40a-11e7-8bab-3526694564f2.png)

[2017-11-08 06:54] mkouba commented on #1046
`maven-metadata.xml` files were updated in Maven central repo and everything seems to work again. Thanks a lot!

[2017-11-08 09:30] techtonik commented on #1107
Black on white logo is recognizable. Colored as well. Inversed not so. Maybe leave it on white background somehow?

[2017-11-08 19:18] paulmelnikow commented on #1254
Looks like this happened in #1065.

An easy fix, PR appreciated.

[2017-11-08 22:30] tooomm commented on #1254
After the move away from `try.html` I don't know where to apply the change anymore. :)

It looks like in the mentioned PR he just forgot an appending `/master`...

[2017-11-08 22:51] #1206 closed

[2017-11-08 22:53] PyvesB commented on #1254
Hey there! I believe you have to apply the change to [lib/all-badge-examples.js](https://github.com/badges/shields/blob/master/lib/all-badge-examples.js) now. 😉

[2017-11-09 00:05] tooomm commented on #1254
@PyvesB thanks ;)

https://github.com/badges/shields/blob/master/lib/all-badge-examples.js#L54

Looking at this and the other badges around, my first thought was we could remove it completely.
But after searching all that file for `exampleUri` + comparing with the live shields.io page... I'm not certain anymore when we want/need to use that at all.

[2017-11-09 00:15] RedSparr0w commented on #1107
Don't think just the mustache works too well:

![image](https://user-images.githubusercontent.com/7288322/32581333-6a727632-c54e-11e7-98e4-df8cb9f3f396.png)
`logoWidth=26`:
![image](https://user-images.githubusercontent.com/7288322/32581309-556b05ec-c54e-11e7-9c3f-18642b9df01f.png)

I would say if anything it would have to be one of the following:
![image](https://user-images.githubusercontent.com

[2017-11-09 01:46] tylerl0706 commented on #1107
What about just an outlined version of the `T` sorry I can't contribute a visual right now

[2017-11-09 02:09] RedSparr0w commented on #1245
Still seems to be failing ~20% of the time,
Any clues yet as to what the problem could be?
It still seems they generally go down/up within 5-20 minutes of each other.

[2017-11-09 02:56] M-ZubairAhmed commented on #1254
@tooomm would you be submitting this PR. If not i am happy to help

[2017-11-09 03:00] M-ZubairAhmed commented on #1209
@pathawks i would like to know how can i contribute to this issue ? Could you please some guidance

[2017-11-09 03:05] aayush26 commented on #1248
Any update? or ETA?

Thanks.

[2017-11-09 09:47] espadrine commented on #1245
Three things.

s1 is European (located at Gravelines, IIRC), while s0 and s2 are in Canada (Montreal?).
Most of our vendors (typically, GitHub) have US servers.
It is inevitable that crossing the Atlantic yields a poorer SLA.
On the plus side, it is the least infuriating SSH session for me, and Europeans enjoy a faster static badge thanks to it.

Second, the worldwide load looks like this.
![image

[2017-11-09 10:59] techtonik commented on #1107
![](https://user-images.githubusercontent.com/7288322/32298044-fe1ef502-bfb5-11e7-98a0-0b8fbb0303d0.png)
but if colored is preferred, then
![](https://user-images.githubusercontent.com/7288322/32581402-b7e79c80-c54e-11e7-8650-ba6a944ada4b.png)

[2017-11-09 11:28] tooomm commented on #1107
Mustache only doesn't work, yes... :)

It looks like the black version on light background is easiest to recognize! But the badge left part is darkish...
I mean, the original Appveyor logo is white (https://ci.appveyor.com), but we use a greyish version: ![appveyor logo](https://user-images.githubusercontent.com/9874850/32603205-28b7182e-c549-11e7-9879-3b3207855f93.png)
A lesser vivid white versio

[2017-11-09 11:45] tooomm commented on #1254
Regarding the open questions (to me), I'm not submitting a PR @M-ZubairAhmed.

[2017-11-09 13:30] phonicmouse commented on #1107
I want this !!!!!

[2017-11-09 15:06] FezVrasta commented on #1252
I'm happy to send a PR if you like the idea to get the static badges definitions from a json file.

[2017-11-09 15:23] paulmelnikow commented on #1254
There are a couple other `exampleUri`s that could use fixing. These errors will happen less often now that we're not using `try.html`. Since we're defining the URIs in JavaScript, and with less duplication, it's a lot clearer what is what.

[2017-11-09 15:25] paulmelnikow commented on #1248
Given the other Github badges are working, I think the problem is in the code or API, not the production system.

Has anyone tried to reproduce this locally?

[2017-11-09 15:33] paulmelnikow commented on #1209
Hi! We have [a great tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) which is a good place to start! Then search for `\/github` in `server.js` and you can see how some of the other github badges are handled.

You could start by implementing something like **Next Release | 15 of 20 completed**.

It's worth discussing the design and URL scheme further before you get too far

[2017-11-09 17:42] mattbk commented on #653
I've run into the ELIFECYCLE code on Windows and Ubuntu. Running `node server.js` directly seems to work.

[2017-11-09 18:43] techtonik commented on #1107
+1

[2017-11-09 18:45] paulmelnikow commented on #653
Could you open a new issue and post details? Thanks!

[2017-11-09 19:40] mattbk opened #1259 "ERR! code ELIFECYCLE with `npm start` on Windows 7"
Reticketed from https://github.com/badges/shields/issues/653#issuecomment-343233556.

I assumed that this was a problem with my node/npm install, because it works on Mac OS for me. I don't have much experience with node.js.

When running `npm start' on Windows 7, I get:
[code]
That log file shows:
[code]
I can start the server directly with `node server.js`, however.

[2017-11-09 19:57] GBH commented on #1245
Just bumping to say I experience non-loading badges for several days now. Every other refresh I get `Invalid upstream response (521)` from githubusercontent.com

[2017-11-09 20:51] ramonsaraiva commented on #594
+1

[2017-11-09 21:40] paulmelnikow commented on #1259
Hi, thanks for that information. Proposed fix in #1260. Could you try running it and seeing if it fixes the problem? Thanks!

[2017-11-09 21:44] paulmelnikow commented on #594
Hey @ramonsaraiva would you be interested in working on this? We have [a great tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md).

[2017-11-09 21:45] ramonsaraiva commented on #594
Yeah i'm thinking about tackling this when i get some free time.

[2017-11-09 21:47] paulmelnikow commented on #594
Awesome. If you have any questions feel free to post them here.

[2017-11-09 21:54] mattbk commented on #1259
Can confirm that the fix in #1259 works for me on Windows 7. :+1:

[2017-11-09 23:16] KevinGrandon opened #1261 "Buildkite badge support"
[Buildkite](https://buildkite.com/) is a continuous integration service which is starting to provide support for open source builds, and currently has badge usage.

An example badge looks like: ![Build status](https://badge.buildkite.com/<hash>.svg?branch=master)

You can find an example of that badge in use here: https://github.com/buildkite/agent

It would be great if we could have support for b

[2017-11-10 01:53] jaydenseric commented on #1245
I've been seeing a lot of this the last few days:

<img width="841" alt="screen shot 2017-11-10 at 12 51 56 pm" src="https://user-images.githubusercontent.com/1754873/32639051-0c9d28ea-c616-11e7-811a-14ef0ebf4fb7.png">

[2017-11-10 02:05] RedSparr0w commented on #1107
Color | Example | Preffered
:-- | :--: | :--:
`#ccc` | ![image](https://user-images.githubusercontent.com/7288322/32639238-c6b81ba2-c627-11e7-9580-5191df42f808.png) | 👍
`#fff` | ![image](https://user-images.githubusercontent.com/7288322/32298044-fe1ef502-bfb5-11e7-98a0-0b8fbb0303d0.png) | 😄
`color` | ![image](https://user-images.githubusercontent.com/7288322/32639304-1b5bbe3e-c628-11e7-971e-e1fe41

[2017-11-10 02:57] paulmelnikow commented on #1261
Hi! Thanks for the suggestion. Is there a public API, or just the badge URL?

[2017-11-10 04:33] paulmelnikow opened #1263 "OVH downtime"
<img width="1014" alt="screen shot 2017-11-09 at 11 31 03 pm" src="https://user-images.githubusercontent.com/1487036/32642990-199f3bfc-c5a6-11e7-9f6e-22f732022608.png">

[s1 tanked today](https://status.shields-server.com/779605520), and the service feels flaky overall because of it. It's been down for 22 hours.

This is the reason, which @espadrine tweeted this morning:

<blockquote class="twitte

[2017-11-10 04:35] paulmelnikow commented on #1245
Indeed, this has happened with a good chunk of requests over the last few days.

https://status.shields-server.com/

Things have been much worse the last 22 hours because of #1263, which is unrelated service-provider downtime that took out one of our servers.

[2017-11-10 04:36] paulmelnikow commented on #1245
Good to know. That explains why the stats for s1 are sometimes slightly worse.

[2017-11-10 04:40] paulmelnikow commented on #1245
To re-summarize:

1. @espadrine, who has limited time on this project, is the only sysadmin.
2. He's working on giving me access.
3. Doing so is complicated because the hosting account (and maybe the servers too) are shared with other services he runs.
4. I like getting to the bottom of things, and want to fix this, however my options are limited.

I just emailed this plan:

[2017-11-10 05:15] paulmelnikow commented on #1107
@RedSparr0w Do you have svg links for those? Would be curious to see what they look like @ 2x.

[2017-11-10 10:31] manuel-rubio commented on #1245
@paulmelnikow I was checking the links:

https://img.shields.io/codecov/c/github/bragful/ephp.svg
https://img.shields.io/travis/bragful/ephp/master.svg

They are working but they take too much time to load (around 15 seconds). Github works using a proxy to retrieve this kind of images so, the error retrieved by the browser is a 504 (Gateway timeout).

Did you check the amount of requests your syst

[2017-11-10 12:43] tooomm opened #1264 "style examples not on point"
I realized this little confusion while trying to use a squared badge.
I typed `flat-squared` like it's written on the example badge... realized after several tries that the actual working URL extension is only `flat-square`
![flat-square](https://user-images.githubusercontent.com/9874850/32658941-9950361e-c61c-11e7-8784-ab19e0e3cfca.png)

All other examples and their label text in the badge match

[2017-11-10 12:57] tooomm commented on #1107
Here is a side-to-side comparison, most people might end up putting them next to each other:
- ![](https://user-images.githubusercontent.com/7288322/32639419-c091acd8-c628-11e7-97de-6ea22dc4d990.png) ![](https://img.shields.io/appveyor/ci/gruntjs/grunt.svg?logo=appveyor&style=flat-square)

<br>

- ![](https://user-images.githubusercontent.com/7288322/32298044-fe1ef502-bfb5-11e7-98a0-0b8fbb0303d0.p

[2017-11-10 13:20] phonicmouse commented on #1107
The coloured one is just really bad I think...i prefer the 100% white one, I think it suits better near the build label which is white.

[2017-11-10 15:26] peter-gribanov commented on #819
Please note that the result for the same project will vary depending on the approach used.

For project: https://github.com/yiisoft/yii

[![PHP](https://img.shields.io/badge/PHP-%3E%3D5.1.0-blue.svg)](https://github.com/yiisoft/yii) by Packagist #1256 see [composer.json](https://github.com/yiisoft/yii/blob/master/composer.json#L76)
[![PHP](https://img.shields.io/badge/PHP-5.3%20--%207.1%2C%20HHVM-

[2017-11-10 15:35] paulmelnikow commented on #1264
Hey @tooomm I know you're not a coder, and know that I really appreciate your catching and carefully reporting things like this!

Could open a PR for this? Since you have a fork you can edit `all-badge-examples.js` in the GitHub UI and it'll create a new branch in your fork and open a pull request for you.

https://github.com/badges/shields/edit/master/lib/all-badge-examples.js

Relative to the nu

[2017-11-10 15:57] paulmelnikow commented on #1245
@manuel-rubio Yea, that's unfortunate. See #1263.

[2017-11-10 15:57] paulmelnikow commented on #1263
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">May the gods be with us! I removed it from the DNS records.</p>&mdash; Thaddee Tyl (@espadrine) <a href="https://twitter.com/espadrine/status/928926202571689984?ref_src=twsrc%5Etfw">November 10, 2017</a></blockquote>

[2017-11-10 16:02] paulmelnikow commented on #1263
After that change our response time has tanked. Rather than dropping every third response, they're all coming back slow. 😐

https://status.shields-server.com/779605531

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If I bring a bkp server online quickly, could we add it to the rotation? I’d also need to get the GitHub tokens…</p>&mdash; Paul Melnikow (@paulmelnikow) <a hr

[2017-11-10 17:08] tooomm commented on #1264
Are your sure it's `all-badge-examples.js` file?

To me it looks like here:
https://github.com/badges/shields/blob/master/frontend/fragments/try-footer.html#L89-L90

[2017-11-10 17:55] paulmelnikow commented on #1264
You're right, this one's not a badge example.

We can't change the parameter without breaking everyone's usage, so we just want to change the logo to match the parameter that works.

[2017-11-10 18:10] tooomm commented on #1264
Exactly. Logo change is what I had in mind. https://github.com/badges/shields/pull/1265

[2017-11-10 18:34] paulmelnikow commented on #1245
While working on

I found the issue. It's a dumb thing I introduced in #1218. Fixed in #1266.

AFAICT production has been running with anonymous quota. I'm shocked this has been working as well as it has. Admittedly, not that well, though I'd have expected what we have to work for the first few _seconds_ of every hour.

Either the server is using a different github secret from the one I expect, or

[2017-11-10 19:54] paulmelnikow commented on #1245
Opened #1267 with an auth debug endpoint + logging.

[2017-11-10 20:20] paulmelnikow commented on #1245
I didn't really answer this question @manuel-rubio!

There are four ways you can help:

1. Review my changes. I have to self-review my code, which is hardly ideal. For what it's worth, the PR that caused this regression was open _for four weeks, which is plenty of opportunity_. If a team of five people could review a couple PRs per week, my changes could easily have 2–3 reviews apiece. Not only do

[2017-11-10 20:20] #1264 closed

[2017-11-10 21:24] paulmelnikow commented on #733
@RedSparr0w I just noticed this was still open. Do the docs still need updating?

[2017-11-10 23:05] RedSparr0w commented on #733
`https://img.shields.io/website/https/github.com.svg`
![Alt Text](https://img.shields.io/website/https/github.com.svg?label=https/github.com)
`https://img.shields.io/website/https/github.com/badges.svg`
![Alt Text](https://img.shields.io/website/https/github.com/badges.svg?label=https/github.com/badges)
`https://img.shields.io/website/https/github.com/badges/shields.svg`
![Alt Text](https://img.sh

[2017-11-10 23:05] #733 closed

[2017-11-11 19:21] paulmelnikow commented on #1243
The fix is deployed. Could someone confirm it's fixed?

[2017-11-11 19:22] paulmelnikow commented on #1245
The fix is deployed. Status looks good:

<img width="1026" alt="screen shot 2017-11-11 at 2 22 10 pm" src="https://user-images.githubusercontent.com/1487036/32692745-be1cf1e2-c6eb-11e7-869b-f2e8c52a5d63.png">

[2017-11-11 19:22] paulmelnikow commented on #1263
s1 is back online.

[2017-11-11 19:22] #1263 closed

[2017-11-11 20:26] #877 closed

[2017-11-11 22:54] #1181 closed

[2017-11-11 22:56] #1245 closed

[2017-11-12 00:50] RedSparr0w commented on #1107
A quick mockup svg with the travis logo here:
`http://shields.redsparr0w.com/static/badge.svg?logo=travis&color=white`
change color to whatever you like `rgb(255,255,255)` `black` `ccc` `ffffff` etc.
![](http://shields.redsparr0w.com/static/badge.svg?logo=travis&color=white)
![](http://shields.redsparr0w.com/static/badge.svg?logo=travis&color=ddd)
![](http://shields.redsparr0w.com/static/badge.svg

[2017-11-12 00:54] paulmelnikow commented on #1107
Thanks, those are super helpful. Could you drop them into your post above?

[2017-11-12 01:12] RedSparr0w commented on #1107
Updated post above,
Looks like `#fff` is the favorite currently, will most likely create the PR on Monday.
I may start working on a PR to allow logo color selection sometime soon too.

[2017-11-12 03:09] KevinGrandon commented on #1261
I don't believe there's a public API for this currently. CCing a few buildkite folks in case they know. @toolmantim @keithpitt

[2017-11-12 17:01] tooomm commented on #1209
I can think of this types:
- overall progress (`%` and `closed/total` style)
- issues total + issues open + issues closed
- due time

(all for particular milestones, newest milestone and all milestones combined)
- showing name of newest milestone
- other possibilities would involve status (open, closed), or other time related information (created, updated, closed) - not sure if those would be very

[2017-11-12 23:48] Daniel15 opened #1272 "Add Flow or TypeScript typing to repo"
It would be nice to have either Flow or TypeScript in the codebase, to better understand return types for some of the more complex functions.

[2017-11-13 00:55] paulmelnikow commented on #1210
I opened a WIP PR for the new frontend: #1273.

[2017-11-13 02:20] paulmelnikow commented on #953
Obsoleted by #1163 and #1273.

[2017-11-13 02:20] #953 closed

[2017-11-13 05:52] toolmantim commented on #1261
I've checked out the shields source, and figured out the JSON endpoint you'd probably need. I've added that, along with some documentation here:
https://buildkite.com/docs/builds/build-status-badges#json-output

Let me know if there's anything else!

[2017-11-13 16:01] darkmorpher commented on #633
Status request @espadrine

I see significant memory usage in browsers, each time shields.io page is visited.

[2017-11-14 19:31] PyvesB commented on #358
There still doesn't seem to be any official API to retrieve information about a given app on the Play Store.

The _android-market-api_ project linked above was last updated in early 2012, it would probably be a lot of work to adapt it to the current marketplace. Nevertheless, I found a few unofficial projects that seem to be more actively maintained. In particular the following repository:
https:/

[2017-11-15 04:28] #471 closed

[2017-11-15 17:49] dhhagan opened #1274 "Add Particle Library Installs"
Goal is to add an installs badge to display the number of downloads/installs for particle.io libraries. The API endpoint is [here][1] and requires authentication via a personal access-token.

I'd like to take a stab at it but am not sure how to really integrate/require credentials. I think there is a tutorial somewhere, or I'll dive into the source on one of the other badges that requires them. An

[2017-11-17 17:47] eneko commented on #593
@espadrine Seems like there are a bunch of shields that require (or support) passing a token in the URL. How are those services different than passing an access token for GitHub private repos?

Example:
[code]

Travis CI supports badges for private repos too, which is very cool. It would be great to be able to access release information, etc. In a secure way, of course.

[2017-11-17 19:36] Falieson commented on #1252
https://github.com/ellerbrock/typescript-badges

This project has version badges but only the 1.8 badge works. I made a ticket on the project months ago, but it seems abandoned.

I would love a shield for TS 2.5 !

[2017-11-17 19:36] paulmelnikow commented on #1274
Hi! Thanks for the suggestion + your interest. Could you clarify: what does the personal access token provide access to?

We do have a good tutorial: https://github.com/badges/shields/blob/master/doc/TUTORIAL.md

[2017-11-17 19:42] #1259 closed

[2017-11-17 19:43] dhhagan commented on #1274
The personal access token is required to make any calls to the Particle.io API as described [here](https://docs.particle.io/reference/api/#authentication). With the token, you can then call the libraries endpoint and retrieve the number of installs/downloads.

Thanks for the link to the tutorial; I was reading through it a couple nights ago and noticed the "Querying an API with Authentication" sec

[2017-11-18 16:59] paulmelnikow commented on #1274
Yea… we don't have a good set of guidelines for that. The policy has been not to accept badges with secure authorization in the URL for security reasons, which makes sense, though, as with most projects, that policy hasn't been applied consistently. A couple have snuck in.

If we could verify that tokens are read-only and narrowly scoped, I'd be comfortable with it.

[2017-11-18 16:59] paulmelnikow commented on #1274
Another option is to provide the token in the server config, so people who self-host can use it.

[2017-11-18 17:11] makus82 commented on #619
[![Linux Build Status](https://travis-ci.org/OpenApoc/OpenApoc.svg?branch=master&label=linux)](https://travis-ci.org/OpenApoc/OpenApoc)

[2017-11-18 17:12] makus82 commented on #619
https://img.shields.io/gemnasium/ELLIOTTCABLE/Paws.js.svg?label=test

[2017-11-18 17:12] dhhagan commented on #1274
Hmm. Those are good points. As far as I know, they don't have different scopes for their access tokens; they're tied to your account and whatever you are able to do, which seems a bit odd. I'll reach out to them to see if they can offer a token-free endpoint for this (should be) public information.

[2017-11-19 13:39] OlegKi opened #1278 "npm total statistic is wrong"
I'll explain the problem on an example. https://shields.io/ displays the statistic of "express" package as an example. It shows the value 195M (see https://img.shields.io/npm/dt/express.svg) as the total statistic of express downloads.
![npm-express0](https://user-images.githubusercontent.com/249117/32991190-1120d376-cd37-11e7-97ab-dcaec3d47700.png)

The [npm-provider.js](https://github.com/badges

[2017-11-19 14:47] platan commented on #1278
[Limits](https://github.com/npm/registry/blob/master/docs/download-counts.md#limits) section in NPM package download counts API states:

This case is similar to https://github.com/badges/shields/issues/672

I can see two options:
- load all data - currently we have to send 2 requests, but over time (every 18 months) number of requests will increase
- do not change NPM total downloads badge behavio

[2017-11-19 15:22] OlegKi commented on #1278
Thanks for the quick response!

I think that loading of **all data** in 2 (or later more) requests, would be mostly interesting for the users. There are exist already the "last year" button https://img.shields.io/npm/dy/express.svg, which corresponds the request https://api.npmjs.org/downloads/point/2016-11-20:2017-11-20/express. I don't think that "downloads in the last 18 months" will be more in

[2017-11-19 15:32] paulmelnikow commented on #1278
Good points all around.

Some other options we could consider:

1. Cache it
2. Ask npm for a static dump of the annual historical data
3. Run a job once to fetch all the historical data and put it on s3 or something

[2017-11-19 17:31] crazy-max opened #1279 "VirusTotal detections badge"
Would be nice to have a shields.io badge for VirusTotal through their [public API](https://www.virustotal.com/en/documentation/public-api/).

Here is an example to have the number of postitives / total detections :

* URL : `https://www.virustotal.com/vtapi/v2/file/report`
* Method : `POST`
* Request body type : `URLencoded form data`
  * resource=87b46227991cb84bc20f301aaf80e38e4e1ce41e42cd634d31