[2019-10-17 15:58] 17cupsofcoffee commented on #4186
Thank you for the guidance :)

[2019-10-17 17:41] tooomm commented on #3202
Thanks fixing and especially for letting me know @platan! Cool 👍

[2019-10-17 19:46] #4186 closed

[2019-10-17 21:13] loosebazooka opened #4188 "Maven-Metadata renders a version like "1.0" as "1""
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

For the following metadata:

metadata: http://central.maven.org/maven2/com/google/guava/guava-beta-checker/maven-metadata.xml

The actual badge rendered
[![Maven Central](https://img.shields.io/maven

[2019-10-17 21:21] calebcartwright commented on #4188
Thanks @loosebazooka

You could use the MavenCentral version badge in the interim which provides your expected format
https://img.shields.io/maven-central/v/com.google.guava/guava-beta-checker?label=maven)
![](https://img.shields.io/maven-central/v/com.google.guava/guava-beta-checker?label=maven)

I recall something similar in the [MavenCentral](https://github.com/badges/shields/blob/master/servic

[2019-10-17 21:51] calebcartwright opened #4189 "AUR License service test failing"
:clock11: **When did the problem start?**
~October 16th

:camera: **Live badge**
https://img.shields.io/aur/license/pac
![](https://img.shields.io/aur/license/pac)

:wrench: **Is the live badge working?**
Yes, just seems like the package we were using in the test (and in the badge example listing) has been renamed or unpublished

:link: **CircleCI link**

:beetle: **Stack trace**

[code]

:bulb: *

[2019-10-18 00:59] icnocop commented on #1184
I'm able to use a [dynamic badge](https://shields.io/#dynamic-badge).

For example:

data type: `xml`
label: `myget`
url: `https://www.myget.org/F/credentialproviders/vsix`
query: `/*[local-name(.)='feed']/*[local-name(.)='entry'][1]/*[local-name(.)='Vsix']/*[local-name(.)='Version']`

Result:

![myget](https://img.shields.io/badge/dynamic/xml?label=myget&query=%2F%2A%5Blocal-name%28.%29%3D%27feed

[2019-10-18 01:35] calebcartwright opened #4190 "CodeClimate Analysis service tests failing"
:clock11: **When did the problem start?**
~16th October

:camera: **Live badge**

https://img.shields.io/codeclimate/maintainability/angular/angular
![]( https://img.shields.io/codeclimate/maintainability/angular/angular )

:wrench: **Is the live badge working?**
Live badge is fine, but our tests were using Angular.js and it seems that project is no longer being analzed
https://codeclimate.com/git

[2019-10-18 11:02] derSoerrn95 commented on #2812
it works with self-hosted version. but the shield.io version always shows down.

[2019-10-18 12:31] Bl4d3s commented on #541
One Question: I'm currently trying to get the badge working with a public repo inside a group. It states only not found. How can I use this with a group project? (Both are public, https://gitlab.com/TheEmpire/Backend/)

[2019-10-18 15:04] Andre601 commented on #658
I can confirm that this issue still exists.

[2019-10-18 15:23] calebcartwright commented on #658
Interestingly enough, it seems that the API call we use does not require any authentication for public packages:

https://bintray.com/docs/api/#_get_version
https://bintray.com/api/v1/packages/asciidoctor/maven/asciidoctorj/versions/_latest

And when I remove auth in our call, the badges work just fine

https://github.com/badges/shields/blob/7a7bf66233c1b5d5092b995d52f3a55bc9bfa20c/services/bintra

[2019-10-18 15:42] calebcartwright commented on #658
https://shields-staging-pr-4217.herokuapp.com/bintray/v/asciidoctor/maven/asciidoctorj
![](https://shields-staging-pr-4217.herokuapp.com/bintray/v/asciidoctor/maven/asciidoctorj)

[2019-10-18 16:09] calebcartwright commented on #658
@paulmelnikow - do you know if we have `bintray_username` and/or `bintray_password` set on the prod badge servers?

[2019-10-18 17:01] #4189 closed

[2019-10-18 18:33] #4190 closed

[2019-10-18 22:33] paulmelnikow commented on #541
Would you like to add that to the badge documentation? It seems like it could be useful to others! We have something similar on eg the Discord badge.

[2019-10-19 00:59] paulmelnikow commented on #658
Yes, they are both set. I think the auth was added not for private projects, but because it provided a higher rate limit.

We could try creating a second token and an auth pool for Bintray… though maybe they could give us a megatoken instead? Has anyone managed to reach them?

[2019-10-19 06:53] jhgoebbert commented on #541
you can find my example project for CI/CD (incl. badges) here:
https://gitlab.version.fz-juelich.de/vis/jusense-cicd

[2019-10-19 08:29] paulmelnikow commented on #4139
I like the idea of making https://contributing.shields.io the preferred place for the tutorials, and for any documentation that we don't think is a better fit at https://shields.io/. 👍

I'm a little wary of JSDoc's limitations when it comes to the URLs, as it'd be nice to have a clean URL like https://contributing.shields.io/tutorial, though it's probably not worth wrestling with the tool to make

[2019-10-19 11:22] Bl4d3s commented on #541
@paulmelnikow Will do so gladly. I looked at the discord service. Is it correct I will only have to provide a const string named documentation with the doc?

[2019-10-19 12:37] paulmelnikow commented on #4181
The service tests are passing locally using my personal wheelmap token and failing using the production token. Do you want to troubleshoot it? I can share the credentials with you.

[2019-10-19 14:21] paulmelnikow commented on #4090
The other areas where we're using short identifiers pretty consistently are the version badges and the download badges. I'd be slightly less inclined to change those to longer forms, though really wouldn't mind doing it for `/l` to `/license`, I guess mostly because the `/l` badges seem a bit harder to visually recognize.

[2019-10-19 14:34] paulmelnikow commented on #3654
I like how fun **Home of all things badges** is. It definitely conveys a sense of humor. Though I think "things" and "badges" both being plural, it's a bit difficult to parse, and doesn't roll off the tongue quite as well.

Yet another idea:

Might be my favorite yet. It's punchy, descriptive (yes, we are the kitchen-sink of badge services!), and very fun.

[2019-10-19 15:26] PyvesB commented on #4090
In my opinion, we should stick with `l`.

We've got over 15 badges using the short form and 2 using the long form. It would be quite a lot of work to migrate the majority over to the long form. I'm guessing we would have to either add redirectors or regexes in the path, with additional tests, adding complexity and maintenance overhead. Even though the performance hit would probably be very small,

[2019-10-19 15:32] PyvesB commented on #3654
I like it as well, however, I'm not used to seeing that word used as a verb, so it doesn't resonate with me as much.

Idea somewhat like a brand slogan:

[2019-10-19 15:54] calebcartwright commented on #658
I'm thinking we may be able to solve this by unsetting `bintray_user` and `bintray_apikey` on the badge servers.

Support for bintray goes _way_ back in Shields' history, so apologies if I've missed any relevant threads or discussion.

From what I can tell, when bintray support was first added, the bintray API we use to get the latest version **required** authentication
https://github.com/badges/s

[2019-10-19 15:58] calebcartwright commented on #4090
That's a strong enough case on its own for me to vote for sticking with `l` too 👍

[2019-10-19 16:06] paulmelnikow commented on #658
Okay, I'm game to remove the credentials on the next deploy and see how it goes!

[2019-10-19 16:11] calebcartwright commented on #658
🤞

[2019-10-19 16:20] chris48s commented on #4139
That wasn't one of the tools I looked at. I've not tried it out, but just having a look over their parser code, my gut instinct is its going to support a relatively modest subset of JSDoc. If you give it bash, first things I'd check for to "fail fast" would be:

- Does it support `@typedef`, `@module`, `@abstract`, `@see`, `@property`?
- Do functions with `async`, `static`, `get`, etc get ignored?

[2019-10-20 07:51] Turnerj opened #4219 "NuGet badges with build metadata treated as pre-release"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)

:beetle: **Description**

I've been using build metadata in my NuGet package versioning since mid-May (eg. `0.11.0+294`) and that has been accessible via the "/v/" path for NuGet. My last successful version number that appeared under the "/v/" path was `0.16.0+388`.

In my next version, my build information is `0.17.

[2019-10-20 12:34] MrIvanPlays opened #4220 "Can't find artifact"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

**Description**
shields.io can't find an existing artifact in my nexus repository manager

https://gyazo.com/f3663baa1ccd10e4db6c38736b34e5ac
https://gyazo.com/96fd92e4efe3b4ba4389d72b6c41111c

[2019-10-20 13:24] #4220 closed

[2019-10-20 16:33] calebcartwright commented on #4181
Sure. I've no experience/familiarity with Wheelmap but i'll take a look

[2019-10-20 17:14] calebcartwright opened #4221 "SonarQube service tests failing"
:clock11: **When did the problem start?**
~October 18th

:camera: **Live badge**

https://img.shields.io/sonar/coverage/swellaby:letra?server=https%3A%2F%2Fsonarcloud.io
![](https://img.shields.io/sonar/coverage/swellaby:letra?server=https%3A%2F%2Fsonarcloud.io)

:wrench: **Is the live badge working?**
Yes, there's no issue with the badges, just with the target SonarQube instance a subset of the s

[2019-10-20 17:53] calebcartwright commented on #4219
Took a look at this one, and it seems it's a combination of how Shields is attempting to determine whether a nuget package version is a prerelease version, as well as the various versions you've published for the two packages.

The reason why the behavior is different between your two packages is that all of the published versions for second package (CacheTower) have a build metadata that includes

[2019-10-20 18:07] calebcartwright commented on #4219
On second thought, although I generally think of any v0.x version as pre-release, is that actually true?

Is `0.16.0+388` technically a "release" semver version with build metadata on the patch? If so then I think the results you are seeing for your badges are correct

[2019-10-20 21:35] chris48s commented on #4221
If http://sonar.petalslink.com/ doesn't come back online and there isn't another obvious public instance running the old version, we could switch the legacy sonar tests to use mocked responses.

[2019-10-21 00:01] Turnerj commented on #4219
Thank you for jumping on this so fast and providing me with so much detail, I really appreciate it. 🙂

[2019-10-21 11:11] paulmelnikow commented on #3951
I haven't seen this in a while. Hopefully it's fixed.

[2019-10-21 11:11] #3951 closed

[2019-10-21 11:12] paulmelnikow commented on #3657
This is done!

[2019-10-21 11:12] #3657 closed

[2019-10-21 11:33] paulmelnikow commented on #4139
Yikes, I didn't realize that package had a homegrown parser. It seems like it would make a lot more sense to leverage an existing parser. [jsdoc-to-markdown](https://github.com/jsdoc2md/jsdoc-to-markdown) is a possibility; seems like that could be wired up with `gatsby-source-filesystem`.

However, the Gatsby site itself uses [gatsby-transformer-documentationjs](https://www.gatsbyjs.org/packages/g

[2019-10-21 13:50] jcbcn opened #4223 "504 Gateway Timeout on badges inside GitHub README"
Are you experiencing an issue with...

- [ ] [shields.io](https://shields.io/#/)

:beetle:
I am receiving 504 (Gateway Timeout) when viewing badges inside GitHub README's over a range of badge types. This is happening with least one badge in the README each time I try.

Possibly linked to https://github.com/badges/shields/issues/1568.

Thanks

[2019-10-21 15:11] paulmelnikow commented on #4223
Hi! Thanks for the report.

I haven't been able to reproduce this today on the Shields repos or any other repos that I've noticed.

Is this a public repo where you're seeing this happen?

[2019-10-21 15:22] jcbcn commented on #4223
Yeah, repo is here: https://github.com/pitch-game/pitch-api

I do have 17 in my README which may be the issue (maybe a few too many!). It is usually only happening on the test and coverage ones. Rather than the top three.

I could move them into individual README's but figured this could be a wider issue.

[2019-10-21 16:55] chris48s commented on #4139
I didn't look at documentation.js when I was evaluating options, but that does look like it is worth evaluating to see if it could solve a problem for us here.

[2019-10-21 17:27] paulmelnikow commented on #4139
Okay, I'll dig in a bit further then.

[2019-10-21 17:30] paulmelnikow commented on #4223
It should work, even with lots of badges…

I wonder if these are timing out because the upstream requests are slow. GitHub cuts things off at 4 seconds, so if the upstream requests take longer than that, the only thing we can do is put the right answer in the cache and then get it right on the next request (e.g. after refresh).

[2019-10-21 17:31] paulmelnikow commented on #4223
By the way, these are loading for me:

<img width="855" alt="Screen Shot 2019-10-21 at 7 28 36 PM" src="https://user-images.githubusercontent.com/1487036/67228328-4e91c500-f439-11e9-8d7c-5158ab9c736b.png">

[2019-10-21 19:08] platan commented on #4013
@calebcartwright Are you working on this?

[2019-10-21 21:13] calebcartwright commented on #4013
@platan - no I'm not. Seems like it could basically be any of the redirectors though, presumably one that's missing an encoding of one or more params

[2019-10-22 06:46] netsgnut commented on #4188
Thank you @calebcartwright for the pointer! Let's see if I could prepare a PR for that.

[2019-10-22 10:05] paulmelnikow commented on #4013
We could add some validation to Redirector that checks for valid URL characters and includes the name of the service in the error message.

[2019-10-22 12:00] paulmelnikow opened #4225 "Privacy policy"
:clipboard: **Description**

The Shields production servers should have a privacy policy. This may be required for regulatory compliance and is a good idea regardless.

Possibly as part of that, it would be helpful to clarify how Shields interprets its long-established "no tracking" promise.

Some possible models:

- https://www.iubenda.com/
- https://github.com/wulkano/kap/blob/master/PRIVACY.md

[2019-10-22 16:30] svoop commented on #2574
@calebcartwright Given the case-sensitive workflow names: It would be nice, if the actions badge implementation accepted an optional query parameter `label=` to override the name rendered on the badge. This way, you could have consistent badge labels (e.g. all lowercase) and still use different cases (or even names) for the workflows themselves.

(BTW: When an issue gets OT comments like the ones

[2019-10-22 16:35] calebcartwright commented on #2574
This is supported on all Shields badges, and will also be available for Shields badges for GH Actions

Thanks @svoop, I'm aware of this but deliberately left them as-is since they contain information folks may find useful outside the Shields context.

[2019-10-22 18:04] chris48s commented on #3833
These are now shipped :tada:

https://img.shields.io/w3c-validation/default?targetUrl=https%3A%2F%2Fvalidator.nu%2F
![](https://img.shields.io/w3c-validation/default?targetUrl=https%3A%2F%2Fvalidator.nu%2F)

https://img.shields.io/w3c-validation/default?targetUrl=http%3A%2F%2Fshields.io
![](https://img.shields.io/w3c-validation/default?targetUrl=http%3A%2F%2Fshields.io)

[2019-10-22 18:04] #3833 closed

[2019-10-22 19:05] jcbcn commented on #4223
I'm starting to see this on first load of my frontend repo as well. I've just loaded up the README again this evening and am seeing the same behaviour:

![image](https://user-images.githubusercontent.com/1164656/67321099-07720580-f507-11e9-87ff-978396b09854.png)

It seems like it's slowly creeping back in again. After #1568 was fixed I haven't seen a broken badge for ages, but recently in the past

[2019-10-22 19:14] calebcartwright commented on #4223
The other thing with both the Azure DevOps test and coverage badges is that we have to make two API calls to AzDO to get the actual data (the first to get the build id of the latest build and the second to get the respective data for that build)

[2019-10-22 19:16] calebcartwright commented on #658
Were the creds removed on the last deploy? If so I'll try to keep checking on the badges to see if we get any more `invalid`'s

[2019-10-22 19:37] jcbcn commented on #4223
Ah I see. The strange thing is this has been working flawlessly ever since #1568, just in the last week I've noticed it happening again. Obviously I'm not sure what's degraded, but the because it had been fine for a while, I assumed it might be the caching again.

[2019-10-22 19:56] platan commented on #4223
There is something strange happening with our servers in the last hours:
https://metrics.shields.io/d/aESRBSjmz/services?orgId=1&from=now-3h&to=now
https://metrics.shields.io/d/g_1B7zhik/prom-client-default-metrics?orgId=1&refresh=10s&from=now-3h&to=now

[2019-10-22 20:04] calebcartwright commented on #4223
I believe @paulmelnikow ran a deploy at some point today (not sure when), but if there was a deployment during that same window that could potentially explain the spikes.

[2019-10-22 21:51] paulmelnikow commented on #658
Yes, they were. I'm rolling back the code now, but the creds will remain out.

[2019-10-22 21:51] h1nk commented on #1664
Could this badge be implemented using `BaseSvgScraping` like #3898?

[2019-10-22 21:53] paulmelnikow commented on #3833
This is being rolled back, most likely due to something unrelated. Really sorry for that, and hope we can get it re-deployed again soon. Thank you so, so much for your work on this, Caleb and Darren!

[2019-10-23 08:21] jcbcn commented on #4223
Seems to be fine since the rollback. Thanks again for looking into this. Much appreciated

[2019-10-23 08:36] paulmelnikow commented on #4223
To clarify, I think @jcbcn's initial report may be related to a capacity issue, or else due to upstream services being slow.

While the symptom was the same, the issue that happened yesterday was probably unrelated.

[2019-10-23 08:41] paulmelnikow opened #4227 "Yesterday's server resource incident"
In https://github.com/badges/shields/issues/4223#issuecomment-545127052 @platan wrote:

See also some discussion in the #ops channel.

I rolled back to 8a21c7746fc131bd8f2c621c331bc357c61e3b69 and so far things have been stable. It's not 100% clear if the rollback fixed the problem, or if one of these commits leading up to 54bcedc0f42a211e8b802001e28af27da024a621 caused it. We should try to re-dep

[2019-10-23 10:13] ainthek commented on #1845
I had a quick look at the API on npmjs, but is there any way to get dependents ? I did not find it. Thanx

[2019-10-23 14:58] jonashackt commented on #2259
Really great service for using the `package.json` dynamically @paulmelnikow 👍

In my case this great service didn't work, since the `package.json` doesn't reside in the root of my GitHub repo, but in a subdirectory called `frontend` - the url to the package.json is: https://github.com/jonashackt/spring-boot-vuejs/blob/master/frontend/package.json Currently I found no option to use the great tools

[2019-10-23 16:33] calebcartwright commented on #1845
Though it's not explicitly called out in the [npms API docs](https://api-docs.npms.io/#api-Package-GetPackageInfo), the API response does include a value for dependents count in `collected.npm.dependentsCount`

https://api.npms.io/v2/package/got
[code]

However, I think the same issue exists here relative to the counts being off. The registry shows (at the time of this post) 2,844 dependents for [

[2019-10-23 16:35] calebcartwright commented on #1845
Probably worth keeping tabs on https://github.com/npms-io/npms/issues/37 over in the npms repo to see if there's an explanation for the descrepancy

[2019-10-23 18:25] #2679 closed

[2019-10-24 08:41] pnowaczyk commented on #1638
I'll look into this

[2019-10-24 09:12] paulmelnikow commented on #4223
Have a link?

[2019-10-24 12:13] hjagodzinski commented on #3960
I see @pedrofracassi you didn't make it. If you don't mind I will look into it.

[2019-10-24 18:22] pedrofracassi commented on #3960
@hjagodzinski please do.

[2019-10-24 19:05] robertoalfonso commented on #2502
HI! I would like that kind of help :) !!  I already have a docker container running a shields instance but I can t figure out how to connect it to my private project and get badges ie for code coverage por tests?
Can you help me with that?

BTW I already have Azure DevOps PAT  set up on a file called shields.env that I use to start docker with the following command:

docker run --rm -p 8080:80 --e

[2019-10-24 20:08] calebcartwright commented on #3960
In my admittedly limited experience with Go, I've always found the mod file to be in the root of the repo. Is that something that's enforced/required, or would be it possible for someone to have the mod file in a subdirectory of the repo?

[2019-10-24 20:15] pedrofracassi commented on #3960
Only if it's a monorepo with multiple go packages, I believe. Maybe let people add the path to the badge URL?

[2019-10-24 20:32] calebcartwright commented on #3960
Thanks @pedrofracassi - that's exactly what I was thinking

[2019-10-24 20:39] chris48s commented on #2502
Hello. You can use env vars or `config/local.yml` to set credentials for some services to access private projects. See these docs https://github.com/badges/shields/blob/master/doc/server-secrets.md

[2019-10-24 20:49] paulmelnikow commented on #4227
I'm curious, has anyone been tracking whether the problem has gone away since the rollback. The badges in the Shields repo seems okay, though there have been some more reports in #4223.

[2019-10-24 20:50] paulmelnikow commented on #4223
They loaded for me just now.

<img width="931" alt="Screen Shot 2019-10-24 at 10 46 37 PM" src="https://user-images.githubusercontent.com/1487036/67524068-4abba800-f6b0-11e9-93f7-06a0327203df.png">

Seems like this is happening intermittently. I'm curious how much this is related to Azure DevOps and how much it's intermittent server issues.

[2019-10-24 21:48] calebcartwright commented on #4227
I was keeping tabs on the stats yesterday and didn't notice anything in particular. Haven't been able to do much today though

[2019-10-24 22:14] calebcartwright commented on #2502
@robertoalfonso - happy to help, though it's difficult to offer much insight without knowing more. Feel free to open up a new issue too

[2019-10-24 22:17] calebcartwright commented on #4223
Other than that short window after the last deploy, I haven't noticed anything either (including various Azure DevOps badges that are loading fine for me 🤷‍♂)

Either way though, it's probably worth revisiting the experiments we discussed in #3874 to update our prod environment

[2019-10-24 22:39] #1638 closed

[2019-10-24 22:55] VladimirYushkevich commented on #3512
Any updates?

[2019-10-25 15:06] jonashackt opened #4250 "dynamic xml badge: no result for .xml file with namespace definitions (like Maven pom.xml)"
Are you experiencing an issue with...

- [ *] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

example XML that works: https://gist.githubusercontent.com/jonashackt/e1d9d4c5edc5a1be4b038467df180b40/raw/5ae76db881260e4ad496d8da95e582343d33e135/pom.xml (I manually deleted the ` xmlns="http://ma

[2019-10-25 15:25] calebcartwright commented on #4188
Closed via #4224

[2019-10-25 15:25] #4188 closed

[2019-10-26 14:59] calebcartwright commented on #658
AFAICT the bintray badges have been consistently working since we removed the creds. Has anyone seen anymore `invalid` badges in the last 4 days?

[2019-10-26 15:15] calebcartwright commented on #4221
SGTM. It's been about a week and it's still not back online, so I've opened #4251 with an update to mock those service tests. Ever since the SaaS SonarCloud service was launched in ~June 2017, I think it's become _far_ less common for folks to self-host their own SonarQube instance on a server.

As such I'm highly skeptical that we'll find a publicly accessible, self-hosted SonarQube instance that

[2019-10-26 22:23] #4221 closed

[2019-10-27 09:19] jonashackt commented on #4250
Thanks very much @platan 👍  works like a charm!

[2019-10-27 09:19] #4250 closed

[2019-10-27 12:27] PyvesB commented on #4170
Here are my attempts to align the documentation contents to the left.

- Firefox:
  ![left-firefox](https://user-images.githubusercontent.com/10694593/67634450-f08b3480-f8b3-11e9-8f21-7d890878d409.png)

- Chromium-based browser:
  ![left-chromium](https://user-images.githubusercontent.com/10694593/67634454-faad3300-f8b3-11e9-90ad-fd4874e27fc9.png)

Similar screenshots with the current centre align

[2019-10-27 13:05] paulmelnikow commented on #4170
The left alignment looks great!

[2019-10-27 14:18] GeckoLisa commented on #3592
The O.P. didn't respond so I'm going to give this a try for Hacktoberfest.

[2019-10-27 14:30] PyvesB commented on #4181
The badges work fine on the staging environment as well: ![](https://shields-staging.herokuapp.com/wheelmap/a/26699541). My credentials are used there.

The fix will probably be "renew the token", but it would be useful to see if any useful information comes back when doing an API request. I'm also happy to pick this one up.

[2019-10-27 17:40] #4170 closed

[2019-10-27 18:01] paulmelnikow commented on #4181
@PyvesB I just shared it with you on Keybase!

@calebcartwright are you on Keybase? Could you add me, and probably also prove your GitHub identity?

https://keybase.io/paulmelnikow

[2019-10-27 18:09] pedrofracassi opened #4257 "Badge request: Discord Bot List upvote count"
:clipboard: **Description**

[top.gg](https://top.gg/) (a.k.a. Discord Bots or DBL) is probably the biggest list of Discord bots out there. They allow users to upvote their favorite bots. This PR proposes a badge that shows how many upvotes a bot has.

:link: **Data**

They have a public API [endpoint](https://top.gg/api/bots/445277324175474689) for getting information about a specific bot ([docum

[2019-10-27 19:11] PyvesB commented on #4181
The API response is not very helpful:
`{"error":"invalid API key."}`

However, I noticed there was a typo in the API key you shared on Keybase @paulmelnikow when comparing it to what is displayed on the Wheelmap.org profile. I've reuploaded the fixed version to Keybase.

[2019-10-27 19:21] pedrofracassi commented on #4257
Assign this one to me please?

[2019-10-27 19:27] calebcartwright commented on #4257
Thanks for the suggestion and interest in working on this @pedrofracassi.

Ping us on this thread and/or Discord if you have any questions along the way!

[2019-10-27 19:28] calebcartwright commented on #4181
I am not though I'll try to set up an account soon

[2019-10-27 19:28] calebcartwright commented on #4181
@PyvesB - badges seem to working again, well done!

[2019-10-27 19:29] paulmelnikow commented on #3784
This is still happening as recently as October 17, though it seems, with less frequency than before.

[2019-10-27 19:30] sentry-io[bot] opened #4258 "ValidationError: "x-ratelimit-limit" is required"
Sentry Issue: [SHIELDS-3H](https://sentry.io/organizations/shields/issues/1138884350/?referrer=github_integration)

[code]

[2019-10-27 19:31] paulmelnikow commented on #4181
Nice! Yea, I've just deployed the config change.

[2019-10-27 19:32] paulmelnikow commented on #4111
Confirmed fixed; not seen in 25 days.

[2019-10-27 19:33] PyvesB commented on #3784
Possibly someone using a custom label, as discussed above. That's quite hard to track down though.

[2019-10-27 19:34] paulmelnikow commented on #4011
Confirmed fixed; last seen on Sep 15.

[2019-10-27 19:35] PyvesB commented on #4181
Brilliant, nice teamwork! Let's close the issue! 👍

By the way, you can also find me on Keybase: https://keybase.io/pyves

[2019-10-27 19:35] #4181 closed

[2019-10-27 19:35] paulmelnikow commented on #3788
If anyone wants to take on this refactor, please do!

[2019-10-27 19:35] paulmelnikow commented on #4033
Confirmed fixed, last seen Sep 16.

[2019-10-27 19:36] sentry-io[bot] opened #4259 "Error: Line 1: Unexpected token %"
Sentry Issue: [SHIELDS-47](https://sentry.io/organizations/shields/issues/1242011245/?referrer=github_integration)

[code]

[2019-10-27 19:37] paulmelnikow commented on #4259
Actually I'm going to close this for now. This was last seen on Sep 25 so it's possible this problem doesn't exist anymore.

[2019-10-27 19:37] #4259 closed

[2019-10-27 19:38] sentry-io[bot] opened #4260 "ValidationError: "x-ratelimit-limit" is required"
Sentry Issue: [SHIELDS-3J](https://sentry.io/organizations/shields/issues/1138884351/?referrer=github_integration)

[code]

[2019-10-27 19:39] paulmelnikow commented on #3777
Last seen Aug 12 👍

[2019-10-27 19:39] paulmelnikow commented on #4019
Last seen Sep 1 👍

[2019-10-27 19:39] paulmelnikow commented on #3793
Last seen Aug 23 👍

[2019-10-27 19:40] paulmelnikow commented on #3786
Last seen Sep 9 👍

[2019-10-27 19:40] paulmelnikow commented on #4017
Last seen Sep 9 👍

[2019-10-27 19:41] paulmelnikow commented on #3782
Last seen Aug 2 👍

[2019-10-27 19:41] paulmelnikow commented on #3769
Last seen Jul 30 👍

[2019-10-27 19:42] paulmelnikow commented on #3794
Last seen Sep 13, which maybe is when this was deployed?

[2019-10-27 19:43] sentry-io[bot] opened #4261 "Error: Lexical error on line 1. Unrecognized text."
Sentry Issue: [SHIELDS-3R](https://sentry.io/organizations/shields/issues/1164031998/?referrer=github_integration)

[code]

[2019-10-27 19:43] sentry-io[bot] opened #4262 "TypeError: Cannot read property '1' of null"
Sentry Issue: [SHIELDS-4D](https://sentry.io/organizations/shields/issues/1274271564/?referrer=github_integration)

[code]

[2019-10-27 19:44] sentry-io[bot] opened #4263 "TypeError: Cannot read property 'replace' of undefined"
Sentry Issue: [SHIELDS-4E](https://sentry.io/organizations/shields/issues/1274271853/?referrer=github_integration)

[code]

[2019-10-27 19:44] paulmelnikow commented on #4263
Related to #4262.

[2019-10-27 19:45] paulmelnikow commented on #4258
#4260 contains a slightly different version of this error.

[2019-10-27 19:46] paulmelnikow commented on #4260
Let's track at #4258 instead.

[2019-10-27 19:46] #4260 closed

[2019-10-27 19:47] paulmelnikow opened #4264 "TypeError [ERR_INVALID_URL]: Invalid URL: https://redacted.test%2"
https://sentry.io/organizations/shields/issues/1125905709/?referrer=github_plugin

[code]

[2019-10-27 19:48] paulmelnikow commented on #4264
Related to #3780, but a different case.

[2019-10-27 19:49] platan commented on #4262
This is a duplicate of https://github.com/badges/shields/issues/4016.

[2019-10-27 20:10] paulmelnikow commented on #3784
Hmm, I don't think so. This is happening inside `invoke()`, which returns before `coalesceBadge()` runs. That means there's a `handle()` function somewhere that is returning this result.

It's possible there's a path to triggering this through the dynamic or endpoint badges, but it's not coming through a query parameter.

[2019-10-27 20:11] #4262 closed

[2019-10-27 20:13] paulmelnikow commented on #3813
Last occurred Sep 13 👍

[2019-10-27 20:29] paulmelnikow commented on #4016
It seems there are a few different signatures for this error. This particular one occurred once on Sep 11, the one linked from #4262 [SHIELDS-4D](https://sentry.io/organizations/shields/issues/1274271564/) happened twice on Oct 15, the one from #4263 [SHIELDS-4E](https://sentry.io/organizations/shields/issues/1274271853/?referrer=github_integration), also twice on Oct 15.

In other words, not supe

[2019-10-28 00:05] pedrofracassi commented on #4257
I just logged out of my top.gg account. The API seems to need Authorization :/
Should I scrape the SVG then?

[2019-10-28 00:15] calebcartwright commented on #4257
Should I scrape the SVG then?

That depends.

There's a few upstream services Shields integrates with that provide the data Shields needs via JSON APIs that require authentication, but have pretty broad authorization scope (for example SymfonyInsight, Bintray, and Wheelmap). With those, it's basically a scenario where as long as you're authenticated with _an_ account then you're authorized to acce

[2019-10-28 00:35] pedrofracassi commented on #4257
Yeah, the data on the API is available to anyone with an account and an API key. The rate limit seems to be 60 requests/minute. https://top.gg/api/docs#ratelimits

[2019-10-28 00:37] pedrofracassi commented on #4257
About the SVG, they seem to be using paths instead of `<text>` for their text. Is there a way to still parse it? https://top.gg/api/widget/upvotes/264811613708746752.svg?noavatar=true

[2019-10-28 00:57] pedrofracassi commented on #2413
What would the `lerna.json` file look like for the badge to show `independent`?

[2019-10-28 01:15] calebcartwright commented on #4257
👀 yikes, I'm not sure, though imagine other maintainers would

[2019-10-28 03:28] pedrofracassi commented on #2413
Assign this one to me please?

[2019-10-28 04:06] pedrofracassi commented on #2120
Instagram returns JSON if you add `?__a=1` to the end of a user's profile URL. Example: https://www.instagram.com/instagram/?__a=1

[2019-10-28 07:32] PyvesB commented on #2120
Good to know. Feel free to give it a go @pedrofracassi ! It would be nice badge to add to Shields! I'm also happy to give it a go if you're busy with other things. :wink:

[2019-10-28 09:31] pedrofracassi commented on #2120
I'm giving Shields a go with the Lerna badge right now. You can do this one, @PyvesB :)

[2019-10-28 09:34] pedrofracassi commented on #4257
Can we scrape web pages?

[2019-10-28 12:44] paulmelnikow commented on #3784
I opened a PR to help with this: #4266.

[2019-10-28 13:51] calebcartwright commented on #4257
No we cannot. In order for Shields to provide badges for an upstream service or platform, the data has to be available via an API (in JSON or XML format) or via an SVG file

[2019-10-28 17:25] platan commented on #4013
`ask.res.setHeader('Location', redirectUrl)` throws an exception when redirect URL contains an invalid character. `ask` is a class from Scout Camp, and `res` is a Node.js class https://github.com/espadrine/sc/blob/master/doc/Readme.md#ask-and-augmented-request.
Valid characters for a header value are defined in https://github.com/nodejs/node/blob/v9.6.0/lib/_http_common.js#L245 (in v.9.4.0 definit

[2019-10-28 20:08] platan commented on #3788
I will do the refactor. It should solve https://github.com/badges/shields/issues/4261.

[2019-10-29 15:35] robertoalfonso commented on #2502
@calebcartwright Should I open it as a support question?
I ll be focusing all day on this and will try what
 @chris48s  suggested

[2019-10-31 01:51] sentry-io[bot] opened #4268 "Packagist: TypeError: Cannot read property 'license' of undefined"
Sentry Issue: [SHIELDS-4G](https://sentry.io/organizations/shields/issues/1305757780/?referrer=github_integration)

[code]

[2019-10-31 01:53] calebcartwright commented on #4268
Well that's a bummer

[2019-10-31 01:54] calebcartwright commented on #4268
https://github.com/badges/shields/pull/4231

[2019-10-31 02:05] calebcartwright commented on #4268
We did change the upstream API being used to the Composer Metadata API, so probably worth reviewing the response/schema/context as well (maybe the license is available elsewhere other than `dev-master`)

I don't recall offhand under what circumstances the `dev-master` branch/object would have been missing from the Packagist JSON API

[2019-10-31 02:19] calebcartwright commented on #4268
One thing that seems odd is that the JSON API we were using for all packagist badges before (and still are for some, like downloads) returns a single object in the response

<details><summary>JSON API Response</summary>

https://packagist.org/packages/doctrine/orm.json
[code]
</details>

<details><summary>Composer Metadata API Response</summary>

https://repo.packagist.org/p/doctrine/orm.json

[co

[2019-10-31 11:58] rianquinn opened #4269 "CodeFactor not working"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**
I canont seem to get anything to work with CodeFactor.

:link: **Link to the badge**
https://www.codefactor.io/repository/github/bareflank/bsl/badge
https://img.shields.io/codefactor/grade/github/bare

[2019-10-31 15:45] calebcartwright commented on #658
It's been over a week since the change was made and it appears this has been resolved. I'm going to close this issue out accordingly

[2019-10-31 15:45] #658 closed

[2019-10-31 17:58] #3960 closed

[2019-10-31 20:50] platan commented on #4016
Great find! Maybe `get` is the only problematic key.
[code]
prints: `[ 'get' ]`

I think we can try to fix:
https://github.com/badges/shields/blob/a66e4f9e10c6ac9cea4dc1597cb44d01089b279a/lib/logos.js#L99-L101
with:
[code]

[2019-10-31 21:22] paulmelnikow commented on #4016
Maybe that's the only one! Thanks for looking into that!

[We probably should switch over to using `.slug`](https://github.com/badges/shields/pull/3641#issuecomment-520064227) at some point, so maybe it's better to exclude `get` during the pre-processing that's done at load time in `load-simple-icons`?

[2019-10-31 21:37] paulmelnikow opened #4273 "Migrate to simple-icons slugs"
Based on our request at simple-icons/simple-icons#1362 and simple-icons/simple-icons#1520, simple-icons is now shipping a canonical slug to go with each icon. As @chris48s put it in https://github.com/badges/shields/pull/3641#issuecomment-520064227:

However there's a downside:

[code]

I think it's worth making this leap, as it ultimately will resolve the recurring issue: #3639 #3297 #2980, and p

[2019-10-31 21:44] paulmelnikow opened #4274 "Fail loudly on invalid query params"
:clipboard: **Description**

In #4273 I argued that the Shields way is to fail loudly when parameters are incorrect, rather than silently ignoring them. Descriptive error messages point the user as directly as possible to the source of the problem rather than leaving them to wonder.

In particular, it seems like a good idea to return descriptive errors for:

1. Invalid logos
2. Invalid color overr

[2019-10-31 22:22] paulmelnikow opened #4275 "Letter spacing is incorrect on social badges"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [x] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

The social badges display with incorrect letter spacing.

:link: **Link to the badge**

https://img.shields.io/github/stars/badges/shields?style=social

![](https://img.shields.io/github/stars/badges/shields?style=social)

[2019-10-31 22:24] paulmelnikow commented on #4275
Probably we should open an issue in https://github.com/metabolize/anafanafo and start the process over there, once we decide which font to use.

[2019-10-31 22:25] calebcartwright commented on #4275
I feel like this must be an early/late April fool's joke because they look identical to my eyes 😆

[2019-10-31 22:39] paulmelnikow commented on #4275
I think this is the letter spacing joke of the season: https://hellveticafont.com/ 😈

The **9.4k** is the same (else really subtle) but I think it's more visible in **Stars**. Here's the correct one zoomed in:

<img width="478" alt="Screen Shot 2019-10-31 at 6 35 17 PM" src="https://user-images.githubusercontent.com/1487036/67990820-67566380-fc0d-11e9-8838-3869b2c2cc01.png">

Incorrect (production

[2019-10-31 22:48] calebcartwright commented on #4275
That gave me a good chuckle

Excellent that's where I thought I saw a slight difference. I feel like I found Waldo!

2x I believe. I don't have a great eye for this visual stuff anyway

[2019-11-01 22:34] nimasdj opened #4293 "how can I get a release badge for my repository?"
I did not understand how can I get a release badge for my repository?
When I add my url in your website I just get 4 badges, not other badges.

[2019-11-02 15:34] calebcartwright commented on #4293
Hi @nimasdj, are you looking for the GitHub Release badge? If so, try clicking the "Releases" link instead, or typing "github" or "releases" in the search box

[2019-11-02 15:43] nimasdj commented on #4293
Hi,
Thanks. I did and found this:
/github/v/release/:user/:repo
Now how to convert it to a cllickable markup?

[2019-11-02 15:59] calebcartwright commented on #4293
If you click on the badge listing there it will open up a window that will help you construct the badge for your repo, including the markdown

(I'd include some visuals but I'm on my phone at the moment)

[2019-11-02 17:03] phplicengine commented on #4293
Hi nimasdj,
When you got your shields link as Caleb said, you can use it in your github pages with this format:
[![Title](link you got from shields)(link to your github or packagist)]

You can see how we did use some shields badge on our page:
https://github.com/phplicengine/bitly
and use like that for yours.

[2019-11-03 00:16] calebcartwright opened #4295 "GitLab Pipeline Status Test Failing"
:clock11: **When did the problem start?**
~October 30th

:camera: **Live badge**
https://img.shields.io/gitlab/pipeline/gitlab-org/gitlab-ce

![](https://img.shields.io/gitlab/pipeline/gitlab-org/gitlab-ce)

:wrench: **Is the live badge working?**
Yup

:link: **CircleCI link**
https://circleci.com/gh/badges/daily-tests/696

:beetle: **Stack trace**

[code]

:bulb: **Possible solution**
It seems li

[2019-11-03 17:46] #4268 closed

[2019-11-03 21:02] calebcartwright commented on #4293
From the badge listing page, you can click on any part of the listed examples to open the builder window for that badge type:
![image](https://user-images.githubusercontent.com/13042488/68091788-d15b4c80-fe49-11e9-9cc9-670a347a716e.png)

<br />
<br />

Once you have the window open, plug in the parameters for your repo/project/etc. You can then use the blue button at the bottom of the window to ge

[2019-11-03 21:02] #4293 closed

[2019-11-04 12:28] m-ruhl opened #4296 "AppStore: Country param"
Some apps are only available in certain countries..
With the current implementation there is no way to get the badge for a restricted app.

It would work like this: `https://itunes.apple.com/${country}/lookup?id=${bundleId}`

[2019-11-04 15:00] dhakehurst opened #4297 "Programming Language version badges"
:clipboard: indicates the version of a particular programming language

:link: language specific, normally available in the build script

:microphone: **Motivation**

[2019-11-04 15:32] calebcartwright commented on #4297
Can you elaborate a bit on your use case, and specifically where the data would come from? Shields already supports a mixture of badges that provide this information

For example:
![](https://img.shields.io/pypi/pyversions/Django)
![](https://img.shields.io/packagist/php-v/symfony/symfony)
![](https://img.shields.io/node/v/gh-badges)
![](https://img.shields.io/github/go-mod/go-version/golang/go?fi

[2019-11-04 15:36] calebcartwright commented on #4296
Can you provide an example app for reference? IIUC, your ask is that we include a new param for our iTunes badge to support explicitly specifying the target country

[2019-11-04 19:12] platan commented on #3679
https://metrics.shields.io/d/xtkCtBkiz/prometheus-blackbox-exporter has stats for raster badge for the last two weeks. Average response time is 458 ms.
![Screenshot_2019-11-04 Prometheus Blackbox Exporter - Grafana](https://user-images.githubusercontent.com/1526000/68149379-1b255f00-ff3e-11e9-95d8-2fdbef9557d3.png)

Today I've added probing of the most popular SVG badges: static_badge, npm_version

[2019-11-04 19:28] paulmelnikow commented on #3679
Nice! I'm guessing that request is hitting the Now CDN cache?

[2019-11-04 19:32] chris48s commented on #4274
At an abstract level, I do agree with this. However, there are a few practical things to think about:

1. We'd need to be careful about renaming/removing params. I wouldn't want a change like https://github.com/badges/shields/pull/3090 (done) or https://github.com/badges/shields/issues/3596 (proposed) to be breaking. We can mitigate this ourselves as long as we think about it.
2. Simple-icons occa

[2019-11-04 19:40] chris48s commented on #4296
Example app:
https://itunes.apple.com/lookup?id=737651307
https://itunes.apple.com/cn/lookup?id=737651307

I'm going to close this as a dupe of #1503 but feel free to pick up the conversation there. The approach suggested there of adding an optional param for country would be the best way to implement this. It shouldn't be a big  job to add this if someone is interested in picking it up.

[2019-11-04 19:40] #4296 closed

[2019-11-04 20:04] platan commented on #3679
I think you are right. Response times for new badges not requested before are 2x-3x longer than response times for badges requested several times.

[2019-11-04 20:21] paulmelnikow commented on #4274
Agreed 👍

For a bad named logo, one option would be to display something in place of the logo. Not sure any of these are exactly the right thing, but it gives an idea: ⬜⛔💔😶🙈🕳️

Alternatively we could check in a list of formerly used icons. Going forward this could be automatically verified with a unit test. Then we could display something like 💨for deprecated icons and show an error message for co

[2019-11-04 23:02] calebcartwright opened #4298 "Hacktoberfest service test failing"
:clock11: **When did the problem start?**
~Nov 3rd

:camera: **Live badge**
https://img.shields.io/github/hacktoberfest/2019/snyk/snyk
![](https://img.shields.io/github/hacktoberfest/2019/snyk/snyk)

:wrench: **Is the live badge working?**
Yes

:link: **CircleCI link**
https://circleci.com/gh/badges/daily-tests/705

:beetle: **Stack trace**

[code]

:bulb: **Possible solution**
The regex validator

[2019-11-05 07:42] dhakehurst commented on #4297
My use case is specifically about kotlin.
I would like a badge that shows the version of kotlin that is in use, and I'd like it to automatically pick up the version by looking in the build script. (gradle.build or gradle.build.kts).
Kotlin is being actively developed, and thus a new version comes out at least once a year (if not more).
maybe this is not possible, but it would be nice if it was.

[2019-11-05 21:12] chris48s commented on #4297
Related comment: https://github.com/badges/shields/issues/2156#issuecomment-427678142

We currently don't have a base class for parsing a gradle build file as structured data. There's no reason why one couldn't be added, but it makes this a slightly bigger job than adding a badge for a service that returns a format we already support like JSON or XML.

If you're interested in taking it on, feel fr

[2019-11-06 03:00] #4295 closed

[2019-11-06 10:47] #4298 closed

[2019-11-06 16:18] devhawk commented on #4182
+1 for this badge.

Also, note that Azure Artifact feeds have four [release views](https://docs.microsoft.com/en-us/azure/devops/artifacts/feeds/views?view=azure-devops): all, local, prerelease and release packages. Each view has a unique nuget feed. For example, in the Rx.NET artifact feed that @onovotny referenced, the all packages feed url is https://pkgs.dev.azure.com/dotnet/Rx.NET/_packaging/

[2019-11-06 16:20] devhawk commented on #4182
Maybe there should be a generic Nuget Feed badge where the shield user can put in the specific feed they want to use to support any private nuget server like [Sleet](https://github.com/emgarten/Sleet/)

[2019-11-07 18:24] glebkema opened #4303 "Error "invalid response data" in GitHub release (latest by date including pre-releases)"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

The repository has no releases at all.
The badge "without  pre-releases" shows a warning. That's ok.
But the badge "including pre-releases" shows an error:  `invalid response data`.

:link: **Link to

[2019-11-07 22:04] #4303 closed

[2019-11-09 07:03] dg0yt commented on #4225
:+1: for documenting the privacy policy.

At the same time, it might be worth mentioning that usage in README.md or wikis on Github is covered by GH's image proxying for privacy:
- https://help.github.com/en/articles/about-anonymized-image-urls
- https://github.blog/2014-01-28-proxying-user-images/

[2019-11-09 16:07] PyvesB commented on #2120
I tried creating an Instagram account to try some things out, this has proven surprisingly challenging ([see my Tweet for more info](https://twitter.com/_Pyves/status/1193190385113321472)). 😕

Our Twitter badge is linked to a nice "Follow" intent URL, for example: https://twitter.com/intent/follow?screen_name=shields_io

Is something similar possible with Instagram? What does the link on the "Foll

[2019-11-11 15:17] JakobDev opened #4319 "Badge request: Total PyPI downloads"
It would be nice, if I can get all Downloads from PyPI since the project was uploaded and not only a specific period.

[2019-11-12 03:59] calebcartwright commented on #2120
I've no idea either (never used it) 🤷‍♂

Hopefully some more instagram-fluent folks can chime in!

[2019-11-12 10:06] pedrofracassi commented on #2120
I fiddled around with the Instagram web client, and it sends a POST request to `https://www.instagram.com/web/friendships/:id/follow/` when you click the button. I don't think there's an intent URL for following like Twitter.

[2019-11-12 13:31] adsingh14 commented on #1899
Hi ! Any pending task from this 'issue' ?

_Let me know !_

[2019-11-12 16:50] calebcartwright opened #4320 "NpmTypeDefinitions service test failing"
:clock11: **When did the problem start?**
~November 9th

:camera: **Live badge**

https://img.shields.io/npm/types/chalk
![](https://img.shields.io/npm/types/chalk)
https://img.shields.io/npm/types/commander
![](https://img.shields.io/npm/types/commander)

:wrench: **Is the live badge working?**
I believe so. The package (`chalk`) used for the example and tests is returning `None`, but others seem

[2019-11-12 18:39] calebcartwright commented on #4320
For whatever reason, the API response from the npm registry for many of these packages no longer includes the `files` key, which is why the service test is failing

https://registry.npmjs.org/chalk/latest
https://registry.npmjs.org/chalk/ (you can see the `files` key exists on the 2.x versions)

The chalk package.json still includes the `files` key:
https://github.com/chalk/chalk/blob/master/packa

[2019-11-14 17:50] calebcartwright commented on #1664
If there's not an available API, but there are available (and scrapable) SVGs then yes it probably could!

[2019-11-16 09:59] PyvesB commented on #2120
Thanks for the information. I'll keep things simple and just link to the profile page.

[2019-11-16 20:40] #4320 closed

[2019-11-16 21:24] PyvesB commented on #2120
Bad news, I noticed that the badge on the review app broke just before I wanted to merge it. This is probably due to API rate limiting.

I had initially read on various websites that the request rate was set to 5000/hour, which seemed like more than enough for an initial implementation, especially given that the rate is multiplied by our number of live servers.

However, after some more digging, t

[2019-11-16 22:04] paulmelnikow commented on #2120
I really appreciate all the work you've done on this @PyvesB!

The idea of a Shields account on Instagram is amusing 😁. Though frankly unless we feel we can curate an account that is gonna be fun to post to – and fun for people to follow – I don't think we should bother.

By the way, is it the number of impressions for the user whose API key is being used, or the number of impressions on the accou

[2019-11-16 23:08] chris48s commented on #2120
:camera: Remember to like, comment and subscribe to increase our rate limit :wink:

If we're really keen to add this, another solution to consider would be to crowdsourcing a token poll like we use for GitHub (assuming it is possible to have a read-only key). Lots of keys with a small limit is effectively the same as one key with a high limit. I'm not that convinced it would be something that load

[2019-11-17 11:50] pedrofracassi commented on #2120
What are you using, @PyvesB? The official, documented API or that `?__a=1` link I sent here?

[2019-11-17 12:44] PyvesB commented on #2120
The documentation is not very clear, but I think the user whose API key is being used. I was querying the official Instagram account and that was apparently getting rate limited. Basically if you're a popular Instagrammer, they let you hit their API more.

True, but a lot of our "social" badges are kind of borderline anyway: Twitter, Reddit, Mastodon, etc. are not primarily focused on developers.

[2019-11-17 16:26] chris48s commented on #2120
Just to be clear, I'm not actually advocating we maintain a shields instagram account. I just found it an amusing concept :)

Yep - agreed. As a point of comparison, the GitHub actions issue ( #2574 ) which is also buried on page 6 of the tracker at this point in time has 137 +1s. This issue has 1. I think its safe to assume demand for this is quite limited at this point.

[2019-11-17 20:24] paulmelnikow commented on #1664
Is it clear that there's no API, and that SVG scraping is going to be the way to go?

[2019-11-18 09:26] bittner commented on #4185
**Note:** Shields.io users can fix this issue by switching to the Docker Cloud badge, e.g
[code]

[2019-11-18 09:32] aasaru commented on #4185
@bittner are you sure?

https://img.shields.io/docker/cloud/build/apache/fineract-cn-rhythm.svg
shows build failing
but if you open up:
https://hub.docker.com/repository/docker/apache/fineract-cn-rhythm
you see that the latest build has passed

[2019-11-19 07:16] Areso commented on #2704
Ran in the same problem, ?foo=bar doesn't help me

[2019-11-19 23:04] marketlend commented on #2574
It certainly works on private repos!

[2019-11-20 16:04] svoop commented on #2574
A lil heads-up since Actions are now out of beta.

Given the SVG from GH won't change much in the near future, I'd opt for a pragmatic "works for now" approach by just extracting the label and result from the SVG:

[code]

Doable, but a little tricky with regexp, quite easy though if you actually parse the XML.

[2019-11-20 16:06] calebcartwright commented on #2574
@svoop - please note that this has already been done in the PR linked aboved in this thread #3898

[2019-11-20 16:11] svoop commented on #2574
@calebcartwright Jeez, me, always one step behind 😄 Thanks for the hint!

[2019-11-20 16:20] calebcartwright commented on #2574
no worries!

[2019-11-21 00:33] imbsky opened #4349 "Is the Coveralls logo not supported?"
Is the Coveralls logo not supported?

[2019-11-21 01:44] calebcartwright commented on #4319
We'd love to be able to support all downloads from PyPI like we do for many of our other download-related badges. However, the challenge is that the [upstream API we use to get download stats](https://pypistats.org/) from PyPI does not support the all-time download count in the API response.

In order to support this, there'd need to be a viable endpoint where Shields could feasibly retrieve the d

[2019-11-21 01:56] calebcartwright commented on #4349
Shields uses the [simple-icons](https://www.npmjs.com/package/simple-icons) package to provide logos, and `simple-icons` added support for Coveralls in v1.19.1 (https://github.com/simple-icons/simple-icons/pull/1873).

Production Shields.io is currently using `simple-icons` v1.19.0 which is why the Coveralls logo is unavailable ATM. We have updated Shields to v1.19.1 of `simple-icons` but that's n

[2019-11-21 02:01] imbsky commented on #4349
I see, thank you! This is an off topic question, but when will GitHub Actions support be available? I really love your PR.

[2019-11-21 02:04] calebcartwright commented on #4349
😄 thanks! I hope soon, though there's no timetable I'm afraid

[2019-11-21 02:05] imbsky commented on #4349
Great!

[2019-11-21 02:05] #4349 closed

[2019-11-23 09:33] PyvesB commented on #2120
I think the pragmatic thing to do is to simply drop the idea of adding Instagram or Facebook badges for now. The additional effort required, either by continually maintaining an Instagram account or implementing a much more complex token pool solution, outweighs the value brought to Shields, given the small number of users who have actually shown interest in these badges. I've closed the linked PR

[2019-11-23 09:33] #2120 closed

[2019-11-24 07:55] Daniel15 commented on #4035
@paulmelnikow - Just catching up on my emails... Sorry I missed this! Async/await is natively supported by the vast majority of browsers (~91% of users, as per https://caniuse.com/#feat=async-functions). Native async/await is actually more efficient than promises these days:
https://v8.dev/blog/fast-async
![](https://v8.dev/_img/fast-async/benchmark-optimization.svg)

And Chrome also has "zero-cos

[2019-11-24 11:29] PyvesB commented on #3714
Any reason why we didn't migrate Jenkins in the end (given that we migrated other "decentralised" services such as Jira)? If it's an oversight, I'm happy to pick it up.

[2019-11-24 13:13] #1573 closed

[2019-11-24 14:22] brettz9 commented on #1788
Whenever the change might be made, could the functionality be added on the programmatic side as well?

[2019-11-24 14:30] calebcartwright commented on #3714
Just an oversight, #4178 was opened to include some of the ones that were missed

[2019-11-24 14:44] PyvesB commented on #3714
I had missed that issue, will comment on it.

[2019-11-24 14:44] PyvesB commented on #4178
Will pick up the Jenkins badges.

[2019-11-25 00:49] brettz9 commented on #3480
Any planned replacements?

[2019-11-25 03:22] paulmelnikow commented on #3480
Yep, see the issue linked in the comment above.

[2019-11-25 23:57] calebcartwright opened #4364 "Badge Request: GitHub Check Runs Status"
:clipboard: **Description**
Status badge for [check runs](https://developer.github.com/v3/checks/runs/#:~:targetText=The%20check%20runs%20API%20enables,provide%20detailed%20feedback%20on%20commits.) from GitHub.

- Which service is this badge for e.g: **GitHub**
- What sort of information should this badge show?
  ![](https://img.shields.io/badge/build-passed-brightgreen)

:link: **Data**

- Is th

[2019-11-27 13:05] mxmehl opened #4365 "Badge Request: REUSE compliance"
:clipboard: **Description**

It would be great to have a badge provided by shields.io for showing a project's compliance with the [REUSE best practices](https://reuse.software) that make licensing easier for everyone.

The project already has a service providing a badge but perhaps it's possible to also provide that over shields: https://api.reuse.software. It also offers a JSON endpoint. The over

[2019-11-27 14:44] jarun opened #4366 "Badges to categorize software by privacy-awareness"
There can be several categories of software when it comes to privacy-awareness. Broadly they can be classified as:

- stores data that can be used to study user activity or behavioral patterns by default (e.g. an audio player that builds a library of all audio tracks as soon as it is installed, stores the date when a certain file was added to the library)
- provides configuration options to custom

[2019-11-28 00:28] ajabadi opened #4368 "Badge request for GH version of R packages from the DESCRIPTION file"
:clipboard: **Description**

Thanks for the great work :)

It would be nice if R package developers could get public GH package version badges for their development versions from the DESCRIPTION file's line with structure: `Version: ${package_version} \n`

:link: **Data**

- The DESCRIPTION file's path is in https://github.com/${user}/${repo}/blob/${branch}/DESCRIPTION

- The policy that requires

[2019-11-28 05:10] calebcartwright commented on #2574
Closed via #3898

[2019-11-28 05:10] #2574 closed

[2019-11-28 05:14] calebcartwright commented on #2574
This feature has been implemented is now live! Thanks to @paulmelnikow for getting it shipped so quickly after the PR was merged🎉

Some examples:
https://img.shields.io/github/workflow/status/apache/arrow/Python
![](https://img.shields.io/github/workflow/status/apache/arrow/Python)

And one with all sorts of Shields-customization goodness
https://img.shields.io/github/workflow/status/apache/arrow/

[2019-11-29 01:32] calebcartwright commented on #4368
Thanks for the request @ajabadi! We have a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) if you or anyone else is interested in implementing this badge.

We also have several similar badges that look at go.mod, pipenv, and package.json files in GH repos that can serve as good references.

https://github.com/badges/shields/blob/master/services/github/github-go-mod.

[2019-11-29 01:33] calebcartwright commented on #4365
Thanks for the request @mxmehl! We have a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) if you or anyone else is interested in implementing this badge.

[2019-11-29 01:47] calebcartwright commented on #4366
@jarun can you elaborate a bit more on what you have in mind? The vast majority of the badges Shields provides are based on some upstream data source/API which Shields uses to retrieve data and then generate the corresponding badge.

Shields also supports the ability for users to construct static badges where you can specify the label, message, and color. For example:

https://img.shields.io/badge

[2019-11-29 12:43] jarun commented on #4366
Yes, I am aware that users can create custom badges using tokens. However, I am looking for some standard tokens given how important user-privacy is.

GitHub

Something based on privacy-awareness level of the software. Probably on a scale of 0 to 5. The definition of the levels is the key and should be based on criteria such as the examples of software I cited in the issue description.

A package

[2019-11-29 17:39] calebcartwright commented on #4366
So it sounds like you are ultimately requesting something that helps users construct static badges, i.e. something like

![](https://img.shields.io/badge/privacy-level%202-blue)
![](https://img.shields.io/badge/privacy-level%205-blue)

Is there any public standard/framework/etc. that defines those "privacy-awareness" levels and criteria?

[2019-11-29 17:49] jarun commented on #4366
There are many country/area-specific ones (e.g. GDPR - https://gdpr-info.eu/). But I do not see anything global.

It would have been great if a foundation like FSF could come up with such a standardization. I will see if I can take it forward or get something concrete on this.

For now, I think a badge that states a particular software is "privacy-aware" would be a good option.

[2019-11-29 18:03] calebcartwright commented on #4366
Sounds good, though for now this is something that can be readily solved via static badges so I'm going to close this accordingly. Shields provides the static badge generator capability precisely for these types of scenarios for those that wish to create arbitrary badges that have no underlying data source.

https://img.shields.io/badge/privacy-aware-blue
![](https://img.shields.io/badge/privacy-a

[2019-11-29 18:03] #4366 closed

[2019-11-29 20:18] jarun commented on #4366
Yes, I think that's good enough for now. :+1:

[2019-11-29 22:22] PyvesB commented on #2574
Tweet about this new badge: https://twitter.com/Shields_io/status/1200540112368611328

Like and retweet to give us more visibility! 😉

[2019-11-30 18:33] #4178 closed

[2019-12-01 15:01] hugovk commented on #504
My use case is using badges to link to GitHub labels, and wanting to use the same colours.

GitHub labels automatically use white or black text colour based on the background colour:

![image](https://user-images.githubusercontent.com/1324225/69915806-dc5ec800-145b-11ea-8c0e-777a3dd38771.png)

https://github.com/NaNoGenMo/2019/labels

But the "admin" and "preview" badges are quite hard to read wit

[2019-12-02 01:52] hannesne opened #4391 "App fails when using a named pipe for the port"
Are you experiencing an issue with...

- [ ] [shields.io](https://shields.io/#/)
- [x] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

When hosting the app using iisnode (such as on an Azure App Service plan using Windows), the system exposes a named pipe for the port. This makes the validation logic in core/server/server.js fail, a

[2019-12-02 02:15] paulmelnikow commented on #4391
A named pipe? That seems a bit odd!

Will Azure App Service allow running it in Linux instead?

[2019-12-02 02:23] hannesne commented on #4391
I had a quick go trying to run it in Linux, and couldn't get it to work. It didn't seem to respond appropriately to the pings from the underlying service fabric, and I've not yet figured out why. I'll try to have another look at it later. It did work on a Docker container in a Linux app service, but the container was 168MB big, which caused very long startup times when using a free app service pla

[2019-12-03 18:01] WPMGPRoSToTeMa opened #4393 "Badge Request: AppVeyor Job Level Status Badges"
:clipboard: **Description**
I'm using dynamic badges to display the status of separate AppVeyor jobs since AppVeyor does not support per-job status badges. It is working cool, here is an example ![Windows build status](https://img.shields.io/badge/dynamic/json?color=informational&label=Windows&query=%24.build.jobs%5B%3F%28%40.name%20%3D%3D%3D%20%22Windows%22%29%5D.status&url=https%3A%2F%2Fci.appve

[2019-12-03 18:30] calebcartwright commented on #4393
Thanks for reaching out @WPMGPRoSToTeMa.

Shields does al;ready directly support AppVeyor badges via the same API you are using with the Dynamic JSON badge, so IMO the better approach for your specific use case would simply be to extend our AppVeyor support to include job-level status badges

https://img.shields.io/appveyor/ci/wpmgprostotema/voicetranscoder/master
![](https://img.shields.io/appvey

[2019-12-03 18:37] calebcartwright commented on #4393
Would that meet your needs if you could do something like the below?

https://img.shields.io/appveyor/ci/wpmgprostotema/voicetranscoder/windows/master
![](https://img.shields.io/badge/Windows-passing-brightgreen)
https://img.shields.io/appveyor/ci/wpmgprostotema/voicetranscoder/linux/master
![](https://img.shields.io/badge/Linux-passing-brightgreen)
https://img.shields.io/appveyor/ci/wpmgprostotem

[2019-12-03 19:31] WPMGPRoSToTeMa commented on #4393
@calebcartwright wow, that's cool! Thanks for the quick answer. By the way, can I customize messages? I prefer `success` instead of `passing` for example.

[2019-12-03 20:21] calebcartwright commented on #4393
No, not that I'm aware of. You can explicitly override certain aspects of the badge via the query parameters (`color`, `style`, `label`, etc.) but not the message for these types of badges.

Yup, just use the label param `?label=master%20-%20Windows`

https://img.shields.io/appveyor/ci/wpmgprostotema/voicetranscoder/master?label=master%20-%20Windows
![](https://img.shields.io/appveyor/ci/wpmgprost

[2019-12-03 21:57] WPMGPRoSToTeMa commented on #4393
Ok, thanks.

Can I create a separate issue for that? As I can see this is applicable for all the build badges, not only for AppVeyor.

[2019-12-03 22:15] #4219 closed

[2019-12-03 22:19] calebcartwright commented on #4393
@WPMGPRoSToTeMa - you certainly can. I feel like similar requests have been discussed before but I can't find any of the issues right now. One of the goals Shields has is consistency which is why there's a common set of pass/fail/etc. messages used for all the build tools (which was done back in https://github.com/badges/shields/pull/585) which IMO definitely makes sense as the default.

However,

[2019-12-03 22:20] calebcartwright commented on #4393
Another, more readily available option for you would be to leverage our [Endpoint badge](https://shields.io/endpoint) with your own custom endpoint that would give you complete flexibility

[2019-12-03 22:21] PyvesB opened #4394 "Excessive blank space for examples with no named parameters"
Following #4390, we now have a few examples with no named parameters, only query parameters. In the UI, this leads to some excessive blank space above the path:
![jenkins](https://user-images.githubusercontent.com/10694593/70094622-d236f800-161a-11ea-9fd1-3b3345c4caa7.png)

We could reduce the box's size and centre the path string in these cases.

Not the end of the world and not an area of the co

[2019-12-03 22:35] calebcartwright commented on #4393
Also I've changed the title to focus in specifically on the AppVeyor enhancements to support Job-level status badges and as noted above feel free to open a new issue if you'd like to request the badge message customization.

Regarding the original text in the title/description, IMO the Endpoint badge would likely be the way to go vs. additional logic/processing for the dynamic badge.

[2019-12-05 00:03] #3788 closed

[2019-12-05 00:03] #4261 closed

[2019-12-05 10:56] WPMGPRoSToTeMa opened #4396 "Customizing build status titles"
:clipboard: **Description**
For example, I prefer to see `success` instead of `passing`. I think there are people that also prefer `success` or something else. AppVeyor already allows you to customize build status titles https://www.appveyor.com/docs/status-badges/#customizing-titles.

[2019-12-05 14:56] jcbcn commented on #4223
This looks to be resolved now. Thanks

[2019-12-05 15:29] #4223 closed

[2019-12-05 15:30] paulmelnikow commented on #4223
Thanks! Please open a new issue if this recurs.

[2019-12-05 15:34] paulmelnikow commented on #4396
Hi! One of Shields' goals is to provide consistency and so we limit the amount of choices that are made available through the official badges.

We do have some test badges that allow overriding the message, however none of the build badges have this – they all use passing: https://shields.io/category/build

I understand that individual preferences might differ and one way to accomplish this if you

[2019-12-05 15:41] exigow opened #4397 "Recieving "not found" JetBrains Downloads Plugin badge with valid plugin ID"
Hi,

generating a "Jetbrains Plugin Downloads" badge doesn't work in my case: output is always "not found". Unfortunately, I don't know what the reason may be but I suspect the problem may be the lack of stable distributions.

Details:
* Plugin repository: `https://plugins.jetbrains.com/plugin/13107-godot-gdscript`
* Identifier: `13107-godot-gdscript`
* Generated badge: `https://img.shields.io/jet

[2019-12-05 16:19] calebcartwright commented on #4396
Some relevant conversation on this topic over in https://github.com/badges/shields/issues/4393#issuecomment-561383287.

I detailed my opinion over in the linked thread but just to summarize for inline awareness here:

I definitely agree that we need consistent default values for green/red messages (which are respectively `passing` and `failing`) but I don't personally have any objections to allowi

[2019-12-05 16:26] calebcartwright commented on #4397
The JetBrains API is returning an empty response for that identifier:

https://plugins.jetbrains.com/plugins/list?pluginId=13107-godot-gdscript
[code]

which represents the "Not Found" scenario from that API. I've no idea why the API is returning that not found response, but it's either an upstream issue with your plugin and/or with the API

[2019-12-05 16:47] exigow commented on #4397
Thank you for your answer. Issue is definitely not related to `shields.io`, sorry for the trouble. :)

[2019-12-05 16:47] #4397 closed

[2019-12-05 16:53] calebcartwright commented on #4397
No worries!

[2019-12-07 10:23] PyvesB commented on #4391
According to Wikipedia regarding [named pipes in Windows](https://en.wikipedia.org/wiki/Named_pipe#In_Windows):

So ISS is maybe simply built using VMWare underneath the hood, which would explain this?

[2019-12-07 10:46] merspieler commented on #3713
Since there's no update on this, I close this issue now.

[2019-12-07 10:46] #3713 closed

[2019-12-07 13:42] mertyildiran opened #4408 "GitHub workflow badge cannot fetch the workflow name and always shows 'build'"
:clipboard: **Description**

This is the Shiels.io GitHub workflow badge:

![](https://img.shields.io/github/workflow/status/DragonComputer/Dragonfire/Docker%20Build?logo=GitHub)

`https://img.shields.io/github/workflow/status/DragonComputer/Dragonfire/Docker%20Build?logo=GitHub`

and this is the badge generated by GitHub's own workflow badge generator:

![](https://github.com/DragonComputer/Drago

[2019-12-07 15:25] calebcartwright commented on #4408
@mertyildiran - you can use the label query parameter with any Shields badge to specify your desired label text `?label=Docker%20build`

https://img.shields.io/github/workflow/status/DragonComputer/Dragonfire/Docker%20Build?logo=GitHub&label=Docker%20Build
![](https://img.shields.io/github/workflow/status/DragonComputer/Dragonfire/Docker%20Build?logo=GitHub&label=Docker%20Build)

[2019-12-07 15:29] mertyildiran commented on #4408
@calebcartwright oh OK didn't know that thank you so much!

[2019-12-07 15:29] #4408 closed

[2019-12-07 16:55] calebcartwright commented on #4408
No worries, happy to help@

[2019-12-08 11:17] platan commented on #3954
Actually logged in users can choose theme https://grafana.com/docs/grafana/v6.2/guides/whats-new-in-v3/#personalization-preferences:

But currently we allow to log in shields-core team members (with editor role) only.

[2019-12-09 00:10] hannesne commented on #4391
I would be incredibly surprised to find any vmware in that stack. It all runs on hyper-v. This is the request handler that iis uses in app services when hosting node apps: https://github.com/Azure/iisnode

[2019-12-09 19:27] PyvesB commented on #3403
We should probably prioritise this sooner rather than later. Node 9.4.0 is almost two years old at this point. It's blocking one of our pull requests, #4405, and as support for Node 8 is being dropped at the end of the month, I would expect more and more packages to require at least Node 10+.

Can other people help out with this, or is it just a matter of manually updating each one of the producti

[2019-12-10 04:56] paulmelnikow commented on #3403
I'm concerned about the old Node version too. Both that it's old, and that we can't easily control it. Also the old npm version means #1988 is still a problem, which is fairly serious.

Thaddée is the only one with access. There's an old conversation in the #ops Discord (I think it's #ops?) as he was starting to set up a fourth server. There wasn't an obvious way to upgrade Node on the server with

[2019-12-10 09:11] PyvesB commented on #3403
Indeed, probably a good time. CC @espadrine

[2019-12-11 19:26] #4394 closed

[2019-12-12 08:15] kitsunegeisha commented on #4040
need this

[2019-12-12 08:44] PyvesB commented on #4391
Closed by #4392 .

[2019-12-12 08:44] #4391 closed

[2019-12-12 08:55] nigredo-tori opened #4410 "Add Nexus Repository Manager 3 support"
:clipboard: **Description**

Nexus badges don't work (show "artifact not found") with Nexus 3, even if it has the "NXRM2 style URIs" capability enabled.

This is probably because Nexus 3 has had a major overhaul of its REST API. The new API seems to support our use case. For example, a request like this to our self-hosted Nexus 3 instance:
[code]

yields this:

<details>
<summary>Output</summary>

[2019-12-13 05:40] jtmoon79 commented on #993
**How do I use the _latest_ feature of the _commits since_ badge?**

Using URL `https://img.shields.io/github/commits-since/jtmoon79/goto_http_redirect_server/latest.svg` the badge did not resolve to something meaningful (only reads _no releases or repo not found_).
Things I tried:
- add tag and release `0.7.3` (this does resolve for URL `https://img.shields.io/github/commits-since/jtmoon79/goto_h

[2019-12-13 10:38] tooomm commented on #993
I think you have only tags in your repo, no releases @jtmoon79

[2019-12-13 21:56] jtmoon79 commented on #993
Thanks for the reply @tooomm .

The project releases page counts 2 releases https://github.com/jtmoon79/goto_http_redirect_server/releases 🤔

[2019-12-13 22:42] tooomm commented on #993
I can just tell that it works for me, but the release pages in the repo looks different: https://github.com/Cockatrice/Cockatrice/releases

--> ![](https://img.shields.io/github/commits-since/Cockatrice/Cockatrice/latest.svg)
`![](https://img.shields.io/github/commits-since/Cockatrice/Cockatrice/latest.svg)`

[2019-12-14 00:28] jtmoon79 commented on #993
Indeed!  I poked around briefly: it's a github oddity!
AFAICT, project _tags_ will also populate project _releases_ *_if there are no releases_*.  So just by adding tags, there appears to be releases.  But they are ... fake? ... releases.  They are something not quite releases.

Thanks for replying @tooomm

[2019-12-14 04:22] jtmoon79 opened #4433 "Azure Code Coverage badge, where is `definition id` value?"
:question: I'm trying to add badge _Azure DevOps Code Coverage_ (a.k.a. _Azure Pipelines_) addressed in #2237.  **Where can I find the find the _value_ of the `definition id` field?**

This is for [my project that uses _cobertura_ code coverage tool](https://github.com/jtmoon79/goto_http_redirect_server/blob/516d13948a74b33c1416296cf48012789f15be04/.azure-pipelines/azure-pipelines.yml#L149-L155).

[2019-12-14 05:58] calebcartwright commented on #4433
hey @jtmoon79 - I'm not sure what all you were trying, but you've only got the one pipeline in your `goto_http_redirect_server` project so I assume [this](https://dev.azure.com/jtmmoon/goto_http_redirect_server/_build?definitionId=1&_a=summary) is the pipeline you are targetting, and the definition id is `1`

https://img.shields.io/azure-devops/coverage/jtmmoon/goto_http_redirect_server/1
![](http

[2019-12-14 06:05] calebcartwright commented on #993
I think the GitHub UX for releases is a fairly common source of confusion. I suspect this is because both tags and releases (if any exist) are listed in the default page, the "tags" tab filters down to releases-only but the "release" filters does not, not much visual distinction between the two especially for users that haven't worked with GH releases, etc.

For more info on the distinction: https

[2019-12-14 06:15] jtmoon79 commented on #4433
I had entirely skimmed past `definitionId=1` in URL `https://dev.azure.com/jtmmoon/goto_http_redirect_server/_build?definitionId=1&_a=summary`.

Thanks @calebcartwright !

[2019-12-14 06:15] #4433 closed

[2019-12-15 21:38] PyvesB commented on #4410
Hi @nigredo-tori, thanks for pointing this out! Just to clarify, have the API endpoints themselves changed, or just the returned responses? Do you know of any public Nexus 3 repositories that we could use for testing?

[2019-12-16 01:15] nigredo-tori commented on #4410
@PyvesB, from what I can gather, the whole REST API was replaced - endpoints, requests and responses. For example, [this](https://repository.sonatype.org/nexus-indexer-lucene-plugin/default/docs/path__lucene_search.html) is what shields is currently using, and [this](https://help.sonatype.com/repomanager3/rest-and-integration-api/search-api#SearchAPI-SearchComponents) seems to provide the same fun

[2019-12-16 01:27] nigredo-tori commented on #4410
Regarding public Nexus 3 repositories - I haven't found one yet, probably because switching to Nexus 3 breaks a lot of stuff. It's telling that even https://oss.sonatype.org/ hasn't upgraded. :smile: The only thing I can think of is to spin up a [docker container](https://hub.docker.com/r/sonatype/nexus3/), publish a couple of artifacts there, and test with that.

[2019-12-16 01:45] nigredo-tori commented on #4410
Actually, I've just found one: https://nexus.pentaho.org/. [Here](https://nexus.pentaho.org/service/rest/v1/search?repository=proxy-pentaho-public-release-group&group=org.pentaho&name=pentaho-registry)'s an example search.

[2019-12-16 10:02] PyvesB commented on #4410
Thanks for the extra info and for finding that Nexus 3 repository! Given that the API endpoints have changed, we probably can't get away with a unique request to cover both Nexus 2 and 3 repository types.

We could add a new query parameter to our existing badge URLs which would allow users to say upfront whether we're querying Nexus 2 or 3. However, the issue is that their badges will break when

[2019-12-16 12:53] nigredo-tori commented on #4410
@PyvesB, the two-request approach makes sense, as does the optional parameter one. Note, however, that updating private Nexus instances to Nexus 3 can still break badges. It's pretty common to install Nexus 2 to the `/nexus/` path (http://example.com/nexus/ rather than http://example.com) - the official Docker image does this. In contrast, the official Nexus 3 image uses the root path. So unless w

[2019-12-16 13:54] PyvesB commented on #4410
I agree. In those specific cases, the Nexus server base URL changes, so users should be expected to change their badges to reflect this.

By the way, as you seem quite well-versed in all things Nexus, would you like to give this a go and submit a pull request? 😃

[2019-12-16 14:05] nigredo-tori commented on #4410
Thank you, but I'm not. I've helped someone update an instance last week, and that's it. I'm just poking around/googling as I go, doing my due diligence to make sure this issue will be reasonably easy to solve.

I'd prefer not to. I know next to nothing about this project and about JS in general, so I'd like this to be handled by someone with hands-on experience with these. Nexus insight shouldn't

[2019-12-16 15:17] PyvesB commented on #4410
Fair - if no one takes a took at it in the meantime, I'll probably pick this up in early 2020. I'll assign you as reviewer so you can take a look at the changes once they're done. 😉

[2019-12-18 07:15] daadu opened #4437 "json dynamic shield not parsing data properly for Gitlab"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

not getting `"open_issues_count"` from [GitLab API](https://docs.gitlab.com/ee/api/projects.html#get-single-project), it works for `"star_count"` though.

#### API response for `GET https://gitlab.co

[2019-12-18 09:03] chris48s commented on #4437
First off, thanks for the clear bug report :+1:

The response I'm seeing if I request https://gitlab.com/api/v4/projects/7578401 isn't the same thing you've posted in the issue. Is it possible you're seeing additional keys when you're logged in?

[2019-12-18 09:13] daadu commented on #4437
Ooops!! you're right, I am getting additional info since I am logged in.

[2019-12-18 09:13] #4437 closed

[2019-12-19 23:41] JLLeitschuh opened #4438 "Please open a Security Advisory"
I'd like to report a security vulnerability.
Please open an advisory and add me to it.
https://github.com/badges/shields/security/advisories

[2019-12-20 00:33] calebcartwright commented on #4438
Thanks for reaching out @JLLeitschuh!

IIUC, only a [repo admin has access](https://help.github.com/en/github/managing-security-vulnerabilities/permission-levels-for-security-advisories#permissions-overview) to be able to add a user/collaborator to an advisory.

@paulmelnikow is this something you have access to do?

[2019-12-20 00:39] calebcartwright commented on #4438
I've created one and added you as a collaborator @JLLeitschuh. I assume you would've received a notification with the advisory details but let us know if not

[2019-12-20 00:50] calebcartwright commented on #4438
Closing this in favor of continuing the dialog in the advisory

[2019-12-20 00:50] #4438 closed

[2019-12-20 07:14] baruchiro opened #4439 "Include prerelase checkbox negative behavior"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)

:beetle: **Description**

I'm trying to create a *Release Badge* to my new repo.

In my repo, there is one release, and this release is a **prerelase**.

[Releases](https://github.com/baruchiro/israeli-bank-scrapers-desktop/releases):
![image](https://user-images.githubusercontent.com/17686879/71236909-d5173580-2308-

[2019-12-21 16:25] chris48s commented on #4439
This is working as expected for me.

- ![](https://img.shields.io/github/v/release/baruchiro/israeli-bank-scrapers-desktop) - https://img.shields.io/github/v/release/baruchiro/israeli-bank-scrapers-desktop
- ![](https://img.shields.io/github/v/release/baruchiro/israeli-bank-scrapers-desktop?include_prereleases) - https://img.shields.io/github/v/release/baruchiro/israeli-bank-scrapers-desktop?inclu

[2019-12-21 16:26] chris48s opened #4454 "move /dv/:package/:version routes to /dt/:package/:version"
:clipboard: **Description**

refs https://github.com/badges/shields/pull/4435#discussion_r358620526

- Crates
- Gem

[2019-12-21 17:55] MonliH commented on #2731
Have you seen this: `https://sloc.xyz/github/<user>/<repo>`? I found it but there is still no way to use a custom badge style (comes with the defualt style)

[2019-12-21 19:03] massinlaaouaj opened #4456 "How can I use Shields.io in local?"
:question: **Question**

I'm interessed to use shields in local for ping testing, I wanna use in local because the host he don't has internet out.

How can I do?

Thanks.

[2019-12-22 02:00] calebcartwright commented on #4439
It's working for me too, including in the modal Window

[2019-12-22 02:02] calebcartwright commented on #4456
hi @massinlaaouaj! it's pretty easy to run your own Shields server, and we've got a lot of the approaches for doing so documented in https://github.com/badges/shields/blob/master/doc/self-hosting.md.

[2019-12-22 02:10] calebcartwright commented on #2731
Sounds like there are a couple endpoints that provide the data in a way Shields can consume and provide badges for.

We've got a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) if anyone is interested in implementing this in Shields!

[2019-12-22 02:29] calebcartwright opened #4457 "LeanPub Service Tests Failing"
:clock11: **When did the problem start?**
December ~12th

:camera: **Live badge**
https://img.shields.io/leanpub/book/pages/hands-on-nodejs
![](https://img.shields.io/leanpub/book/pages/hands-on-nodejs)

https://img.shields.io/leanpub/book/pages/juice-shop
![](https://img.shields.io/leanpub/book/pages/juice-shop)

:wrench: **Is the live badge working?**
Doesn't appear to be working

:link: **Circl

[2019-12-22 05:44] #4439 closed

[2019-12-22 09:48] #4456 closed

[2019-12-22 17:05] #3716 closed

[2019-12-22 17:13] chris48s commented on #4457
Looks like LeanPub have restricted their API to pro plan users: https://leanpub.com/help/api

A pro plan is $12.99 per month so I suspect this means we probably just have to abandon these badges.

[2019-12-23 01:56] calebcartwright commented on #4457
So they have 🤔 That's a bummer!

[2019-12-23 02:38] calebcartwright commented on #4457
I agree that we shouldn't purchase a monthly subscription just to get access to the data (that could set a bad precedent and lead to it becoming **very** expensive to run the Shields service).

I took a look at our metrics though and there was well north of 700 requests for Leanpub badges in the last 24 hours which indicates there's _some_ community interest in these badges and has me wondering if

[2019-12-23 20:53] chris48s opened #4460 "Use expectRedirect helper in redirect tests"
:clipboard: **Description**

#4436 adds the `expectRedirect()` test helper. We can use this to reduce test boilerplate as discussed in https://github.com/badges/shields/pull/4436#discussion_r360701913 While we're modifying these tests, they can also be switched to request the SVG endpoint as discussed in https://github.com/badges/shields/pull/4436#discussion_r360701467

There are about 30 services

[2019-12-23 20:56] chris48s opened #4461 "Do we need to followRedirect in service tests?"
:clipboard: **Description**

refs https://github.com/badges/shields/pull/4436#discussion_r360702086 : Try a full service test run with it turned off

[2019-12-27 22:11] umarcor opened #4474 "[david] Support selecting a branch"
david-dm allows to specify a branch as an additional item in the URL. This can be combined with the `path` query parameter. For example: https://david-dm.org/umarcor/hwstudio/actions?path=app Unfortunately, this feature seems not to be supported in this repo: `/david/:kind?/:user/:repo?path=packages%2Fbabel-core`. I tried https://img.shields.io/david/umarcor/hwstudio/actions.svg?path=app&longCache

[2019-12-28 03:37] calebcartwright commented on #4474
Do you know what the request to David would be to get the data?

The typical upstream endpoint Shields uses to get the data is:
https://david-dm.org/umarcor/hwstudio/info.json?path=app

Unfortunately David also returns an http 500 error for the "not found" use case (vs. the typical 404), and I'm getting that same http 500 error on the link you provided in the issue description:
https://david-dm.or

[2019-12-28 03:40] umarcor commented on #4474
I'm so sorry. Actually, I renamed that branch and I forgot to update it here. These do exist:

- https://david-dm.org/umarcor/hwstudio/develop?path=app
- https://david-dm.org/umarcor/hwstudio/webpack?path=app

And these endpoints return content:

- https://david-dm.org/umarcor/hwstudio/develop/info.json?path=app
- https://david-dm.org/umarcor/hwstudio/webpack/info.json?path=app

[2019-12-28 04:31] calebcartwright commented on #4474
That explains it then, thanks @umarcor! To address this we'd need to update the route for our David service to accept an optional branch parameter.

At the moment I'm not sure whether it'd be best to do so via a route param or query param. Generally Shields routes accept a `branch` value as an optional trailing route param (`/:user/:repo/:branch?`) but David has a leading optional `kind` route par

[2019-12-28 17:10] adzo261 opened #4476 "Unparsable jsonpath query on dynamic badge even when query is correct"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**
I was trying to create a dynamic badge to show dev dependency of a node package from JSON data from my Github repo.
However, the badge says `unparsable jsonpath query` .
The query is as follows:
`$.de

[2019-12-28 18:07] calebcartwright commented on #4476
hey @adzo261, I'm not sure about the jsonpath query, but we do have a badge that natively supports dependency versions from package.json files in GitHub repos.

I believe this is what you'd want:
https://img.shields.io/github/package-json/dependency-version/codeagni/mern-starter/dev/@babel/core?filename=client%2Fpackage.json
![](https://img.shields.io/github/package-json/dependency-version/codeagn

[2019-12-28 19:15] TrueBrain opened #4477 "GitHub Deployments"
:clipboard: **Description**

GitHub has (basic) support for deployments. We started to use this, and I have been trying to get a badge for this. Sadly, the API is a bit too complicated to simply use the dynamic badge, or at least as far as I understand it. So having support for this, or helping me out how to do it, would be greatly appreciated :)

What I would like the badge to show, per environme

[2019-12-28 20:07] platan commented on #4476
`@` is a special character in JSONPath. Instead of using the dot-notation, you can simply use the bracket–notation (https://goessner.net/articles/JsonPath/):
`$.devDependencies['@babel/core']`
https://img.shields.io/badge/dynamic/json?color=blue&label=%40babel%2Fcore&query=%24.devDependencies[%27%40babel%2Fcore%27]&url=https%3A%2F%2Fraw.githubusercontent.com%2Fcodeagni%2Fmern-starter%2Fmaster%2Fcl

[2019-12-29 04:16] calebcartwright commented on #4477
I wonder if the v4 API provides the data more readily available via a single request 🤔

Definitely worth looking into supporting this badge, though in the immediate short term one possible solution would be to use our endpoint badge (https://shields.io/endpoint) type with a custom endpoint that makes those two API calls and returns the data in the required format

[2019-12-29 04:35] calebcartwright commented on #4477
Yup, looks like the latest deployment status data can be retrieved via a single request using the v4 GraphQL endpoint (https://developer.github.com/v4/object/deployment/)

Sample query:
[code]

If anyone is interested in working on this, we've a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) on implementing new badges!

There's a handful of our other GitHub badges

[2019-12-29 04:52] adzo261 commented on #4476
@calebcartwright  great, I didn't know it supported dependencies versions' natively.
@platan  Thanks for clarifying my mistake.

Thanks to both of you and this wonderful community. :smile: :heart:

[2019-12-29 04:52] #4476 closed

[2019-12-29 08:49] blakehawkins commented on #1382
To help progress this request, can I suggest starting with a MVP that just links to `docs.rs/crate/`?

`cargo publish` by default will build docs in advance, so docs.rs should rarely have failing docs builds.

The following works great for me:

[code]

[2019-12-29 14:38] TrueBrain commented on #4477
That "good first issue" label is spot on. Thank you for the detailed feedback, that made it easy to produce a PR. Seriously: thank you!

[2019-12-29 16:21] chris48s commented on #4457
I think given they've been broken for over a week and nobody has raised an issue about it or commented/reacted here we can probably just remove them, but if you're keen to see if we can get a key, feel free.

[2019-12-29 17:24] calebcartwright commented on #4457
SGTM!

[2019-12-29 23:14] Paebbels opened #4480 "Badge request: OpenHub"
:clipboard: **Description**

Please provide badges for OpenHub, because the provided badges from OpenHub do not fit among other badges (from Shields.io) in README files.

Open Hub is a statistics website, that scans registered open source projects e.g. on GitHub and creates global statistics per user and project. E.g. it aggregates all commits a person has ever done in any repository. It indexes 4

[2019-12-30 16:07] #4457 closed

[2019-12-30 16:48] calebcartwright commented on #4480
Thanks for the request @Paebbels! This seems reasonable, though it would require an account creation and Shields being granted an increased api limit since they are throttling api consumers at 1,000 requests per day

[2019-12-30 23:37] h1nk commented on #1664
@paulmelnikow from what I can find, yes, there is no API.

[2019-12-31 18:06] chris48s commented on #4477
done in #4477

[2019-12-31 18:06] #4477 closed

[2020-01-01 21:07] VilhelmPrytz commented on #2544
Any updates regarding this? :smiley:

[2020-01-01 21:14] #2544 closed

[2020-01-02 16:59] pigulla commented on #3512
Humbly paging @acao <3

[2020-01-03 15:21] ernado opened #4486 "TeamCity "Invalid response data" for build chain"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

Getting "invalid response data"

:link: **Link to the badge**

https://img.shields.io/teamcity/build/s/gortcd_MasterStatus?server=https%3A%2F%2Ftc.gortc.io

Default svg:
[![Master status](https://tc.

[2020-01-03 15:56] calebcartwright commented on #4486
Thanks for reporting @ernado! You are correct that it's a schema validation issue on the `statusText` field.

I'm trying to remember why we were filtering that field so tightly as it's basically used as a passthrough 🤔

[2020-01-03 16:10] ernado commented on #4486
Thank you for quick response!

I've also took a look at `/services/teamcity/teamcity-build.service.js`.
Seems like it is safe to just remove `buildStatusTextRegex`. Probably initially it was one of `Success|Failure|Error`, but it became an arbitrary status text that has no strict schema, so each update causes "invalid response data" and another regex adjustment.

Yep, just lowercase of that initia

[2020-01-03 16:28] calebcartwright commented on #4486
Agreed, seems like the best course of action. The schema should probably just be

[code]

Any chance you'd be interested in submitting a PR with the fix?

[2020-01-03 18:38] ernado commented on #4486
I would like to, but I'm afraid I'm not so experienced with node to make it right, sorry.

[2020-01-03 21:16] calebcartwright commented on #4486
No worries! For anyone interested in implementing this:

change these lines:
https://github.com/badges/shields/blob/02681cfe270b487dd82ebbcd170c7632fc518f5e/services/teamcity/teamcity-build.service.js#L7-L16

to:
[code]

[2020-01-03 21:39] #4460 closed

[2020-01-05 20:30] #4016 closed

[2020-01-06 06:15] morganmay opened #4492 "Mastodon user ID lookup methods not working"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

I'm trying to make a Mastodon Follow badge, but none of the methods listed for finding my User ID work - the lookup tool can't find the instance, and examining the code at the specified URLs turned u

[2020-01-06 17:25] pauldraper opened #4493 "Dockerhub build: "not found""
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

The badge https://img.shields.io/docker/build/rivethealth/aws-saml shows "repo not found", despite the existence of the repo: https://hub.docker.com/r/rivethealth/aws-saml

![badge](https://img.shiel

[2020-01-07 02:35] calebcartwright commented on #4493
Try using the cloud build badge. The badge at the `../docker/build/..`  is more of a legacy badge to support "older" repositories that were created prior to docker's launch of the "new" docker hub (back in 2018)

https://img.shields.io/docker/cloud/build/rivethealth/aws-saml
![](https://img.shields.io/docker/cloud/build/rivethealth/aws-saml)

[2020-01-07 03:04] calebcartwright commented on #4492
Thanks for reporting @morganmay! Honestly, I'm not sure what the problem may be (not a Mastodon user myself, and not familiar with the platform).

IIRC, the [lookup tool](https://prouser123.me/misc/mastodon-userid-lookup.html) is just a UI wrapper that implements that workaround described in https://github.com/tootsuite/mastodon/issues/4588#issuecomment-348667202.

In looking at our reference exam

[2020-01-07 12:30] rmarinho opened #4494 "Shields.io badge doesn't show last package from Nuget.org"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

Hi, we are using  shields.io in our project to point to a nuget.org package , but it seems it stopped showing our latest package 4.4.0.991265

:link: https://img.shields.io/nuget/v/Xamarin.Forms.svg?

[2020-01-07 17:05] calebcartwright commented on #4494
Thanks for the report @rmarinho! In looking at the versions in the API response
https://azuresearch-usnc.nuget.org/query?q=packageid%3Axamarin.forms&prerelease=true&semVerLevel=2

[code]

it seems like the most recent versions have started including build metadata. `4.3.0.991211` (the version showing on the badge) is the latest non-prerelease version that doesn't include the build metadata. What's

[2020-01-07 17:31] rmarinho commented on #4494
Thanks for the feedback @calebcartwright  yeah, well imo i prefer to have  gnarly looking badge but with the correct last version :

it might be that since the 4.4.0.991265+ is not semver 2.0  also it gets confused, but seems in the VisualStudio IDE it looks ok (version 4.4.0.991265 appears as the latest stable).

I also saw a issue opened by my fried @kzu  about the long badges #3926 maybe we can

[2020-01-07 18:15] calebcartwright commented on #4494
I was going to mention that as well, would be great to get that feature added too!

[2020-01-07 18:24] calebcartwright commented on #4494
Some recent-ish discussion on nuget package versions, where we did explicitly decide (for backwards compatability reasons) that for any non-semver complaint versions the existence of a hyphen would be treated as a pre-release version: https://github.com/badges/shields/pull/4222/files#r336798640

is `4.4.0.991265+398-sha.ee1eca51d-azdo.3306453` not semver compliant? Seems like it should be based on

[2020-01-07 18:49] #4486 closed

[2020-01-07 21:13] #4461 closed

[2020-01-07 21:32] chris48s commented on #4494
A semver is `a.b.c+metadata`
That is `a.b.c.d+metadata`

[2020-01-07 21:45] calebcartwright commented on #4494
Lol 🤦‍♂ thanks Chris. I was staring so closely at the build metadata that I completely overlooked that

[2020-01-07 23:14] rmarinho commented on #4494
well in my comment I said

Yes we aren't using semver yet, but we are using the metadata thing. So there's no fix because your lib for parsing gets confused?

[2020-01-07 23:55] calebcartwright commented on #4494
No, not at all. I thought your versions w/build metadata were semver compatible, but I was obviously wrong, sorry about that.

What's happened is that you started including extra content with your versions that include a `-` character. Shields has always treated these types of nuget package versions which contain a `-` as pre-release versions, and when you use the `/nuget/v` all pre-release versio

[2020-01-08 09:20] ruudboon commented on #1693
Looks like https://repology.org/ is too general to find a specific FreeBSD Port.

[2020-01-08 09:38] ruudboon commented on #1693
Maybe parsing the git mirror will work. https://raw.githubusercontent.com/freebsd/freebsd-ports/master/www/phalcon4/Makefile

[2020-01-08 13:24] tledoux opened #4497 "Badge for wikidata entity"
:clipboard: **Description**

Create a badge to give access to a wikidata entity

For example, the badge for Q57699905 could be like:

[![Wikidata](https://img.shields.io/badge/-Q57699905-grey?logo=data:image/png;base64,UklGRsoAAABXRUJQVlA4TL0AAAAvJ0AFEAeBmJEk1Zw/xfkczz1bg1EkSZGSy/8PAdhBEezRiNq2kfM8PIfn+LO4Mo1tqxFBRpnlQ1IIdVEUzXxLWI/dmQCzKIeGFxpO/EIrigKiAgAgxJ1v/3Ee0JdQtZUVRV/ZePuG9JJMC9/xNQiU5ozAt

[2020-01-08 19:11] calebcartwright commented on #4494
As far as getting the nuget version badge for your package showing your expected version @rmarinho, there's a few options.

Some things you could consider doing on your side:
* Start using semver-compliant versions for your package
* If can't/won't change to semver versioning, don't include a `-` in versions of your package that are not intended to be pre-release versions

Some things we could con

[2020-01-08 21:14] calebcartwright commented on #4497
@tledoux - Could you please clarify what you are asking for? AFAICT the request is simply a static badge with a static message, in which case you'd want to use Shields static badge as you did in the issue description.

[2020-01-08 22:22] #4393 closed

[2020-01-08 22:50] LoneWanderer-GH opened #4498 "Badge request: Curseforge"
:clipboard: **Description**

Badges for [CurseForge](https://www.curseforge.com/) addons.

- What sort of information should this badge show?
  - Repository name
  - Download count
  - Managed game versions

Simple example:
![](https://img.shields.io/badge/dynamic/json?label=Curse%20downloads&color=orange&query=downloadCount&url=https://addons-ecs.forgesvc.net/api/v2/addon/356973/)
One could also

[2020-01-09 01:17] calebcartwright commented on #4498
Thanks for the suggestion @LoneWanderer-GH! I'm not familiar with Curseforge at all, but based on all the info you collated and shared above this seems very doable.

Few questions for you:
* How would users go about locating their project number? Is it common knowledge or would users of these badges on Shields need to know how to look up/locate their respective project number?
* You mentioned `Rep

[2020-01-09 01:28] RedSparr0w commented on #4498
Related issue here:
https://github.com/way2muchnoise/CurseForgeBadge/issues/15

[2020-01-09 08:17] morganmay commented on #4492
Correct. I tried all of the methods listed and did some additional poking
around and wasn't able to find the user ID anywhere.

On Mon, Jan 6, 2020 at 7:04 PM Caleb Cartwright <notifications@github.com>
wrote:

[2020-01-09 17:12] chrfranke opened #4499 "Sourceforge badge: Add support for download folder hierarchy"
:clipboard: **Description**
The sourceforge downloads badge allows to specify a 1st level folder but a 2nd level folder does apparently not work (sorry if I missed something).

Testcase:
https://sourceforge.net/projects/smartmontools/files/smartmontools/7.1/
JSON data for this level is available:
https://sourceforge.net/projects/smartmontools/files/smartmontools/7.1/stats/json?start_date=2019-12-3

[2020-01-09 18:33] calebcartwright commented on #4499
Believe the problem is that the route for that badge isn't able to handle nested directory paths

https://github.com/badges/shields/blob/fe02ac723f97e317a8a10a16674606c7944be3db/services/sourceforge/sourceforge.service.js#L42

so when you try to include one, the it's being interpreted as an additional route param that has no associated handler (hence the 404).

This should be an easy fix if anyone

[2020-01-09 20:04] #2428 closed

[2020-01-09 21:39] paulmelnikow commented on #3480
A progress update for folks following this issue. Thanks to heroic work from @chris48s built on what @RedSparr0w and I started, DoT was removed in #4405

It's not yet in master, though. From https://github.com/badges/shields/pull/4459#issuecomment-572731235:

[2020-01-10 09:45] elpiel opened #4500 "`Discord online/total` badge"
:clipboard: **Description**

A discord badge as the one currently available, with the only difference, that it shows the total number of people in the server as well:

E.g. `Discord: 15/50 online`

:link: **Data**

I am not sure if there is such an endpoint with the available data in the Discord API.

:microphone: **Motivation**

Showing the number of online users is good, but sometimes you want t

[2020-01-10 13:34] LoneWanderer-GH commented on #4498
Most of the time, project owner or developper has to know project numbers since they can be used for webhooks/package api.
This is not a tricky thing to obtain see this screen of a project page:
![image](https://user-images.githubusercontent.com/19716859/72155921-82371800-33b4-11ea-8415-c6f7af08f013.png)

---

I think RedSparr0w  answered the question.
This repo https://github.com/way2muchnoise/Cu

[2020-01-10 15:10] calebcartwright commented on #4498
Great! We like to include some inline documentation in these types of circumstances to provide Shields users with guidance on how they can obtain the values they need for the badge parameters

I still do not understand what a "Curseforge repository name" badge would look like in the context of Shields.

Not really an issue, but worth to know if an actual badge support is provided. It may avoid lot

[2020-01-10 15:24] calebcartwright commented on #4500
Much like #4257, I suspect this most likely is not going to be possible. The Discord APIs are very limited in terms of being able to provide the underlying info like this that Shields would need to be able to render such a badge.

We can leave this open for a few days in case anyone is able to find and provide details on an accessible API endpoint that includes this data, but otherwise this will b

[2020-01-10 15:48] elpiel commented on #4500
I was able to take a look, technically it's possible to get all users and count them?!
https://discordapp.com/developers/docs/resources/guild#list-guild-members
Although it won't be very performant and if there are more than `>1000` it needs to handle pagination....

[2020-01-10 16:13] calebcartwright commented on #4500
Do you know if that endpoint is available for consumption by non-members? The issues we've had in the past stem from the authorization requirements of the APIs, it's not the lack of the endpoints existing.

[2020-01-11 06:09] kzu commented on #4494
I don't think shields should be tweaking its behavior to consider semver things that aren't (four version segments aren't semver). XF should use semver 2.0 instead of an unsupported format @rmarinho ;). And then #3926 would make the labels great again in that case. I think an optional query parameter to bring the metadata back would be nice (for semver valid values), though.

[2020-01-11 10:19] elpiel commented on #4500
`presence_count` is the online count. Sadly I didn't think about the authentication part.
I think discord doesn't have an endpoint for such a thing... I might write them and maybe(?) reopen this issue once they provide an endpoint.

[2020-01-11 11:17] tledoux commented on #4497
Indeed my main motivation was to simplify the markdown to something like:
[code]

But I see that the main point is the logo which should be added to the standard ones, which is another matter.
Sorry for the annoyance and many thanks for the great badges...

[2020-01-11 11:17] #4497 closed

[2020-01-11 15:12] calebcartwright commented on #4500
Let us know if you hear anything!

[2020-01-11 17:30] calebcartwright commented on #4497
No worries!

Yup you've got it. We rely (mostly) on simple icons for logos, so you'd probably want to reach out over there to try to get the wikidata logo more readily available. That would get allow for badges like:

https://img.shields.io/badge/-Q57699905-grey?logo=wikidata

More info here on logos within Shields can be found here:
https://github.com/badges/shields/blob/master/doc/logos.md#contr

[2020-01-12 17:48] calebcartwright opened #4521 "PuppetforgeModulePdkVersion Service Test Failing"
:clock11: **When did the problem start?**
7th Jan 2020 / [daily test run 838 ](https://circleci.com/gh/badges/daily-tests/838)

:camera: **Live badge**

https://img.shields.io/puppetforge/pdk-version/tragiccode/azure_key_vault
![](https://img.shields.io/puppetforge/pdk-version/tragiccode/azure_key_vault)

:wrench: **Is the live badge working?**
Yes, seems to be

:link: **CircleCI link**
https://ci

[2020-01-12 17:53] calebcartwright opened #4522 "W3C Validation Service Test Failing"
:clock11: **When did the problem start?**
8th Jan 2020

:camera: **Live badge**

https://img.shields.io/w3c-validation/default?targetUrl=https%3A%2F%2Fvalidator.nu%2F
![](https://img.shields.io/w3c-validation/default?targetUrl=https%3A%2F%2Fvalidator.nu%2F)

:wrench: **Is the live badge working?**
Yes, seems to be

:link: **CircleCI link**
https://circleci.com/gh/badges/daily-tests/848

:beetle: *

[2020-01-12 19:06] chris48s commented on #3587
Reviewing this, the remaining tasks are:

1. Either drop raster support from the CLI or add it to the library (I'll come back to this one..)
2. Expose the concept of logos, add SimpleIcons as a peer dependency (this is a new feature, so lets punt it to 3.1)
3. Add typescript definitions (this is a new feature, so lets punt it to 3.1)
4. Change the application code to depend on the public interface

[2020-01-12 19:28] chris48s commented on #4494
I don't really have a handle on how good/bad "all nuget package versions should be a semver" is as an assumption. Does anyone know what the nuget packaging guidance is?

Another thing we could consider is a `?sort=semver` / `?sort=date` like we've done with GH tags/releases.

[2020-01-12 20:25] MeStrak opened #4525 "Netlify shows failing when build cancelled due to no content update"
Are you experiencing an issue with...

- [x ] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

My website is hosted on netlify. When I make any update to the repository, this triggers a deploy on Netlify.

If the update does not change the content of the website (e.g. if it's a docs update to

[2020-01-12 20:31] MeStrak commented on #4525
Also opened a ticket with Netlify about this as I realised when writing it that it probably isn't directly a shields.io issue.

[2020-01-12 20:33] calebcartwright commented on #4525
I was just adding a comment along the same lines 😄 This is definitely an upstream issue with Netlify and nothing we can do about it on our end.

I'm going to go ahead and close this for now, but feel free to re-open if the issue gets fixed on the Netlify side and there's still an issue with our badge

[2020-01-12 20:33] #4525 closed

[2020-01-12 20:34] MeStrak commented on #4525
No worries, my bad. I'll post a message in here if I here anything back from them!

[2020-01-12 20:40] calebcartwright commented on #3587
Should we also try to poll the community for feedback and to gauge importance? [We did](https://github.com/badges/shields/issues/3112) when making a similar change for Shields.io, although that's admittedly a larger audience that was impacted

[2020-01-12 20:42] MeStrak commented on #4525
https://community.netlify.com/t/status-badge-incorrectly-shows-failing-when-deploy-is-auto-cancelled/7316

[2020-01-12 20:43] calebcartwright commented on #3587
Agreed. I can't find any examples ATM, but I know I've seen a final version publish that adds a pointer/doc to the top of readme pointing to the "new" package on some other packages that were renamed. Something like..

[code]

[2020-01-13 13:06] elpiel commented on #4500
I've asked in their discord api server and got this response:

I guess this will need special impl. for that specific badge? But at least it is possible to get an approx. of the users.

[2020-01-13 13:19] rmarinho commented on #4494
Well, I not going to disagree that we should be semver 2.0, but the true is we never were and this worked just fine before, the issue was when we started adding metadata to the packages. I think the assumption of having a '-' is a pre release should take account if it's after the '+' or not.

[2020-01-13 14:50] calebcartwright commented on #4500
Thanks @elpiel - any idea how "approximate" that count is?

[2020-01-13 14:51] calebcartwright commented on #4500
Also are the invites specific to a server or inidvidual channels (or both)?

[2020-01-13 15:02] elpiel commented on #4500
I about the approximation - I have no idea... I didn't ask as well.
As for the invite I will assume, you can do both, give the `Delete` endpoint:

( I interpret this as channel and guild invites )

I haven't worked with their API so I can't be sure.

[2020-01-13 15:39] calebcartwright commented on #4522
Problem found and issue opened upstream: https://github.com/validator/validator/issues/898

[2020-01-13 21:25] kzu commented on #4494
well, that would be just making up new rules for things that are not semver2 ;). How would you know that makes sense for other package managers? I'd say, remove the metadata and put it instead in the first line of the summary/description for the package, maybe. But, if and when the package is semver2, its sorting rules should be obeyed by shields, IMO.

[2020-01-13 22:02] calebcartwright commented on #4494
@chris48s - not sure I fully understand the question. nuget.org is now encouraging semver2 versioning schemes, but in my experience it has historically been more of a "wild west". I'm also not sure if that encouragement from the nuget.org folks is being echoed for myget and the other nuget-like registries we integrate with.

[2020-01-13 22:33] calebcartwright commented on #4494
From what I can tell looking at the code/history, we handle nuget package versions a bit differently than other version badges. For example, we've a renderer that uses 3 colors 🤷‍♂

https://github.com/badges/shields/blob/0e6d2c43f3f465ffae4fd33f3f02c9694a85c2d9/services/nuget/nuget-helpers.js#L6-L21

If we were just adding support for nuget version badges for the first time, I'd want to follow the

[2020-01-14 04:17] calebcartwright commented on #4493
I assume that's working for you @pauldraper, so going to close this. Feel free to re-open if needed

[2020-01-14 04:17] #4493 closed

[2020-01-14 04:24] calebcartwright commented on #4492
That's unfortunate 🤔 We'll need to dig into this and see if there's any other way for folks to discover their respective user id.

If anyone has any insight or can help with this that would be greatly appreciated!

[2020-01-14 08:11] hugovk opened #4527 "PyPI monthly download counts are out of date"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

The monthly download count for PyPI badges hasn't been updated for a few months.

:link: https://img.shields.io/pypi/dm/pillow.svg

![image](https://user-images.githubusercontent.com/1324225/72325594

[2020-01-14 10:20] gusbemacbe opened #4528 "Is it possible to JSON file's relative URL for endpoint?"
:question: **Question**

For example:

[code]

But both do not work. If I have to use full absolute HTTPS' URL, I have to upload/git pull every time, what it is boring.

### Update

I had to use PHP to manipulate and used like:

[code]

But:

![image](https://user-images.githubusercontent.com/2257024/72337462-60ce7880-36a1-11ea-9c56-8e045e1227a2.png)

[2020-01-14 14:42] calebcartwright commented on #4528
Hi @gusbemacbe, could you please explain your use case/what you are trying to do?

[2020-01-14 20:00] chris48s commented on #4527
Hello.
We report the numbers from pypistats.org :

* https://pypistats.org/api/packages/pillow/recent
* https://pypistats.org/api/packages/pypistats/recent

My guess would be `/recent` is reporting a rolling month rather than a calendar month.

[2020-01-14 22:16] #4521 closed

[2020-01-15 02:01] RedSparr0w commented on #4396
I wouldn’t be opposed to allowing users to specify replacement text, what would the parameters look like though?
`passing=success&failing=failed`

[2020-01-15 18:00] hugovk commented on #4527
Aha, that makes sense, and matches up. Everything's working fine, thank you for the help!

[code]
[code]

[2020-01-15 18:00] #4527 closed

[2020-01-16 05:11] nightah opened #4530 "Microbadger Versions/Docker Tag"
:clipboard: **Description**

This badge is for MicroBadger.
The information it should show is the version which is effectively the Docker tag.
An example can be found at: https://images.microbadger.com/badges/version/alpine.svg

:link: **Data**

There is a public API located at https://api.microbadger.com this is the same API that is currently utilised for the existing MicroBadger size based shiel

[2020-01-17 00:56] calebcartwright commented on #4530
Thanks for the suggestion @nightah! This sounds quite reasonable to me, and seems pretty straight forward with all the docs and info you've provided.

We've got a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) if you or anyone else would be interested in implementing this, and of course the existing MicroBadger badges can serve as a good reference

https://github.c

[2020-01-17 15:32] nightah commented on #4530
Well I gave it a try @calebcartwright, let's see how this goes!

[2020-01-17 18:53] gusbemacbe commented on #4528
Hi @calebcartwright

Sorry for my absence, I have been working a lot. See the documentation: https://shields.io/endpoint

In this documentation, it suggests me to use full absolute URL address, but I would like to use the relative URL path, so I do not have to commit every time to check the test.

[2020-01-17 19:16] calebcartwright commented on #4528
No worries! I'm actually asking you to describe your use case, what type of badge you are trying to create, etc., because it's not clear from your issue description.

It sounds like you have some json file that resides local file system, and you are attempting to use the Shields.io service to create a badge based on that file on your local file system. If so, this is not a valid/possible use case;

[2020-01-17 19:38] PyvesB commented on #4530
To be honest, I'm not super enthusiastic about this.

Our current MicroBadger badges have been having issues for a long time (see #3988, #3437, #2905, #2532, #2489, #1591, #1400 for a few examples). The Microscaling team in charge of the project have warned that it has become a side project for them (see https://github.com/microscaling/microbadger/issues/38#issuecomment-532857473) and seem to have

[2020-01-17 19:39] gusbemacbe commented on #4528
[code]

Preview:

<img alt="apps" src="https://img.shields.io/badge/apps_icons-2170%2B-33D17A.svg?style=for-the-badge&logo=gnome&logoColor=white&colorA=a89888" />

[code]

It was what I was looking for, but I have a doubt... Do I need to include `gh-badges` package or `node-modules` in my repository?

[2020-01-17 19:40] gusbemacbe commented on #4528
Observe that I need to increase logo height to be totally legible.

[2020-01-17 19:50] gusbemacbe commented on #4528
I am confused with `gh-badges`'s documentation.

[2020-01-17 19:52] calebcartwright commented on #4530
@PyvesB - I was just noticing some weird behavior with these badges and came across the same linked issues that we have inline in comments. I'd imagine most registries have their own APIs that provide version/tag data, maybe we could start out with Docker hub?

[2020-01-17 20:20] calebcartwright commented on #4528
Where is the `2170+` number coming from/how is it being derived?

[2020-01-17 20:23] gusbemacbe commented on #4528
@calebcartwright

[code]

[2020-01-17 20:44] calebcartwright commented on #4528
@gusbemacbe I understand how Shields and the static badges work 😄

You have a json file with a label key that includes the number 2170. I'm asking how/where that 2170 number is being determined

[2020-01-17 21:09] gusbemacbe commented on #4528
@calebcartwright

Ah, I made a mistake. I have just updated the JSON snippet above.

[2020-01-17 21:10] gusbemacbe commented on #4528
Yes, it is what I tried. I tried to use `gh-badges` to catch JSON file, but I have no idea.

[2020-01-17 21:12] nightah commented on #4530
I believe most of the linked issues actually relate to the size badge. Because the metadata has been quite flaky recently.

I’ve been following some of them myself because I also have been affected by this. Having said that, I have noticed an improvement with this over the last 2-3 days.
There has not been an issue that could not be resolved with a metadata refresh. Though it’s hard to say if it w

[2020-01-17 21:56] calebcartwright commented on #4528
Where are you getting the data from (the `2170` number)? I'm not familiar with "apps icons" at all. Could you please provide some additional context? It'll be a lot easier for us to answer your questions/offer suggestions/etc. if you can fully explain your scenario.

Please also feel free to join our [chat room in Discord](https://discordapp.com/invite/HjJCwm5) so that we could discuss things a bi

[2020-01-17 21:59] gusbemacbe commented on #4528
2170+ is the fixed number of icons.

My badges are inspired by @SmartFinn's [Papirus icons](https://github.com/PapirusDevelopmentTeam/papirus-icon-theme)' README badges.

[2020-01-17 22:39] nightah commented on #4530
Regarding the DockerHub v2 API, we can use the following type of endpoint to get the version and image size: https://hub.docker.com/v2/repositories/library/alpine/tags?page_size=1024.

For the version badge we could map the `digest` in the json payload of the `latest` tag with the most explicit `SemVer` tag.

For the size badge we can just utilise `full_size` in the json payload of the requested t

[2020-01-18 01:10] calebcartwright commented on #4530
Thanks for digging into it @nightah

Any chance the tags are already sorted and/or there are additional query params we could use? Would prefer to not have to deal with pagination if possible

[2020-01-18 01:27] nightah commented on #4530
Unfortunately the API is not documented very well, the endpoint I have posted isn't and there's many others that also are not for the [v2 API](https://docs.docker.com/registry/spec/api/).

The `count` field in the return payload specifies the number of tags so perhaps we could initially call the endpoint and then return the page size in accordance with the number retrieved from said field?

Altern

[2020-01-18 10:19] PyvesB commented on #4396
Given that this is not a feature that our users have requested often, I would tend to agree with @paulmelnikow and aim for consistency and simplicity with regard to build status labels. 😉

[2020-01-19 15:37] #4499 closed

[2020-01-19 16:23] calebcartwright commented on #4528
Adding some additional context from discussion in Discord and closing accordingly.

The OP has an icon set/theme (https://github.com/Bonandry/adwaita-plus) and wants to have a badge that displays the count of icons in that theme.

Three options were suggested and discussed:
1. Use Shields Static badge with a hardcoded count and periodically update the count in the badge url to reflect changes in t

[2020-01-19 16:23] #4528 closed

[2020-01-19 16:32] calebcartwright commented on #4522
Upstream issues have been resolved and test targets are now back up, tests are passing accordingly so closing this one

[2020-01-19 16:32] #4522 closed

[2020-01-19 16:41] bagbyte opened #4559 "Support '/' in Github Workflows name"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [X] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

I'm having an issue using the `/github/workflow/status/:user/:repo/:workflow` API. My workflow is called `Deploy @myorg/lib`, so the final URL looks like: `/github/workflow/status/myorg/myrepo/Deploy

[2020-01-19 16:59] calebcartwright commented on #4559
Can you share the actual badge routes (org and repo name) you are using so that we can debug and test?

[2020-01-19 17:59] calebcartwright commented on #4500
Removing the `needs-upstream-help` label as it seems, at least for the moment, that we can use the invite API to get the data.

AFAICT the data seems reasonable to use, and the value in the response for our invite code is the same as what I see on our Shields server

https://discordapp.com/api/invites/HjJCwm5?with_counts=true
[code]

![image](https://user-images.githubusercontent.com/13042488/7268

[2020-01-19 19:02] richardtaylordawson opened #4560 "PWA Shields"
# Intro

I have created a new open source project called PWA Shields based on your Shields IO but specifically for PWA badges. The project is currently hosted at https://pwa-shields.com/. I think the idea behind it is there and it could really gain some traction, but I think it would be a project better suited under the badges repositories. I'd love to discuss moving this project over and having i

[2020-01-19 19:27] bagbyte commented on #4559
I've set up a testing [repository](https://github.com/bagbyte/actions) with a single workflow named `Deploy @bagbyte/lib`.

![](https://img.shields.io/github/workflow/status/bagbyte/actions/Deploy%20%40bagbyte%2Flib)

[2020-01-19 21:28] chris48s opened #4561 "Intermittent failures of integration@node-latest build in CI"
see https://github.com/badges/shields/pull/4535#issuecomment-575849981 for discussion

example build: https://circleci.com/gh/badges/shields/86544

failing test is:

[2020-01-20 16:07] darkmattercoder commented on #4530
I also consider microbadger being an orphaned project. My images are not scanned correctly for months and they are not responding anymore to any issues.

[2020-01-20 19:12] brandonlind commented on #3635
vote for bringing back popout style. Just noticed on one of my repos. The badges looked a lot better with the popout style.

[2020-01-22 02:48] calebcartwright commented on #4559
This is one of those tricky edge cases where the badge service route needs to accept an optional param (the branch) that may or may not contain a `/`, and a required param (the workflow key) that may or may not contain a `/`.

I've not tried battling the rout definition, but I don't see a `pattern` value we could use for the route without moving one of those two to a query param. Think I see a way

[2020-01-22 04:05] bagbyte commented on #4559
It seems this is due to the `camp` package which here is used as server, at this [https://github.com/espadrine/sc/blob/2d0e9163d679d5ca60c9d597f0589a6c3e6c6a4a/lib/camp.js#L50](line) the uri is decoded, so when it hits your route, the information is already lost

[2020-01-22 04:09] calebcartwright commented on #4559
@bagbyte - that's understood

[2020-01-22 04:16] calebcartwright commented on #4560
hi there @richardtaylordawson 👋

Could you elaborate more on exactly how/where/etc. you'd envision these within the Shields ecosystem? It's always great to see folks using badges to convey information, and definitely appreciate your shoutout to Shields on your site!

However, a few a challenging items from my perspective:
1. The badges Shields provides are based on our [specification](https://gith

[2020-01-22 14:37] evertonfraga commented on #3512
I did a quick look at the API and everything else, and I thought of a workaround that might work.

I realized that the Icicle SVG chart has the file paths embedded into it, to display the tooltips (GitHub does not show interactive SVG though).

<img src="https://codecov.io/gh/ethereumjs/ethereumjs-vm/branch/master/graphs/icicle.svg">
https://codecov.io/gh/ethereumjs/ethereumjs-vm/branch/master/gra

[2020-01-22 17:58] evertonfraga commented on #3512
OR you could upload reports using `flags`, which you can then have a badge for it.

https://community.codecov.io/t/badges-for-flags/270/3

Badge format with `flag=`
[code]

Thanks for the tip, @ryanio!

[2020-01-23 15:22] richardtaylordawson commented on #4560
@calebcartwright You make a very good point that the badges Shields provides are based on your specification and that you wouldn't want to compromise that because it goes against your messaging of being "consistent". My badges seem to conform to that specification except for the amount of padding around the words inside the badge. I do want to thank you for your time and consideration!

[2020-01-23 15:22] #4560 closed

[2020-01-23 21:29] PyvesB opened #4564 "PNG/JPG/GIF support: to raster or not to raster?"
Users of Shields, we need your opinion!

We currently support generating PNG/JPG/GIF badges through our CLI tool. We were wondering if this feature was useful to anyone - there's not point in us maintaining and bloating our codebase with something that isn't used. We've got a PR to clean things up: #4523.

If it's a valued feature, we would look at adding it to our NPM package for feature parity.

[2020-01-23 21:31] calebcartwright commented on #4564
😆

[2020-01-23 21:49] PyvesB commented on #4560
Thanks for sharing @richardtaylordawson, this seems like a nice little project! Even though they diverge slightly from the Shields styling, I like the unique feel of your badges as well. 😉

[2020-01-23 23:40] DarthRatz commented on #4564
👀 what, Shields has a CLI and an NPM package??

[2020-01-24 01:31] calebcartwright commented on #4564
https://www.npmjs.com/package/gh-badges

[2020-01-24 06:29] pie-flavor opened #4565 "Sponge plugin badges"
:clipboard: **Description**

These badges would be for [Sponge](https://spongepowered.org/) plugins via [Ore](https://ore.spongepowered.org). They would be in the following formats (taking [LuckPerms](https://ore.spongepowered.org/Luck/LuckPerms) as an example):

[![](https://img.shields.io/badge/for%20Sponge-8.0|6.0|5.0-yellow)](http://ore.spongepowered.org/Luck/LuckPerms) [![](https://img.shield

[2020-01-24 18:43] calebcartwright commented on #4565
Thanks for the request and detailed info @pie-flavor!

Are you sure that's the case? It seems like an API key is required as part of the authentication call to create the session

https://ore.spongepowered.org/api#/Authentification/authenticate

[2020-01-25 04:10] pie-flavor commented on #4565
Yes, it says:

If you run from PowerShell:
[code]
then you will get LuckPerms's project info.

[2020-01-25 07:17] StefH opened #4581 "Add functionality to render a specific NuGet version"
Currently you can generate a badge for a NuGet package like:
`![Nuget](https://img.shields.io/nuget/v/LinqKit)` which always shows the latest version:
==> ![Nuget](https://img.shields.io/nuget/v/LinqKit)

However, I would like to render a badge which shows a specific version.
Syntax could be like:
`![Nuget](https://img.shields.io/nuget/v/LinqKit?packageVersion=1.1.1.6)`

Is this possible?

[2020-01-25 14:30] chris48s commented on #4564
Cheers for posting this.
Just to clarify, if we _do_ drop support from the CLI, we'll continue to support serving raster badges from [shields.io](https://shields.io/)

[2020-01-25 14:33] chris48s commented on #4565
I think if we were going to implement this, we'd want to find a way to cache the session so that we don't have to make 2 API requests to render every badge.

[2020-01-25 15:31] chris48s commented on #4581
If you just want to render a badge which always has the same content every time, you can use the static badge:

![](https://img.shields.io/badge/nuget-v1.1.1.6-blue) - https://img.shields.io/badge/nuget-v1.1.1.6-blue

[2020-01-25 15:31] #4581 closed

[2020-01-26 15:31] chris48s commented on #4559
I think @bagbyte has a point about the encoding.

You're right if we want to accept https://img.shields.io/github/workflow/status/bagbyte/actions/Deploy%20@bagbyte/lib (with a literal `/` character), but in principle we should be able to accept https://img.shields.io/github/workflow/status/bagbyte/actions/Deploy%20%40bagbyte%2Flib (with the `/` encoded as a `%2F`), shouldn't we?

[2020-01-26 17:11] calebcartwright commented on #4559
I forget where, but feel like there's been some discussions in the past about how we currently cannot support badge route patterns that have consecutive route params which can both conditionally include a `/`.

`/:foo/:bar/:bax*/:qux*`

If that's something that can be fixed holistically upstream either in `camp` and/or `path-to-regexp`, or if there's an incantation for `pattern` that can be used t

[2020-01-26 20:08] chris48s commented on #4559
Right, yeah. I see what you mean: everything just gets gobbled by `branch*`

I think you're right - the only way to allow both to contain a `/` will be to move branch to a query param.

[2020-01-26 20:12] calebcartwright commented on #4559
The only other thing I could think of would be to include a static route part inbetween the two params, something like:
`/github/workflow/status/:owner/:repo/:workflow+`

and
`/github/workflow/status/:owner/:repo/:workflow+/branch/:branch+`

[2020-01-26 20:17] #3926 closed

[2020-01-26 20:17] #4494 closed

[2020-01-27 01:16] RedSparr0w commented on #4559
Is there a reason why it doesn't work like this?

`https://img.shields.io/github/workflow/status/bagbyte/actions/Deploy%20%40bagbyte%252Flib`

I feel like it should work, but it doesn't. 🤔

It should be decoded to:
`https://img.shields.io/github/workflow/status/bagbyte/actions/Deploy @bagbyte%2Flib` which should make this the workflow name `Deploy @bagbyte%2Flib` which I guess doesn't get converte

[2020-01-27 01:18] RedSparr0w commented on #4559
Would this break existing users badges though?

[2020-01-27 01:25] calebcartwright commented on #4559
Yes, but if we were to make that change or move one of the route params to a query param, we'd add a redirector to map from the old route to the new to prevent any actual breakage.

[2020-01-27 09:28] xasx opened #4586 "Update simple-icons to recent 2.3.0"
:clipboard: **Description**

The dependency to simple-icons is currently at 1.14.0.
Most recent version is 2.3.0 though, including many beautiful icons.

Can we please look into updating the dependency?

Or does this compete with #4273?

Thanks :heart_decoration:

[2020-01-27 16:26] calebcartwright commented on #4586
Hi @xasx, thanks for the question!

I don't think that's correct. If you take a look at the latest on master, you'll see that we're already bumped to 2.3.0, that particular commit just hasn't been deployed to production Shields.io yet.

https://github.com/badges/shields/blob/a8fbc5a179dde7c1ed351e680d746daebb221383/package.json#L62

And Production Shields.io is running 2.1.0 of simple-icons, not 1

[2020-01-27 16:28] #4586 closed

[2020-01-27 19:03] xasx commented on #4586
Thank you for clarifying.
Don't know what I must have been looking at, old branch probably.

🤎 Like it!

[2020-01-28 01:45] calebcartwright opened #4587 "Switch GitHub Workflow Status Badge to API"
There's now GitHub Actions/Workflow specific APIs that are available, and we'll probably want to switch over to use them (we're currently svg scraping since APIs weren't readily available/limited when we first rolled out support)

Details on the v3 API linked below, though we should probably see if the v4 endpoints are available first.

https://developer.github.com/v3/actions/
https://github.com/b

[2020-01-28 02:02] calebcartwright opened #4588 "MavenMetadata Service Test Failing"
:clock11: **When did the problem start?**
~ 15th of January

:camera: **Live badge**

https://img.shields.io/maven-metadata/v?metadataUrl=https%3A%2F%2Frepo1.maven.org%2Fmaven2%2Fcom%2Fgoogle%2Fcode%2Fgson%2Fgson%2Fmaven-metadata.xml
![](https://img.shields.io/maven-metadata/v?metadataUrl=https%3A%2F%2Frepo1.maven.org%2Fmaven2%2Fcom%2Fgoogle%2Fcode%2Fgson%2Fgson%2Fmaven-metadata.xml)

:wrench: **I

[2020-01-29 00:18] #4588 closed

[2020-02-01 20:59] PyvesB commented on #4564
The Twitter poll ended a couple of days ago (I set it to the maximum duration of one week), here are the results:
![poll](https://user-images.githubusercontent.com/10694593/73598012-a1941180-452a-11ea-8619-3c55563c0444.png)

I'm reasonably happy with the number of voters, hopefully we will get even more in future polls as we grow our community there!

The Discord poll didn't get much attention, on

[2020-02-02 18:20] calebcartwright commented on #4564
My suggestion would be that if we decide that we want to deprecate that we give users some final period to present those arguments, as folks may or may not have realized they needed to make any arguments to accompany their votes. Perhaps another tweet along the lines of: `We're currently planning to remove raster support and will have a closing X week period to allow users to make an argument for

[2020-02-03 03:27] aantron commented on #3200
In light of the last couple comments, could you please reopen this issue? Alternatively, I can summarize them in a new one.

[2020-02-03 22:34] #2413 closed

[2020-02-04 00:18] devhawk commented on #4182
https://docs.microsoft.com/en-us/azure/devops/artifacts/package-badges?view=azure-devops

[2020-02-04 00:50] onovotny commented on #4182
@devhawk the issue with that is that it doesn't show prerelease package versions.

[2020-02-04 19:43] #2127 closed

[2020-02-05 07:55] #4410 closed

[2020-02-05 10:33] nigredo-tori commented on #3558
Has this been silently [solved](https://hub.docker.com/r/shieldsio/shields) around two weeks ago? :smile:

[2020-02-07 23:15] paulmelnikow opened #4636 "Transition service test runner away from deprecated GitHub auth method"
This came in by email:

Just one URL that was accessed with a token and User-Agent combination will be listed in the email reminder, not all.

Looks the only place we're using the `?access_token` query param is in the service test runner, so that's good.

[2020-02-08 19:51] alx-xlx opened #4637 "[Github] Traffic Badges - Views, Clones, Paths, referrers"
:clipboard: **Description**

It will be great if we can have Traffic Badge that will show us Total Number of Clones/Views that a Github repository gets. As of now only the owner of repository has access to this data in the `Repository>Insight>Traffic`

:link: **Data**

- API key (not sure BUT some sort of authentication is needed)
- API Doc - https://developer.github.com/v3/repos/traffic/

:microp

[2020-02-09 16:58] chris48s commented on #4637
The same is true via the API:

[code]

We could not offer this badge on shields.io because the user would have to expose a token allowing an attacker write access to their repo.

I guess it could possibly be a feature for self-hosting users only.

[2020-02-09 19:00] alx-xlx commented on #4637
I tried to host this php file in my server and then used it to get the data and then query it in shields.io Dynamic

[code]

I am not good in php but my past experience shows that sometimes the whole php code gets visible in the browser.
Is there some alternatives ?

[2020-02-09 19:05] calebcartwright commented on #4637
@alx-xlx - due to the user-specific authorization requirements @chris48s detailed above, this is not something that can be added natively to the Shields.io service. The only path I could see that would allow you to get these types of badges would be via Shields.io [endpoint badge](https://shields.io/endpoint).

You would need to develop a little api/endpoint that was capable of retrieving the data

[2020-02-09 20:18] chris48s commented on #4637
Good call. I should have thought to suggest that :+1:

[2020-02-10 06:58] nigredo-tori opened #4639 "Nexus badges with custom repository don't automatically detect Nexus 3"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [x] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

Shields created for Nexus 3 servers using the "Sonatype Nexus (repository)" UI say that the artifact is not found. Explicitly setting the `nexusVersion` parameter fixes the issue - but the parameter

[2020-02-10 08:25] nigredo-tori opened #4640 "Nexus 3 "releases" badge searches all repositories"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [x] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

Building a badge with the "Sonatype Nexus (releases)" UI results in a request to Nexus that doesn't restrict the repository in which the search is performed. This means that it can also return snapsh

[2020-02-10 08:33] nigredo-tori commented on #4640
Looks like it should be enough to add `prerelease=false` to the request parameters.

[2020-02-10 22:53] alx-xlx commented on #4637
Thanks for the help, I finally did it :)

[2020-02-11 04:15] calebcartwright commented on #4637
Glad to hear it @alx-xlx! I'm going to close this out accordingly, though feel free to ping us again here and/or on Discord if you have any other questions

[2020-02-11 04:15] #4637 closed

[2020-02-12 09:46] KumarAbhirup opened #4641 "pkgreview.dev: Average Ratings Badge"
:clipboard: **Description**
Heya! I am the creator of [pkgreview.dev](https://pkgreview.dev)... Launched yesterday. [See this tweet](https://twitter.com/kumar_abhirup/status/1226549898163740673)!

[pkgreview.dev](https://pkgreview.dev) is a Ratings and Reviews website for #NPM packages where people could thank maintainers enough for their work! ⭐️⭐️⭐️

- **Which service is this badge for?** 👉 [pkg

[2020-02-12 18:24] jingpengw commented on #4185
the docker cloud link works for me.

[2020-02-12 20:27] chris48s commented on #4564
Live and learn, but in retrospect, "do you want more features, or less features" maybe wasn't actually the best question.

Perhaps if we had asked something more like:

we might have ended up with a clearer picture.. or possibly just a differently ambiguous one.

Either way, it would be useful to pick a way forward.

The more I think about this, I'm fairly convinced that we don't actually need to

[2020-02-13 01:15] RadAd opened #4642 "Auto discovery of shippable id"
Currently shield.io requires the shippable id to be used in the badge url.
ie https://img.shields.io/shippable/[id]

Shippable have recently changed their urls to use git hub details:
ie https://app.shippable.com/github/[user]/[repo]/dashboard

This dashboard shows the shippable id.

Would it be possible for shield.io to use a badge url of the form:
https://img.shields.io/shippable/github/[user]/[

[2020-02-13 02:52] calebcartwright commented on #4641
Thanks for the request/suggsetion @KumarAbhirup and all of the above details! I have a few comments and questions for you.

First up, questions:
* Thank you for confirming the API does not require a token. I'm assuming you're planning on that always being the case, as presumably this service would only be applicable for public packages on the various registries and never deal with private packages

[2020-02-13 03:28] calebcartwright commented on #4642
Hi @RadAd thanks for reaching out. AFAICT, the Shippable REST API that Shields has to use to get the status from Shippable still requires the project id to be provided.

http://docs.shippable.com/platform/api/api-overview/#!/Runs/get_projects_projectId_branchRunStatus
api.shippable.com/projects/:projectId/branchRunStatus

Are you saying that is no longer the case, and if so can you provide a worki

[2020-02-13 03:38] calebcartwright commented on #4564
Fair enough!

It'd help a bit yes. Again I don't feel too strongly on this, so if the consensus is for removal (and seems that's where the majority is) then we should proceed with removal. I do still think though it'd be good to do a final shoutout/RFC period like a suggested above in https://github.com/badges/shields/issues/4564#issuecomment-581162238, just for the sake of excessive transparency

[2020-02-13 04:08] RadAd commented on #4642
No it looks like the shippable api still requires the shippable id.
I was just wondering if shield.io could look up the id from the dashboard.

[2020-02-13 04:16] calebcartwright commented on #4642
To be honest I doubt it, both for strategic and technical reasons.

We really try to avoid scenarios where Shields has to make multiple API calls in sequence to an upstream provider just to get the data needed to create the badges (for performance/latency, rate limiting, etc.)

For such a thing to even be technically possible, Shippable would have to provide an API that could be used to lookup and

[2020-02-13 12:23] KumarAbhirup commented on #4641
Thanks for your reply @calebcartwright !

**Answers to the questions...**

1. **Thank you for confirming the API does not require a token. I'm assuming you're planning on that always being the case, as presumably, this service would only be applicable for public packages on the various registries and never deal with private packages or packages that would require auth?**
  - **Yes.** This service

[2020-02-13 21:17] #4530 closed

[2020-02-14 10:00] c0ncentus commented on #714
hi,

I suggest to have these info :
![image](https://user-images.githubusercontent.com/25374826/74520799-940e5c80-4f18-11ea-97e7-ba5fcf4cd197.png)

thats maybe cool to make badge for the number of commit on develop and/or number commit monthly without version indicator.

[2020-02-14 22:09] chris48s opened #4655 "migrate away from request"
:clipboard: **Description**

Request is no longer maintained:

https://github.com/request/request#deprecated

We need to switch to a different library. This is going to be an absolutely monstrous job.

@calebcartwright you mentioned in https://github.com/badges/shields/pull/4644 that there has been some discussion around this already. I couldn't find an issue anywhere. Do you have any kind of summ

[2020-02-14 22:20] calebcartwright commented on #4655
I believe it was in one of the private channels on Discord, will try to dig it up. IIRC we didn't go into much detail, just that it'd need to be replaced and that we'd have to keep in mind Self-hosting Shields server users which currently benefit from requests ability to auto-detect and honor the standard proxy env vars (something I believe is missing from most request alternatives

[2020-02-15 05:23] Raymo111 opened #4656 "AUR Info"
:clipboard: **Description**

So much more info could be captured from AUR!
 - Popularity
 - Maintainer
 - Last Packager
 - Last Updater
 - Package base
 - Out-of-date or not
 - PKGBUILD Version

:link: **Data**

Same wasy as existing AUR badges.

:microphone: **Motivation**

I think it's cool. It's also informative. Let me know if you want help with this. I'd gladly implement all of the above.

[2020-02-15 17:51] calebcartwright commented on #4642
@RadAd - I'm going to close this one out given the above. Please feel free to circle back on this if things change on the Shippable end to make this possible from a technical standpoint, but it's not actionable at this time.

Thanks for the suggestion though!

[2020-02-15 17:51] #4642 closed

[2020-02-15 17:53] calebcartwright commented on #4641
Exactly!

This should be really straightforward to implement, and good opportunity for anyone wishing to contribute to Shields (even first time contributors!).

We've a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) if you or anyone else is interested in implementing this, and we're available here and on Discord if anyone has questions on implementation.

[2020-02-15 18:12] calebcartwright commented on #4656
hi @Raymo111 👋 thanks for reaching out, and the willingness to contribute!

As you probably already know, Shields currently provides `version`, `license`, and `votes` badges for AUR
https://img.shields.io/aur/license/android-studio
![](https://img.shields.io/aur/license/android-studio)

https://img.shields.io/aur/version/android-studio
![](https://img.shields.io/aur/version/android-studio)

https:

[2020-02-15 20:54] chris48s commented on #4656
In general, if you want to submit PRs for additional AUR badges, that's fine but if we're going to take on that review/maintenance overhead, lets ensure we're adding badges for things that at least someone actually wants to use, rather than just everything that we can get out of the API.

If you're interested in submitting a PR, there is a [tutorial](https://github.com/badges/shields/tree/master/d

[2020-02-15 20:56] Raymo111 commented on #4656
Will do. I'll take a look at the APIs and tutorial and I'll submit a PR if necessary.

[2020-02-15 21:32] PyvesB commented on #4640
Hello @nigredo-tori! Thanks for pointing this out! This was an oversight when I worked on  #4557, I assumed `prerelease=false` was the default. Would you like to submit a pull request? I'm happy to pick this up otherwise. 😉

[2020-02-15 21:35] PyvesB commented on #4639
Hi @nigredo-tori, thanks for reporting. The fallback logic implemented in #4557 may no be working as expected, will look into it. 😉

[2020-02-15 21:57] PyvesB commented on #4565
Sessions seem to last for three hours, so it would indeed be beneficial to cache them. Storing the session key as property in the service class and getting a new one when it expires could be a simple way of handling this!

[2020-02-15 22:06] PyvesB commented on #4564
@chris48s good point, you''re probably right about the survey's options. It was a good first try, but we can definitely try and make things less ambiguous next time round.

Will send round a final shoutout as suggested above in the coming days!

[2020-02-16 03:21] nigredo-tori commented on #4640
From my limited experimentation, the default is to not filter at all. So there are 3 possible states:
- `prerelease` is absent - we get both snapshots and releases;
- `prerelease=true` - we only get snapshots;
- `prerelease=false` - we only get releases.

Sure, I'll try and do this myself today. Both the fix and the test for it should be relatively simple.

[2020-02-16 07:39] nigredo-tori commented on #4640
Done. I've spent far more time setting up the environment than actually fixing this. For some reason check-node-version failed miserably with Node/yarn installed via `Snap`, but I have no energy left to dig into it.

[2020-02-16 11:45] KumarAbhirup commented on #4641
Hi 🙌

Pull Request #4660 will handle this issue.

I have created badges. It works fine for slugs like `/npm/react`...
But does not work fine for slugs like `/npm/@babel%2Fcore`.

To make it work, I will have to use `encodeUriComponent()` JavaScript Function. But I am not sure how it fits with shields.io routing mechanism.

Need your help here.

[2020-02-16 12:02] PyvesB commented on #4640
Ah yes, you're probably right! Still wish this was documented, as the meaning of such a flag can be ambiguous! 😄

Do you have a more specific error message? What is you Node.js version (`node -v`)?

[2020-02-16 12:17] nigredo-tori commented on #4640
No, and I'm not eager to roll back all the changes I did to reproduce it. IIRC, `npm ci` just complained about needing Node 8 or higher - and that happened with Node 12, 10 and 8 (whatever the corresponding stable Snap channels happened to have). I tracked it down to `node_modules/check-dependency-version/bin.js --node '>=8.0'` or something like that, which printed something to the tune of
[code]

[2020-02-16 12:32] #4636 closed

[2020-02-16 12:39] PyvesB commented on #4640
Fair enough - let's not worry too much if you managed to solve it in the end.

[2020-02-16 12:41] chris48s commented on #4641
use `pattern: ':pkgManager/:pkgSlug+'`

[2020-02-16 12:44] #4640 closed

[2020-02-16 15:56] KumarAbhirup commented on #4641
Thank you so much @chris48s ! It worked!

Undrafted the PR for you guys to review :)

[2020-02-16 16:54] runxel opened #4661 "Color of badge text"
:clipboard: **Description**

In terms of accessibility it would be great if there would be a threshold of lightness in color so we would get _dark_ text on light badge colors automatically.
They can be extremely hard to read otherwise, which means you need dark and saturated badge colors, which limits the users.

[2020-02-16 21:15] PyvesB commented on #4639
From what I can tell with some further testinh, when hitting a Nexus 3 endpoint with Nexus 2 paths:
* `service/local/lucene/search` returns a 400 status code.
* `service/local/artifact/maven/resolve` returns a 404 status code.

The fallback logic only covered the first case. Handling the second one in the same way should do the trick, will submit a pull request shortly.

[2020-02-16 21:31] PyvesB commented on #4661
Hi @runxel, thanks for opening this issue! Do you have an example of badge that reads poorly?

[2020-02-16 22:47] chris48s commented on #4661
refs #504 (but not an exact dupe)

Slightly contrived example as you can only use white on a custom badge, but I guess we're trying to avoid stuff like:

![](https://img.shields.io/badge/hard%20to-read-white) - https://img.shields.io/badge/hard%20to-read-white

We do have some existing code for the logos which tries to avoid light logo/light background and dark logo/dark background combinations e.

[2020-02-17 07:22] cagross commented on #2785
Hello.  I'm also experiencing this issue.  I've confirmed that the front end of my repo shows releases, yet the API shows no releases:

- Here is the [repo in-question](https://github.com/cagross/outdated-plugin-notifier)).

- Here are the releases displayed on the repo's front-end:  https://github.com/cagross/outdated-plugin-notifier/releases

- Here is what the API sees:  https://api.github.com/

[2020-02-17 14:14] runxel commented on #4661
Exactly, of course I am speaking of badges with custom colors.
It's even worse with the flat style, since the text has no drop shadow there.

[2020-02-17 19:51] sageworksstudio commented on #2785
@cagross

What is confusing you is exactly what confused me. That when you push a tag, it shows up under your releases tab in GitHub, but not in the API.

To solve the issue you just need to actually click the "Draft a new release" button, and _manually_ create a new release. Only then will your release will show up in the API. Also sometimes the API is behind what you see in the repo, so give it

[2020-02-17 20:04] paulmelnikow commented on #2785
By the way, this is a really common challenge that people run into. If anyone is up for adding documentation to the Shields badge popup for the GitHub releases badge which explains this, that'd be much appreciated! There's a `documentation` key in https://github.com/badges/shields/blob/master/services/github/github-release.service.js which can be filled with HTML. If you need help making that chan

[2020-02-17 21:44] PyvesB commented on #4661
Okay, good to hear that it only seems to be a problem when a user specifies a colour rather than with the default badges we provide.

Our [specification](https://github.com/badges/shields/blob/master/spec/SPECIFICATION.md) does mention contrast and background colours, it would probably need some clarification if we decide to vary the text colour.

Thanks for pointing to the existing logo functiona

[2020-02-17 21:57] PyvesB commented on #504
@hugovk what you're suggesting has also been proposed in #4661. I'm personally more in favour of just having black and white automatically switching based on contrasts, rather than allowing full colour customisation as initially suggested by this issue. This keeps our badges more consistent and more readable (coloured text often being harder to read), without any user action needed to override the

[2020-02-17 22:23] runxel commented on #4661
Sorry if I was not clear enough in my initial statement, @PyvesB! My bad.

Well, I would have a look, but I think I definitely need to get at least some rough pointers where to look 😅

[2020-02-17 23:15] hugovk commented on #4661
Yes, https://github.com/badges/shields/issues/504#issuecomment-560118266 has screenshots of readable GitHub labels (auto black on pale colour, auto white on dark colour) and the same colour badges (readable white on dark, hard to read white on pale).

[2020-02-18 07:43] joonas-fi commented on #4530
Same here, my new project has reported "unknown" image size for days even though DockerHub tells me the image exists.

[2020-02-18 07:48] nightah commented on #4530
With #4562 being merged in this will be a viable alternative to utilise over Microbadger, just waiting on this to be deployed and you'll be able to enjoy the benefits of a direct DockerHub integration.

[2020-02-18 07:52] joonas-fi commented on #4530
Oh nice! Thank you for bringing that alternative to my attention. And nice work on doing it! 👍

[2020-02-18 10:43] cagross commented on #2785
@sageworksstudio OK thanks for that.

OK I understand that the API doesn't think I have any releases. But if I manually create new releases now, I'm a bit confused as to what will occur.  The GitHub front-end seems to already indicate that my repo has four releases--they are attached to the expected and desired tags/commits ([screenshot](https://i.imgur.com/axmPDbI.jpg)).  Let's say I follow your

[2020-02-18 12:09] calebcartwright commented on #2785
@cagross - fundamentally the problem here is that git tags and GitHub releases are separate, distinct types of entities. The GitHub platform is very well aware of the distinction (so you won't confuse GitHub), but there's one place in the GitHub UI that often confuses users into thinking that git tags and GitHub Releases are synonymous.

[tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging) ar

[2020-02-18 15:40] cagross commented on #2785
OK thanks for that.  It was very comprehensive and illuminating.

Indeed this is the confusing part.  If a Release page contains no releases, it would help if it explicitly indicated something like that.  It's especially confusing for the noobs :-)

ANYWAY, now that we've established my GitHub repo has no releases, I'd like to properly create them.  My repo has four tags:  v1.0.0, v1.0.1, v1.0.2,

[2020-02-18 19:01] chris48s commented on #2785
yep - for more info, github has a walkthough on creating a release from a tag you can follow: https://help.github.com/en/github/administering-a-repository/managing-releases-in-a-repository#creating-a-release

we could probably link to that in the docs

[2020-02-18 22:17] PyvesB commented on #4661
If I'm not mistaken, some of the logo logic lives in this part of the code:
https://github.com/badges/shields/blob/a7b7cc00b52e51f8f74b39df1903cf5bf3bf31a9/lib/logos.js#L85

[2020-02-19 09:33] cagross commented on #2785
@chris48s OK thanks for that.  I was able to add my releases as desired and as expected.  In-turn, they appeared in the GitHub web API for my repo, and the 'GitHub release (latest by date)' shield was able to display the correct info.  So my issue is resolved--great!

@paulmelnikow At this point, if you still want, I can add the documentation you mentioned.  But to be clear, what is the, "...Shiel

[2020-02-19 09:57] dreamyguy commented on #593
I understand the concerns about security when information is behind tokens, in general terms.

But is build status such a big deal? Perhaps a subjective question out of a GitHub issue's scope, but I suppose those interested in showing the badge would be well aware of the "risk" they would be taking, in this case.

A statement like "we can't handle the load caused by opening up for private repos" w

[2020-02-19 15:03] fauust opened #4663 "Docker builds PB?"
:clock11: **When did the problem start?**

I don't know...

:camera: **Live badge**

https://img.shields.io/docker/build/fauust/docker-systemd-debian10?logo=docker

[![docker build status](https://img.shields.io/docker/build/fauust/docker-systemd-debian10?logo=docker)](https://hub.docker.com/r/fauust/docker-systemd-debian10)

:wrench: **Is the live badge working?**

No, it says "repo not found"

[2020-02-19 16:04] calebcartwright commented on #4663
Hi @fauust

You need to use the Docker cloud build badge, not the old build badge which exists to support repos created before the Docker hub merge a few years ago

https://img.shields.io/docker/cloud/build/fauust/docker-systemd-debian10?logo=docker
![](https://img.shields.io/docker/cloud/build/fauust/docker-systemd-debian10?logo=docker)

Refs/duplicate of #1400, #3140, and #4493,

[2020-02-19 16:04] #4663 closed

[2020-02-19 20:33] Horcrux7 commented on #1125
With the maven repo https://plugins.gradle.org/m2/  and the Maven metadata URL it work for me.

[![Maven metadata URL](https://img.shields.io/maven-metadata/v?label=Plugin&metadataUrl=https%3A%2F%2Fplugins.gradle.org%2Fm2%2Fde%2Finetsoftware%2Fjwebassembly%2Fde.inetsoftware.jwebassembly.gradle.plugin%2Fmaven-metadata.xml)](https://plugins.gradle.org/plugin/de.inetsoftware.jwebassembly)

`[![Maven

[2020-02-20 10:25] KumarAbhirup commented on #4641
#4660

Pull Request almost done 😇

[2020-02-22 00:17] #4639 closed

[2020-02-22 00:17] FujiMakoto opened #4681 "Github Workflow badges on private repos not working"
Are you experiencing an issue with...

- [ ] [shields.io](https://shields.io/#/)
- [x] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

Probably related to #4587
I'm guessing since you're currently just scraping this badge from GitHub, support for private repositories is currently not provided (even when you are running your own inst

[2020-02-22 00:45] calebcartwright commented on #593
The rationale for the decision is articulated above, and it has absolutely nothing to do with load.

AFAIK there's only two badges that accept a token in a route/url param (`codeceov` and `circleci`). If we could we'd remove them, but they still exist because we can't remove/break existing badges.

I understand why folks want badges for their private repos/projects, and that the fact that codecov

[2020-02-22 00:56] calebcartwright commented on #4681
hi @FujiMakoto 👋

Thank you for opening the issue, but this is expected behavior. The Shields.io service does not support badges based on content/artifacts in private GitHub repos (see #593).

We're currently providing our workflow status badges via svg scraping of the [native GitHub badges](https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#adding-a-workf

[2020-02-22 00:56] #4681 closed

[2020-02-22 20:52] FujiMakoto commented on #4681
Hey @calebcartwright !

Thanks for the reply. I actually **do** self-host my own Shields server for this reason. Just to confirm, when you do migrate to utilize the API (#4587), will this grant Shields access to my private repo so it can pull workflow status from it like it can for other badges on my private repos?

[2020-02-22 20:55] #4641 closed

[2020-02-22 21:31] calebcartwright commented on #4681
Oops! I see that now in your OP, apologies.

Yes. The API calls Shields issues to GitHub all include auth info in the request, so once Shields is switched to the API then the workflow status badges will just start working too.

[2020-02-23 12:23] PyvesB commented on #4564
Users have been informed about a two weeks closing period to share any final thoughts they may have:
https://twitter.com/Shields_io/status/1231554520842473472

Unless we've got strong views expressed in user feedback, we can merge #4523 sometime after March 8th.

[2020-02-23 12:30] bskinn commented on #4564
Caveat: I've only used the shields.io interface.

Given that perspective, though, I think @chris48s made all the argument that really needs making: if achieving the same result for rastered badges just takes passing the SVG output through imagemagick, which sounds like is already a dependency, then there's no need for the raster output in CLI or NPM.

Dropping it would make the shields tool fit be

[2020-02-23 13:12] PyvesB commented on #3635
It's fair to say that we won't be bringing the popout style at this point in time, so I'm going to go ahead and close this issue.

As a summary, the reasons that have pushed us to drop this feature:
* consistency is one of the goals of the Shields project and this format worked against that.
* its usage was very low.
* it caused some maintenance overhead and additional work would have been needed

[2020-02-23 13:12] #3635 closed

[2020-02-23 16:41] ouuan opened #4682 "Github (pre-)release downloads count latest by SemVer"
**Edited by calebcartwright**: for anyone interested in implementing this, detailed steps/guidance can be found at the bottom of the thread, [here](https://github.com/badges/shields/issues/4682#issuecomment-590168537)

<hr />
:clipboard: **Description**

Make it able to get the number of downloads of the latest Github (pre-)release sort by SemVer.

:link: **Data**

Getting the latest (pre-)release

[2020-02-23 19:17] calebcartwright commented on #4682
hi @ouuan 👋

Just to clarify, I assume you are specifically talking about the case where the specified `tag` is `latest`, correct? (i.e. `/github/downloads/:user/:repo/latest/total`). Otherwise when `tag` is an explicit value, the download count for that exact tag is provided, and there is no derivation of what the "latest" tag is

[2020-02-24 01:09] ouuan commented on #4682
Yes, I'm talking about the `tag` is `latest`. I know the download count for that exact tag is provided, I'm asking for automatically set the `tag` to the latest (pre-)release sort by SemVer instead of time.

[2020-02-24 01:35] calebcartwright commented on #4682
You likely already know much of the below, but recaping it anyway for clarity in response to your question.

Shields provides support for badges that display the download counts of GitHub Releases, with a few different varieties (which can also be configured to include or not include pre-releases):

1. the aggregated all-time download counts across all releases
`https://img.shields.io/github/downl

[2020-02-24 02:18] ouuan commented on #4682
You can think it's similar to `latest` or not. I think how you classify them won't affect me, right?

I've mentioned in the "Data" part of the description, I think the implementation should be like a combination of `/github/v/release/:user/:repo?sort=semver` and `/github/downloads/:user/:repo/:tag/total`. But, are you asking me how you should implement it? You can do whatever you like, I just want

[2020-02-24 02:48] calebcartwright commented on #4682
@ouuan - It is not entirely clear what feature you are asking for based on your original issue content, and some of your follow up responses and comments have only added to the confusion. That is why I've been asking you to clarify the request.

No.

I've only asked you to clarify _what_ exactly it is you are requesting because again, it is not clear. In my last comment I asked you to confirm if I

[2020-02-24 02:59] Prajwal-Koirala opened #4683 "Badge request: GitHub Sponsors"
Hey,
Can we add one for github sponsors

Thanks.

[2020-02-24 03:50] ouuan commented on #4682
1. Yes.
2. Yes.
3. No.

[2020-02-24 03:57] ouuan commented on #4682
I said "**make it able to** get the number of downloads of the latest Github (pre-)release sort by SemVer.", both the questions 2 and 3 can "make it able to", but 3 is to remove an existing feature, which is not good.

In fact, I'm not exactly asking for 2, because you can use any URL you like, no matter `https://img.shields.io/github/downloads-pre-semver/[your-github-user]/[your-github-repo]/late

[2020-02-24 05:04] calebcartwright commented on #4682
Great, thanks for confirming!

This should be a relatively straightforward enhancement to the existing badge so marking as a `good-first-issue`.

For anyone interested in implementing this, there's a few helpers in `github-common-release` that can be reused, and just a couple steps to incorporate them:

1. Add the `queryParamSchema` from `github-common-release` to the downloads service class route

[2020-02-24 05:08] calebcartwright commented on #4683
Hi @Prajwal-Koirala! Could you provide some additional information by responding to the below questions?

1. What sort of information should this badge show? Count of sponsors?
2. Would this be sponsors for a repo, org/user, both? (I think org sponsors are still in beta, but will be out at some point)
3. Where can the data be retrieved from/what's the API?
4. What's the use case/what value would i

[2020-02-24 05:12] Prajwal-Koirala commented on #4683
1. Yes the count of sponsors
2. org/user / sponsors have been to the public for some time now https://github.com/sponsors
3. not sure
4. getting more sponsors

[2020-02-24 05:15] calebcartwright commented on #4683
Per https://github.com/sponsors

I only noted the beta status because it is common for beta GitHub features to not have API availability or for the API documentation to not exists (we saw this with Actions and Packages for example).

[2020-02-24 12:13] lewisacidic opened #4684 "Badge request: Conda license"
:clipboard: **Description**

A badge displaying the license from conda

:link: **Data**

Conda API, just like the other conda services:

URL: api.anaconda.org/package/:channel/:package

field: license

:microphone: **Motivation**

Get license information for conda-only packages.

[2020-02-24 18:35] Bhargav-Rao opened #4685 "Drone configuration fails with "Check these paths: drone_token" while using a self-hosted instance of shields"
Are you experiencing an issue with...

- [ ] [shields.io](https://shields.io/#/)
- [x] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

I have been trying to set up a self hosted shields, with my own GH Enterprise server and my own self hosted Drone CICD server. It seems to be working fine until I add `drone_token` as one of the conf

[2020-02-24 21:05] chris48s commented on #4683
Info on sponsors is available via the v4 (GraphQL) API, but not the REST API.

https://developer.github.com/v4/object/sponsorship/

[2020-02-25 18:21] operatorequals opened #4686 "Common Vulnerability Scoring System (CVSS) badges"
:clipboard: **Description**
There is a thing called "*Common Vulnerability Scoring System(CVSS)*". This is a way to assign a 0 to 10 score to Security Vulnerabilities. You can find the official calculator here: https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator. It is the most popular Vulnerability Scoring System today, as most of the [CVEs](https://www.cvedetails.com/) get assigned a CVSS score

[2020-02-25 22:40] calebcartwright commented on #4685
Hey @Bhargav-Rao 👋 How are you setting the value for your Drone token? via an env var or adding it to the config file?

[2020-02-26 01:22] paulmelnikow commented on #4685
Either way, it seems like that schema is missing drone_token.

[2020-02-26 01:55] calebcartwright commented on #4685
Ahh so it is. TeamCity missing from this one too. Let me see if I can open a PR to fix this

[2020-02-26 02:12] Bhargav-Rao commented on #4685
Hey @calebcartwright, I'm setting it through an environment variable.

[2020-02-26 03:52] psprint opened #4687 "How to use the #3443 Reddit-subscribers badge?"
:question: **How to use the #3443 Reddit-subscribers badge?**

The badge seems to be deployed however searching for "reddit" on the `shields.io` page doesn't find anything. How to use the badge in a README on GitHub?

[2020-02-26 04:58] rayandrie opened #4688 "CocoaPods: Can't render version or platform badge for package with no license"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

:link: **Link to the badge**
- https://img.shields.io/cocoapods/v/Cotter.svg?style=flat
- https://img.shields.io/cocoapods/l/Cotter.svg?style=flat
- https://img.shields.io/cocoapods/p/Cotter.svg?styl

[2020-02-26 08:27] capachow opened #4690 "Badge request: Microsoft Edge Addons"
:clipboard: Extension version number (similar to the version tracking that shields provides for Chrome Web Store and Firefox Add-Ons extensions).

:link: https://microsoftedge.microsoft.com/addons/

[2020-02-26 08:31] capachow commented on #4690
Found a similar ticket that was already closed. 😅.

[2020-02-26 08:37] capachow commented on #4690
Thought it was a duplicated request/issue, but apparently "Microsoft Store" != "Microsoft Edge Addons". The word store through me off because of "Chrome Web **Store**" 🤪😅.

[2020-02-26 15:04] operatorequals commented on #4686
The issue looks resolved! I created a RunKit endpoint that evaluates CVSS strings to JSON responses and then used the `shields.io` endpoint functionality:
`https://img.shields.io/endpoint?url=https://cvss3-shieldio-lwepmks9elms.runkit.sh/?vector=AV:N/AC:L/PR:L/UI:N/S:C/C:H/I:H/A:N/E:P/RL:W/RC:C`:
![](https://img.shields.io/endpoint?url=https://cvss3-shieldio-lwepmks9elms.runkit.sh/?vector=AV:N/AC:

[2020-02-26 15:04] #4686 closed

[2020-02-26 16:46] b3u opened #4691 "For-the-badge ratio is off"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

:link: **Link to the badge**
The size of the for-the-badge style is not the same size as for-the-badge itself. The ratio is different.

Compare ![forthe-badge](https://forthebadge.com/images/badges/p

[2020-02-26 17:44] azisi commented on #4686
🎖

[2020-02-26 19:46] chris48s commented on #4687
searching for reddit works for me:

![Screenshot at 2020-02-26 19-39-00](https://user-images.githubusercontent.com/6025893/75381456-ac935500-58d0-11ea-9e80-54296924e9ae.png)

example badge https://img.shields.io/reddit/subreddit-subscribers/drums?style=social

[2020-02-26 19:54] chris48s commented on #4688
The reason these are all failing is because we expect the JSON response from Cocoapods to include the keys `version`, `license` and `platforms` (we use the same validator for all badges).
When we call https://trunk.cocoapods.org/api/v1/pods/Cotter/specs/latest we get a response without a `license` key.

[code]

You can probably fix this by declaring a license for your project, but if this is a val

[2020-02-26 20:53] psprint commented on #4687
Thanks!

[2020-02-26 20:53] #4687 closed

[2020-02-26 21:10] rayandrie commented on #4688
Hi Chris, thank you for your reply.

Thinking about it, a license should probably be a required parameter for an open-source CocoaPods project. Perhaps you're right about having a different validator since the JSON response is valid.

Thank you so much for your help!

[2020-02-26 21:20] paulmelnikow commented on #4691
Hmm, it's a different typeface too, isn't it! 😁

This code was refactored recently and hasn't yet been merged to master. I don't think that will fix the problem though if anyone would like to work on this, it should be on the [v3-dev branch](https://github.com/badges/shields/tree/v3-dev).

Happy to accept contributions (on that branch, for the time being) which bring our badges more inline with th

[2020-02-26 21:31] PyvesB commented on #4690
Hi @capachow , thanks for the suggestion! Is there an API available to get the version number?

[2020-02-26 21:33] PyvesB commented on #4684
Hello @lewisacidic, thanks for the suggestion! Would you like to submit a pull request? We've got a [nice little tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) to get you started. 😉

[2020-02-26 21:35] PyvesB commented on #4688
By the way @rayandrie , we're open to pull requests if you want to help us out! Changing the schema _should_ be quite simple even for a first time contributor. 😉

[2020-02-26 22:38] paulmelnikow opened #4692 "PyPI prerelease version badge"
:clipboard: **Description**

I just published a prerelease of tinyobjloader:

https://pypi.org/project/tinyobjloader/#history

As far as I can tell, there isn't a badge for displaying the latest prerelease version.

It looks like if there are _only_ prereleases, they do show correctly, e.g.

https://img.shields.io/pypi/v/black
![](https://img.shields.io/pypi/v/black)

:link: **Data**

It looks lik

[2020-02-26 23:13] vonas opened #4693 "Node module version from package-lock.json"
:clipboard: **Description**

[![npm](https://img.shields.io/npm/v/mermaid?color=teal&label=mermaid&logo=npm)](https://img.shields.io/npm/v/mermaid?color=teal&label=mermaid&logo=npm)
Shows the exact version of a package found in `package-lock.json`.

:link: **Data**

Retrieving the data should function pretty much the same way as it already works for `package.json`.

:microphone: **Motivation**

Th

[2020-02-26 23:37] paulmelnikow commented on #4693
Agreed this is a good idea. We have something similar for Pipfile.lock. (Actually we only look in Pipfile.lock, not in Pipfile.) Would be happy to have a PR for this! If you're interested in working on this and need help, feel free to post in this thread and a maintainer can answer your questions.

[2020-02-26 23:38] paulmelnikow commented on #4693
Sorry, to clarify, this would be for dependencies, correct?

[2020-02-26 23:39] chris48s commented on #4692
I think the reason we haven't done this is: With PyPI, we defer to the registry to tell us which is the "latest" version. Beyond that, PyPI's API doesn't explicitly mark releases as pre-release or stable. This means we would have to make our own decision about which releases are pre-release and which are stable.

Most (all?) packages on PyPI follow PEP440 rather than semver, so we'd need a javascr

[2020-02-26 23:46] vonas commented on #4693
That's correct.

I'll have a look at implementing this myself!

[2020-02-27 01:57] Croydon commented on #4114
I want to point out that this would be perfect for workflows which use versioned branches. At [Bincrafters](https://github.com/bincrafters) we do that for all Conan recipe repositories. The default branches therefore change regularly and having them hard-coded for a badge would be very painful

[2020-02-27 03:55] paulmelnikow commented on #4114
@Croydon Which badges are relevant to your versioned-branch use cases?

[2020-02-27 04:06] paulmelnikow commented on #4692
I don’t know if PyPI enforces PEP440 either. It does seem to normalize version numbers (e.g. if you upload a package with `beta6` it will allow fetching it with `beta6` but at least lists it as `b6`: https://pypi.org/project/polliwog/#history

Prereleases are defined in PEP440 and fortunately would be relatively easy to detect using regex.

One option that would solve my use case would be to have

[2020-02-27 09:24] lewisacidic commented on #4684
I've got no time for a few weeks - I'll put it on my list but it might take some time to get to it.

[2020-02-27 11:34] FredHappyface opened #4694 "Feature Request: Uppercase Parameter"
:clipboard: **Description**

Would there be any possibility of including a uppercase parameter for styles to have the text in uppercase as is the case for the 'for the badge' style but without the extra padding?

For example:

`https://img.shields.io/github/last-commit/FredHappyface/Nasm.LearningAsm`
![Last commit](https://img.shields.io/badge/last%20commit-today-brightgreen.svg)

`https://img.shi

[2020-02-27 15:48] Croydon commented on #4114
Specifically the GitHub Commit Status badge. In total we are using 4 different CI platforms and which are active vary from repo to repo. I would like to get rid of individual CI specific badges and replace them with a single button. The GitHub Commit Status badge seems perfect for this

[2020-02-27 16:54] S-B99 opened #4695 "Commits since badge is broken"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

The badge says repo or version not found.

[This](https://github.com/S-B99/kamiblue/releases/tag/v1.0.1) is the version I'm trying to use.

The badge worked previously, up until a few weeks ago. I th

[2020-02-27 17:26] the-j0k3r commented on #2574
I cant get this to work

https://github.com/bus-stop/x-terminal/workflows/main/badge.svg

[2020-02-27 17:28] chris48s commented on #4692
Just thinking about it in slightly more detail..

PyPI does flag releases as pre-release in the front-end (its just not exposed via the API):

![Screenshot at 2020-02-27 17-20-52](https://user-images.githubusercontent.com/6025893/75468750-a0b59a80-5985-11ea-9ce0-1ce9d8e7cc46.png)

Looking at the warehouse source, the code for doing that is:

https://github.com/pypa/warehouse/blob/1fbb4ac752e68b584

[2020-02-27 17:35] paulmelnikow commented on #2574
Ah, the `name` is defined in the YML file; it doesn't come from the name of the YML file.

https://img.shields.io/github/workflow/status/bus-stop/x-terminal/CI
https://github.com/bus-stop/x-terminal/workflows/CI/badge.svg

[2020-02-27 17:38] paulmelnikow commented on #4695
Hi, thanks for your question.

I think the problem is that the badge assumes your main branch is called master, so you need to tell it which branch you want to compare to.

https://img.shields.io/github/commits-since/S-B99/kamiblue/v1.0.1/feature/master?label=commits%20since&logo=git&logoColor=white
![](https://img.shields.io/github/commits-since/S-B99/kamiblue/v1.0.1/feature/master?label=commits%

[2020-02-27 17:41] paulmelnikow commented on #4694
Hi, thanks for the question. Since one of the goals of this project is consistency, I'd be 👎 on implementing this in the main Shields service. We try to limit the number of formats we support, and have removed one recently.

If you want to customize this, you could use the [Endpoint badge](https://shields.io/endpoint) to proxy the JSON result from Shields, reformat it, and emit it as you like.

[2020-02-27 18:04] paulmelnikow commented on #4114
I think it would be best to open a new issue for that. Though it sounds similar to the issue described here, the concerns are different. This issue is about whether to use githubusercontent.com as a shortcut for the [Contents API](https://developer.github.com/v3/repos/contents/).

[2020-02-27 18:25] FredHappyface commented on #4694
Ah that makes perfect sense. I may well take a look at that, thank you.

Thanks again 😁

[2020-02-27 19:54] S-B99 commented on #4695
Ooooh, alright, that would explain it. Thanks!

[2020-02-27 19:54] #4695 closed

[2020-02-27 23:24] calebcartwright opened #4696 "Npm Dependency Version Service Test Failing"
:clock11: **When did the problem start?**
~2 days ago (as of Feb 27th)

:camera: **Live badge**
https://img.shields.io/npm/dependency-version/mocha/dev/@mocha/docdash
![](https://img.shields.io/npm/dependency-version/mocha/dev/@mocha/docdash)

:wrench: **Is the live badge working?**
Yup

:link: **CircleCI link**
https://circleci.com/gh/badges/daily-tests/944

:beetle: **Stack trace**

[code]

:bul

[2020-02-27 23:49] #4696 closed

[2020-02-28 17:37] HariSekhon opened #4713 "GitLab returning "branch not found""
I'm sure this was working earlier today and now it returns "branch not found":

https://img.shields.io/gitlab/pipeline/harisekhon/devops-bash-tools

https://img.shields.io/gitlab/pipeline/harisekhon/devops-bash-tools/master

I've tried capitalising to match the repo names etc but no luck... eg.

https://img.shields.io/gitlab/pipeline/HariSekhon/DevOps-Bash-tools

You can see the pipeline runs here

[2020-02-28 21:29] chris48s commented on #4713
Hello.
Out gitlab badge scrapes gitlab's own badge.
For your repo, this is reporting the build status as unknown: https://gitlab.com/HariSekhon/DevOps-Bash-tools/badges/master/pipeline.svg We wrap that error as "branch not found" as that's also what we usually get for a non-existent branch.
Maybe in this case, there is another issue which is causing gitlab to not report a build status for your pro

[2020-02-28 22:47] HariSekhon commented on #4713
I've figured it out, this was an issue with GitLab itself, it's own status badge was unknown after deleting and re-instantiating a branch, so must have been an internal issue.

Having just kicked it off manually in GitLab it's now detecting it in their badge and yours.

Thanks

Hari

[2020-02-28 22:47] #4713 closed

[2020-02-29 11:22] HariSekhon opened #4715 "Wercker shields reporting "application not found""
When trying the Wercker shields they are not finding the application using the application id from the official wercker shields badge.

eg. these 2 addresses on wercker work with this id

https://app.wercker.com/status/c46a517909343e278c9ce354164394ae/s/master

https://app.wercker.com/project/byKey/c46a517909343e278c9ce354164394ae

so I infer the application ID to be `c46a517909343e278c9ce35416439

[2020-02-29 13:08] HariSekhon opened #4716 "Docker Cloud status reports failure, DockerHub reports not found, but clearly succeeding on DockerHub builds page"
The docker cloud badge is reporting build failing:

https://img.shields.io/docker/cloud/build/harisekhon/bash-tools.svg

while the DockerHub badge doesn't even find the repo:

https://img.shields.io/docker/build/harisekhon/bash-tools.svg

but if you go to the DockerHub website you can clearly see the last build succeed:

https://hub.docker.com/r/harisekhon/bash-tools/builds

Also is the behaviour

[2020-02-29 16:54] vonas opened #4717 "Example service is not listed on the main page"
Are you experiencing an issue with...

- [ ] [shields.io](https://shields.io/#/)
- [x] My own instance
- [ ] [gh-badges NPM package](https://www.npmjs.com/package/gh-badges)

:beetle: **Description**

I followed the [tutorial](https://github.com/badges/shields/blob/master/doc/self-hosting.md) step by step (though I didn't make a fork):

1. `$ git clone https://github.com/badges/shields`
2. `$ cd s

[2020-02-29 17:23] vonas commented on #4717
I've deployed this to heroku and the problem persists: https://stormy-peak-01315.herokuapp.com/.
You can see the exact content of the source file in `services/example/` here:
https://gist.github.com/vonas/f5243959a680c63ec0019e3abd37029c

[2020-02-29 17:32] vonas commented on #4717
Now everything works — I'm buffled.

[2020-02-29 17:32] #4717 closed

[2020-02-29 18:08] calebcartwright commented on #4715
The `/ci/:application` route is returning a badge not found 404, so there's definitely a bug in the routing there (haven't looked at the code yet but probably a redirector)

https://img.shields.io/wercker/ci/c46a517909343e278c9ce354164394ae
![](https://img.shields.io/wercker/ci/c46a517909343e278c9ce354164394ae)

For the `build` badge, you should use the application name and not the ID. However, it

[2020-02-29 18:19] HariSekhon commented on #4715
Thanks for the reply, I wonder if Wercker changed their API...

[2020-02-29 18:26] calebcartwright commented on #4716
The legacy `/docker/build/` badge is only to support repos that were created before the Docker hub merge a few years ago. `Not Found` is the expected result when attempting to use the legacy badge with non-legacy repos. See: #4663, #1400, #3140, and #4493

https://img.shields.io/docker/cloud/build/harisekhon/bash-tools
![](https://img.shields.io/docker/cloud/build/harisekhon/bash-tools)

Shields u

[2020-02-29 18:33] calebcartwright commented on #4715
I'm not sure what you are referring to. The **Wercker CI** badges refer to the application id but both the example listing and the badge builder window for the **Wercker Build** badges say application name:

![image](https://user-images.githubusercontent.com/13042488/75613124-a0391300-5aef-11ea-8ca1-2071dfcf1854.png)

![image](https://user-images.githubusercontent.com/13042488/75613134-b21ab600-5a

[2020-02-29 19:33] PyvesB commented on #4715
You're using the wrong ID for your CI badge. It should be `5e53ee68d1f86d0900f031dc` instead of `c46a517909343e278c9ce354164394ae`. The string you were using is the "badgeKey", which is an identifier Wercker uses for their own badges. This explains the 404, as Shields expects an identifier of 24 characters to be provided.

Shields displaying `not built` for the Build badge can be explained by the

[2020-02-29 22:13] znarf opened #4719 "Inefficient caching of node_modules in CI"
Currently, in CircleCI configuration, we can see the following (simplified code).

[code]

This doesn't make sense because the `npm ci` command is actually deleting the `node_modules` folder before proceeding. As outputted in every CI job:

[code]

Potential solutions:
- a) switch to `npm install`
- b) keep `npm ci` but cache the `~/.npm` folder
- c) remove caching (would save 30 seconds compared

[2020-03-01 17:05] calebcartwright commented on #4715
Good catch @PyvesB!

So the badge url should be
https://img.shields.io/wercker/ci/5e53ee68d1f86d0900f031dc
![](https://img.shields.io/wercker/ci/5e53ee68d1f86d0900f031dc)

I'll open a PR to try to enchance the inline example doc on the CI badge

[2020-03-01 19:04] paulmelnikow commented on #4719
Hi! Thanks for looking into this!

We shouldn't use `npm install`, I don't think, unless there's an option that tells it to install using only the lockfile. (If we install newer or variable versions of dependencies, that would defeat the point of using the lockfile.)

For caching to work, we'll need to cache via CircleCI workspaces. See #1937 which is when this started. (Probably we should pick on

[2020-03-01 21:02] znarf commented on #4719
@paulmelnikow Not sure about caching via CircleCI workspaces as I'm not familiar with it.

In the meantime, I recommend to follow my 3d proposal and remove the caching. There is no point in keeping it if it does nothing and takes extra time.

[2020-03-01 21:11] paulmelnikow commented on #4719
I'm fine with that, we can remove the caching. Maybe it's worth opening a new issue to reimplement caching using workspaces, and reference both of these.

[2020-03-01 21:27] HariSekhon commented on #4715
@PyvesB thanks for the response. Where did you get `5e53ee68d1f86d0900f031dc ` from? In the Wercker UI -> workflows -> build pipeline page I see `5e53ee690783f9080047a6ce`

![image](https://user-images.githubusercontent.com/2211051/75634107-8d633300-5c02-11ea-828a-011462e1ac74.png)

but pasting that in results in`build invalid`:

![image](https://user-images.githubusercontent.com/2211051/75634114-

[2020-03-01 21:27] HariSekhon commented on #4715
@calebcartwright using the name on the builds badge doesn't seem to work either:

![image](https://user-images.githubusercontent.com/2211051/75634208-7cff8800-5c03-11ea-81a0-395957a66a8b.png)

[2020-03-01 21:47] calebcartwright commented on #4715
@HariSekhon -
`5e53ee690783f9080047a6ce` is your pipeline id, which is yet another Wercker-maintained id that will not work. The Shields Wercker CI badges need the application id, and I've opened #4723 to add inline text on the badge modal with the API call users can use to determine their Wercker Application Id

You can use the Wercker Application Get API for your app to find your application id

[2020-03-01 21:49] calebcartwright commented on #4719
If we can shave 30 seconds off every CI job without losing anything and without causing CI failures (intermittent or otherwise) then I'm a +1 on the change

[2020-03-01 21:49] PyvesB commented on #4715
So, I got it from the API directly https://app.wercker.com/api/v3/applications/harisekhon/DevOps-Bash-tools . I don't have an account with any applications, but I would be surprised if it wasn't visible anywhere in the UI (I imagine users would have complained about this already otherwise).

Not sure what you mean. What isn't working?

[2020-03-02 17:27] #4715 closed

[2020-03-02 18:07] HariSekhon commented on #4715
This was working with the correct ID but is now failing with this:

<img width="401" alt="Screenshot 2020-03-02 at 6 06 44 PM" src="https://user-images.githubusercontent.com/2211051/75704131-b17d4d80-5cb0-11ea-862c-96da24ed074f.png">

[2020-03-02 18:10] HariSekhon commented on #4715
Also, technically shouldn't this work by name on the build page, this is the name field returned by the API:

<img width="456" alt="Screenshot 2020-03-02 at 6 09 46 PM" src="https://user-images.githubusercontent.com/2211051/75704335-1769d500-5cb1-11ea-99d5-8e2dac6a896f.png">

[2020-03-02 18:42] calebcartwright commented on #4715
What exactly are you asking @HariSekhon? If your question is:

Why is the Wercker Build badge showing `not built` for your DevOps-Bash-tools project`

Then please refer the answers @PyvesB  and I have both provided above in various responses. We can't tell you why the Wercker API is returning the response that is, you will have to ask Wercker that question.

I cannot reproduce that. You may want t

[2020-03-02 21:49] PyvesB opened #4725 "Ignore whitespaces in frontend input"
:clipboard: **Description**

From @calebcartwright  in #4715:

To be honest, this happens to me quite often when using the UI, and the error messages generally aren't helpful (e.g. 404 badge not found, invalid query parameter, etc.). Could we make the frontend code trim user inputs when generating the preview and the URL? Do you have cases in mind where leading or trailing spaces are actually vali

[2020-03-02 22:42] AlexWayfer opened #4726 "Wrap badges into links"
:clipboard: **Description**

It'd be nice to have (copy) badges not only as images, but as images in links!

When it's supported (opened) by service.

### Actual behavior

Markdown for Cirrus CI `AlexWayfer/flame` repository:

[code]

The same for Travis CI: https://travis-ci.org/puma/puma

Circle CI: https://circleci.com/gh/rubocop-hq/rubocop/tree/master

Etc.

### Expected behavior

[code]

[2020-03-03 01:22] calebcartwright commented on #3592
@GeckoLisa - are you still interested in trying to implement this? No worries if not, we can unassign it in that case so anyone else that wants to work on it knows it is up for grabs.

[2020-03-03 10:21] HariSekhon commented on #4715
@PyvesB  / @calebcartwright thanks for the responses guys, sorry I was rushing out of the door to catch a train.

I don't think it was whitespace, I suspect I hit it too many times, both in browser and because I wrote a couple scripts to query the API and parse the json and easily get the application id... I've since reproduced it today.

I was hitting

https://img.shields.io/wercker/ci/5e53ee68d1

[2020-03-03 15:49] capachow commented on #4690
I am not 100% sure; couldn't find any when I checked a few days ago. I would be surprised if they didn't, but you know... Microsoft. :P.

[2020-03-03 19:43] platan commented on #3946
I'm working on PaaS-friendly metrics and I'm going to create a pull request soon.

[2020-03-03 20:59] PyvesB commented on #4726
Hi @AlexWayfer,

We support links in badges, for example:
https://img.shields.io/cirrus/github/AlexWayfer/flame?link=https://cirrus-ci.com/github/AlexWayfer/flame

Is this what you're looking for?

[2020-03-03 21:01] AlexWayfer commented on #4726
Hm, sorry. I'm talking about this:

![image](https://user-images.githubusercontent.com/6510020/75819195-3d73a000-5dab-11ea-8ba4-2432c91c8522.png)

So, I'd like to copy Markdown of badge with link.

[2020-03-04 00:23] calebcartwright commented on #4726
If I understand the request correctly, I _think_ it may be a duplicate of #3928

[2020-03-04 05:55] #4719 closed

[2020-03-04 08:18] xin-lai commented on #1209
？？

[2020-03-04 08:37] owenvoke opened #4728 "Badge request: Offset Earth for carbon offset/trees"
:clipboard: **Description**

I was thinking of opening a pull request for Offset Earth badges. I know that they are not currently  a service that is used widely by developers, however with projects such as [Treeware](https://treeware.earth) I think that this may become more popular.

I was thinking that to start with this could be two badges, one for the Carbon Offset in tonnes, and one for the nu

[2020-03-04 09:15] AlexWayfer commented on #4726
Thank you, let's try to merge it.

[2020-03-04 09:17] AlexWayfer commented on #3928
I didn't find this issue and I've created #4726.

I suggest to change this issue title and description from Travis to more common, because it's related to other services like Cirrus CI, Circle CI, etc.

[2020-03-04 20:39] chris48s opened #4730 "Credentials configured on self-hosted Shields instances may be sent to arbitrary URLs"
Discussion thread for https://github.com/badges/shields/security/advisories/GHSA-6qx4-g993-2225

### Who is affected?

1. Users who host their own instance of shields and have set credentials for any of the eight services listed below.

### Who is unaffected?

1. Users of the centralized service, https://shields.io/

    1. To avoid rate limiting problems, Shields has its own credentials for a few

[2020-03-04 21:06] PyvesB commented on #4728
Hi @owenvoke , thanks for opening this issue on the repository. Our [badge guidelines](https://github.com/badges/shields/blob/master/CONTRIBUTING.md#badge-guidelines) do state the following:

However, as said on Twitter, I think we should consider your suggestion anyway. Given the [negative impact that part of our industry is having](https://www.bbc.co.uk/news/technology-48853230), I like the idea