[2020-06-25 14:32] ShadyNagy opened #5242 "NuGet downloads problem"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

when using nuget/dt/ it is not working and give 0 download

:link: **Link to the badge**

https://img.shields.io/nuget/dt/ShadyNagy.Utilities.Extensions.svg

[2020-06-25 19:06] ShadyNagy commented on #5242
Now it is showing correct number.

[2020-06-25 19:06] #5242 closed

[2020-06-25 20:17] chris48s commented on #5188
Turns out this is actually going to happen the other way round
We'll still need to remove the explicit references to `badges/shields/master` in tests/examples, but default branch tests will continue to work, so that's good..

[2020-06-26 01:31] calebcartwright commented on #5188
AFAIK GitHub doesn't support renaming an existing branch, so I think we'd need to create a new `main` branch and change that to the repo's default. Assuming I've got that right, another thing we may also want to consider is the timeframe for removing the the original `master` branch from the repository altogether after changing the default.

Hopefully, no one is consuming assets directly from the

[2020-06-26 15:22] cedx commented on #3471
My annual summer cleaning of open issues 😄 Closing this one because it's still not resolved after one year... and I don't use Dart anymore, so this is no longer a problem for me.

[2020-06-26 15:31] calebcartwright commented on #3471
I'm going to reopen this one @cedx. It's not uncommon for feature requests to be outstanding for an extended period of time, especially in a project of Shields' size. Though you may no longer be interested in this one yourself, other Shields users could be and may be sufficiently motivated to implement it!

Thank you again for the suggestion

[2020-06-26 21:39] kitsunyan opened #5259 "F-Droid badge displays new version too early"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

Basically, there are the following steps in F-Droid build process:

1. `checkupdates` — checks for updates, alters metadata, and commits it to the fdroiddata repo, ~6h delay after release.
2. `bu

[2020-06-28 02:52] unbyte opened #5260 "change errorMessages to handle error message of restful api"
restful apis usually return response of  `40x` with a body explaining the error reason, and sometimes these error response even can be what we want to get in a `20x` response.
and in Shields, all these `40x` responses are treated as unusable exceptions and in `foo.service.js` it's hard to handle these responses.

For example to solve #4811 , I plan to get the SHA of the file and get the size throu

[2020-06-29 07:42] PyvesB commented on #5259
Hello @kitsunyan, thanks for flagging this up.

Yes I think you're right by saying that these would not be good solutions as they would significantly slow down badge rendering and add complexity.

@niccokunzmann do you know if any progress was made on the F-Droid API that we requested a couple of years ago? Do you have any other ideas to solve this in a simple and efficient way?

[2020-06-29 19:14] chris48s commented on #5260
Hello.
There's a couple of things tied together here.

This suggested approach isn't necessarily wrong, but we've implemented over 300 integrations with the current setup and I think this is the first time this has come up. Its certainly an exceptional case. I'd say if there is a case where we absolutely _need_ to do this, I'd probably implement a custom `fetch` method for that one badge which doe

[2020-06-29 19:20] chris48s commented on #4114
https://github.com/badges/shields/pull/5234 resolves this for both cases :)

[2020-06-29 19:20] #4114 closed

[2020-06-30 01:42] unbyte commented on #5260
I‘d like to try it when I'm free. Really appreciate your reply.

[2020-06-30 15:03] niccokunzmann commented on #5259
I could add something: The web page may also not be what the Android apps use, I think I read something about this.
The release process is in my view:
(1) metadata repository
(2) build
(3.1) website build in parallel to (3.2) index creation for apps (3.3) wiki page generation, ...

So, there are several stages.

I think about these steps and will not take them:
- Ask in the F-droid community forum

[2020-06-30 15:08] kitsunyan commented on #5259
I asked in F-Droid matrix chat, it seems right now there is no other ways other than website/index parsing. Something should be implemented on their side (either static JSON generator or dynamic request handler).

[2020-07-02 09:43] riskycase commented on #3333
Can we reverse engineer it from the svg code? For example if I navigate to

https://gitlab.com/riskycase/broadcastem-core/badges/trunk/coverage.svg?style=flat-square

 I get the svg response as below

[code]
The variables can be https://gitlab.com/:user/:repo/badges/:branch?/coverage.svg?style=flat-square, with branch defaulting to master

[2020-07-02 16:58] calebcartwright commented on #3333
Thanks @riskycase! I didn't realize GitLab provided their own coverage badge, but that's something we could certainly support given that it won't be subject to the same rate limiting constraints as the API.

Though API's are generally preferred, we do have a few other badges we provide that are based on upstream scraping of the svg and have infrastructure accordingly to support that (our GitLab Pi

[2020-07-02 17:03] chris48s commented on #3333
This is what the existing GitLab pipelines badge currently does, but I think we should aim to resolve https://github.com/badges/shields/pull/5241 one way or another before we add another GitLab badge replicating that behaviour

[2020-07-02 17:17] calebcartwright commented on #3333
Yup agreed, I meant to make note of that but got distracted and forgot. Thanks Chris!

[2020-07-02 17:28] calebcartwright opened #5261 "Website service test failing"
:clock11: **When did the problem start?**
Seems to have started roughly around the 16th of June, and has failed on almost every run since

:camera: **Live badge**

https://img.shields.io/website?url=https%3A%2F%2Fshields.io
![](https://img.shields.io/website?url=https%3A%2F%2Fshields.io)

:wrench: **Is the live badge working?**
Yes

:link: **CircleCI link**

https://app.circleci.com/pipelines/gith

[2020-07-02 23:48] paulmelnikow commented on #5261
Uhh… why is it shields.io.io?!

[2020-07-02 23:54] calebcartwright commented on #5261
it's intended to be a bad uri, guessing it was a copy pasta job with an extra subdomain

[2020-07-02 23:58] paulmelnikow commented on #5261
Ah, right, that makes sense. I wonder if we should change then service so it times out after a few seconds by default. It’d be nice if we reported a failure in a reasonable time on a very slow site.

[2020-07-03 04:33] riskycase commented on #3333
Can sure try giving it a go, however I might not be able to assure success if I work on it myself

@chris48s what's your call on skipping the default branch part altogether then?

[2020-07-03 11:15] Paebbels commented on #3775
Any updates on this feature request. I'm also highly interested in it.

[2020-07-03 17:24] Ani-Xan opened #5280 "API badge (Scratch)"
:clipboard: **Description**
My idea is that there should be a badge that collects info from an API. Is there already a way to do this?

:link: **Data**
Here is the API I want to work with: https://scratchdb.lefty.one/v2/user/info/Ani-Xan and the info I want to extract is the "followers"

:microphone: **Motivation**
I want to use this on some forums and use this on multiple websites.

[2020-07-03 17:46] billziss-gh opened #5281 "Cirrus build badge shows "invalid response data""
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

As per title the Cirrus build badge shows "invalid response data" for a FreeBSD build.

- Related project: https://github.com/billziss-gh/cgofuse
- Related Cirrus YAML: https://github.com/billzis

[2020-07-03 18:20] calebcartwright commented on #5280
Yup! Depending on your needs, you could leverage our [Endpoint badge](https://shields.io/endpoint) or our Dynamic Json badge (scroll down to the Dynamic section on the main https://shields.io/ page)

[2020-07-03 18:29] calebcartwright commented on #5281
Yup, that's by design as part of the issue template.

The corresponding API request that we issue for the referenced badge (https://img.shields.io/cirrus/github/billziss-gh/cgofuse/master?script=build&task=freebsd) is:

https://api.cirrus-ci.com/github/billziss-gh/cgofuse.json?branch=master&script=build&task=freebsd

which has a response body of:

[code]

The problem is that the `status` value of

[2020-07-03 18:55] Ani-Xan commented on #5280
I have about 0 coding experience and only have used API's on no-code platforms. How exactly would I connect the API?

[2020-07-03 19:11] calebcartwright commented on #5280
You don't have to do any coding. If you scroll down to the Dynamic badge builder section on the homepage as I suggested in my previous response, you can use the page to let it build the badge url for you.

Specifically, I think you'd end up with a badge url something like this
https://img.shields.io/badge/dynamic/json?color=blue&label=followers&query=%24.statistics.followers&url=https%3A%2F%2Fscra

[2020-07-03 22:26] Ani-Xan commented on #5280
Wow, you're smart. Thank you **SO** much for helping me.

[2020-07-03 22:43] calebcartwright commented on #5280
Cheers! Closing this out now as the original inquiry appears to have been answered

[2020-07-03 22:43] #5280 closed

[2020-07-04 15:01] calebcartwright opened #5282 "GitLab Pipeline Status service test failing"
:clock11: **When did the problem start?**
~8 days ago, ~26th of June

:camera: **Live badge**

https://img.shields.io/gitlab/pipeline/gitlab-org/gitlab
![](https://img.shields.io/gitlab/pipeline/gitlab-org/gitlab)

:wrench: **Is the live badge working?**
Yes

:link: **CircleCI link**

https://app.circleci.com/pipelines/github/badges/daily-tests/309/workflows/360cfa77-ba5c-422c-b2e6-dbabe6152878/jo

[2020-07-04 15:09] calebcartwright opened #5283 "AnsibleGalaxyContentQualityScore service test failing"
:clock11: **When did the problem start?**
~3 days ago, 1st of July

:camera: **Live badge**

https://img.shields.io/ansible/quality/432
![](https://img.shields.io/ansible/quality/432)

:wrench: **Is the live badge working?**
Yes

:link: **CircleCI link**
https://app.circleci.com/pipelines/github/badges/daily-tests/318/workflows/079cd9dc-054d-4ecb-ac88-7cd50cd24da5/jobs/1215

:beetle: **Stack trace

[2020-07-04 15:36] Ani-Xan opened #5284 "Badges can't be used in Scratch"
:question: **Question**
My Badge, ![My Badge](https://img.shields.io/badge/dynamic/json?color=ff5959&label=Followers&query=%24.statistics.followers&url=https%3A%2F%2Fscratchdb.lefty.one%2Fv2%2Fuser%2Finfo%2FAni-Xan&style=flat-square) will not show up on a forum signature that uses BBcode. Here is an example of me using the "[img]" tag: ![Image 1](https://images2.imgbox.com/6f/40/20XcivPg_o.png) An

[2020-07-04 18:30] paulmelnikow commented on #5284
Hi there. It looks like they only support images from certain hosts:

https://en.scratch-wiki.info/wiki/Image_Hosting

I don't think we can do anything about this. I think you would have to ask Scratch to allow requests to img.shields.io.

[2020-07-04 21:30] Ani-Xan commented on #5284
Thank you!

[2020-07-04 21:30] #5284 closed

[2020-07-05 00:12] oktal3700 opened #5285 "GitHub Releases sort by semver always includes pre-releases"
:beetle: **Description**

The badge "GitHub release (latest SemVer)" should **not** include pre-releases.

There is already a badge "GitHub release (latest SemVer including pre-releases)" for when that behavior is desired.

:link: **Link to the badge**

![example](https://img.shields.io/github/v/release/swift-project/pilotclient?sort=semver)
https://img.shields.io/github/v/release/swift-project/pi

[2020-07-05 01:44] calebcartwright commented on #5285
hi @oktal3700, thanks for reaching out.

From a semver perspective, both of these are pre-release versions and when a repo only has pre-releases (as defined by semver) then Shields falls back to using the pre-release versions instead of throwing an error.

I can see that you leveraged GitHub's flag to mark one of your releases as non-production ready but not on the other one. [v0.9.5.45](https://g

[2020-07-05 14:54] oktal3700 commented on #5285
I see. Thank you for the explanation. I can see there's no easy answer for how this should behave in all circumstances.

[2020-07-05 16:23] chris48s commented on #5285
If `0.9.5.45`, is a pre-release while `0.9.4.389` is a "stable" release, your project is not using semver. Try sorting by `date` :)

https://img.shields.io/github/v/release/swift-project/pilotclient?sort=date

[2020-07-05 16:41] PyvesB commented on #5259
Roger that, thanks for asking on their chat. Could you please open an issue on the F-Droid repository requesting a proper API to be used by third-parties? All Shields.io would require is an endpoint that accepts an app ID and returns the currently _published_ version of the app. 😉

[2020-07-05 17:40] #5283 closed

[2020-07-05 17:55] oktal3700 commented on #5285
Understood. Thank you. Sorting by date is equally unsatisfactory for my purposes.

I would use a semver-conformant suffix e.g. `0.9.5.45-alpha` but I would prefer to be able to mark a pre-release tag as a stable tag at a later date (after some testing phase) without changing the tag string itself.

I will try using a custom endpoint badge.

[2020-07-05 18:03] calebcartwright commented on #5285
Technically the 4th component in your version strings makes these non-semver compliant anyway (regardless of any additional suffix), but semver's also explicit about versions that have `0` for the major version component being pre-release and unstable

That may indeed be your best bet given your current versioning strategy and pre-release vs release indicators

[2020-07-05 20:39] chris48s commented on #5285
Are you sure about that? ![](https://img.shields.io/github/v/release/swift-project/pilotclient?sort=date) https://img.shields.io/github/v/release/swift-project/pilotclient?sort=date does what you said you want in your first post.

Sorting by date (and excluding pre-releases) ignores the tag string and just displays the most recent release that is not marked as a pre-release. If you later change th

[2020-07-05 21:22] oktal3700 commented on #5285
It's conceivable that we might create a release for a historical version, with a version number that is lower than the "current" release. In that case, the historical release would appear to be newer when sorting by date.

It's working now with a custom endpoint. Thank you for your time.

[2020-07-05 21:36] oktal3700 commented on #5285
🤔 actually would it sort by the date of the commit used to create the tag? That's better I suppose. Still not sure. I'll have to think about it.

[2020-07-05 22:58] oktal3700 commented on #5285
Yeah, it's conceivable that we backport a bugfix to an older version, which would increment the patch version but not the minor version. Sorting by date, this bugfix would be the newest release, but the semantically newest release should be the one with the higher minor version (in which the bug was already fixed).

[2020-07-06 01:51] calebcartwright commented on #5282
Spent some time looking into this one, and seems to be a pretty frustrating issue.

We have to do svg scraping for this badge (the only GitLab badge we currently support) due to GitLab's API rate limiting and the absence of any complex workarounds (token pool).

AFAICT, there must've been a recent change in GitLab that no longer explicitly provides a 404 response in the event of an unknown/invalid

[2020-07-06 02:11] #5261 closed

[2020-07-06 07:34] #5240 closed

[2020-07-06 07:36] PyvesB commented on #5240
[Shields discussions](https://github.com/badges/shields/discussions) have been launched!

[2020-07-06 14:35] eighthave commented on #5259
You could also implement a process that polls for updates to https://f-droid.org/repo/index-v1.jar, then generates the API however you want, and deploys the JSON files to a static GitHub/GitLab Pages site.  Downloading and verifying the index is trivial with `fdroidserver` as a Python lib:

[code]

[2020-07-06 18:52] #5285 closed

[2020-07-07 06:05] 2001adarsh opened #5290 "Adding the Shields badges to android app."
:clipboard: **Description**

How to add the badges you get from https://shields.io/ is either in Markdown format or HTML format.
I tried to load it as an image in android studio using Picasso, but it doesn't work so. I guess because it is not a picture format.
I couldn't do web scaping as it is not right to do so. Google Play services wouldn't allow that.
So, kindly can you tell any method to get

[2020-07-07 13:10] #5290 closed

[2020-07-08 07:37] OpportunityLiu opened #5291 "Website service failed with a status code of 204"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

My website responed 204 to HEAD request, and the website service shown 'down'.

:link: **Link to the badge**

https://img.shields.io/website?label=backend&logo=nestjs&url=https%3A%2F%2Fehtt.azure

[2020-07-08 12:16] dinuta opened #5292 "Docker security badges"
:clipboard: **Description**

There isn't a badge for docker security scans (vulnerabilities). Maybe you can figure it out to integrate a service like: https://github.com/aquasecurity/trivy to have such.

- Which service is this badge for e.g: **GitHub**
- What sort of information should this badge show?
Docker image version and vulnerabilities. CLI output example:
[code]
https://img.shields.io/bad

[2020-07-08 13:56] Tearth opened #5293 "Travis build status returns error message"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

This specified badge (Travis build status) displays a red error instead of green "passing" one. A similar one (with the different repository) works well. A few weeks ago I hadn't any issues with

[2020-07-08 14:19] calebcartwright commented on #5293
The branch needs to be provided as a route parameter, not a query parameter

https://img.shields.io/travis/Tearth/Oddity/master?style=flat-square&logo=travis-ci&logoColor=white
![](https://img.shields.io/travis/Tearth/Oddity/master?style=flat-square&logo=travis-ci&logoColor=white)

[2020-07-08 14:22] Tearth commented on #5293
Oh, right - my mistake. Thanx for help.

[2020-07-08 14:22] #5293 closed

[2020-07-08 18:05] paulmelnikow opened #5294 "The @types/styled-components mess"
Wanted to surface this here rather than burying it in a dependabot PR…

As @calebcartwright observed at https://github.com/badges/shields/pull/5277#issuecomment-653836259 the version of `@types/styled-components` that we've pinned as a result of DefinitelyTyped/DefinitelyTyped#33311 is now blocking us from updating TypeScript.

This is untenable.

Part of me wants to try to dive into the DefTyped

[2020-07-08 20:16] chris48s commented on #5292
This would be a helpful badge, but pulling a docker container, running `trivy` and reporting the result on an ad-hoc basis would be impossible for us to implement for performance reasons. In order to be able to report this we would need to be able to request pre-computed data from somewhere in a performant way.

[2020-07-08 20:51] dinuta commented on #5292
Yes, we'll need a microservice somewhere with some key requirements:
- fetch trivy vulnerabilities map in background and store it in DB. Return imediately a response with NA if no Information is found.
- fetch trivy vulnerabilities map to a predefined scheduler. E.g. 1 Day for each image requested
- delete image, otherwise tremendous HDD space will be required through a background scheduler or aft

[2020-07-08 20:51] chris48s commented on #5291
I think we're catching the 204 here:

https://github.com/badges/shields/blob/13d75e0607334b700fdb4a533768cde341619a50/core/base-service/check-error-response.js#L15

I think we should consider any 2XX response success here, but given we run `checkErrorResponse()` on basically every request, I'm ever-so-slightly cautious.. does anyone see a good reason why we _shouldn't_ do that?

[2020-07-08 21:54] paulmelnikow commented on #5291
Perhaps we should make this modification specific to the website service, to your point that `checkErrorResponse()` is used on every request and the website badge is an anomaly.

Is a 204 really a website that is "up"? I guess I don't wanna have that argument. 😀

[2020-07-08 22:44] calebcartwright commented on #5292
Running cli tools/scans/services/etc. isn't part of Shields' remit, and as such _running_ trivy feels way outside our scope and something I'd oppose.

While I agree that this would be useful information to convey in a badge, I feel that the data would need to be retrievable over HTTP in order for Shields.io to be able to provide this badge.

Running trivy as part of your CI process seems like it w

[2020-07-09 01:48] OpportunityLiu commented on #5291
[code]

[2020-07-09 07:16] dinuta commented on #5292
ok @calebcartwright, @chris48s. I'll try to figure it out. The solution with travis or circle might not be best because the vulnerability map evolves in time. This means i have to build my projects once a day or so to not serve lies to the users...

For example a feature or correction I am doing once per 2 weeks or one month so in this time everything might change.

And snyk does not provide badge

[2020-07-09 07:16] #5292 closed

[2020-07-09 15:01] paulmelnikow commented on #5188
If they are doing this for some reason, and not specifying the branch, they will continue to get the default branch.

[2020-07-10 01:32] paulmelnikow commented on #4990
It's looking like the workaround here would be to write an extension that invokes `new URL()`.

[2020-07-12 14:03] balibebas commented on #3026
I think until cloudflare cookie is removed the "no tracking" promise should be removed from the homepage.

[2020-07-12 20:29] mpetuska commented on #658
Could potentially be replaced with https://bintray.com/api/ui/package/:subject/:repo/:package which returns a lot of info including {..., "latestVersion": "x.y.z-M..."}

[2020-07-13 17:05] CyberMew opened #5317 "Set right label font color"
Currently for the right part, it is not able to set the colour for the font.

I cannot do something like white background with colored text.

Ability to do this would be great.

[2020-07-13 17:11] paulmelnikow commented on #5317
Hi, thanks for your request. Let's track this in #504.

[2020-07-13 17:11] #5317 closed

[2020-07-13 18:54] mpetuska commented on #1193
#5316 implements the following:
[code]

[2020-07-14 21:54] PyvesB commented on #5259
Back on [GitLab](https://gitlab.com/fdroid/fdroiddata/-/issues/1325), it was indicated that the index file was only "updated a few times a week". Users here are complaining about delays of a few hours, so would using that file even help us in this case?

Regardless, I really don't think that it should fall on Shields.io's shoulders to build its own API for a service that does not provide one.

Bui

[2020-07-15 02:06] calebcartwright commented on #5259
I completely agree. Our core mission is providing badges, and in the case of dynamic data (vast majority of badges) we're entirely reliant on being able to retrieve the requisite data from the upstream service/tool/platform. If F-Droid can't/won't provide an API, then perhaps folks in that work in that space could create their own community project which Shields (and others) could consume.

[2020-07-16 20:25] chris48s opened #5322 "🚀 SimpleIcons 3"
Logos on shields.io are provided by SimpleIcons. We've just upgraded to [SimpleIcons 3](https://github.com/simple-icons/simple-icons/releases/tag/3.0.0) which renames or removes several icons.

These icons have been removed completely:
- `greenkeeper`
- `adobe-typekit`

These icons have been renamed. If you use any of these, update your badge URL:
- `adobe-premiere` --> `adobe-premiere-pro`
- `cas

[2020-07-17 07:34] decryp2kanon opened #5324 "Cookie in use"
[code]

![image](https://user-images.githubusercontent.com/60179867/87760689-21165400-c7de-11ea-8d98-1e853cb6204e.png)

Hi, how to not use this cookie? I wanna remove this one. Any suggest?

[2020-07-17 14:48] paulmelnikow commented on #5324
Hi! The only way to turn it off is to [host your own copy of Shields](https://github.com/badges/shields/blob/master/doc/self-hosting.md). Would suggest following #3026 which discusses the alternatives.

[2020-07-17 14:48] #5324 closed

[2020-07-17 20:21] fabiosangregorio opened #5339 "docstr-coverage badge"
:clipboard: **Description**

[docstr-coverage](https://github.com/HunterMcGushion/docstr_coverage) is a python package to get the documentation coverage for python projects.
This badge would show the total documentation coverage for the project (e.g. "docstr-coverage | 78% ") with a color gradient ranging from red to green based on the percentage.

:link: **Data**
This badge will use a Github CI A

[2020-07-17 21:29] abraunegg opened #5341 "shields.io domain not resolvable"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

The IP address for 'sheilds.io' is not resolving:
[code]
DNS Query:
[code]

[2020-07-17 21:35] calebcartwright commented on #5341
FYI the domain is shields.io (not sheilds.io), though the same issue exists for our actual shields.io domain.

I'm thinking this may be cloudflare related

![image](https://user-images.githubusercontent.com/13042488/87832375-7b013300-c84b-11ea-95ae-497967746673.png)

[2020-07-17 21:37] calebcartwright commented on #5341
Yup, cloudflare is back and so is our frontend

https://shields.io/
![image](https://user-images.githubusercontent.com/13042488/87832485-bb60b100-c84b-11ea-9bea-c7033987c65a.png)

[2020-07-17 21:37] abraunegg commented on #5341
@calebcartwright
Ahh yes .. `typo` .. too early, need another coffee ...

[2020-07-17 21:38] calebcartwright commented on #5341
No worries, I can relate to not being properly caffeinated :laughing: Will leave this open for a while in case Cloudflare is having some ongoing issues, but hopefully just something transient on their end that won't recur

[2020-07-17 21:39] abraunegg commented on #5341
@calebcartwright
No problem.

[2020-07-18 00:15] tegarimansyah commented on #5341
Just wondering if this is related. Stackoverflow reputation badge returns invalid for today, but yesterday is okay.

![image](https://user-images.githubusercontent.com/11174711/87839701-3cf52500-c8c6-11ea-9ae7-897f99af3eac.png)

I check the user id from its API and result as intended

![image](https://user-images.githubusercontent.com/11174711/87839744-631ac500-c8c6-11ea-8e31-3280b270a28e.png)

[2020-07-18 08:24] PyvesB commented on #5341
A [blog post](https://blog.cloudflare.com/cloudflare-outage-on-july-17-2020/) was written about the Cloudfare incident. No further action needed on our side, closing. :wink:

[2020-07-18 08:24] #5341 closed

[2020-07-18 20:03] chris48s opened #5343 "move osslifecycle and nycrc into /gtihub"
As noted in https://github.com/badges/shields/pull/5234 these two anomolies should be moved into the `/github` dir and URL namespace, like all the other "get a file from a github repo and extract a vlue" badges. We should set up redirects for compatibility.

[2020-07-18 20:14] calebcartwright commented on #5343
I know those two badges only support looking for their respective files in github today, but is there any reason that has to be the case? For example I could just easily use Bitbucket and nyc and want the badge. I know we haven't had any asks for those just yet, but perhaps worth considering.

[2020-07-18 20:23] chris48s commented on #5343
Hmm.. that's broadly also true of all the other "get a file from a github repo and extract a value" badges. i.e:

- github-go-mod
- github-all-contributors
- github-lerna-json
- github-pipenv
- github-manifest
- github-package-json

Whichever way we look at it, we should treat osslifecycle and nycrc the same as all of those, but maybe there is a case that none of those should be github-specific

[2020-07-18 20:29] calebcartwright commented on #5343
Excellent point!

Maybe in a perfect world we'd have a "get a file from (VCS provider) and extract a value" framework/reusable functions or base classes.

[2020-07-19 11:39] kitsunyan commented on #5259
I'm working on [API implementation](https://gitlab.com/kitsunyan/fdroidapi) which will work on GitLab CI, so it won't burden anyone with hosting. Basically, it checks for changes in F-Droid repo every hour and updates JSON files accordingly.

It's a POC, and I'm waiting for next deploy to test it works. I will be nice to see something like that as F-Droid GitLab project. Ideally — with configured

[2020-07-19 16:37] chris48s commented on #5215
Getting there - PRs for everything except packagist branch aliases are either merged or open

[2020-07-19 16:39] chris48s commented on #5188
Some additional useful reading on this:

* https://github.com/github/renaming/
* https://github.blog/changelog/2020-07-17-links-to-deleted-branches-now-redirect-to-the-default-branch/

Current recommendation from GH is:

[2020-07-19 17:39] calebcartwright commented on #5343
And just to clarify, I don't have any objections to moving these services under the github directory, regardless of what we may or may not do down the line. At this point it's really more about easily knowing where all the service classes are that use the GitHub APIs to do their thing.

[2020-07-20 17:04] PyvesB commented on #5259
Thanks for picking this up @kitsunyan! That will hopefully provide a good alternative in the absence of any official F-Droid API. 👍🏻

[2020-07-22 14:34] kitsunyan commented on #5259
It seems like it works.

It would be nice to have such API officially, but it need to be implemented using their Jekyll plugin. I tried to understand how it works, and it seems, that it will take significantly much more time to do this. I also don't know Ruby (which is probably not the main problem to me).

I think for now it will be good to move to self-hosted CI-driven API implementation. It als

[2020-07-22 14:47] eighthave commented on #5259
if you get into the official f-droid.org website, it will be maintained.

[2020-07-22 19:20] chris48s commented on #5231
Hmm. "upgrading" to dependabot v2 means we have to give up automerged dependencies. See https://github.com/dependabot/dependabot-core/issues/1823#issuecomment-641594279 Maybe its not a huge thing to give up. Its may also not be a massive deal to roll our own solution with GH actions. For the moment we may as well just ride the v1 train as far as it goes :steam_locomotive: I don't think v2 adds any

[2020-07-22 19:32] #5281 closed

[2020-07-22 19:52] billziss-gh commented on #5281
Thank you @chris48s.

[2020-07-22 21:18] calebcartwright commented on #5231
Is that something we're using currently? For some reason I can only recall the automerging happening for certain deps with GHA based job you configured.

Yeah I don't think there's a need to change any time soon, and would anticipate the current/v1 being around for quite some time

[2020-07-23 19:20] chris48s commented on #5231
I'd forgotten this is kind of opaque. We tell dependabot to automerge certain updates:

https://github.com/badges/shields/blob/c85512997ce505991f714fc400e9d96351030f58/.dependabot/config.yml#L7-L31

..but then dependabot can't actually auto-merge them because of the branch protection rules, so then the GH action picks up the PRs that dependabot wanted to auto merge and it approves them and adds th

[2020-07-23 20:13] calebcartwright commented on #5231
Gotcha, thanks for the explanation!

[2020-07-23 20:34] dinuta commented on #5292
Good news guys,

Snyk gave me email where they announced it will support soon docker hub badges.

Catalin

[2020-07-23 21:31] BenSova opened #5349 "Azure DevOps Build "inaccessible""
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)

:beetle: **Description**

I have a build badge for Azure DevOps and the badge says that the build in "inaccessible".
I checked both the Product and Definition ID and both are correct.

:link: **Link to the badge**

[![Azure Pipelines Build Status](https://img.shields.io/azure-devops/build/SwiftStars/cf764067-e0bf-47c

[2020-07-24 13:57] alex4200 opened #5350 "Contributors badge not shown"
Are you experiencing an issue with...

- [ ] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)
- [x] Not sure: I just want to add a badge on my own repository

:beetle: **Description**

Following the example given on the `README` I tried to add a 'contributors' badge to my repo. I copied and pasted the link, and rep

[2020-07-24 14:08] Ana06 commented on #1765
Such a badge could be updated by using GitHub actions as you can provide a token with enough permissions. 🤔 That is some more work than if it could be integrated in shields. I don't understand why this number is not public. 😢

[2020-07-24 14:52] calebcartwright commented on #5350
@alex4200 - just to clarify, is `https://github.com/alex4200/pytracov/graphs/contributors` the literal url you tried to add to your readme to get a badge?

The Shields.io service provides badges (svg's) that you can use for things like embedding in your markdown files. The easiest way to get going with this is to leverage the Shields site (https://shields.io/) to let it help you generate the corre

[2020-07-24 15:04] alex4200 commented on #5350
Ah ok, I seem to have missed that from the README. I checked the README twice, but did not find that explanation.

Maybe you can make that a bit more clear on the README?

[2020-07-24 15:15] calebcartwright commented on #5350
If you have any specific suggestions, please feel free to propose them via a PR. However, I'd point out that there's already material under in the [Examples](https://github.com/badges/shields#examples) section.

I'm not really sure where/how you got the "https://github.com/alex4200/pytracov/graphs/contributors" link you referenced in your original issue, nor what you were expecting by pasting that

[2020-07-24 15:15] #5350 closed

[2020-07-25 07:04] progfay opened #5363 "Some logo don't shown in badge"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

- Some logo don't shown.
- e.g.: IFTTT ![IFTTT](https://img.shields.io/static/v1?message=message&logo=ifttt)
  - Screenshot in production: <img src="https://user-images.githubusercontent.com/1956

[2020-07-25 09:44] PyvesB commented on #5363
Hello @progfay,

We're still running version 3.0.1 of simple-icons in production, the IFTTT logo was added a few days ago in [release 3.1.0](https://github.com/simple-icons/simple-icons/releases/tag/3.1.0). I'll deploy the new version to production, that should solve your problem. :wink:

[2020-07-25 09:56] PyvesB commented on #5349
Hello @BenSova,

I know very little about the Azure Devops service, but here's the response I get when hitting the API used by Shields (https://dev.azure.com/SwiftStars/cf764067-e0bf-47cf-ba14-ac21bb8771d8/_apis/build/status/2):

[code]

Maybe the project is private or what or the IDs is not lining up?

[2020-07-25 10:32] PyvesB commented on #5130
No longer required following #5346, closing.

[2020-07-25 10:32] #5130 closed

[2020-07-25 10:37] progfay commented on #5363
OK, I'm looking forward to release😁

Thank you for your comment!

[2020-07-25 10:37] #5363 closed

[2020-07-25 11:01] PyvesB commented on #4994
I've taken a look at our Grafana metrics, and temporarily tweaked the "All request rate" panel to only display the request rate for Hex.pm. Here's what I got for the past 48 hours:
<img width="980" alt="Screenshot 2020-07-25 at 12 51 47" src="https://user-images.githubusercontent.com/10694593/88455444-a3091b80-ce75-11ea-85e4-b50626b5942e.png">

That's a request rate per second averaged over a minu

[2020-07-25 13:03] jsamr opened #5364 "NPM tags containing slashes are unsupported"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

Given the following URL template

[code]

The `:tag` variable cannot contain `/` characters, while this is a perfectly valid npm tag (see screenshot bellow).

![2020-07-25-100251_810x385_scrot](h

[2020-07-25 13:17] burner1024 opened #5365 "Discord badge shows "chat | invalid""
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)

:beetle: **Description**

Discord badge shows "chat | invalid". Maybe related to their recent domain change from discordapp.com to discord.com?

Right in your README:
![Captura de pantalla de 2020-07-25 20-13-50](https://user-images.githubusercontent.com/1279852/88457798-9e635800-ceb3-11ea-9cbb-a16a235a116d.png)

[2020-07-25 13:30] PyvesB commented on #5365
Hello @burner1024,

I just tried deploying #5346, unfortunately it did not go according to plan. I'm not too sure what's wrong yet. For now I've rolled back, the Discord badges should be back to normal.

[2020-07-25 14:17] AMartinNo1 opened #5366 "TYPO3 Badge"
:clipboard: **Description**

TYPO3 is a CMS with a large user base and in my opinion it would be neat to have the icon and color-set available. Extensions are commonly listed here https://extensions.typo3.org/. So, while referring to https://shields.io/category/monitoring the format could be TER and lead to the detail page https://extensions.typo3.org/extension/gpsnose/. So, one only provides the

[2020-07-25 15:06] BenSova commented on #5349
Turns out the project ID changed when I got rid of a typo in the project name... So, it kind of makes since but I don't get why the project ID can change because of the name.
That's not a shields problem though, so I'll close this issue.

[2020-07-25 15:06] #5349 closed

[2020-07-25 15:39] calebcartwright commented on #5349
FWIW @BenSova you can use the Team Project name instead if you prefer. When we first added the badge the upstream Azure DevOps endpoint only supported the project id, but both Id or Name are now an option

[2020-07-25 15:41] BenSova commented on #5349
That's nice to know, but I'll keep using project ID for at least this project. Thanks though.

[2020-07-25 16:00] AMartinNo1 commented on #5366
Just noticed that a TYPO3 logo is available already. So, that part is not necessary.

[2020-07-25 16:39] calebcartwright commented on #5366
Could you elaborate a bit on the ask here with specifics around the data points you think should be in the badge? The `label | message` format is particularly helpful.

[2020-07-25 16:51] paulmelnikow commented on #5364
Hi! Thanks for raising this.

We've run into this with branch names containing slashes too. I think it can be fixed by changing the URL pattern:

https://github.com/badges/shields/blob/72c749c6b6dd1fea3bfafdfa464b734c2a274a4d/services/npm/npm-base.js#L50

to:

`':scope(@[^/]+)?/:packageName/:tag*'`

Any chance you'd like to give it a shot and make a PR? We've got a great testing framework and you

[2020-07-25 16:54] jsamr commented on #5364
@paulmelnikow Sure I'll do that.

[2020-07-25 16:55] paulmelnikow commented on #5364
Sweet! Thank you! Feel free to post here (or in Discord #contributing) if you have any questions!

[2020-07-25 18:57] #5364 closed

[2020-07-25 22:19] Andre601 opened #5368 "Badge Request: Spigot badge support"
:clipboard: **Description**

Support for the [Spigot XenforoResourceManagerAPI](https://github.com/SpigotMC/XenforoResourceManagerAPI)
Unlike the Spiget API which Shields currently supports does this API allow to retrieve information from premium resources (Such checks are blocked for Spiget making requests either fail or to be outdated).

It current supports to get resource info by id, resource i

[2020-07-26 06:28] night commented on #5365
@PyvesB the deploy looked fine from our end, but firewall misconfiguration still resulted in you getting limited. if you try redeploying again it should be fine this time around.

[2020-07-26 08:32] PyvesB commented on #5368
Hello @Andre601,

Thanks for pointing this out. XenforoResourceManagerAPI is part of the Spigot API, so in that sense it's an official API unlike the Spiget alternative we're currently using.

Do you know if there are any rate limits involved? Our existing badges return the download size and support server versions for Spigot resources, is this information available through the new API?

[2020-07-26 08:38] PyvesB commented on #5365
Thanks for looking into this and fixing the firewall configuration @night! I was going to send you a mail this morning, but was glad to see that you had already picked this up when I woke up! :)

I performed a new deployment, everything indeed seems to be working well now. Great stuff! 👍🏻

[2020-07-26 08:38] #5365 closed

[2020-07-26 08:42] PyvesB commented on #5363
The logo is now available in production:
![](https://img.shields.io/static/v1?message=my-message&logo=ifttt)

[2020-07-26 10:33] Andre601 commented on #5368
I'm not aware of any.

Sadly not. The API only returns the info I posted above, but it could be suggested on their github.

[2020-07-26 14:23] progfay commented on #5363
Awesome 🎉

[2020-07-26 15:44] #5291 closed

[2020-07-26 17:14] PyvesB commented on #5368
Could you please raise the feature requests? It would be ideal if we could migrate all existing badges to the new official API, rather than having to maintain two separate integrations.

[2020-07-26 17:16] Andre601 commented on #5368
Already did so.

[2020-07-27 07:40] PyvesB commented on #5368
I think we would still be missing the download size!

[2020-07-27 10:55] AMartinNo1 commented on #5366
Hmm, I have given it some more thoughts. As TYPO3 icon is provided by simple-icons there's no real need for my initial idea.

[2020-07-27 10:55] #5366 closed

[2020-07-29 07:44] udondan opened #5371 "pypistats.org not up-to-date/inaccessible"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

For my PyPI package [cdk-iam-floyd](https://pypi.org/project/cdk-iam-floyd/), shields.io cannot find the package for the download badge. Though it can perfectly find the package for the version b

[2020-07-29 08:31] chris48s commented on #5371
Hi. While most of our pypi info comes from pypi itself, our download stats come from pypistats.org
We're not showing downloads for your package because pypistats doesn't have them: https://pypistats.org/api/packages/cdk-iam-floyd/recent Just looking over at their issue tracker, it looks like there is an issue already reporting saying they've not been pulling in new data for about 10 days https://g

[2020-07-29 08:40] udondan commented on #5371
Thanks @chris48s, for your time explaining the issue!

[2020-07-29 11:39] pedrofracassi commented on #4500
The widget endpoint can also be used to pull the presence count. It requires the server admins to have enabled it, but it's permanent, while invites can expire after some time or be deleted by accident if someone doesn't know it's being used by shields.io

Widgets can be enabled through **Server Settings > Widgets**, and the json endpoint can be copied there too.

Here's an example:

https://disco

[2020-07-29 17:17] chris48s commented on #5215
Still haven't got round to working on it properly yet, but a bit of reading on composer/packagist: https://blog.packagist.com/composer-and-default-git-branches/

The packagist API is now surfacing a `default-branch` param, so I guess anywhere we were hard-coding `dev-master` we should now be looking for the alias where `default-branch = True` and using that instead to bring our logic into line wit

[2020-07-31 18:22] YashTotale opened #5372 "VS Code Marketplace "Released On" and "Last Updated" Badge"
:clipboard: **Description**

- The badges are for the Visual Studio Code Marketplace
- The badges should show the date an extension was released on and when it was last updated
- Examples:
  - ![Released On Badge](https://img.shields.io/static/v1?label=Released%20On&message=Jul%2031%202020)
  - ![Last Updated Badge](https://img.shields.io/static/v1?label=Last%20Updated&message=Jul%2031%202020)

:l

[2020-07-31 23:30] YashTotale opened #5373 "Github Weekly Commit Activity Badge Not Working"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

The **github weekly commit activity badge** does not seem to be working.
This is how it looks:
[![Badge](https://img.shields.io/github/commit-activity/w/YashTotale/terminal-all-in-one?style=for-t

[2020-08-01 01:46] calebcartwright commented on #5372
Thanks for the request @YashTotale, would you be interested in trying to implement support for these badges? Sounds like you may already be half way there anyway :smile:

We're available to assist with any questions that may come up here and/or in Discord

[2020-08-01 01:47] YashTotale commented on #5372
Yeah, that sounds great. I'll start tomorrow.

[2020-08-01 02:00] calebcartwright commented on #5373
I suspect this largely given by the fact that your referenced repository is very new (or at least seems to be). The GitHub API provides a year's worth of weekly commit data, and your repository is still in its first week of having commits.

https://api.github.com/repos/YashTotale/terminal-all-in-one/stats/commit_activity
https://developer.github.com/v3/repos/statistics/#get-the-weekly-commit-activ

[2020-08-01 02:02] YashTotale commented on #5373
Thanks!

[2020-08-01 02:02] #5373 closed

[2020-08-01 16:34] YashTotale commented on #5372
@calebcartwright I have created a pull request for the "Release Date" badge: #5387

[2020-08-01 17:02] YashTotale commented on #5372
@calebcartwright I have created a pull request for the "Last Updated" badge: #5388

[2020-08-01 18:21] calebcartwright opened #5389 "GitHub Deployments Service Test schema missing variant"
Apparently the latest deployment status can be `null` while there is a deployment in progress,

![image](https://user-images.githubusercontent.com/13042488/89107794-0f959480-d3f9-11ea-83f7-65a5c1bf0893.png)

which we account for within the service class schema accordingly:

https://github.com/badges/shields/blob/ea24784b26fc175e63cbf2265101ee9aec9fa5cf/services/github/github-deployments.service.js

[2020-08-03 23:33] lnogueir commented on #2704
Any solutions to this issue?

[2020-08-04 02:38] YashTotale opened #5392 "VS Code Marketplace Trending Badges"
:clipboard: **Description**

- The badge is for the VS Code Marketplace
- This badge will show the trending number (daily, weekly, or monthly) for a VS Code Extension.
- "trending daily | 5"

:link: **Data**

- The current VS Code API that is used for other badges provides this information

:microphone: **Motivation**

- Creators of VS Code Extensions may want to display their trending numbers on

[2020-08-04 11:46] patrikhuber commented on #4683
A GitHub Sponsors button that we can include in our `README.md`'s and that is stylable to look like the original, would be really useful.

Original:
![image](https://user-images.githubusercontent.com/4967343/89290185-5e893700-d650-11ea-8942-4579b2c96c2c.png)

Thinner version from https://buttons.github.io/:
![image](https://user-images.githubusercontent.com/4967343/89290226-7660bb00-d650-11ea-9c30

[2020-08-04 21:37] Andre601 commented on #5368
To be fairly honest here: I really don't expect any answer from Spigot's end as they are - to put it simple - lazy on implementing new feature requests, both in their software and their Forum API.

So I highly doubt that there will be any update on this in the next weeks if not even months.

[2020-08-05 17:11] PyvesB commented on #5368
Having myself worked on Spigot plugins for several years now, I don't know if I would use the word "lazy", but I definitely agree that a lot of feature requests and fixes tend to be implemented very slowly, or never. It's not surprising that the community is quite fragmented and that there have been several Spigot forks over the years.

It probably doesn't hurt to leave this issue around for when/

[2020-08-05 23:04] adamalston opened #5395 "Update Simple-Icons"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)

:beetle: **Description**

Icon is not showing on the badge. The production version of simple-icons is not up to date.

:link: **Link to the badge**

`![Dark Reader](https://img.shields.io/badge/-Dark&#160;Reader-000000?style=flat&logo=Dark-Reader&logoColor=FFFFFF)`

 ![Dark Reader](https://img.shields.io/badge/-Dark&

[2020-08-05 23:36] calebcartwright commented on #5395
Thanks, but going to close this and refer you to https://github.com/badges/shields/discussions/5369

[2020-08-05 23:36] #5395 closed

[2020-08-06 11:50] HouCoder opened #5396 "emoji sequences do not render in some browsers"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

Here is my code:

[code]

The emoji I'm using is this one - https://emojipedia.org/man-technologist/ , but when I try to put it in my markdown doc, the finial rendered is this:

![image](https://

[2020-08-06 12:06] sigma67 opened #5397 "Pypi downloads badge inaccessible"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

Pypi download badges are marked as inaccessible.

:link: Link

![](https://camo.githubusercontent.com/a099a631b488947ede576ddb7d95851f3c6395a2/68747470733a2f2f696d672e736869656c64732e696f2f707970

[2020-08-06 17:33] chris48s commented on #5397
This is an issue with https://pypistats.org/
Lets call this a dupe of https://github.com/badges/shields/issues/5371 even though its a new error

[2020-08-06 17:33] #5397 closed

[2020-08-06 17:36] chris48s commented on #5371
As noted in https://github.com/badges/shields/issues/5397 https://pypistats.org/ is now down completely.
Will continue to monitor the upstream issue.

[2020-08-06 18:05] chris48s commented on #5396
To quote from the emojipedia link you posted:

We have seen this before with some subset of emoji, but it doesn't happen in all browsers. For example, the link you posted https://img.shields.io/badge/About%20me-%F0%9F%91%A8%E2%80%8D%F0%9F%92%BB-green.svg

shows as

![Screenshot at 2020-08-06 18-55-10](https://user-images.githubusercontent.com/6025893/89565992-46afdf80-d817-11ea-9a49-677285d289f0.p

[2020-08-07 00:15] #3333 closed

[2020-08-07 20:32] chris48s commented on #5322
I think this has probably done its job as a pinned issue. If anyone was going to be bothered by this change, I suspect they would have been by now :)

[2020-08-07 20:32] #5322 closed

[2020-08-10 06:54] Mr-jiangzhiguo opened #5412 "bundlephobia inaccessible"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**
use size: npm bundle size (scoped version)

:link: **Link to the badge**

npm repo: <https://www.npmjs.com/package/@jsany/cli-kit>

![npm bundle size (scoped version)](https://img.shields.io/bundl

[2020-08-10 18:49] Andre601 commented on #5231
To bring this up here, rather than in the discussions (which I planned to do, but now decided to check the issues first).

I think having auto-merge active isn't really a good thing in the first place. It was mentioned in the [Linked Comment](https://github.com/dependabot/dependabot-core/issues/1823#issuecomment-641594279) that the rare case of having malicious code in dependencies could be undete

[2020-08-10 21:34] chris48s commented on #5231
If we lose the ability to auto-merge certain deps, our process isn't suddenly going to become "oh well I'll perform a forensic code audit on each tarball then". It just means a human is going to go "does the build pass? yes. merge" instead of a computer doing it for us. Fundamentally the reason we chose to enable auto-merge on that small subset of packages/update types is because that was what we

[2020-08-10 21:43] calebcartwright commented on #5231
Agreed. We do our due diligence up front when considering whether or not to add a dependency to our tree. Once we've determined a dep to be a helpful and trustworthy addition, we do not (and will not) do a forensic analysis on each patch update of those deps. Instead, we rely on services and bots for updates and security issues. TBH, the Dependabot Security and npm audit features, and their respec

[2020-08-10 21:58] chris48s commented on #5231
Yes all the packages on the auto-merge list are dev dependencies (testing, linting or mocking libraries).

You can definitely still say there is a non-zero level of risk here. For example, if someone hijacks eslint and publishes a release that contains malware a _contributor_ to shields may still potentially going to pull down that malware and run it on your local machine as a result of us merging

[2020-08-10 22:42] calebcartwright commented on #5231
There's a non-zero level of risk with pulling in any dependency or any update to any dependency, unless we go to the extreme of using shrinkwrap and reviewing every line of change in the respective dep tree before pulling in any update of any dependency (and frankly even then as the human analyzing is also prone to errors/missing something)

I'd opened this to ensure we were tracking how GitHub wa

[2020-08-11 12:52] #1193 closed

[2020-08-11 19:50] chris48s commented on #5231
Indeed. I think we fully agree on this :)

[2020-08-12 03:14] HouCoder commented on #5396
Well explained, thanks!

[2020-08-12 03:14] #5396 closed

[2020-08-12 16:14] Yoskutik opened #5415 "Problems with using StackOverflow reputation badge"
you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

When I use _StackOverflow reputation_ badge without any parameters everything works okay:
![](https://img.shields.io/stackexchange/stackoverflow/r/11589183)

But when I add parameters in order to cha

[2020-08-12 16:16] Yoskutik commented on #5415
Hm, actually. Even `https://img.shields.io/stackexchange/StackOverflow/r/11589183` now says that parameters are invalid

![image](https://user-images.githubusercontent.com/38186744/90040129-43619b80-dcd0-11ea-9690-351ee7b710cb.png)

[2020-08-12 18:17] paulmelnikow commented on #5415
Thanks for the report. Weird! This issue is very strange, and must be related either to the Shields onboard caching logic (or possibly the CDN, though I doubt it). I expect it will resolve itself whenever the bad data is evicted from the cache.

It works fine locally and on staging.

If the underlying issue is the onboard cache, probably the best solution is to remove that cache, something I've wa

[2020-08-12 18:38] zardini123 commented on #1659
Discord now has the Widget section just showing "Streamer Mode Enabled."  Where do you go now to enable these "server widgets"?

[2020-08-13 09:55] Yoskutik commented on #5415
Thank you. It did resolve itself for the next day.

[2020-08-13 16:23] JrooTJunior commented on #5371
I think pepy.tech can be used instead of pypistats.org

[2020-08-14 10:03] pbelskiy commented on #5371
Can't you use another source of downloads?

[2020-08-14 17:01] matthewjdegarmo opened #5417 "Badge for Total PowerShell Gallery Downloads from all published modules."
:clipboard: **Description**
With the release of GitHub Profile README's, It would be nice to have a single badge to show your total PowerShell Gallery downloads from all of your published PowerShell Gallery Modules.

Something like |Total PowerShell Gallery Downloads| 2k|

I know there are great badges for single module downloads, but I'm not finding a way to add these values together into a singl

[2020-08-14 18:48] calebcartwright commented on #5417
Unless there's an official API endpoint that provides the aggregated stats for a user/owner, this seems like something that would probably be best handled via our [Endpoint badge](https://shields.io/endpoint)

[2020-08-14 20:23] AndrewB330 commented on #2731
You can also try https://github.com/AndrewB330/XLOCC
It supports file filtering, ignoring empty lines, ignoring comments

I think later I may try to add this to shields.io

[2020-08-14 20:57] paulmelnikow commented on #5417
Related: #204 #4964

[2020-08-15 20:24] #5259 closed

[2020-08-16 09:44] PyvesB commented on #5259
Thanks for championing this piece of work @kitsunyan!

[2020-08-16 10:28] PyvesB opened #5433 "Offset Earth has been renamed"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

The service tests for Offset Earth have been failing for the past few days, and the example on our website now returns "username not found". Looking into things a bit more closely, it seems that

[2020-08-16 12:32] owenvoke commented on #5433
I'm happy to work on this when I'm home tonight. 👍🏻

[2020-08-16 14:51] chris48s commented on #5371
This should now be resolved https://github.com/crflynn/pypistats.org/issues/29

[2020-08-16 14:51] #5371 closed

[2020-08-16 15:02] chris48s commented on #5412
We're throwing inaccessible because bundlephobia is throwing a 500 error on this specific package:
https://bundlephobia.com/api/size?package=%40jsany%2Fcli-kit%401.1.1

Other packages seem to be returning a valid response e.g:
https://bundlephobia.com/api/size?package=%40cycle%2Fcore%407.0.0

so I think its an issue related to this particular package. If its not obvious what is wrong from the erro

[2020-08-16 22:17] owenvoke commented on #5433
Added in https://github.com/badges/shields/pull/5434, hope that's all correct but let me know if not.

[2020-08-16 23:02] remotealex commented on #5433
Hey all! Thanks @owenvoke for rustling up the PR.

Like Owen mentioned, changing everything `offset.earth` to `ecologi.com` should sort it out 👍

[2020-08-17 04:14] Mr-jiangzhiguo commented on #5412
Extremely grateful

[2020-08-17 04:14] #5412 closed

[2020-08-17 09:14] #5433 closed

[2020-08-17 18:37] matthewjdegarmo commented on #5417
I ended up creating an action that combines the individual download amounts, adds them up, and creates the generic https://img.shields.io/badge/<LABEL>-<MESSAGE>-<COLOR>.svg link which replaced the link in my README.md.

So I have what I want without an endpoint. Thank you!

[2020-08-18 01:56] calebcartwright commented on #5417
Great, going to close this then!

[2020-08-18 01:56] #5417 closed

[2020-08-18 06:16] YashTotale commented on #5392
Pull Request #5411 has added these badges

[2020-08-18 09:02] christianmorfordwaitessw opened #5437 "Add ability to specify badge color without losing dynamic color change"
Hello,

Shields are awesome and having these dynamic badges is really cool.
It would be great if we could specify multiple colors for the right side of the badge.

:clipboard: **Description**
I want to change the color of the badge so it fits in with my styling, but I don't want to lose the dynamic color change.
The GitHub pull requests badge has a default of brightgreen and changes to yellow when

[2020-08-18 13:53] MacroPower commented on #5415
I'm seeing this issue intermittently. Right now, every badge on this page shows "invalid parameters". I've also tested on multiple browsers and even computers. It seems random, it will work for several hours and then revert back to "invalid parameters".

![image](https://user-images.githubusercontent.com/5648814/90521199-4af1cc00-e138-11ea-92af-9c59d3a80643.png)
![image](https://user-images.github

[2020-08-18 14:35] axi92 opened #5438 "ValidationError: needs to be an origin string, e.g. https://host.domain with optional port and no trailing slash"
Are you experiencing an issue with...

- [ ] [shields.io](https://shields.io/#/)
- [x] My own instance in Docker
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

I have the env var BITBUCKET_SERVER_ORIGINS=https://domain.com/bitbucket
This is our internal proxy server. And there is no way I can access this without /bitbucket.
Is there a way to s

[2020-08-18 14:53] paulmelnikow commented on #5438
Hi! Have you tried setting the env var to just the origin part? IIRC the origin env var is only used to validate the security check on the token, not for the request.

[2020-08-18 15:03] bastimeyer opened #5439 "github-workflow-status: add event parameter"
### Feature request

Currently, the github-workflow-status service doesn't support the event parameter:
https://github.com/badges/shields/blob/4059bdcdfa8b901c8c4c2676ad2fca02ff6b4489/services/github/github-workflow-status.service.js#L71-L74

The problem with this is that by not being able to filter for different events, a wrong build status can be returned. An example for this are scheduled workf

[2020-08-18 15:09] calebcartwright commented on #5438
That's correct. This is basically just defining which domains you'll allow your self-hosted Shields server to issue authenticated requests to in order to avoid any exfil of your configure creds.

You'll probably want to have something like this in your config:
BITBUCKET_SERVER_ORIGINS=https://my-private-bitbucket-server-domain.com

Then for your actual badges, you can specify the full url to your

[2020-08-18 15:10] calebcartwright commented on #5439
Are you sure that the native GitHub Workflow Status badges support filtering by events? Our badges are currently using an SVG scraping implementation, so we're explicitly constrained by the upstream options.

[2020-08-18 15:11] calebcartwright commented on #5437
This is a use case that would be better handled via our [Custom Endpoint badge](https://shields.io/endpoint). You could structure your custom endpoint to fetch the json data from Shields.io, transform as desired, and then add Endpoint badges to your readme (or wherever you're using them) which leverage your endpoint.

[2020-08-18 15:13] calebcartwright commented on #5392
We don't want to close a feature request until it's actually been implemented, which includes being merged.

[2020-08-18 15:13] bastimeyer commented on #5439
Yes, you can check that when trying to create a new badge on a workflow page.

Click the breadcrumb button here for example:
https://github.com/badges/shields/actions?query=workflow%3A%22Run+service+tests%22

[2020-08-18 15:14] calebcartwright commented on #5439
Excellent, thank you!

[2020-08-18 15:25] paulmelnikow commented on #5438
This would be a great addition to the docs.

@axi92 any chance you'd be up for improving that in a PR?

[2020-08-18 15:26] calebcartwright commented on #5438
https://github.com/badges/shields/blob/master/doc/server-secrets.md#authorized-origins

[2020-08-18 16:39] YashTotale commented on #5392
Oh ok, got it

[2020-08-18 18:28] #4973 closed

[2020-08-18 18:55] chris48s commented on #5415
Wild speculation, but I wonder if this is a manifestation of https://github.com/badges/shields/issues/3591 ?

from https://api.stackexchange.com/docs/throttle :

I guess we could be getting rejected with a 400 for making too many requests (which might explain this error and the intermittent behaviour)

[2020-08-18 19:21] paulmelnikow commented on #4973
Does this mean we can use static fields in the service classes?! 🤯

[2020-08-18 19:45] chris48s commented on #4973
oh yeah - there are probably some things like static/private class properties that are now unlocked

[2020-08-19 18:32] sentry[bot] opened #5441 "TypeError: Request path contains unescaped characters"
Sentry Issue: [SHIELDS-5G](https://sentry.io/organizations/shields/issues/1847621213/?referrer=github_integration)

[code]

[2020-08-19 18:35] chris48s commented on #5441
We've had about 200 events like this since we deployed on node 12 yesterday. Suspect the two are probably linked.

[2020-08-19 23:09] #5439 closed

[2020-08-20 07:22] axi92 commented on #5438
Ah ok I understand. That is the server that is on the whitelist for sending credentials to.
What is missing in the docs? @paulmelnikow
As far as I see if I would have read the docs I could understand how it is meant to be xD

[2020-08-20 16:17] paulmelnikow commented on #5438
I guess I thought you had looked at the docs and that it wasn’t clear you could still use a su domain. Maybe they are good enough as they are!

[2020-08-23 11:54] subnut opened #5455 "Color of text not changeable"
:clipboard: **Description**
There is no option that I could find at [shields.io](https://shields.io/#styles) that allows to set the background color. This is important in cases where you might want the badge color to be a light one. The default white is not very visible in that case. Or say, someone wants to make the labelColor white!

If you believe that it is unreasonable to expect that, look at

[2020-08-23 17:06] subnut commented on #5455
:disappointed:

Thanks very much! :smile:

Of course! :innocent:

[2020-08-23 17:06] #5455 closed

[2020-08-24 13:17] RocktimSaikia commented on #5133
July 24, [They are still down](https://david-dm.org/). What can be done here for now?  Most of my projects used `dependencies` badge. Guess I have to update every `readme` file.

![david](https://user-images.githubusercontent.com/33410545/91049008-23b86480-e63a-11ea-8a98-2a8eaf724a98.png)

[2020-08-25 15:00] gepser commented on #5415
I have the same issue, they work and stop working randomly

[2020-08-26 08:37] #5438 closed

[2020-08-26 08:44] wehs7661 commented on #703
Hi Codecov developers, I think I've been having the same issue as @erayerdin. My badge of Codecov in the master branch hasn't been updated for a while even if my code coverage actually changed. I'm not entirely sure if I should do anything according to [the refactored implementation of Codecov](https://github.com/badges/shields/pull/3074). Could you confirm if this is a solvable problem? Sorry if

[2020-08-26 21:29] paulmelnikow commented on #703
Hi! Could you open a new issue, please?

[2020-08-27 09:37] PyvesB commented on #4500
@elpiel and @pedrofracassi there's an open pull request for this, #5079, unfortunately its author is no longer responding. Would one of you be interested in picking things up again and helping land the pull request?

[2020-08-27 18:35] paulmelnikow commented on #5415
@chris48s I guess I’m confused that we’re getting “invalid parameter” on this, which sounds like, in addition to needing more rate limit, there’s also a bug in that we return what sounds like a permanent error instead of “unreachable.”

[2020-08-27 20:27] chris48s commented on #5415
The message "invalid parameters" implies we're getting a 400 response from the upstream API based on the code:
https://github.com/badges/shields/blob/1047fd9c7eddef8517eec7d403a602a428e64695/services/stackexchange/stackexchange-reputation.service.js#L66-L68
We don't know why that is happening. It would indeed be conventional for a 400 response to indicate that we are issuing an invalid or erroneou

[2020-08-28 16:47] chris48s commented on #5188
https://github.blog/changelog/2020-08-26-set-the-default-branch-for-newly-created-repositories/

[2020-08-29 06:11] wehs7661 opened #5457 "The badge of Codecov doesn't get updated"
- [x] [shields.io](https://shields.io/#/)
- [x] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**
Hi Codecov developers,
Recently I've found that my badge of Codecov in the master branch hasn't been updated for a while even if my code coverage actually changed. I'm not entirely sure if I should do anything according to the refactor

[2020-08-29 16:47] calebcartwright commented on #5457
I'm not entirely clear what the issue or question is in reference to. This repo is for Shields.io, not Codecov.

If you have a question or issue with the Codecov service, that needs to be taken to Codecov.

The Codecov service is showing the coverage for your master branch as 96%
https://codecov.io/gh/wehs7661/alchemistry_toolkit/branch/master

Accordingly, the badge provided by the Codecov servic

[2020-08-29 19:56] wehs7661 commented on #5457
Hi @calebcartwright, thank you for your reply and sorry I might have referred to the wrong repo.
However, you can see in your own command, even if https://codecov.io/gh/wehs7661/alchemistry_toolkit/branch/master/graph/badge.svg shows 96%, the badge in Markdown (either your own comment or my README) shows 62%. This seems to be an issue of Codecov though. Maybe I'll try putting the one that Shields.

[2020-08-29 21:01] calebcartwright commented on #5457
In my own command? Again, I don't know what you're referring to. I said the badges were showing as 96% because they are showing as 96% :smile:

![image](https://user-images.githubusercontent.com/13042488/91646014-7f0a9e00-ea10-11ea-87ba-13a5dd07aa3e.png)

And then in your repo's readme

![image](https://user-images.githubusercontent.com/13042488/91646020-9fd2f380-ea10-11ea-8220-adfb466d2c58.png)

[2020-08-30 00:08] paulmelnikow commented on #5415
Ah, I gotcha. It’s too bad they seem to send a 400 for both things!

[2020-08-30 09:14] wehs7661 commented on #5457
Sorry by "command" I meant comment, it was a typo. Before you replied, I've replaced the badge on my repo with the one provided by Shield.io instead of Codecov, which showed the correct code coverage, but now the badges shown in your comments are also exhibiting 96%, so I think there might be just an issue with my browser. Thank you for your reply and I think maybe we could close the issue if ther

[2020-08-30 13:24] niccokunzmann commented on #497
I added a service for badges here: https://transifex-open-api.herokuapp.com/

[2020-08-30 17:09] calebcartwright commented on #5457
Thanks for confirming, glad it's working for you now!

[2020-08-30 17:09] #5457 closed

[2020-08-31 12:46] lzoran opened #5470 "Badge request: Localizely"
:clipboard: **Description**

The [Localizely](https://localizely.com/) is a translation management system (TMS) that helps teams to automate, manage, and translate content.

It would be nice to have badges for this platform for showing overall and per-language translation progress.
Translation progress here represents a number of translations that are marked as reviewed.

Examples (static badges):

[2020-08-31 14:08] chris48s commented on #5470
Sounds good. We'd be happy to review a PR for this. There's a tutorial for creating new badges at https://github.com/badges/shields/blob/master/doc/TUTORIAL.md

[2020-08-31 15:06] mwithi commented on #497
Why not a **summary** badge with all languages, expanded names, in a table layout?

I had to do like [this](https://github.com/informatici/openhospital-gui/pull/203/files)

[2020-08-31 19:14] niccokunzmann commented on #497
@mwithi a pull request is welcome if you like to add this functionality. There might be something like this provided by Transifex already.

[2020-09-02 06:08] ngoldack commented on #5101
I've created a simple api so you can use a custom /endpoint badge for youtube. You need to deploy it yourself but with vercel it's free and simple: https://github.com/ntec-io/youtube-channel-badge

[2020-09-02 12:00] Prouser123 commented on #4492
@calebcartwright

It seems that `ActivityPub` <https://docs.joinmastodon.org/spec/activitypub/> is now used instead of salmon.

As a workaround we can use `https://{instance}/@{user}.rss` and from the image links at:

- `<rss><image><url>$X</url></image></rss>`
- `<rss><webfeeds:icon>$X</webfeeds:icon></rss>`
- `<rss><webfeeds:cover image="$X"/></rss>`

(e.g. `https://s3-mstdn.maud.io/accounts/ava

[2020-09-02 13:41] calebcartwright commented on #4492
Thanks @Prouser123!

[2020-09-03 06:17] hemantsonu20 opened #5473 "Badge Request: Add badge for total stars and total watchers"
:clipboard: **Description**
- Which service is this badge for: `Github`
- What sort of information should this badge show: `Total stars and watchers of a user's all repos`
 - Provide an example in plain text:
![](https://img.shields.io/badge/Total_Stars-6-brightgreen)
![](https://img.shields.io/badge/Total_Watch-60-brightgreen)

Currently total stars badge is available for a specific repo only.

A

[2020-09-04 05:55] hemantsonu20 commented on #5473
If it looks fine, then I can open PR for the same.

[2020-09-04 06:36] jinliming2 opened #5475 "Badges for Google Chrome Web store rating not working"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

Google Chrome Web Store rating badges seems not working since a few weeks ago.

:link: **Link to the badge**

https://img.shields.io/chrome-web-store/rating-count/oenllhgkiiljibhfagbfogdbchhdchml

[2020-09-04 07:12] PyvesB commented on #5475
Hello @jinliming2,

Thanks for bringing this to our attention. Indeed, the two rating badges seem broken, [our daily tests](https://app.circleci.com/pipelines/github/badges/daily-tests/448/workflows/b07ad5a4-ed0c-469d-a135-c1f6414599b5/jobs/1346) are failings as well. From what I can tell, this is not a problem on the Shields.io side, but rather on one of our dependencies, [node-chrome-web-store-i

[2020-09-04 07:18] PyvesB commented on #5473
Hello @hemantsonu20,

Thanks for the suggestion, this sounds like a good idea to me. However, do you have a feel for the performance of this badge for a user with many public repositories?

[2020-09-04 07:45] hemantsonu20 commented on #5473
@PyvesB Yes there will be a performance hit for users having multiple hundreds repository. But most users have less than 100 repo ( (although I don't have any data to prove it)) and It will be fetched in a single call.
I proposed graphql api where less data will travel over network and that's only optimization we can do from our side.

[2020-09-04 12:00] lkiran5080 opened #5476 "Find In Page"
:clipboard: Use Inbuilt "Find in page" search. It can literally save corps hundreds of thousand bucks. Search engine sucks.

:link: https://img.shields.io/badge/Use-Ctrl%20%2B%20F-blue?style=for-the-badge

:microphone: Find in Page Meme

[2020-09-04 13:59] calebcartwright commented on #5473
Is there any way, perhaps with the v3 API, to issue all the paginated calls in parallel? While I'd agree most users don't have thousands of repos, we're really talking about an owner here which could be an Organization (https://github.com/google/) or a user that does happen to have a higher count of repositories (https://github.com/isaacs/  https://github.com/sindresorhus/) and we wouldn't want to

[2020-09-04 14:05] calebcartwright commented on #5476
Closing this as there is nothing concrete in this request

[2020-09-04 14:05] #5476 closed

[2020-09-04 15:01] lkiran5080 commented on #5476
lmao sorrrry XD

[2020-09-04 15:29] hemantsonu20 commented on #5473
@calebcartwright It could be possible if we fetch repo count first.
`/users/{username}` api returns `public_repos` count in given user / org account. Then we can fire additional call in parallel for each hundred repos varying page number. Say if account has `350` repos, Issue 3 parallel call with page `1` to page `4`.

[2020-09-05 07:58] PyvesB commented on #929
Just to clarify the status here: we now support the number of repositories badge, but are still lacking the versions badges.

[2020-09-06 09:57] chris48s commented on #5473
Using the graphQL API, could we:
- filter to only repos with >0 stars (so we don't waste our quota to request repos with 0 stars which we don't need to count)
- order by stars (from high to low)
I think if we can do that I would be happy to say we only count your first 100 (or maybe even 200) most-starred repos to keep the number of requests reasonable.

[2020-09-06 10:18] chris48s commented on #5475
I've raised an issue on the upstream repo: https://github.com/pandawing/node-chrome-web-store-item-property/issues/275

But also, we are missing some error handling here. We should be throwing an `InvalidResponse` in this case, not rendering badges with `undefined`, `NaN` etc on them

[2020-09-06 11:00] Paebbels opened #5494 "The Badge "Libraries.io - Sourcerank" shows wrong data"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

The badge "sourcerank" from Libraries.io shows in my case a rank of 8, while on Libraries.io, the actual rank is 4.

| Screenshot | Rank calculation |
| ------------ | ------------------ |
| ![im

[2020-09-06 11:01] Paebbels commented on #5494
This is related to:
* #1532

[2020-09-06 11:03] Paebbels commented on #4480
@paulmelnikow any progress on this issue?

[2020-09-06 11:49] chris48s commented on #5494
The corresponding libraries.io link for that badge is https://libraries.io/pypi/pyAttributes

* https://libraries.io/pypi/pyAttributes reports a sourcerank of 11
* https://libraries.io/api/pypi/pyAttributes reports a sourcerank of 11
* https://img.shields.io/librariesio/sourcerank/pypi/pyAttributes reports a sourcerank of 11

so the badge is behaving as expected

[2020-09-06 14:05] chris48s commented on #5215
#5474 closes the final outstanding service

[2020-09-06 14:05] #5215 closed

[2020-09-06 14:28] chris48s commented on #5475
Looks like node-chrome-web-store-item-property will just drop the `ratingCount` and `ratingValue` properties, so I guess we just need to deprecate these badges

[2020-09-06 14:29] sanemat commented on #5475
Hi there.

Google changed the html of chrome web store. So it's not easy to return `ratingCount` and `ratingValue`.
https://github.com/pandawing/node-chrome-web-store-item-property/issues/275#issuecomment-687801815

[2020-09-06 16:39] #5475 closed

[2020-09-06 16:49] PyvesB commented on #5475
Is there a case for pinging Google about this? It's a long shot, but I know there's a support email for the Chrome Web store - I used it once for a problem with one of my browser resources, a human part of the team responded and was helpful. If we expose our use case, i.e. ~15k daily badges impacted, as well as many other integrations relying on that bit of metadata they removed, there's a chance

[2020-09-06 16:55] Paebbels commented on #5494
So libraries.io has my "package" listed twice?
* the PyPI package
* the GitHub repository

[2020-09-06 19:36] chris48s commented on #5494
https://libraries.io/github/Paebbels/pyAttributes is the repository https://libraries.io/pypi/pyAttributes is the package.

Its an oddity of the platform that Libraries.io gives a different sourcerank score to a package and its corresponding source repository. This is true across the board (e.g: https://libraries.io/pypi/requests vs https://libraries.io/github/psf/requests ) but if you want to dis

[2020-09-06 19:36] #5494 closed

[2020-09-06 19:44] chris48s opened #5497 "Review contrast for common colour schemes to improve a11y"
:clipboard: **Description**

Refs #5467

Some of our standard colour schemes score quite poorly on contrast for accessibility and could be improved. For example

![Screenshot at 2020-09-06 11-55-53](https://user-images.githubusercontent.com/6025893/92324433-7d0c9480-f039-11ea-8598-b500d0ade420.png)

![Screenshot at 2020-09-06 11-56-18](https://user-images.githubusercontent.com/6025893/92324436-81d

[2020-09-06 20:14] Paebbels commented on #5494
@chris48s thanks for the support and clarifying that there are two views and also 2 ranks.

[2020-09-07 05:31] gurrrung opened #5498 "Chrome extension ratings badge shows NaN"
:beetle: **Description**

My Chrome extension should show a rating of 5/5 but it shows NaN/5.

![Screenshot from 2020-09-07 11-00-50](https://user-images.githubusercontent.com/30543444/92351463-6d548500-f0f9-11ea-8a47-0bda06f4782f.png)

:link: **Link to the badge**

Check out the readme of https://github.com/gurrrung/coursera-HD-video-downloader

:bulb: **Possible Solution**

Rating should be show

[2020-09-07 13:43] EdieLemoine opened #5499 ""invalid response data" on WordPress plugin badge"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

I'm trying to add a badge with the [WooCommerce plugin](https://wordpress.org/plugins/woocommerce-myparcel) version to our repository , but the shield doesn't work. I've tried several other plugi

[2020-09-07 14:26] calebcartwright commented on #5498
Duplicate of #5475

[2020-09-07 14:26] #5498 closed

[2020-09-07 14:39] hemantsonu20 commented on #5473
* There is no option to filter based on no of stars.
* Sort by no of stars on repo is available.

[2020-09-07 17:07] #4661 closed

[2020-09-07 17:39] calebcartwright commented on #5499
Thanks for the report @EdieLemoine this is due to a mismatch between the schema we're currently using to validate the response from the Wordpress API (specifically the `requires` key can be a string _or_ a boolean, but [our schema only expects a string](https://github.com/badges/shields/blob/master/services/wordpress/wordpress-base.js#L14)).

This should be fixed in https://github.com/badges/shiel

[2020-09-07 18:43] runxel commented on #5497
This one also performs really bad

![badge](https://user-images.githubusercontent.com/2277182/92412087-cef10f80-f14a-11ea-93d9-05bbf4641115.png)

[2020-09-07 19:51] chris48s commented on #5473
Being able to sort by stars is probably the more useful of those two anyway.

Are you interested in working on a PR for this? There's a tutorial at https://github.com/badges/shields/blob/master/doc/TUTORIAL.md and you can look at other services which implement `GithubAuthV4Service` to get an idea of how to implement a badge that uses the github graphql api.

[2020-09-07 19:53] chris48s commented on #5497
Right yes. ![](https://img.shields.io/badge/-yellow-yellow) ![](https://img.shields.io/badge/-yellowgreen-yellowgreen) and ![](https://img.shields.io/badge/-green-green) are also part of the standard palette

[2020-09-08 03:17] hemantsonu20 commented on #5473
Yes, will be happy to work on it.
Will it be feasible to add a query param repoCount (default value 100), which can be further customized. Initially its values can be limited till 200 or any other value you suggest.

[2020-09-08 07:59] EdieLemoine commented on #5499
Great, thank you!

[2020-09-08 21:08] NatoBoram opened #5505 "Badge request : openuserjs.org, greasyfork.org"
:clipboard: **Description**

Services : openuserjs.org, greasyfork.org

Information : Install count, rating, version code

Examples :

![OpenUserJS](https://img.shields.io/badge/OpenUserJS-3%20installs-%232c3e50)
![GreasyFork](https://img.shields.io/badge/GreasyFork-3%20installs-%23990000)

:link: **Data**

* No public API
* No key needed

Data can be directly accessed from the HTML file.

:microp

[2020-09-08 21:18] NatoBoram commented on #3585
Patreon seems to provide a public API right now.

Testing on Kurtgesagt's ID `73401` and the query `data.attributes.patron_count`, I get this :

[![Patreons](https://img.shields.io/badge/dynamic/json?color=%23e85b46&label=Patreon&query=data.attributes.patron_count&suffix=%20patrons&url=https%3A%2F%2Fwww.patreon.com%2Fapi%2Fcampaigns%2F73401)](https://www.patreon.com/Kurzgesagt)

URL is `https://im

[2020-09-08 21:45] calebcartwright commented on #5505
Thanks for the request @NatoBoram. However, we can't do html scraping to retrieve the requisite data for the badges. If these tools/services do not provide an endpoint to retrieve the data, then we can't provide native badges for them, but you could leverage our [Endpoint badge](https://shields.io/endpoint) instead.

[2020-09-09 08:51] tooomm opened #5506 "Badge request: Flathub downloads"
:clipboard: **Description**

- Which service is this badge for e.g: GitHub, Travis CI
Flathub: https://flathub.org
- What sort of information should this badge show?
Download count of a particular package. Currently only a version badge is supported.

- Provide an example in plain text e.g: "version | v1.01" or as a static badge
(static badge generator can be found at https://shields.io)
<kbd>Flat

[2020-09-09 12:30] Geo1088 commented on #3585
Neat, thanks for the info!

It seems like Patreon's API is in a bit of a weird spot - they appear to have stopped providing official support for it, but it's not clear to me what that means for its stability going forwards. I'll probably be using the endpoint solution you posted for now though.

[2020-09-09 13:17] NatoBoram commented on #3585
Yeah, they have some pages with server-side rendering and some other pages that are done correctly. I don't exactly know why or how this happened, but anyway, this API is used by them.

[2020-09-09 13:54] NatoBoram commented on #5505
Found the API for GreasyFork!

* `https://greasyfork.org/scripts/411035.json`
* ![GreasyFork](https://img.shields.io/badge/dynamic/json?color=%23990000&label=GreasyFork&query=total_installs&suffix=%20installs&url=https%3A%2F%2Fgreasyfork.org%2Fscripts%2F411035.json)
* `https://img.shields.io/badge/dynamic/json?color=%23990000&label=GreasyFork&query=total_installs&suffix=%20installs&url=https%3A%2F

[2020-09-09 14:49] sdabhi23 commented on #4500
@PyvesB I would like to help with #5079 if any one is not currently working on it

[2020-09-09 15:36] PyvesB commented on #4500
@sdabhi23 sure, please pick it up! 👍🏻

[2020-09-09 15:40] PyvesB commented on #5505
@NatoBoram is the API documented anywhere? It would be quite useful!

[2020-09-09 15:41] jerone commented on #5505
Related issue: #829

[2020-09-09 15:50] hemantsonu20 commented on #5473
Opened pull request #5507. Applied a limit of 200 most starred repos.

[2020-09-09 15:52] hemantsonu20 commented on #5473
We forgot to discuss about `Total Watch`. The problem is there is no option to sort based on watchers of repo.

[2020-09-09 16:06] PyvesB commented on #1518
No issues with our Code Climate badges were reported recently. Over the years, we've improved caching on our side and we happen to be hitting the Code Climate API with five distinct IP addresses nowadays instead of three previously, which means that we'll hit the rate-limiting more slowly. I consider this as a workaround rather than a proper fix, if usage of our Code Climate badges increases signi

[2020-09-09 16:06] #1518 closed

[2020-09-09 16:43] NatoBoram commented on #5505
I don't think there's a documentation anywhere. I found out in https://github.com/JasonBarnabe/greasyfork/issues/247 that you can add `.json` to some web pages and it'll return a JSON response.

Their example is https://greasyfork.org/users/173559.json, so I tried on my script and https://greasyfork.org/scripts/411035.json works.

I asked in https://github.com/JasonBarnabe/greasyfork/issues/787.

[2020-09-09 16:51] sdabhi23 commented on #4500
Do you mind if I close the old PR and raise a new one as there seems to be a merge conflict on it?

[2020-09-09 17:00] PyvesB commented on #4500
If it's easier for you, that's fine. My only suggestion would be to include the `Co-authored-by` tag in the commit message (https://github.blog/2018-01-29-commit-together-with-co-authors) so that the original author is given attribution as well!

[2020-09-09 17:12] elpiel commented on #4500
Ohhh cool! Thanks for taking the time to work on it 😋

[2020-09-09 18:48] sdabhi23 commented on #4500
@PyvesB sure, will definitely do that!

@elpiel it is my pleasure 😃

[2020-09-09 20:03] chris48s commented on #3585
Patreon does provide a documented public API: https://docs.patreon.com/#introduction
It looks like we do need to authenticate but no rate limits are mentioned.

[2020-09-09 20:30] chris48s commented on #5506
I think the data in the structure at https://flathub.org/stats/ isn't workable for us: In order to query that on-the-fly in the form the data is provided (1 json file per day) we would have to make many network requests to get the stats for a single package over a period of time (i.e: to do downloads for 1 month we'd have to make ~30 requests).

It looks like https://klausenbusk.github.io/flathub-

[2020-09-09 22:36] Martii commented on #5505
Well I'll have to reread Shields documents and find out how they are actually querying any site to add this to OUJS e.g. this part `query=total_installs&suffix=%20installs`... if it's a QSP it may be doable on our own since we do have a documented .json routine *(just no QSP's atm to pull individual elements out)*... if it's a headered request that will need to be a collaboration with Shields and

[2020-09-10 00:51] NatoBoram commented on #5505
Personally, I just filled the _Dynamic_ form with those values

* `GreasyFork`
* `https://greasyfork.org/scripts/411035.json`
* `total_installs`
* `#990000`
*
* ` installs`

![image](https://user-images.githubusercontent.com/10495562/92668727-a2213180-f2dd-11ea-95af-6761d8ce6388.png)

The `query` is just a [JSON Path](https://jsonpath.com/). The only variable here is `411035`, the script ID.

[2020-09-10 01:59] Martii commented on #5505
@NatoBoram
Well the documentation is at https://openuserjs.org/about/Frequently-Asked-Questions#q-does-openuserjs-org-have-meta- and my Unit Test for the site is at https://openuserjs.org/scripts/Marti/oujs_-_Meta_View *(which just happens to utilize install count for that .user.js to fill out the phantom URL UI)* which will show the .json fields we collect. If you need something added let us know

[2020-09-10 18:38] NatoCMI commented on #5505
Thanks @Martii! I got it working.

* `json`
* `OpenUserJS`
* `https://openuserjs.org/meta/NatoBoram/YouTube_Comment_Blacklist.meta.json`
* `$.OpenUserJS.installs[0].value`
* `#2c3e50`
*
* ` installs`

[![OpenUserJS](https://img.shields.io/badge/dynamic/json?color=%232c3e50&label=OpenUserJS&query=%24.OpenUserJS.installs%5B0%5D.value&suffix=%20installs&url=https%3A%2F%2Fopenuserjs.org%2Fmeta%2FNatoB

[2020-09-11 15:57] donatj commented on #1299
Doesn't seem like #2969 added a simple keybase profile badge like the post requested?

Ala:
![image](https://user-images.githubusercontent.com/133747/92947440-9d639700-f41d-11ea-9a3f-d8ccb0a6e8b2.png)

[2020-09-11 16:04] calebcartwright commented on #1299
@donatj - that would just be a static badge, and is already available

[2020-09-11 17:06] PyvesB commented on #4994
I'm going to go ahead and close this one. If anyone notices broken Hex.pm badges, please do ping us.

[2020-09-11 17:06] #4994 closed

[2020-09-11 17:09] PyvesB commented on #4962
We've successfully implemented a token-based approach for Discord, and Hex.pm turned out not to be a problem in the end. Let's discuss decommissioning the old OVH servers during next Operations meeting!

[2020-09-11 17:09] #4962 closed

[2020-09-11 19:07] #5470 closed

[2020-09-11 20:08] chris48s commented on #4994
I was under the misguided impression that we were _already_ routing the hex badges via OVH. If we've been running without doing that since we migrated to heroku I am sure someone would have raised an issue if we were hitting the rate limits.
Does that mean we can completely decommission the old servers now? (not that any of us actually have access to, but in principle...)

[2020-09-12 01:50] calebcartwright opened #5518 "Coverity service test failing"
:clock11: **When did the problem start?**
More than 1 month ago, early August 2020

:camera: **Live badge**

https://img.shields.io/coverity/scan/3997
![](https://img.shields.io/coverity/scan/3997)

https://img.shields.io/coverity/scan/abc
![](https://img.shields.io/coverity/scan/abc)

:wrench: **Is the live badge working?**
Yes, seems to be

:link: **CircleCI link**
https://app.circleci.com/pipel

[2020-09-12 01:58] calebcartwright opened #5520 "Criterion service test failing"
:clock11: **When did the problem start?**
~5 days ago, 6th of August 2020

:camera: **Live badge**

https://img.shields.io/criterion/chmoder/data_vault
![](https://img.shields.io/criterion/chmoder/data_vault)

:wrench: **Is the live badge working?**
Yes

:link: **CircleCI link**
https://app.circleci.com/pipelines/github/badges/daily-tests/454/workflows/a3b1ef44-ca50-43ab-86a2-efa1ce99c8be/jobs/135

[2020-09-12 09:44] PyvesB commented on #5518
That's good, the error message will be much clearer for users! 👍🏻

[2020-09-12 14:27] #5520 closed

[2020-09-12 14:36] #5518 closed

[2020-09-12 21:58] sentry-io[bot] opened #5535 "TypeError: Cannot destructure property 'digest' of 'version.images.find(...)' as it is undefined."
Sentry Issue: [SHIELDS-5J](https://sentry.io/organizations/shields/issues/1890993808/?referrer=github_integration)

[code]

[2020-09-13 06:15] NatoBoram commented on #5505
https://github.com/JasonBarnabe/greasyfork/wiki/API

[2020-09-14 15:13] quickgrid opened #5541 "Problem with Repo Size Badge"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

**Update: Now it showing `repo-size` which is smaller than `code-size`, but still problem with double repository exists.**

My repository size badge shows zero yet the other badges seem to work.

[2020-09-14 18:38] chris48s commented on #5541
Hello. Our repo size badge reports the size from `https://api.github.com/repos/<user>/<repo>` and the code size badge sums all the language values from `https://api.github.com/repos/<user>/<repo>/languages`

so the values for the quickgrid/CodeLab badges come from:

* https://api.github.com/repos/quickgrid/CodeLab
* https://api.github.com/repos/quickgrid/CodeLab/languages

and the values for the q

[2020-09-14 19:20] quickgrid commented on #5541
Thank you for your quick response. Now it makes sense about code size difference. It seems GitHub redirected old repo name to new name for compatibility that's why both were working. Size issue also seems on GitHub side could be due to reasons given here, https://github.com/harshjv/github-repo-size/issues/33.

[2020-09-14 19:20] #5541 closed

[2020-09-15 05:26] vinitshahdeo opened #5545 "Hacktoberfest 2020 Badge"
:clipboard: **Description**

The current Hacktoberfest badge is for Hacktoberfest 2019. There's no option to change the year - `2019` is hardcoded.

![Screenshot 2020-09-15 at 10 55 34 AM](https://user-images.githubusercontent.com/20594326/93169118-0ad73680-f742-11ea-83f7-570c58239b60.png)

![GitHub Hacktoberfest combined status](https://img.shields.io/github/hacktoberfest/2019/vinitshahdeo/PortSc

[2020-09-15 14:10] max-programming opened #5546 "Microsoft Edge Addon downloads like Chrome webstore"
:clipboard: **Description**
I noticed that there are badges to see the amount of viewers of an extension for Chrome webstore and Firefox. And the [new Microsoft Edge](https://www.microsoft.com/en-us/edge) has it's own [Addons store](https://microsoftedge.microsoft.com/addons/Microsoft-Edge-Extensions-Home?hl=en-US) too. So I wanted to have this badge also.

:link: **Data**
A badge that shows how m

[2020-09-15 14:48] calebcartwright commented on #5546
Duplicate of #4690

[2020-09-15 14:48] #5546 closed

[2020-09-15 17:21] chris48s commented on #5014
The place we register the route for serving the frontend is https://github.com/badges/shields/blob/614daef08f0c6831894fef4e4cac23816d3953f3/core/server/server.js#L416-L423
The headers are determined by scoutcamp so we may actually need to patch our scoutcamp fork to have control over this. I will investigate.

[2020-09-15 20:37] chris48s opened #5548 "New service: winget"
:clipboard: **Description**

TIL Microsoft are currently previewing winget: a package manager for Windows (a bit like Chocolatey or Scoop, but first-party). https://github.com/microsoft/winget-cli This might gain some traction, or it might be bit of a zune but the fact that it is the MS "blessed" solution to a real problem does make this noteworthy.

Manifest yaml format: https://github.com/micros

[2020-09-16 00:41] #2671 closed

[2020-09-16 03:53] Surendrajat commented on #5218
The API docs are available now: https://open-vsx.org/swagger-ui/

[2020-09-16 03:56] calebcartwright commented on #5218
Thanks @Surendrajat!

[2020-09-16 08:30] zero77 commented on #929
The also have:
https://repology.org/badge/latest-versions/firefox.svg

[2020-09-17 14:58] 12944qwerty opened #5550 "Pypi/pyversions not working for my project"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

I'm trying to make a pyversion badge for my [pypi project](https://github.com/SnowballSH/ColorPalette) but I keep getting the `python|missing` type of badge instead. I'm looking for it like this:

[2020-09-17 15:15] paulmelnikow commented on #5550
Hi, thanks for the report. Our implementation reads trove classifiers (e.g. https://github.com/lace/vg/blob/ba4dc7f1418ef2b578237bdd557b1816af29b62f/setup.py#L39), not the [`python_requires`](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires) field – which I actually haven't seen before!

Probably it would be a good idea to support `python_requires` and fa

[2020-09-17 15:38] 12944qwerty commented on #5550
I will not be able to add support for that, unfortunately. I don't have much experience with javascript, and definitely not back-end javascript, so I wouldn't know how to add support for this.

I will add the classifiers though, thank you!

[2020-09-17 16:09] 12944qwerty commented on #5550
Hi, I updated the [https://github.com/SnowballSH/ColorPalette/blob/master/setup.py#L31](classifiers) but I reloaded and did the different project names but I still got 404.

[2020-09-17 18:01] 12944qwerty commented on #5550
Question, the pypi projects look at the pypi website instead of github right? That may be why it's not working.....

Is there a way to change that?

[2020-09-17 18:57] calebcartwright commented on #5550
Did you republish your project after you made the update?

Yes, our pypi badges are based on the data from packages on pypi.

This is intentional. People can use whatever source control system they want to develop their packages that they then publish to PyPI, whether that's GitHub, Gitlab, Bitbucket, etc. So no, we cannot (and do not want to) change this badge. The easiest thing for you to do her

[2020-09-17 19:01] 12944qwerty commented on #5550
Ok, thank you!

I believe this issue is closed now so I'll close it 👍

[2020-09-17 19:01] #5550 closed

[2020-09-17 19:07] 12944qwerty opened #5551 "Pypi python_requires parsing"
In #5550 I noted that to get pyversion, you need to use classifiers. However, there are a lot of python libraries out there that also use [`python_requires`](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires) instead.
Instead of making a feature proposition there, I decided to make a new issue that was directed at this task instead of using an existing 'qu

[2020-09-18 03:34] #2731 closed

[2020-09-18 15:16] 12944qwerty commented on #5551
Note: If someone could explain to me how python-version is parsed [here](https://github.com/badges/shields/blob/13d75e0607334b700fdb4a533768cde341619a50/services/pypi/pypi-python-versions.service.js#L52), I could try doing it myself.

For example, I might want to know where `handle` is being called, and what { egg } is. Thank you!

[2020-09-18 19:27] chris48s commented on #5551
Yeah I think a badge that looks at `requires_python` and just reproduces the `requires_python` string (i.e: output is something like ![](https://img.shields.io/badge/python-%3E%3D3.4%2C%3C4.0-blue) rather than attempting to turn that into a list of versions) would be useful. I'm leaning towards saying that should be another variant though, as opposed to a replacement for the existing badge. The fo

[2020-09-18 19:49] 12944qwerty commented on #5551
So you're saying instead of `pypi/pyversions` we make it so that you use `pypi/pyrequires` instead (or something like that?)

~~Omg, how did you make a badge like that?~~

[2020-09-18 20:19] aidin36 commented on #4225
It's worth mentioning that EFF Privacy Badger blocks the shields.io

[2020-09-18 20:26] dg0yt commented on #4225
So does this include blocking Github's anonymized urls at all?

[2020-09-18 20:30] chris48s commented on #5551
Yeah exactly. That sounds like a good choice of URL to me :+1:

I'm guessing from the strike through you already figured it out, but I just used a static badge to demonstrate. The URL for that would be https://img.shields.io/badge/python-%3E%3D3.4%2C%3C4.0-blue

[2020-09-18 21:10] 12944qwerty commented on #5551
Great, I'll do some browsing and see if I can make a PR! Or not, to which I'll let you know.

Um.... no? lol I used the strike because it was technically offtopic.... 🤷‍♂️... I should've known though...

[2020-09-18 21:13] chris48s commented on #4225
@aidin36 - I think we're straying from the original point of this but that may or may not be by design. Last time it happened, it was reported as a bug and fixed: https://github.com/EFForg/privacybadger/issues/1394

[2020-09-19 03:39] sachaw opened #5554 "Some Simple Icon badges not working"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**
Some icons listed on the Simple Icons site do not work with Shields.

:link: **Link to the badge**
Here's an example
https://img.shields.io/github/package-json/dependency-version/sachaw/scrobble-m

[2020-09-19 03:42] calebcartwright opened #5555 "🎃 Convert Service Classes to Static Fields 🎃"
We recently completed the [upgrade to Node 12 in our production environment](https://github.com/badges/shields/pull/5436) which, among other benefits, now allows us to leverage [static fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Public_class_fields) for defining core attributes like the category and route.

We've completed the refactoring of several service cl

[2020-09-19 03:49] sachaw commented on #5554
fixed: https://img.shields.io/github/package-json/dependency-version/sachaw/scrobble-moe/next?logo=next.js, inconsistent naming.

[2020-09-19 03:49] #5554 closed

[2020-09-19 06:17] jhpratt opened #5557 "Customize "red" and "green" color for build status"
Semi-related: #4396

Would it be possible to set a custom color for "red" and "green" for the build status? I have a certain preference for pastel/muted colors, and the current colors "pop" a bit much for my liking. It is also inconsistent with the other badges I have adjacent to the build status.

[2020-09-19 10:49] oliviertassinari commented on #755
THIS. In the project I'm working on, we have a couple of different CI tools. It would be much simpler if we could display the state of the default GitHub branch in a badge. It already aggregates all the CI tools.

[2020-09-19 12:20] jabbar86 commented on #5555
@calebcartwright I would like to contribute to this. Should I wait for hacktoberfest to start?

[2020-09-19 13:08] ThakurKarthik commented on #5555
Hi @calebcartwright I would love to work on some classes.

[2020-09-19 14:56] calebcartwright commented on #5557
Which other badges are these? Are they Shields.io badges, and if so are they static badges with custom colors?

I think we're unlikely to support this given the goals of the project, very similarly to why #4396 was declined. Your best bet would probably be to utilize our [Custom Endpoint badge](https://shields.io/endpoint)

[2020-09-19 15:09] calebcartwright opened #5573 "Moment.js Maintenance Mode Announcement"
Some interesting news on Moment.js being deprecated (sort of). I don't see a need for any action, at least in the short term, given that they've said they'll continue to address security issues. However, opening for awareness and discussion.

https://momentjs.com/docs/#/-project-status/

[2020-09-19 15:15] calebcartwright commented on #5555
@jabbar86

Great! Please specify which of the service classes families you're going to work on so that we can prevent any duplicative efforts

that's up to you! We'll happily accept help with this effort regardless of what month it is, but PRs submitted before Hacktoberfest begins will obviously not count towards your Hacktoberfest contributions

@ThakurKarthik

Great! I've updated the above list

[2020-09-19 15:22] jabbar86 commented on #5555
@calebcartwright Thanks I will contribute before hacktoberfest too. I will be working on.

[code]

[2020-09-19 15:47] calebcartwright commented on #5133
This is down, again. The lack of stability with the David service is rather concerning. If it wasn't such a popular I'd badge I'd be inclined to just go ahead and deprecate it

Here's the latest issue in the David repo tracking the outage
https://github.com/alanshaw/david/issues/171

[2020-09-19 15:56] jhpratt commented on #5557
Yes, they are shields.io badges with custom colors.

If the goal is standardization, why support custom colors at all? Having to implement (and host!) an endpoint seems like quite an extreme measure just to change a color.

[2020-09-19 16:11] calebcartwright commented on #5557
There's a difference between static badges which allow users to create whatever they want, and dynamic badges for certain categories (like build status) that have the consistency goal. You can't really compare the flexibility of the static badges with the core badge offering.

I don't see it that way. All an endpoint would need to do is call Shields.io with the `.json` extension (like https://img.

[2020-09-19 18:11] techboyg5 opened #5577 "Add instructions to adding to HTML and Markdown"
Instructions for adding the badges to HTML and Markdown should be added.

HTML:

    <a href="https://github.com/badges/shields"><img src="https://img.shields.io/badge/GitHub-Star-blue?logo=github" alt="Star on GitHub"></a>

Markdown:

    [![Star on GitHub](https://img.shields.io/badge/GitHub-Star-blue?logo=github)](https://github.com/badges/shields)

Both of which make the following badge:

[![S

[2020-09-19 19:15] chris48s commented on #5573
Yeah I also spotted this the other day. I'd agree with your perspective. There is no rush to migrate given it will continue to receive security updates. That said, our usage of moment is pretty light: we require it in less than 10 files, we're not heavily tied to it by another dependency which forces us to use it, and its not part of our service framework so if we do want to migrate to _something

[2020-09-19 20:08] #5282 closed

[2020-09-19 23:41] Haeri opened #5580 "Unparseable jsonpath query error on dynamic json badge"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

I am getting an `unparseable jsonpath query` error when trying to access a variable with a `-` inside.

:link: **Link to the badge**

Accessing `version-string` doesn't work
`https://img.shields.

[2020-09-20 06:18] ThakurKarthik commented on #5555
@calebcartwright can i work on this  jira jitpack jsdelivr keybase , if no one else is working on those?

[2020-09-20 07:16] jhpratt commented on #5557
I was aware of neither RunKit nor the JSON API; I naïvely assumed that I'd have to reimplement the full API myself. I'll give it a shot and see how difficult it is (it's been a while since I've used JavaScript for a server).

It still seems a bit wasteful on the shields.io end, as two requests will be performed instead of one, but that's also not my issue 🙂

[2020-09-20 11:21] jabbar86 commented on #5555
@calebcartwright I have finish https://github.com/badges/shields/issues/5555#issuecomment-695256771. I would like to take another modules i.e

[code]

[2020-09-20 14:42] hemantsonu20 commented on #5580
Hi @Haeri can you try `https://img.shields.io/badge/dynamic/json?url=https://raw.githubusercontent.com/Haeri/ElementalDraw/master/vcpkg.json&label=version&query=$['version-string']&color=blue`
![](https://img.shields.io/badge/dynamic/json?url=https://raw.githubusercontent.com/Haeri/ElementalDraw/master/vcpkg.json&label=version&query=$['version-string']&color=blue)

hyphen in key `version-name` mig

[2020-09-20 16:40] calebcartwright commented on #5133
And back up

[2020-09-20 16:40] #5133 closed

[2020-09-20 17:11] Haeri commented on #5580
Sweet! Thanks, works like a charm!

[2020-09-20 17:11] #5580 closed

[2020-09-20 17:22] calebcartwright commented on #5577
The Shields.io website actually will generate this (as well as rst and asciidoc) for you, but I'm not entirely convinced that it's Shields responsibility to provide educational material to folks on how to add images in html or markdown.

![image](https://user-images.githubusercontent.com/13042488/93717452-9e8e7580-fb3b-11ea-918f-066d2e7a20f5.png)

[2020-09-20 18:31] #5499 closed

[2020-09-20 18:40] #5545 closed

[2020-09-20 18:44] wdspider opened #5584 "Github package.json version badge does not work when repo's default branch is "main""
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

The Github package.json version badge does not work when your repo's default branch is `main`

:link: **Link to the badge**

Broken:  https://img.shields.io/github/package-json/v/wdspider/queslar

[2020-09-20 19:32] chris48s commented on #5584
This _should_ work. I suspect this line is the culprit:

https://github.com/badges/shields/blob/36395715a5ad3c99893bb94143e108e991d41456/services/github/github-common-fetch.js#L58

but I'll dig into it tomorrow

[2020-09-20 20:10] techboyg5 commented on #5577
I still think that adding something like in the first comment into the main page would be a good idea.

[2020-09-20 20:21] calebcartwright commented on #5577
I understand what you're asking for, but I respectfully disagree. The main and target audience for our service are technologists and developers, and adding this type of common, basic, content would only add unnecessary noise in a place where we already have challenges with users finding Shields specific content (like the endpoint and dynamic builders and docs).

99% of the consumers of Shields.io

[2020-09-20 23:32] techboyg5 commented on #5577
Got it! Closing now.

[2020-09-20 23:32] #5577 closed

[2020-09-21 15:13] paulmelnikow commented on #5573
Yea, it should be an easy swap.

I'm curious, does anyone have experience with Day.js or the other alternatives?

[2020-09-21 15:17] paulmelnikow commented on #5294
I'm using the hacky workaround in another project. It seems to be working fine and means we can use the up-to-date type defs and latest TypeScript.

If no one objects I'll open a PR to do that here.

[2020-09-21 15:59] calebcartwright commented on #5294
No objections whatsoever!

[2020-09-21 16:06] calebcartwright commented on #5573
Nope, I've only ever used Moment

[2020-09-21 17:28] 12944qwerty commented on #5551
See #5576 for the PR related

[2020-09-21 17:34] paulmelnikow commented on #5551
I'd rather we find a way to do the right thing automatically here, without authors needing to choose which method to use. Yes, there could be conflicts, however the pip resolver (or the pypi server?) must have a way of resolving these conflicts now, as it already can do things like identify the last version of a package that supports Python 2.

[2020-09-21 17:36] calebcartwright commented on #5551
Reopening as referenced PR hasn't been merged and seems additional discussion is needed

[2020-09-21 19:36] jabbar86 commented on #5555
@calebcartwright I have completed https://github.com/badges/shields/issues/5555#issuecomment-695775615. Assign me

[code]

If anyone hasn't started working on it.Thanks

[2020-09-21 19:50] 12944qwerty commented on #5551
@paulmelnikow You're saying to merge the classifiers and pyrequires? Which one would we parse first? Do we show both? How would this work?

[2020-09-21 21:30] chris48s commented on #5551
pip only looks at `python_requires`. From https://packaging.python.org/guides/distributing-packages-using-setuptools/#classifiers

https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires

---

My thinking on recommending that we just make this a separate badge is that the format of `python_requires` is its a range (or more accurately a PEP 440 constraint so it c

[2020-09-21 21:47] paulmelnikow commented on #5551
Oh, interesting!

PyPI clearly does read both. An example project that shows both is [requests](https://pypi.org/project/requests/), and one that shows just the classifier is [polliwog](https://pypi.org/project/polliwog/).

I did not know pip uses `python_requires`. It suggests that authors, if they're only going to declare one of them, really should provide `python_requires`. That's why I think i

[2020-09-21 22:30] 12944qwerty commented on #5551
I have already created a PR regarding two different badges. Seeing as making a combined badge versus two separate badges is still in discussion, I'll hold off the PR for now until we decide which option to go with.

My opinion would be to make two different badges, as it's easier for me to make. I'm not experienced with js, as I've said before, and making two different badges has already proven to

[2020-09-21 22:40] paulmelnikow commented on #5551
Makes sense, let's sort out the discussion first. If you can't finish the PR, it's okay, maybe someone else will want to work on this, or maybe I can pick it up.

Hmm, the `python_requires` format is really not that friendly for humans, is it. This is from requests:

Requires: `Python >=2.7, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.*, !=3.4.* `

The version from classifiers shows **2.7 | 3.5 | 3.6 | 3.7 |

[2020-09-21 22:57] 12944qwerty commented on #5551
The documentation says that using `python_requires="~=3.3"` is for everything above 3.3 but not till 4.0. I believe that the operations literally mean all the versions above, below, or within the AND group (commas would be "and" operations).

[2020-09-21 22:59] 12944qwerty commented on #5551
The documentation says that using `python_requires="~=3.3"` is for everything above 3.3 but not till 4.0. I believe that the operations literally mean all the versions above, below, or within the AND group (commas would be "and" operations).

We could look at this by iterating through every version (major, minor, and micro) and delete the ones that aren't allowed. Minor and Micro could be replaced

[2020-09-22 03:21] #5294 closed

[2020-09-22 17:48] chris48s commented on #5551
Yeah in a lot of cases `python_requires` will be quite succinct and human-readable (e.g: `>=3.5`), but sometimes `python_requires` can be specified in a way which isn't very human-readable. As you've noted, [requests](https://pypi.org/project/requests/) is an excellent example of this.

![](https://img.shields.io/badge/python-2.7%20%7C%203.5%20%7C%203.6%20%7C%203.7%20%7C%203.8-blue) (using classif

[2020-09-22 18:15] #5584 closed

[2020-09-22 18:30] 12944qwerty commented on #5551
I agree that it would change the way it looks and many people could become confused and may want the original back. However, since most python_requires uses only one "requires" it would be fine to use that as default. But if there is more than one "requires" we could use classifiers instead. Of course, you can always change default with `?source=`.

[2020-09-22 18:33] paulmelnikow commented on #5551
I still feel like wrangling these formats is sort of an implementation detail that makes our life difficult, rather than something we fundamentally want to provide two options for.

I agree, it doesn't look trivial. Although I think this is what I'd like to try to do: attempt to provide a nice human-readable badge by interpreting `python_requires` and cross-referencing it with a list of released P

[2020-09-22 18:50] calebcartwright commented on #5551
This is a point of concern for me, especially in light of other badge changes being applied semi-recently and the feedback we subsequently received from users. If a change could potentially result in a user seeing one badge message `foo` today, and a different message `bar` tomorrow without changing anything on their end, then that's going to fall in the "breaking change" bucket for me. That's com

[2020-09-22 18:56] paulmelnikow commented on #5551
Agree with requesting comments before making the change.

[2020-09-22 18:59] 12944qwerty commented on #5551
So we're going to poll the public IF we decide on combining the two badges? That's sensible.

What would happen if the public goes against combining? Should we make the default classifiers? Make two separate badges? Etc...

[2020-09-22 19:50] paulmelnikow commented on #5551
I propose we use the list of Active Python Releases at https://www.python.org/downloads/, and filter that using `@renovate/pep440` with `requires_python` when that field is present. If that list conflicts with the classifiers, I'm sort of reversing my previous thought, and thinking we should let the classifiers. win The purpose of the classifiers is 100% to signal things to humans, so if a maintai

[2020-09-22 22:28] paulmelnikow commented on #5014
From the top comment in #5574:

1. URLs like https://shields.io/badge/foo-bar-blue are currently 404's – in other words, badges have to be served from `img.shields.io`. Do we want to try to preserve that behavior, to force users to continue to use `img.shields.io` and not `shields.io`? If we start to support badges at `shields.io`, whether it's documented or not, I worry about locking ourselves in

[2020-09-23 17:06] cicirello opened #5594 "Badge Request: GitHub Container Registry"
:clipboard: **Description**

GitHub recently introduced the GitHub Container Registry (see: https://github.blog/2020-09-01-introducing-github-container-registry/).  It would be nice if there were badges available similar to those that shields has for Docker image version, image size, and pulls, but for the new GitHub Container Registry.

:link: **Data**

I'm not sure if GitHub has an API for this

[2020-09-23 18:01] chris48s commented on #5594
Given this is essentially a feature related to the package registry, I suspect this one is probably going to end up blocked on #4169 (tldr: the github tokens we have don't have the necessary scope to read package metadata) once the API endpoints are available, but we'll see..

[2020-09-23 18:13] chris48s commented on #5014
I thought we'd already decided not to do that - hence the need for https://github.com/badges/shields/pull/5137
If we're going to continue serving badges on `img.shields.io` and frontend on `shields.io` that is unnecessary - there is no conflict to resolve.

If we want to revisit that, I don't think much has changed since I posted https://github.com/badges/shields/issues/5014#issuecomment-629649769

[2020-09-23 18:40] chris48s commented on #5551
This is a good indication that different users are going to have different expectations of how this should work: It is not completely clear-cut how this should work and will end up being somewhat opaque to users.

I think if you want the badge to look at a different value, the solution should be to change the badge(params) not change your package manifest.

Broadly although #5576 is not currently

[2020-09-23 19:18] 12944qwerty commented on #5551
I'm trying to fix #5576 's problem so if someone can help, please do. It's very confusing.

Should we poll this right now?

[2020-09-24 02:33] paulmelnikow commented on #5014
I think #5137 was a good idea regardless, because by getting rid of the conflict, the problem is solved in staging and self-hosting environments. I guess I haven't quite come to terms with the fact that we're basically going to serve all badges from https://shields.io/.

I'm less concerned about https://img.shields.io/category/build working than https://shields.io/badge/foo-bar-blue working. I don

[2020-09-24 03:33] paulmelnikow commented on #5551
I recognize that I'm a bit in the weeds on this, so please bear with me…

This doesn’t really make sense in the context of my proposal. Let me try to clarify what I meant.

If the PyPI status, implementation, python, or django version badges displayed the wrong information today, it means the project has been published with the wrong information. You’d fix them by changing the classifiers and repu

[2020-09-24 03:50] calebcartwright commented on #5545
Just a heads up @vinitshahdeo that the badge for 2020 is live now and available

https://img.shields.io/github/hacktoberfest/2020/badges/shields?label=hacktoberfest%202020
[![Hacktoberfest 2020](https://img.shields.io/github/hacktoberfest/2020/badges/shields?label=hacktoberfest%202020)](https://github.com/badges/shields/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest)

https://img.shields.io/g

[2020-09-24 04:05] 12944qwerty commented on #5551
requires_python was meant to force pip from not installing if the python version was incorrect. I believe that would be the right source of data, especially because classifiers don't have a micro option. Specificity is always the best way to go in my mind.

However, you are also right. It makes no sense for someone to write two different sets of versions for their package. However if this were to

[2020-09-24 20:26] chris48s commented on #5551
I think part of the reason we disagree is because we're thinking about slightly different things. I'm partly thinking about this also giving us an alternate display format.

So to give a concrete example from one of my projects where I actually use this badge https://github.com/chris48s/arcgis2geojson , one of the things that is potentially quite nice about being able to pick which value you want

[2020-09-24 21:04] chris48s commented on #5014
I mean, I guess if wass a zero-effort/complexity solution, then we would pick number 3 because it means we can do it and roll back to our existing strategy with no impact, but in reality 3 involves some messyness that we probably don't need to take on. I've been assuming we would do 1, at least to start with. If we don't announce "hey everyone - you can now request badges without `img.` - its a to

[2020-09-24 22:12] paulmelnikow commented on #5551
Yea, I just wanna echo that. I feel like we started in really different places and covered a lot of ground, which feels constructive to me. It feels good to be engaging more deeply and passionately on Shields, and kinda neat that this is a topic we both have strong feelings about. This has felt constructive to me, too. Also spent a while on this last night and felt a little exhausted after. Shall

[2020-09-24 22:32] paulmelnikow commented on #5014
No, I can't.

It does mean our badge and frontend routes need to not conflict with each other. I think the best way to do that is to choose future frontend routes that are unlikely ever to be badge routes. That seems easy enough to do, if not completely foolproof.

Agreed. And it sounds like we're in agreement that, while options 1 and 2 are a little scary, they are not boxing us into a corner ope

[2020-09-25 01:47] 12944qwerty commented on #5551
I guess we could let this go idle. If anyone has any ideas they could just send it here. But we can finally come back "officially" with a fresh mind later.

[2020-09-25 02:07] BigEgg opened #5597 "badge for Visual Studio Marketplace is not working"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)

:beetle: **Description**

Both download and installation badge for visual studio marketplace are not working, here is the screen shot
![image](https://user-images.githubusercontent.com/1243699/94218736-ed207480-fe99-11ea-8b35-7e56c566f00f.png)

This is happened for Visual Studio Extension: [BigEgg.PowerMode](https://

[2020-09-25 05:15] jabbar86 commented on #5555
@calebcartwright Assign Me
[code]

[2020-09-25 13:35] ThakurKarthik commented on #5555
I am working on these services [nuget nycrc opencollective opm osslifecycle]

[2020-09-25 18:40] chris48s commented on #5014
Yeah exactly - do option 1 to start with, then move to option 2 once we're totally confident in the approach.
I think given how many million badge URLs there are in the wild at this point, I think we need to still allow `img.` basically forever though :)

[2020-09-25 18:43] chris48s commented on #5551
Python packaging is a topic capable of driving the most rational minds to the edge of reason at times.

[2020-09-25 18:52] chris48s commented on #5597
The detailed error here is

[code]

looks like our [regex](https://github.com/badges/shields/blob/1b91b03b2b4265a6f7ae535e33c93269c46badbf/services/visual-studio-marketplace/visual-studio-marketplace-base.js#L25) is too strict, but interestingly the VSCode manifest spec says version should be a semver https://code.visualstudio.com/api/references/extension-manifest (which 0.7 isn't). Surprised this

[2020-09-25 19:29] paulmelnikow commented on #5551
Too true.

[2020-09-25 19:31] paulmelnikow commented on #5014
This is a big decision @badges/shields-core, so wanted to make sure everyone has a chance to weigh in as we move forward.

[2020-09-25 21:22] BigEgg commented on #5597
Thanks for the explanation. Let me update mine version.

[2020-09-25 21:25] BigEgg commented on #5597
Seem like the regex keep this on purpose. Here is the reference: [#1704 ](https://github.com/badges/shields/issues/1704)

[2020-09-25 23:32] calebcartwright commented on #5597
I thought this sounded familiar :laughing:

It's the same for VS and VSC, while AzDO is different (which is reflected in our badge routes, schemas, and logic handlers)

[2020-09-26 11:58] PyvesB commented on #5014
I've given this some more thought overnight.

Option 2 will basically lead to a mixture of `shields.io` and `img.shields.io`. Given how many badge URLs are already out there and given that there's generally a fair bit of copy pasting across projects, I'm not even convinced `shields.io` will ever become the majority, even several years from now. I'm slightly uncomfortable with this approach, given

[2020-09-26 19:22] chris48s commented on #5597
Thanks for the extra context.
Are we actually gaining anything from this input validation? AFAIK we're not actually relying on the version being in a certain format (for example, we're not splitting the version out into major/minor/patch and the doing something with the patch component). Assuming all we are doing is shoving the value of `versions[0]` on a badge, we we're not losing anything if we

[2020-09-26 20:15] calebcartwright commented on #5597
That question starts heading down a more philosophical path, and also circles back to some previous conversations around what exactly the purpose of the schema validation is and how loose/strict they should be.

It's come up enough times that I think it may warrant revisiting the topic in an offline conversation with the core team, and my preference would be that we codify the decision and enforce

[2020-09-26 20:40] niccokunzmann opened #5617 "F-Droid build status badge"
:clipboard: **Description**

I would like to display the build status of the F-Droid app as a badge.

:link: **Data**
https://f-droid.org/repo/status/build.json
from https://forum.f-droid.org/t/possible-to-get-email-notification-for-build-failures/8905/2

:microphone: **Motivation**
This is because I would like to know if the build succeeds or not. It would be nice to have this simple way!

[2020-09-26 21:08] niccokunzmann commented on #5259
For completeness: Here is the announcement of the API in the Forum: https://forum.f-droid.org/t/f-droid-now-provides-json-api/11016

[2020-09-26 21:41] niccokunzmann commented on #5617
I searched a bit more and there seem to be more sources: https://forum.f-droid.org/t/is-there-any-index-of-new-updated-apps-being-built-for-new-release/10797/4

[2020-09-27 18:18] chris48s commented on #5551
No pressure to jump back into this conversation yet, but I've been slowly churning this over and I've thought of another interesting example of a case where `python_requires` and `classifiers` intentionally communicate slightly different things, and that's the [typing](https://pypi.org/project/typing/) module. the purpose of this module is to backport type hints to python 2.7 and python 3.5 (they'

[2020-09-27 18:32] chris48s commented on #5597
Good question. Lets start off by reviewing the history, just so we all understand how we got here.. Apologies if I'm just re-stating things we all already know, but lets start from a common baseline. Rewind a few years, and we used to frequently render badges like

![](https://img.shields.io/badge/version-null-blue)
![](https://img.shields.io/badge/coverage-NaN%25-red)
![](https://img.shields.io/b

[2020-09-27 18:55] chris48s commented on #5597
Have opened https://github.com/badges/shields/discussions/5619 to discuss.

[2020-09-27 19:14] calebcartwright commented on #5597
Thanks for opening a separate issue (I was going to request the same) and the detailed write up. Haven't had a chance to digest it yet but am looking forward to the discussion. There's been different and yes some times conflicting prescriptions on this topic, and it was one of the more confusing, and occasionally frustrating, things for me when I first started contributing to Shields.

Ultimately

[2020-09-29 04:35] monizb commented on #5555
@calebcartwright I would like to take up:

[code]
Thanks :)

[2020-09-29 04:52] paulmelnikow commented on #5551
I think you meant 2.7 and 3.4?

I'm amused that you found a package that's relevant to certain versions of Python and compatible with others. 😀

Would you agree that **2.7 | 3.4** is the thing we'd want to show for this package?

[2020-09-29 15:16] vanhaaggen commented on #5555
@calebcartwright can i help out with these?

`snyk | sonar | sourceforge | sourcegraph | spack`

[2020-09-29 20:03] chris48s commented on #5551
Yes sorry - it backports types to python 3.**4** - they're native in 3.5

Agreed. The list of classifiers (whatever the package maintainer has decided that means) on a badge is a useful thing. That's what we already have.

I think it is also useful to be able to communicate _compatibility_ as a different concept from classifiers sometimes.
One way to do that is as a range/constraint, another is as

[2020-09-30 00:24] #5557 closed

[2020-09-30 00:27] paulmelnikow commented on #5131
Is this still happening?

[2020-09-30 05:14] ThakurKarthik commented on #5555
Hey @calebcartwright if no one taken ```[ osslifecycle packagecontrol packagist pkgreview poeditor ]``` already I would like to work on them. Thanks !

[2020-09-30 16:51] RDIL commented on #5555
@calebcartwright I can take any of the ones starting with `s`, `t`, `u`, or `v`.

[2020-09-30 17:41] ThakurKarthik commented on #5555
@RDIL feel free to pick any 4 - 5 services which are not done and post them here or at shields discord channel  to prevent duplicate work.Thanks !

[2020-09-30 18:38] ThakurKarthik commented on #5555
@calebcartwright I am taking these files next  [ powershellgallery pub puppetforge pypi ].

[2020-09-30 18:40] chris48s commented on #5131
I'm not able to reproduce it now. Maybe the elves fixed it :sparkles:

[2020-09-30 19:14] ThakurKarthik commented on #5555
@calebcartwright  I have changes for the above services also.Meanwhile I am working on these services [readthedocs reddit redmine repology] and open PR once the previous changes get's accepted. Thanks !

[2020-09-30 19:22] ThakurKarthik commented on #5555
I am working on these too [ requires resharper scoop scrutinizer] Thanks !

[2020-09-30 19:32] paulmelnikow commented on #5131
Okay, let's reopen if it recurs.

[2020-09-30 19:32] #5131 closed

[2020-10-01 07:28] jabbar86 commented on #5555
@calebcartwright I will be working in 2 parts so that its easy to maintain the code.

1st part
[code]

2nd part
[code]
Thanks.

[2020-10-01 08:08] graingert commented on #4692
latest by release date or greatest version number?

[2020-10-01 08:17] graingert commented on #4692
Here's some discussion around making an API https://github.com/pypa/warehouse/issues/4663

[2020-10-01 11:14] BalgopalPatro commented on #5555
@calebcartwright
I wanna do for the followings
visual-studio-app-center
visual-studio-marketplace
w3c

[2020-10-01 18:28] chris48s commented on #4692
Thanks :+1:  I've subscribed to https://github.com/pypa/warehouse/pull/8615 - we'll see how it plays out

[2020-10-01 18:41] msandfor opened #5637 "Hacktoberfest Combined Status Badges not updating now Live"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

The badge should display an updated Hacktoberfest Status
![image](https://user-images.githubusercontent.com/5952956/94849572-35223700-0458-11eb-91df-cd10a74ee7c7.png)

but instead it is stuck at

[2020-10-02 00:58] MonliH commented on #5555
I would like to help as well, although it seems all the badges have been "claimed".

[2020-10-02 01:16] calebcartwright commented on #5637
We can't have the rendered badges be based on a locale-specific start time, so UTC is used for start and end.

That being said we do have a minor calc bug from a copy/paste (my fault!). This will resolve itself in a little under 11 hours from the time of this comment, which in all likelihood will happen before we get the bug fixed and deployed anyway.

For anyone interested in working on this (and

[2020-10-02 01:26] calebcartwright commented on #5555
@MonliH - so it seems! If you're interested there's **tons** of other Shields-related work in need of assistance

https://github.com/badges/shields/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2020-10-02 02:56] paulmelnikow commented on #3393
After #5631 is merged, the last of these remaining is:

https://github.com/badges/shields/blob/5931b86c8518366cac96653dd6d53d4416f3a819/services/github/github-helpers.js#L37-L39

[2020-10-02 06:23] KwanJunWen commented on #4844
Hi, can I take this one ?

[2020-10-02 13:20] ThakurKarthik commented on #5555
Hi @calebcartwright quick update here this PR https://github.com/badges/shields/pull/5635 already fixed the [powershellgallery,
 pub, puppetforge, pypi] services. You can mark them done. Thanks !

[2020-10-02 13:41] KwanJunWen commented on #4899
Can I tackle this issue ?

[2020-10-02 17:37] msandfor commented on #5637
Oh thanks @calebcartwright - I should have realised timezones are the root of all evil [read: confusion] and of course it would be UTC - I'm very happy to know what's up.

[2020-10-02 17:37] #5637 closed

[2020-10-02 17:48] BalgopalPatro commented on #5555
@calebcartwright Please review completed task with PR #5642

[2020-10-03 00:00] #2536 closed

[2020-10-03 01:07] calebcartwright opened #5644 "Prevent line ending issues between Unix and Windows for contributors on Windows"
We (IMO correctly :wink:) utilize Unix-style line endings within the Shields codebase, which is enforced with prettier. However, there's been a few cases where contributors have reported seeing mass changes after running prettier and I strongly suspect this to be related to git and specifically git's autocrlf setting on Windows machines. Below are links to a few threads I could find on this topic,

[2020-10-03 01:13] paulmelnikow commented on #5644
To clarify, am I right that `autocrlf` being _on_ is one cause this problem, and that it needs to be kept _off_?

[2020-10-03 01:17] calebcartwright commented on #5644
:man_shrugging: not sure, but the best part about the attributes file is that we wouldn't have to figure that out, nor provide guidance, nor rely on users following that guidance. It's also possible that it would make sense for Windows users in other projects to have that value be whatever it is when it's problematic here and if Shields recommended one or the other that could in turn cause them pr

[2020-10-03 01:17] #5437 closed

[2020-10-03 01:28] paulmelnikow commented on #4559
I’m not sure we could distinguish between an old-style request for `myworkflow/mybranch` and a new-style request for `mytwopart/workflow`.

If the ID of the workflow can’t be changed to accommodate the badge, an alternative could be a second route that pulls everything from the query params (like `/endpoint`) which can be used for these rare cases where the workflow contains a slash.

[2020-10-03 01:32] calebcartwright commented on #4559
Yup, was planning to also change part of the static portion of the route to account for this (probably something like `/github/workflow/...` --> `/github/actions/workflow`)

[2020-10-03 01:37] paulmelnikow commented on #4559
Gotcha. Yea, true.

I think I prefer the query param version. It seems more readable to a human:

[code]

[2020-10-03 15:31] calebcartwright commented on #4559
Yeah I do too. There's a handful of other cases where the branch had to be a query param for similar reasons. Only caveat on the leading portion of the route is that there are different constructs within GHA that could each have their own badges, for example a workflow status badge vs a job status badge, and potentially down the road additional CI related badges like test results (I've heard rumor

[2020-10-03 20:52] calebcartwright commented on #4899
Absolutely @KwanJunWen! We've got a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) that walks through the process of creating a new badge, and you can ping us here and/or on Discord with any questions

[2020-10-03 21:19] paulmelnikow commented on #4559
It's weird to me that we have github and workflow in the name, but not actions, which I think is the more identifiable and distinguishing name.

I wonder if we should use `/github-actions` (or even `/actions`).

Maybe `/github-actions/status/:user/:repo/:workflow*?branch=branch`? Nothing stops us from adding `/github-actions/job-status`, but the thing you're more likely to use – workflow status –

[2020-10-03 21:56] calebcartwright commented on #4559
Blame GitHub marketing :laughing: Actions is the buzzy word that everyone sees and uses, but regardless of the branding and marketing, an Action is a small reusable component that is incorporated within a job, and workflows consist of one or more jobs. I already see a wide array of configurations, with some having a single workflow with multiple jobs (1 job for linux build, 1 job for mac, etc.) an

[2020-10-04 01:54] helpsdev commented on #5218
Hi there,  I'm a first-time contributor I got here from the hacktoberfest tag. Any chance I can work on this?

[2020-10-04 05:54] calebcartwright commented on #5218
Absolutely @helpsdev! We've got a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) that walks through the process of creating a new badge, and you can ping us here and/or on Discord with any questions

[2020-10-04 11:19] puf17640 commented on #4844
I would like to be assigned to and work on this issue please 👍

[2020-10-04 11:25] PyvesB commented on #5555
Things are getting along quite nicely, thanks to all those involved so far! 🙌🏻

[2020-10-04 17:01] calebcartwright commented on #5644
That does indeed [seem to be the case](https://github.com/badges/shields/pull/5632#issuecomment-703073154). This makes an even stronger case IMO for the use of the attributes file, since what Shields would be asking Windows contributors due to diverges from git's defaults and common documentation/guidance elsewhere

https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#core.autocrlf

(e

[2020-10-04 17:04] calebcartwright commented on #4844
Excellent, thanks @puf17640! We've got a great [tutorial](https://github.com/badges/shields/blob/master/doc/TUTORIAL.md) that walks through the process of creating a new badge, and you can ping us here and/or on Discord with any questions

[2020-10-05 18:18] chris48s opened #5663 "Use docker authentication for CircleCI builds"
:clipboard: **Description**

:email:  Email from Circle CI:

As our builds use the Docker executor we will need to adopt auth.

[2020-10-06 00:26] calebcartwright commented on #5663
I wonder if the rate limiting will impact any of the API calls we use for our badges

[2020-10-06 09:17] ltpitt commented on #2704
Still experiencing it today:
https://github.com/ltpitt/java-spring-cloud-drive

Thanks for your help!

[2020-10-06 21:01] paulmelnikow commented on #3027
I gave this a shot in #5603

The Shields production Heroku hostname is pretty easy to guess if not already public, so it still seems like a very good idea to require that the production traffic actually come from Cloudflare.

This prevents us from firing requests to Heroku directly, but that seems fine. We already can't address requests to specific dynos, and I don't see any reason why e.g. the ad

[2020-10-07 00:32] ENDrain commented on #541
But does Shield have to use its own access token? Can user access token be passed to endpoint as a parameter, so that shield makes an API request with user/group/organization token?

[2020-10-07 00:39] calebcartwright commented on #3027
IIRC we're pushing metrics from the badge servers now vs. the Prometheus pull model correct?

[2020-10-07 01:07] paulmelnikow commented on #3027
This is not at the top of my head either 🙈 but yea, there's already not a way to fetch them from each dyno separately.

I think this is we push them:

https://github.com/badges/shields/blob/3a23695f8984ea616cc72a93fcf4779c2a2aeed9/core/server/influx-metrics.js#L47-L52

[2020-10-07 15:48] alvarocastro opened #5668 "Emojis in "label" remove the right padding"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

Using emojis as the badge label removes the right padding, and there is no workaround for that sin spaces (%20) are trimmed.

:link: **Link to the badge**

https://img.shields.io/badge/%F0%9F%93%

[2020-10-07 16:55] paulmelnikow commented on #5668
Hi! Thanks for the report.

This is how the badge is rendering for me:

<img width="429" alt="Screen Shot 2020-10-07 at 12 54 05 PM" src="https://user-images.githubusercontent.com/1487036/95362536-39a58000-089c-11eb-8077-b1217409a1bb.png">

Is that similar to what you're seeing?

Are you expecting more space between the two emoji, more padding around them, or both?

[2020-10-07 17:35] payne911 opened #5669 "JitPack downloads not available?"
My understanding is that there is an history of problems with the JitPack Downloads badge, but I believe [the latest PR merged was supposed to re-introduce it](https://github.com/badges/shields/pull/3533)?

... yet I don't see the badge featured in [your official GitHub Pages list](https://shields.io/category/downloads).

Is it available or not?

Thanks!

[2020-10-07 18:19] alvarocastro commented on #5668
This is how it's rendering for me (in chrome)
![image](https://user-images.githubusercontent.com/708381/95370255-e12bae00-08ae-11eb-8b95-49a7acc184aa.png)

What I noticed is that if I use the browser zoom-in in the badge svg, the spacing on the right of the rocket gets more noticeable, making the error less noticeable
![image](https://user-images.githubusercontent.com/708381/95370352-03bdc700-08af

[2020-10-07 18:45] paulmelnikow commented on #5668
This is from Chrome on OS X:

<img width="1230" alt="Screen Shot 2020-10-07 at 2 42 19 PM" src="https://user-images.githubusercontent.com/1487036/95373691-54332580-08ab-11eb-9600-1f7e108dd7d6.png">

And Firefox OS X:

<img width="1267" alt="Screen Shot 2020-10-07 at 2 44 46 PM" src="https://user-images.githubusercontent.com/1487036/95373928-ad9b5480-08ab-11eb-855c-4d6a7f5197a5.png">

The emoji sti

[2020-10-07 18:48] paulmelnikow commented on #5669
I've just re-deployed. Should be all set.

[2020-10-07 19:40] BigEgg commented on #5597
Just an FYI, I had updated the version for my extension.

[2020-10-07 20:16] vaclavhodek opened #5670 "Add support for Localazy badge"
:clipboard: **Description**

Service: Localazy - [https://localazy.com](https://localazy.com)

Developer-first solution for app localization made for single devs and small teams.
It comes with extra features like sharing translations between apps to save time and money for developers.

The badge shows the overal localization progress and the number of languages or the progress for particular langu

[2020-10-07 20:43] PyvesB commented on #5670
Hello @vaclavhodek! 👋🏻

Support for another similar service was recently added in  #5472. The implementation for Localazy should probably closely follow the same design decisions around colours and information to display for consistency. Would you be up for submitting a pull request?

[2020-10-07 20:48] payne911 commented on #5669
@paulmelnikow maybe I just don't know where to look.

![image](https://user-images.githubusercontent.com/38117856/95386192-ed1e6c80-08bc-11eb-9e28-74ff7170b182.png)

Is it supposed to be the ``GitHub`` ones? Or should it mention ``JitPack`` ?

[2020-10-07 20:53] calebcartwright commented on #5669
The JitPack Download badges were permanently deprecated, refs #4873. Unfortunately the service APIs were far too unstable and unreliable with no response from the provider for us to continue to provide the badges.

![](https://img.shields.io/jitpack/dw/github/jitpack/maven-simple)

[2020-10-07 20:53] #5669 closed

[2020-10-07 20:55] payne911 commented on #5669
I see. Thank you!

May I inquire what ``GitHub All Releases`` corresponds to, then?

[2020-10-07 20:58] calebcartwright commented on #5669
The aggregate count of downloads across all the releases in the GitHub repo, as reported by the GH API

[2020-10-07 20:59] alvarocastro commented on #5668
Weird, I'm using Chrome on OS X too.

Can you post a not zoomed-in screenshot of the following badge?

![le badge](https://img.shields.io/badge/%F0%9F%93%A6%F0%9F%9A%80-semantic--release-e10079.svg)

[2020-10-07 21:06] payne911 commented on #5669
That's precisely what I'm not certain about. Which action increases that counter?

It is by clicking [any of the assets of a specific tagged release](https://github.com/payne911/PieMenu/releases/tag/v5.0.0) ?

[2020-10-07 21:08] paulmelnikow commented on #5668
<img width="336" alt="Screen Shot 2020-10-07 at 5 08 41 PM" src="https://user-images.githubusercontent.com/1487036/95388153-c0b81f80-08bf-11eb-8778-b3bffa44ab11.png">

[2020-10-07 21:18] calebcartwright commented on #5669
This is a question probably best directed to the service, GitHub in this case, and/or their community forums. IIRC, it's driven on the binary assets of a release being downloaded, not a click counter.

[2020-10-07 21:29] #3393 closed

[2020-10-08 11:43] vaclavhodek commented on #5670
@PyvesB: Hello! Sure, we will have a look at it and submit PR ;-).

[2020-10-08 16:37] Cyberbeni opened #5673 ""Used by (count)" badge for GitHub Actions"
:clipboard: **Description**

This badge should show how many other repositories use a given GitHub Action for their workflows.

:link: **Data**

Implementation by [EndBug](https://github.com/EndBug): https://github.com/EndBug/api/blob/master/api/github-actions/used-by.ts
Example usage with also useful click action: https://github.com/EndBug/add-and-commit/blob/0c4298a18d3a9d33e3b879c7b73b4a457547d

[2020-10-08 19:57] chris48s opened #5675 "Extension-less URLs are aren't correctly cached by CloudFlare"
So I started looking at cache headers and...

![worms](https://user-images.githubusercontent.com/6025893/95506817-54fdb180-09a8-11eb-8ce6-afec9b28c811.jpg)

If I request a badge with an extension and then request the same badge again a few second later, everything works as epxected. I get a cache miss first time, then a hit the second time:

[code]

All is well in the world.

..but then if do the

[2020-10-08 20:07] paulmelnikow commented on #5675
Welp. Yep, your analysis sounds right to me. 💣

Traffic is definitely way up over the last year. And way up over a few years ago, especially given that since we started using the CDN downstream and setting cache headers, badges are also cached by the browser.

I thought our page rules were ignoring extensions, though I guess it is using some default logic instead.

https://community.cloudflare.com

[2020-10-08 21:51] Ayfri opened #5676 "Not working on private repos on Organizations."
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**
Hi!
I tried to add a badge with this website for a private repo on an organization that I have but on the website, it always says that it cannot found the repo (I didn't try on GitHub).

:link: ht

[2020-10-08 23:32] calebcartwright commented on #5676
hi @Ayfri :wave: The Shields.io service can only provide badges for publicly accessible targets (repos, projects, builds, etc.), as the Shields.io server doesn't have access to your private GitHub data either.

In order to get badges for your private content, you'd need to deploy your own self-hosted Shields server that's configured with your own GitHub Authentication configuration. More details o

[2020-10-09 20:00] chris48s commented on #5663
My reading of the docker hub docs is that it only applies to the images themselves, not the JSON API

[2020-10-09 20:08] #5676 closed

[2020-10-09 20:19] chris48s commented on #5673
This mechanism of performing a free text search for the action name seems a bit crude, especially as GH's text search ignores the / character and views them as 2 strings. I suspect "EndBug add-and-commit" is sufficiently obscure not to raise false positives, but I can see other action names generating some false-positives.
While I probably wouldn't want to frame this as "here's how many people are

[2020-10-09 20:28] calebcartwright commented on #5673
Ironically we were just discussing this (https://github.com/badges/shields/issues/4559#issuecomment-703169533)

I could certainly see that as well

[2020-10-10 11:28] JimiIT92 opened #5678 "Some logos from simple-icon doesn't work"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

I am creating some badges for a project on Github, and I want one badge to have the CurseForge logo, which can be found on simpleicons.org. However, if I add the `?logo=curseforge` I don't see th

[2020-10-11 03:09] calebcartwright commented on #5678
hi @JimiIT92

Please refer to [this Discussion thread](https://github.com/badges/shields/discussions/5369) for more information about logos and logo updates.

https://github.com/simple-icons/simple-icons/releases/tag/3.11.0

[2020-10-11 03:10] #5678 closed

[2020-10-11 16:53] #5597 closed

[2020-10-11 17:51] rmsy commented on #5372
It seems this issue was not properly linked to #5388, and can now be closed, seeing as that PR was merged.

[2020-10-11 18:01] paulmelnikow commented on #5372
Thanks!

[2020-10-11 18:01] #5372 closed

[2020-10-11 20:31] k0t3n opened #5695 "Python 3.9 badge is not shown"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**
Python 3.9 is not shown using `Python >=3.6, <4.0` condition.

:link: **Link to the badge**
https://img.shields.io/pypi/pyversions/django-split-settings.svg

:bulb: **Possible Solution**

[2020-10-11 21:13] paulmelnikow commented on #5695
The badge is reading your PyPI classifiers. I took a quick peek and it wasn't clear how you were generating those. To include 3.9 on the badge, you'll need to publish a release with the **Programming Language :: Python :: 3.9** classifier.

See also #5551 which is about using `requires_python` as a fallback.

[2020-10-12 08:57] k0t3n commented on #5695
Seems that issue on PyPI side.
Thanks.

[2020-10-12 08:57] #5695 closed

[2020-10-12 09:07] chris48s commented on #5695
As noted, the badge uses your classifiers from PyPI.

In your case, poetry generates a list of classifiers for you when you build your package based on your python requirement, but it uses a hard-coded list of valid versions https://github.com/python-poetry/poetry-core/blob/0db07bc81b989c5c4933cf019fec7a4f93fbd744/poetry/core/packages/package.py#L25-L35 if your python requirement is `^3.6` (from h

[2020-10-12 09:14] k0t3n commented on #5695
@chris48s thanks a lot for the details!

[2020-10-12 19:43] chris48s commented on #5668
Is this screenshot

![image](https://user-images.githubusercontent.com/708381/95370255-e12bae00-08ae-11eb-8b95-49a7acc184aa.png)

in https://github.com/badges/shields/issues/5668#issuecomment-705111521 using the default font? It looks like it isn't to my eye, but I don't use Chrome or a Mac so maybe that looks normal in that world. I wonder if emoji widths are a bit off for some of the fallback fo

[2020-10-12 19:56] chris48s commented on #5014
Another task we'll need to do here is update our CloudFlare page rule which currently applies to `img.shields.io/*`

[2020-10-12 20:09] chris48s commented on #5675
Relevant articles:
https://support.cloudflare.com/hc/en-us/articles/200172516
https://support.cloudflare.com/hc/en-us/articles/218411427

Having done a bit of reading/poking about, my instinct is there are 2 things worth trying:

1. Explicitly send a `Cache-Control: public` header (but maybe put it behind a flag which is off by default for self-hosting users - refs discussion in https://github.com

[2020-10-12 20:18] paulmelnikow commented on #5675
This is the definition of Cache Everything:

I agree that is what we want (the key being, "respects cache headers from the origin web server.")

The things that shouldn't be cached are the posts for the github auth workflow, and maybe the suggest endpoint (since it depends on the post body). Maybe it's worth checking a couple of the suggest calls after turning this on, to make sure they aren't bei

[2020-10-12 20:46] paulmelnikow commented on #3027
I flipped this on for a couple seconds in production and was unable to load static badges from https://shields.io/, so clearly this is not working as intended.

Should we set up our staging environment to go through Cloudflare, so that can test this out in staging?

[2020-10-13 00:52] calebcartwright opened #5698 "AUR Version Service Test Failing"
:clock11: **When did the problem start?**
~1 week ago, 2020 October 5th

:camera: **Live badge**

https://img.shields.io/aur/version/spotify
![](https://img.shields.io/aur/version/spotify)

:wrench: **Is the live badge working?**
Yup

:link: **CircleCI link**
https://app.circleci.com/pipelines/github/badges/daily-tests/525/workflows/c7b1446c-783f-4483-98b0-4b00ba2b30f6/jobs/1423

:beetle: **Stack

[2020-10-13 20:26] chris48s commented on #5675
Right, yes. These are good points. When you say

am I right that what happens here is the user hits https://img.shields.io/github-auth which just redirects them to github, but then at the end of that transaction, github sends a POST back to us?

From what I've read, CloudFlare does not ordinarily consider a POST request to be cache-able so neither of these should be a problem. I can't find anywher

[2020-10-13 23:40] #5698 closed

[2020-10-13 23:43] calebcartwright commented on #3027
I think that's fine, as well as the next best step.

[2020-10-14 00:03] calebcartwright opened #5702 "Packagist Version service test failing"
:clock11: **When did the problem start?**
~1 week ago, 2020 October 6th

:camera: **Live badge**

https://img.shields.io/packagist/v/symfony/symfony?include_prereleases
![](https://img.shields.io/packagist/v/symfony/symfony?include_prereleases)

:wrench: **Is the live badge working?**
Yup

:link: **CircleCI link**
https://app.circleci.com/pipelines/github/badges/daily-tests/513/workflows/06025e8a-

[2020-10-14 12:48] ltpitt commented on #2704
A short update, it works for me now.

I don't know if a fix was applied in the meantime or if it was just a matter of waiting for the sync.

[2020-10-14 22:03] #5702 closed

[2020-10-15 12:15] dominikbrandon commented on #5389
Hello there, I've just opened the PR addressing this issue - #5704. Please let me know if any further work will be necessary.

[2020-10-15 15:55] platan commented on #5535
Similar to https://github.com/badges/shields/issues/4904

[2020-10-15 18:21] chris48s commented on #3027
Yeah I guess something like that is the next step. This is one of those problems where our deployment/review/branch protection setup makes it hard to debug/diagnose. Tbh, if there's going to be some trial and error involved in debugging this it might even be useful to temporarily put a `shields-staging-pr-xxxx.herokuapp.com` behind CloudFlare so we can push commits to a dev branch and debug it?

[2020-10-15 20:02] #5535 closed

[2020-10-15 20:24] paulmelnikow commented on #3027
I think, through the Heroku console, we could manually deploy a test branch to the staging app. You have to configure the app with the custom domain so I think it's probably better that we set it up once and then keep using it.

Alternatively if we want to leave staging pristine, we could create a "test" environment instead, that we spin up and down as needed.

[2020-10-15 21:53] paulmelnikow commented on #4140
#4147 proposed a workaround for Arabic text, which involved replacing `lengthAdjust="spacing"` with `lengthAdjust="spacingAndGlyphs"`. This caused glyphs to be stretched for Arabic text on Windows, and also on any badge where the computed and actual text length differed. For this reason, I don't think `lengthAdjust="spacingAndGlyphs"` is a good solution.

An alternative that comes to mind is that

[2020-10-15 21:59] paulmelnikow opened #5713 "Package tests fail silently in CI"
I was looking at #5696 and had a hard time making sense of the snapshot diff, which seemed like it had totally wrong values in it.

It turns out the snapshot is out of date, and the tests are failing in CI but showing as succeeded.

https://app.circleci.com/pipelines/github/badges/shields/3473/workflows/df50bd0c-8a58-4f20-9a75-9fd279fd6ea1/jobs/121024

One pretty easy way to fix this would be to q

[2020-10-15 23:30] calebcartwright commented on #5713
Anyone recall why we're using `+e` here? https://github.com/badges/shields/blob/master/.circleci/config.yml#L93

I vaguely remember something related to allowing the tests to fail in a certain configuration but my GitHub search skills are failing me at the moment

[2020-10-15 23:35] paulmelnikow commented on #3027
This is now turned on in production (via the `REQUIRE_CLOUDFLARE` env var) and seems to be working!

[2020-10-16 00:02] paulmelnikow commented on #5713
I imagine it's to ensure that the cleanup steps run, even when tests fail.

[2020-10-16 00:06] #4275 closed

[2020-10-16 00:09] calebcartwright commented on #5713
Which cleanup steps? The removal of the node_modules directory? From what I recall that cleanup step is to give use an extra validation step against the package itself without having the main node_modules repo (we had some dependency related bugs in the package that was intended to catch).

If we use `-e` and bail on failed unit tests, is there any harm in exiting without removing the node modules

[2020-10-16 00:40] paulmelnikow commented on #5713
Ah, you're right, I think there is not. And since we're using `npm ci` we don't even need the cleanup step.

[2020-10-16 03:02] #3027 closed

[2020-10-16 05:16] paulmelnikow commented on #3329
Another of these where we're still using a `format` is Travis. We're using a negative lookahead to prevent matching `php-v`, along with an optional domain component. I'd suggest we resolve this one by making the domain `org|com` required, and adding a redirector with the legacy `format`.

[2020-10-16 18:22] JoeIzzard commented on #5555
@monizb I didn't see this thread until after I had submitted the PR's. Wordpress has been done, partly as I was adding badges and partly as it's own PR. Related PR's:
- #5493 - This was split into multiple PR's (below), originally tackled some (Not sure if all) here
- #5717 - Part refactored whilst adding badges
- #5725 - Remaining parts of WordPress service

Sorry for the inconvenience! Hopefully

[2020-10-16 19:00] jabbar86 commented on #5555
@JoeIzzard if it's still not completed I can take up this task.

[2020-10-16 20:02] JoeIzzard commented on #5555
@jabbar86 Those PR's should resolve the WordPress service completely.

[2020-10-16 20:24] #5713 closed

[2020-10-17 01:33] mudlabs opened #5728 "[endpoint] Enable logoColor with logoSvg"
:clipboard: **Description**

When creating a badge using the `json` _endpoint_ method we should be able to specify the `logoColor` as a property in the `json` object, and override in the query string.

Just take the provided colour value and set it as the `fill` value on the provided `svg` string.

[2020-10-17 02:07] calebcartwright commented on #5728
`logoColor` should already be supported with the endpoint badge. is this a bug reporting that it's not working or are you asking us to add support for colorizing custom logos?

Full schema defined [here](https://shields.io/endpoint)

[2020-10-17 03:07] mudlabs commented on #5728
Yes, this is a request to add support for colorizing custom logos.

You already do colorizing for _Simple Icons_, just port custom logos into the same service. It's on the logo developer to ensure their svg will display the request color.

[2020-10-17 08:15] bendtherules opened #5729 "Add MDN link badge"
:clipboard:  **Description**

MDN Doc link

:link:  **Data**

Given a link like https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API, just fetching the title of the html page should be enough. Because it is server-rendered, we can just fetch and parse the html.

Even making the title mandatory for the user is OK - they can just pass both title and url.

:microphone:  **Motivation**

A lot of

[2020-10-17 08:44] antonioribeiro commented on #1586
This keeps happening:

![](https://img.shields.io/packagist/v/pragmarx/health.svg?style=flat-square)
https://img.shields.io/packagist/v/pragmarx/health.svg?style=flat-square

Version on packagist:
https://packagist.org/packages/pragmarx/health
![image](https://user-images.githubusercontent.com/3182864/96332652-9a377880-1065-11eb-8215-405afd39dc87.png)

[2020-10-17 09:07] platan commented on #4263
The bug was fixed in https://github.com/badges/shields/pull/4488. I prepared a simple test (https://github.com/badges/shields/pull/5730) which verifies that `lib/logos.js#getSimpleIcon` properly handles `get` value. We can use this test to check that bug existed on 27 Oct 2019.
[code]

[2020-10-17 09:40] PyvesB commented on #5729
Hello @bendtherules! 👋🏻

You can simply add a link query parameter at the end of the badge, for example:

https://img.shields.io/badge/MDN-insertBefore-c2e8f9?logo=MDN%20Web%20Docs&style=flat-square&link=https://developer.mozilla.org/docs/Web/API/Node/insertBefore

[2020-10-17 09:50] bendtherules commented on #5729
Ahh, thanks. That'll be helpful.

But my main request was to add mdn badge type so that it's easier for everyone to use. Just pass the link and that's it - no explicit color, text, nothing.

[2020-10-17 12:19] PyvesB commented on #5729
We have quite a strict policy again website scrapping, so we wouldn't fetch and parse the HTML as you suggested to get the title. Users would have to fill out the text themselves in addition to the link. Apart from our social badges, we don't include logos by default, users would need to add that themselves as well. The only thing a specific MDN-specific badge could bring would be the light blue c

[2020-10-17 13:20] JoeIzzard commented on #4480
I've started working on this now.

[2020-10-17 14:51] paulmelnikow commented on #5729
You could make your own app / domain which accepts the short URL and issues temporary redirects to the Shields badge URL. Or else fetch the badges and serve them statically.

[2020-10-17 15:28] calebcartwright commented on #5728
I remain opposed to Shields dynamically colorizing custom logos as part of the badge rendering workflow.

cc @badges/shields-core - are we open to reconsidering this decision? (refs #4749)

Folks using the logo statically with any of our badges can colorize it in advance, and a user wanting to add logos to their badges with dynamic coloring using an Endpoint badge could still have pre-colorized ve

[2020-10-17 16:06] paulmelnikow commented on #5728
What you're asking is that Shields recolorize the SVG that a developer has just sent us. The developer is converting the SVG to base64 and then adding it to their badge URLs. Colorizing it first is, at worst, a slight inconvenience. So it seems like something that need not be our responsibility. It's also inefficient as the recoloring really only need to be done once, not repeated for every render

[2020-10-17 16:46] Paebbels commented on #4480
That's great !

------------
/cc @eine

[2020-10-17 17:23] #4263 closed

[2020-10-17 23:14] mudlabs commented on #5728
I understand developers can provide a custom icon as a base64, via a query param. But I am _only_ talking about the json endpoint requests. These requests can send through a `logoSVG`, which is a stringified `svg`. So the `svg` that's sent to you from the endpoint is the same as what you get from Simple Icons.

When you request a `namedLogo` from Simple Icons you get something like this;
[code]

A

[2020-10-18 01:31] #4368 closed

[2020-10-18 01:45] calebcartwright commented on #5729
I concur that the ask here can be met with our static badge.

One of the features our service provides is the ability to produce static badges and allow users to customize them with whatever values/style/etc. they want. However, we don't provide specific static badge instances nor utilities that provide pre-canned sets of customized static badges.

There's a nearly limitless set of customization c

[2020-10-18 01:53] bendtherules commented on #5729
Thanks everyone for considering 👍

I understand now, that built-in shield types are more appropriate for dynamic content offered by some api - and these usecases should be kept in the userland.

Last question - how to customize font color for left and right using the query params?

[2020-10-18 02:04] calebcartwright commented on #5729
More details in #504, but tl;dr: the badges will have a white or black font depending on the background color. Customization of the font color is one of the few things we don't support.

There was renewed discussion on this recently, and the switch to a contrast driven font color was actually a bug fix (previously the font was always white even if the badge background was white!). The decision to

[2020-10-18 02:05] bendtherules commented on #5729
Thanks, got it

[2020-10-18 02:05] #5729 closed

[2020-10-18 03:43] ajabadi commented on #4368
Thank you for implementing this! I could not see any updates on usage examples. Can you please provide one?

[2020-10-18 04:07] adamalston opened #5731 "Inconsistent kerning"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)

### Description
The text kerning on badges is inconsistent.

![test](https://img.shields.io/badge/-🔬&nbsp;test-fff)
URL: https://img.shields.io/badge/-🔬&nbsp;test-fff

![test](https://img.shields.io/badge/-🛰️&nbsp;test-fff)
URL: https://img.shields.io/badge/-🛰️&nbsp;test-fff

The only difference in these 2 badges is

[2020-10-18 04:31] geekyrajshri commented on #5555
@calebcartwright  I would like to contribute on any tasks left on this. Let me know if that's available

[2020-10-18 05:54] paulmelnikow commented on #5731
What do the badges look like for you? I’m on iOS and I’m seeing black rectangles on those second sets of emoji.

Letter spacing problems are due to wrong length estimates. My first guess is that whatever emoji you are using is not in the version of Verdana that was used used to generate the width lookup table.

![D6AB64A0-FB0E-480B-B9F3-F306B1A06152](https://user-images.githubusercontent.com/14870

[2020-10-18 06:03] paulmelnikow commented on #5728
What kind of library of badges? Who are the users? Why do you think they will want to override your badges’ `labelColor`?

[2020-10-18 11:35] adamalston commented on #5731
![Screenshot_2020-10-18 Inconsistent kerning · Issue #5731 · badges shields](https://user-images.githubusercontent.com/18297826/96366033-03c19080-1113-11eb-823e-457d335ef18d.png)

---

Here's the markdown for all 4 of those badges...

![test](https://img.shields.io/badge/-🔬&nbsp;test-fff?)
Markdown: `![test](https://img.shields.io/badge/-🔬&nbsp;test-fff?)`

![test](https://img.shields.io/badge/-🛰️

[2020-10-18 14:30] #4899 closed

[2020-10-18 14:45] paulmelnikow commented on #5731
If you click those links you'll see that you get a different badge.

[2020-10-18 14:51] paulmelnikow commented on #5731
The second one seems to work correctly if you use an ordinary space:

![](https://img.shields.io/badge/-🛰%20test-fff)

https://img.shields.io/badge/-🛰%20test-fff

It may be that markdown is doing something weird with the `&nbsp;` or else that Shields doesn't correctly handle a nbsp.

In any case I would suggest against embedding HTML entities in your badge URLs. Better to get the badge URL working

[2020-10-18 16:15] #4683 closed

[2020-10-18 16:16] adamalston commented on #5731
Would you recommend keeping the raw emoji in the URL or encoding them?

[2020-10-18 16:19] paulmelnikow commented on #5731
Raw emoji are probably more maintainable… so I guess use them if they work?

[2020-10-18 16:22] calebcartwright commented on #5555
Thanks @geekyrajshri! At this point all the service classes enumerated above have either been resolved or are already pending by another user. However, I do believe there's a handful of service classes in the GitHub family that I thought I would have already finished when I made the original list in the issue description, but I didn't end up finishing theme all.

That means that most/all of the se

[2020-10-19 07:10] mudlabs commented on #5728
It's just going to be a library of badges I use often, but also open-source, so anyone could add a badge.

I'm going to deploy an action that will fetch a badge from the library. If a user specifies their own `labelColor`, and the requested badge implements `logoSVG`, the action will edit the logos `fill` value and pass the badge logo to Shields.io as a base64; instead of using the endpoint method

[2020-10-19 16:21] adamalston commented on #5731
Thanks for the assistance!

[2020-10-19 16:21] #5731 closed

[2020-10-19 22:15] robjtede opened #5749 "a version specific crates.io badge"
:clipboard: **Description**

Like the existing "latest" crates.io badge but with a version parameter.

:link: **Data**

Same as existing crates.io badge.

:microphone: **Motivation**

Badges embedded in READMEs are not able to reflect the observed version when viewed on an older crate version's page on crates.io.

[2020-10-19 23:18] calebcartwright commented on #5749
I understand the situation you are describing, but I'm not really sure why that's problematic/what the value is in your ask, nor how you are requesting that be addressed.

The point of the referenced dynamic version badge is largely to convey the latest version published for that package that can in turn be linked to the registry page. That always holds true, as the latest version badge is simply

[2020-10-19 23:28] calebcartwright commented on #5728
Thank you for the extra context. However, I remain opposed to the ask.

A core distinction is that we know what we are dealing with for the logos from the Simple Icons package, whereas users can throw anything at us with custom logos.

Opening up the Shields.io service to having to perform on-request colorization of custom logos is simply not worth it just to support the scenario of some user want

[2020-10-19 23:30] robjtede commented on #5749
Very good points, the static badge idea has come to mind since opening. In thinking about it, the value add is very little; only that having mismatched badges on a README page is weird and that the crates.io badge itself doesn't actually convey it represents the latest available version as context for older READMEs.

I think the jury is out for best practice of badges on these archived pages given

[2020-10-19 23:30] mudlabs commented on #5728
Sure

[2020-10-20 00:15] calebcartwright commented on #5749
Sure! Happy to help. I'll close the issue but also wanted to add that this situation isn't unique to crates.io and the same behavior is experienced with the npmjs registry, pypi, etc.

Ultimately I think it's a matter of what folks assume the badge means. Perhaps changing the label up a bit could help if you really want an extra visual indicator that the badge reflects the latest version of the cr

[2020-10-20 00:15] #5749 closed

[2020-10-20 00:16] robjtede commented on #5749
Ahh modifiers apply to pre-built badges, of course. I think this solution is most elegant.

[2020-10-20 02:13] gzm55 opened #5750 "Harbor Image Registry"
:clipboard: **Description**

Support size and version badges for docker images hosted in private [harbor image registry].(https://github.com/goharbor/harbor)

:link: **Data**
https://github.com/goharbor/harbor

:microphone: **Motivation**

Many companies managed private harbor registries for internal usage.

[2020-10-20 02:31] calebcartwright commented on #5750
Is Harbor exclusively used for self-hosted private Docker registries?

[2020-10-20 02:47] gzm55 commented on #5750
Harbor is an open source image registry, any organization can public his harbor registry. We can add the registry url on the badge api to support any harbor registry, just like jar artifact badges on a nexus service.

[2020-10-20 02:56] calebcartwright commented on #5750
Are you aware of any publicly, anonymously accessible instances? Preferably "official" or supported instances?

[2020-10-20 04:24] gzm55 commented on #5750
but some images are only published to non-official public registries.

[2020-10-20 08:23] PyvesB commented on #5728
I'm in agreement with @calebcartwright on this one. Colouring the logo in the SVG string really shouldn't be much of an inconvenience for users, `logoSvg` can easily be tweaked to render any desired colors. From an API perspective, specifying both `logoSvg` and `logoColor` in the same request would be quite confusing , as you're effectively specifying two contradictory colors in two different plac

[2020-10-20 08:24] #5728 closed

[2020-10-20 13:55] adamalston opened #5752 "Simple Icons logo color"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

## Description

The color for Simple Icons seems to be inconsistent in its application. For some badges, I need to specify the `logoColor` and for other I dont.

### Working example
1. **[simpleicons.org/swift](https://si

[2020-10-20 16:30] chris48s commented on #5752
It is by design, but I agree the behaviour is not ideal in this situation.

The default behaviour is that we try to select a logo colour that will work with the default backgrounds. If we think the suggested colour from simpleicons will work, we use that otherwise we re-colour it so that we don't end up showing a dark logo on a dark background or light logo on a light background.

For the main bad

[2020-10-20 16:53] chris48s commented on #5750
@calebcartwright isn't suggesting restricting it to one registry instance, but it would be helpful to have at least one example of a public instance of this that we have some confidence is going to exist for a while for dev/integration tests

[2020-10-20 17:43] adamalston commented on #5752
Interesting read.

Curious, was the default before the PR or at any point in time to use the logo with the color that Simple Icons specified?

[2020-10-20 17:52] calebcartwright commented on #5750
Exactly. I also want to make sure this makes sense as an offering on Shields.io. If Harbor is only used as a private, authenticated registry for private image repositories then it sounds like it's something that could only be supported with self-hosted Shields servers, and we've historically declined to incorporate the inclusion of badges that could only be utilized with self-hosted Shields instan

[2020-10-21 14:20] hjagodzinski commented on #4682
@calebcartwright you suggest to use `queryParamSchema` from `github-common-release`. The schema contains two fields `sort` and `include_prereleases`. The latter information is already a part of the path as `kind` parameter. `kind` takes either `download` value which is equivalent to not passing `include_preleases` or `pre-download` which is equivalent to passing it. Is not a `size` parameter suffi

[2020-10-21 17:17] calebcartwright commented on #4682
@hjagodzinski - good catch! that's correct, we wouldn't want to have a duplicative route and query param, so `sort` as the sole query param will suffice

[2020-10-21 17:28] hjagodzinski commented on #4682
@calebcartwright thanks for the confirmation!

[2020-10-21 18:04] paulmelnikow commented on #4947
Though I'd pick this up and see if we can keep closing the gap toward dogfooding our own package.

I think there's one question we should resolve first, which is whether to handle the same three cases (simpleicons, custom base64, and shields logos) in the package, or handle simpleicons and base64 in the package and keep the responsibility for the shields logos with the server.

I'd lean toward sup

[2020-10-22 02:35] paulmelnikow commented on #5668
@alvarocastro Do you want to continue debugging this with us? We recently merged some changes to the font-width computation. (And during that work, I realized that we _are_ computing text widths for emojis, by the way.) I don't think we can proceed on this particular case without your help.

[2020-10-23 13:34] DakshKK opened #5755 "Licence Badge Rendering"
Are you experiencing an issue with...

- [x] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **License Badge render issue**

The licence badge for my repo says licence not specified if I leave it with the default style, or choose flat-square, but for any other style or explicitly stated flat, it renders

[2020-10-23 14:56] calebcartwright commented on #5755
I'm not seeing the behavior you are describing

https://img.shields.io/github/license/DakshKK/BaseConverter?style=flat-square
![](https://img.shields.io/github/license/DakshKK/BaseConverter?style=flat-square)

https://img.shields.io/github/license/DakshKK/BaseConverter?style=flat
![](https://img.shields.io/github/license/DakshKK/BaseConverter?style=flat)

https://img.shields.io/github/license/Daks

[2020-10-23 15:20] DakshKK commented on #5755
Sorry to cause trouble. I just rechecked on my repo, and now it is showing the badge. Wasn't showing for about 20/25 mins, then what I mentioned in the issue, a friend suggested. Now it works without issue. Thank you for your time.

[2020-10-23 15:20] #5755 closed

[2020-10-23 15:33] calebcartwright commented on #5755
No worries!

[2020-10-23 15:43] paulmelnikow commented on #5755
If I recall correctly, we cache most license badges for something like 15 or 30 minutes, so that might have been a reason you were seeing stale data.

[2020-10-23 23:42] alvarocastro commented on #5668
Yeah, the problem is still happening.

This is how I see this badge the badge
![image](https://user-images.githubusercontent.com/708381/97062187-279c3080-1570-11eb-97cd-d9efec5ad762.png)

I'm using the default font

[2020-10-23 23:43] paulmelnikow commented on #5668
Can you check which font your browser is using to render that?

[2020-10-23 23:48] alvarocastro commented on #5668
How do I check that?

Updated the post with screenshots of the browsers I have.

[2020-10-23 23:53] paulmelnikow commented on #5668
In Firefox, right-click the text **semantic-release**, choose "Inspect Element" and then click the Fonts tab.

<img width="1202" alt="Screen Shot 2020-10-23 at 7 52 07 PM" src="https://user-images.githubusercontent.com/1487036/97062541-6084d700-1569-11eb-9397-cfb7e4881d9f.png">

[2020-10-23 23:58] alvarocastro commented on #5668
Here, seems to use the same settings

![image](https://user-images.githubusercontent.com/708381/97062682-6d59f880-1572-11eb-93fe-950baba48853.png)

[2020-10-24 00:20] paulmelnikow commented on #5668
I think we've just got different elements highlighted.

[2020-10-24 00:28] paulmelnikow commented on #5668
Could you save this into a `.svg` file, confirm the spacing looks better, and check the width of the label and message `text` elements?

[code]

On my machine they are 22.1667 and 94.5.

<img width="1386" alt="Screen Shot 2020-10-23 at 8 24 48 PM" src="https://user-images.githubusercontent.com/1487036/97063475-f1f64800-156d-11eb-9565-ed22df590d2e.png">

[2020-10-24 13:58] vividh commented on #5555
Wondering why a codemod wasn't used for this?

[2020-10-24 14:06] vividh commented on #4911
I'd like to work on this. Can I get some pointers regarding the changes to be made here, and how to verify the fix?

[2020-10-24 17:59] chris48s commented on #4911
At the moment, amd64 is hard-coded here: https://github.com/badges/shields/blob/e03549d88d3a038db1ee3730ee4ca84a7abeea77/services/docker/docker-version.service.js#L85
I think it makes most sense to pull it out to a `queryParam`, like `sort`
https://github.com/badges/shields/blob/e03549d88d3a038db1ee3730ee4ca84a7abeea77/services/docker/docker-version.service.js#L116
https://github.com/badges/shield

[2020-10-24 18:02] chris48s commented on #4947
Some semi-random thoughts on this topic that don't necessarily all agree with each other..

* If you think of the package as being something that helps you build your own shields.io then yes its odd if the package and service behave differently, but I tend to assume that library users want to do something outside the scope of what using shields.io directly or self-hosting an instance can do for th

[2020-10-24 22:03] calebcartwright commented on #5555
@vividh - what exactly is the motivation for the question, are you just curious about why this work was completed the way it was? The short answer is that it made more sense for us to solicit assistance from our community of contributors vs a single maintainer figuring out how to automate everything.

We review each and every change in detail to maintain the stability, reliability, and quality of

[2020-10-25 04:53] vividh commented on #5555
Thanks for the clarification @calebcartwright. My question was borne out of curiosity, since I didn't see any discussions of codemods on this issue, and wanted to understand if it was considered.

The way you put it though makes sense to me. Codemods don't have the best documentation, and recommending to use that would possibly have alienated many potential contributors.

[2020-10-25 04:56] vividh commented on #4911
Thanks! I'll get cracking on this, and will revert soon with an update.

[2020-10-25 05:41] adriens opened #5758 "Badge request: Katacoda"
Hi, that would be great to have a Katacoda badge, I may consifer this as a social platform like GH/Twitter.

[2020-10-25 08:11] PyvesB commented on #5758
Hello @adriens ! 👋🏻

Thanks for the suggestion. I'm not familiar with this service, what would such a badge display?

[2020-10-25 08:14] adriens commented on #5758
Hi,

it would display the number of scenarios. You can get a preview of what Katacoda provides by default:

https://github.com/adriens/katacoda-scenarios

![image](https://user-images.githubusercontent.com/5235127/97102048-4298ad00-16f6-11eb-8162-b1296921f6ed.png)

[2020-10-25 08:34] PyvesB commented on #5758
Okay, the badge would need to be slightly different to be consistent with Shields' offering and follow our guidelines (https://github.com/badges/shields/blob/master/CONTRIBUTING.md#badge-guidelines), but apart from that it should be fine.

Do you know if there's an API available to easily retrieve the number of scenarios?

[2020-10-25 08:37] adriens commented on #5758
I'm trying to look for if there is a public API I'll let you know 👍

[2020-10-25 08:40] adriens commented on #5758
I'm on it 🚀

[2020-10-25 08:44] adriens commented on #5758
I've just dropped en email to their support:

now let's 🤞

[2020-10-25 20:23] chris48s commented on #5675
Just thinking about this issue again in the context of https://github.com/badges/sc/pull/3

@paulmelnikow  Do we still have staging set up so it is behind CloudFlare from when you were debugging https://github.com/badges/shields/pull/5712 ? If we do, we could try setting up staging to deploy off a branch where we are sending the public header and see it that works..

[2020-10-25 20:31] chris48s commented on #5755
Yeah license badges have a relatively long cache length on them because a project changing license is quite rare.

[2020-10-26 09:55] adriens commented on #5758
No answer for now ⏸️

[2020-10-26 13:57] vividh commented on #4911
@chris48s Made the changes in https://github.com/badges/shields/pull/5772. Let me know if it's acceptable or any changes are required there.

[2020-10-27 21:54] PyvesB commented on #504
There have been a number of issues and comments about font colours over the years. The most common reason given by users is to allow better readability when the badge uses a light background (#5317,  #4661, #5455, https://github.com/badges/shields/issues/504#issuecomment-560118266 and probably others).

This has been fixed by #5467 which automatically switches to a dark font when the background is

[2020-10-27 21:54] #504 closed

[2020-10-28 17:39] vividh commented on #4911
@chris48s Ping!

[2020-10-28 18:16] calebcartwright commented on #4911
Thank you for the PR and for your patience @vividh. There's quite a lot of PRs pending review at the moment, and as maintainers we're all volunteers with limited time :smile: One or more maintainers should get to your PR soon

[2020-10-29 19:37] chris48s commented on #5675
I've just switched this over to "cache everything" and that seems to have resolved the issue. I can't see anything wrong, but I'll continue to monitor this evening. If anyone else spots something that seems to have gone wrong

- Change cache level back to Standard in Page Rules and
- Purge the cache under Caching

[2020-10-29 19:45] chris48s commented on #5675
In terms of the long game on this, I am still curious whether we could correct this with headers. At the moment, I don't think there is any issue with setting "cache everything" and probably our design goals for the service won't change in the near future, but it feels like a workaround. People build applications that have a mix of cache-able and non-cacheable content on extension-less URLs all th

[2020-10-29 20:26] paulmelnikow commented on #5675
Yes – and I think that is what our cache headers are already doing.

This is my interpretation of Cloudflare's options:

- **Standard**: Only cache certain file extensions, while respecting cache headers
- **Cache Everything**: Cache all file extensions, while respecting cache headers

I can't off hand think of any content we serve that isn't cached. (Maybe something like https://img.shields.io/th

[2020-10-30 02:06] calebcartwright commented on #5555
@monizb - are you still working on the last set of service class files as you [previously indicated](https://github.com/badges/shields/issues/5555#issuecomment-700420649)? We'd love to get this wrapped up before October ends if possible!

[2020-10-30 09:14] vividh commented on #5555
I can take these up if @monizb is unable to.

[2020-10-30 10:56] Uskompuf opened #5776 "Website Monitoring Badge with custom HTTP Header Support"
:clipboard: **Description**

I am looking for a version of the website Monitoring Badge which allows me to include specific HTTP headers.

:link: **Data**

I'm not sure how the existing website badge is implemented but I imagine it could be used as a starting point for this badge or even just adding HTTP option to existing badge.

One website for example is https://api.commbank.com.au/public/cds-a

[2020-10-30 21:42] chris48s commented on #5675
Well, looks like nothing has broken so that's good. Interestingly, the proportion of cached vs uncached traffic hasn't gone up very much since doing that, which I think implies very few users are actually using the extension-less URLs in the wild.

One thing I'm still slightly unclear about with the Cache Everything setting is: if we wanted to have some non-cacheable content in future (for whateve

[2020-10-30 23:17] adriens commented on #5758
I have quoted this issue on an article I hava dedicated to Katacoda and its integrations
https://www.linkedin.com/posts/adrien-sales_katacoda-freedom-inspiration-activity-6728075471919157248-QFID

[2020-10-31 02:10] #4911 closed

[2020-10-31 04:33] calebcartwright commented on #5776
hi @Uskompuf, thanks for reaching out.

While I can appreciate this desire, please note that's not really what Shields is intended for :wink:

Your immediate use case may seem simple and straightforward in your specific context, but I have concerns that accepting custom headers on our native badges could snowball quickly. That could really complicate our jobs maintaining and supporting Shields for

[2020-10-31 04:59] #4682 closed

[2020-10-31 05:14] Uskompuf commented on #5776
Ok thanks, I will have a look into that.

[2020-10-31 06:27] Uskompuf commented on #5776
I've never done anything with Javascript or RunKit so this is purely just me copy-pasting snippets. I've gotten my headers implemented but not sure how to return JSON from the endpoint. If you have a moment I would appreciate it if you could give me any pointers: https://stackoverflow.com/questions/64618944/runkit-endpoint-which-returns-status-code-of-website

[2020-10-31 18:59] chris48s commented on #5776
The basic issue with that code is if you're using a callback-based API like request, you can't return a value from a callback. You need to think of it the other way round and pass request a callback function that can do that.

I've not tried setting up your example and running this, but I _think_ a working version of that code would look like

[code]

[2020-10-31 21:54] Uskompuf commented on #5776
Hi @chris48s thanks for that, I've added the code here: https://runkit.com/uskompuf/testing but I still seem to be running into an issue with endpoint returning:

[code]

Any ideas?
Cheers

[2020-11-01 20:45] retyui opened #5790 "[Codemagic] Add support for Codemagic builds results"
:clipboard: **Description**

:link: **Data**

:microphone: **Motivation**

[2020-11-01 20:45] retyui opened #5791 "[appcircle] Add support for appcircle builds results"
:clipboard: **Description**

:link: **Data**

:microphone: **Motivation**

[2020-11-01 22:46] chris48s commented on #5776
Oh. Try `response.end(r.statusCode.toString())`

[2020-11-02 02:05] Uskompuf commented on #5776
Perfect cheers.

[2020-11-02 02:05] #5776 closed

[2020-11-02 04:47] Uskompuf commented on #5776
@chris48s It seems to work if the website is up but doesn't work if the website is down. I think it might need to be in a try statement?

You can see the code here: https://runkit.com/uskompuf/testing/3.0.0

This works when hitting the endpoint here: https://runkit.io/uskompuf/testing/3.0.0

However, if I change the URL to a page which does not exist it times out and gives the same `socket hang up

[2020-11-02 14:35] irgolic opened #5792 "Can't override labelColor in custom endpoint badge with query string"
Are you experiencing an issue with...

- [X] [shields.io](https://shields.io/#/)
- [ ] My own instance
- [ ] [badge-maker NPM package](https://www.npmjs.com/package/badge-maker)

:beetle: **Description**

Can't override labelColor with custom endpoint badge.
https://img.shields.io/endpoint
Here it says that labelColor should be overridable by query string, but I can't seem to get it to work. My ot

[2020-11-02 15:31] paulmelnikow commented on #5792
Hi, thanks for the report. I think because that badge is an error badge, it's preventing the query string color overrides from applying. That makes sense for the message color, but not for the label color, so I think we should fix that.

That said, I think in your case you should not set `{ isError: true }` on a build failure. A build failure is not an error. Reserve `{ isError: true }` for situat

[2020-11-02 16:27] irgolic commented on #5792
Paging @Atrox, who wrote Atrox/github-actions-badge

[2020-11-02 19:24] Atrox commented on #5792
Thanks for the ping. It is good to know that `isError` should not be set in that case. I'll fix it in my project.

PS: thank you very much for shields.io

[2020-11-03 02:11] IronGeek commented on #5218
Hi @helpsdev, are you still working on this? If not, do you mind if I have a go at it?

[2020-11-03 03:31] calebcartwright commented on #5790
Thanks for reaching out @retyui. Could I ask you to please provide the values for the data points listed in our issue template? Copied in here for visibility:

- Which service is this badge for e.g: GitHub, Travis CI
- What sort of information should this badge show?
  Provide an example in plain text e.g: "version | v1.01" or as a static badge
  (static badge generator can be found at https://shi

[2020-11-03 09:53] homersimpsons commented on #5389
Shouldn't this one be close as #5704 is merged?

[2020-11-03 17:43] paulmelnikow commented on #5675
Sounds like things are in pretty good shape. I'm surprised that there aren't more extensionless URLs in the wild, though I guess most of our traffic probably comes from badges that were added a long time ago.

Is it worth deploying something to the staging branch and setting `private` or `no-cache` to resolve your question?

[2020-11-03 19:04] #5389 closed

[2020-11-03 19:28] chris48s commented on #5776
This has kind of turned into "how do I write javascript/use request" more than "how do I use shields.io", so I think this is the last post I'm going to make on this thread, but if the website is down (as opposed to up, but returning a status other than 200), the response variable (`r` in your callback function) will be `undefined` because you didn't receive any response. The info will be in the er

[2020-11-03 19:48] chris48s commented on #5675
Yeah. As I say, I think "everything on shields.io can be cached downstream" is actually quite a good design goal for us to stick to, but I would quite like to try deploying a test so that we can have a play with the headers just to understand exactly how this setup works and what our options/constraints are with it moving forwards. How did you go about doing that when you were debugging the `requi

[2020-11-03 20:05] paulmelnikow commented on #5675
Once you push the draft branch to the remote, in the Heroku dashboard, you can pick any branch to deploy:

<img width="998" alt="Screen Shot 2020-11-03 at 3 03 42 PM" src="https://user-images.githubusercontent.com/1487036/98035011-da2c8880-1de5-11eb-85c4-9e335a3f6c55.png">

It'll get re-deployed on the next commit to master so it can get bumped out from under you, but it still works well for a few

[2020-11-03 20:15] chris48s commented on #5675
What URL do I need to proxy through CloudFlare?
If I request http://shields-staging.herokuapp.com/ I think I'm hitting the staging env directly, not going through CF?

[2020-11-03 21:50] paulmelnikow commented on #5675
Ah, right, it's https://staging.shields.io/.

[2020-11-04 19:23] chris48s commented on #5675
sneaky :rofl:

I set this up and had a play. Even with "cache everything" on, if we serve a response with `private` or `no-store`, we get `cf-cache-status: BYPASS` so if there are response we want to explicitly instruct CloudFlare to not cache, we can do that with headers - so that seems pretty sensible :)

Just FYI, I created a page rule in CloudFlare turning on "Cache Everything" for staging.shi

[2020-11-04 19:23] #5675 closed

[2020-11-04 22:13] homersimpsons commented on #5555
@calebcartwright This issue might be done as #5793 is merged.

I did mention in the Pull Request

Should I address the remaining `static`s ?

[2020-11-05 00:56] xavisavvy commented on #4183
Adding my comment here to watch this thread. This would indeed be a useful addition.

[2020-11-05 02:14] calebcartwright commented on #5555
Thanks for the follow up @homersimpsons!

We wanted to address this refactoring in buckets, with the first being `core` (which is done) and then the service classes. There's  a few static getters on the `master` branch in the package (under `badge-maker`) but do **not** bother with any of those, as there's a separate sizeable refactoring of that code inflight that has already done so (refs #5754).

[2020-11-05 02:36] paulmelnikow commented on #5555
Just a heads up that they also have to be left for now because we still support Node 10 for the package.

[2020-11-05 22:29] calebcartwright commented on #5555
Thanks to everyone that helped with this work! Seems all the service class files have been refactored now, so going to go ahead and close.

[2020-11-05 22:29] #5555 closed

[2020-11-06 01:02] helpsdev commented on #5218
Hey @IronGeek, yeah go ahead :)

[2020-11-06 07:18] adriens commented on #5758
Things are on the good way 🚀 🥇
![image](https://user-images.githubusercontent.com/5235127/98337208-61833180-205c-11eb-8d7c-430e9270790b.png)

[2020-11-06 07:33] adriens commented on #5758
https://www.linkedin.com/posts/adrien-sales_api-katacoda-badges-activity-6730381383874805760-shaX

[2020-11-06 08:42] PyvesB commented on #5758
Great, seems like the badge will be doable in a few months then. 😉